<%#
  Formulário das questões.

  Variáveis:
    f: o formulário.
    exercise: o exercício.
    question: a questão atual.
    review: se é revisão.
    choice: a resposta.
    result: o resultado.
%>

<%= content_tag :p, question.statement, class: "exercise-statement" %>

<% if review %>
  <div class="exercise-justification">
    <span class="exercise-note exercise-report-hits">Justificativa:</span>
    <%= content_tag :em, question.explanation || "Não há" %>
  </div>
  <ol class="exercise-choices">
    <%= render partial: "alternatives/answered",
      collection: question.alternatives, locals: { chosen: choice.alternative } %>
  </ol>
<% else %>
  <ol class="exercise-choices">
    <%= render partial: "alternatives/item", collection: question.alternatives,
      locals: { f: f } %>
  </ol>
<% end %>