<div class="question">
  <div><%= raw(question.statement) %></div>
</div>

<% if review %>
  <div class="justification">
    <span class="call">Justificativa:</span>
    <div><%= raw(question.explanation) || "Não há" %></div>
  </div>
  <div class="alternatives review">
    <ol>
      <% question.alternatives.each_with_index do |alternative, index| %>
        <%= render 'alternatives/answered', :index => index, :alternative => alternative, :choosed => choice.alternative %>
      <% end %>
    </ol>
  </div>
<% else %>
  <div class="alternatives">
    <ol>
      <% question.alternatives.each_with_index do |alternative, index| %>
        <%= render 'alternatives/item', :f => f, :index => index, :alternative => alternative %>
      <% end %>
    </ol>
  </div>
<% end %>
