<%#
  Formulário das questões.

  Variáveis:
    f: o formulário.
    exercise: o exercício.
    question: a questão atual.
    review: se é revisão.
    choice: a resposta.
    result: o resultado.
%>

<%= content_tag :p, question.statement, class: "exercise-statement" %>

<% if review %>
  <%# TODO %>
  <div class="justification">
    <span class="call">Justificativa:</span>
    <p><%= question.explanation || "Não há" %></p>
  </div>
  <div class="alternatives review">
    <ol>
      <% question.alternatives.each_with_index do |alternative, index| %>
        <%= render 'alternatives/answered', :index => index, :alternative => alternative, :choosed => choice.alternative %>
      <% end %>
    </ol>
  </div>
<% else %>
  <ol class="exercise-choices">
    <%= render partial: "alternatives/item", collection: question.alternatives,
      locals: { f: f } %>
  </ol>
<% end %>