<% if question != first %>
  <li class="lecture-buttons">
    <%= submit_tag "Anterior", :class => "concave-clean" %>
  </li>
<% end %>
<% if question != last %>
  <li class="lecture-buttons">
    <%= submit_tag "Próxima", :class => "concave-clean" %>
  </li>
<% end %>
<li class="lecture-buttons">
  <%= submit_tag "Salvar resposta", :class => "concave-clean" %>
</li>
<% if question == last %>
  <li class="lecture-button-finalize">
    <button type="submit" class="concave-button">
      <span class="end-exercise icon-exercise-white_16_18-before">Finalizar</span>
    </button>
  </li>
<% end %>
