<ol class="actions-buttons">
  <% if question != first %>
    <li class="lecture-buttons">
      <button type="button" class="concave-clean">
        <%= link_to "Anterior", exercise_question_path(exercise, question.previous_item) %>
      </button>
    </li>
  <% end %>
  <% if question != last %>
    <li class="lecture-buttons">
      <button type="button" class="concave-clean">
        <%= link_to "Próxima", exercise_question_path(exercise, question.next_item) %>
      </button>
    </li>
  <% end %>
  <% unless review %>
    <li class="lecture-buttons">
      <%= submit_tag "Salvar resposta", :class => "concave-clean" %>
    </li>
    <% if question == last %>
      <li class="lecture-button-finalize">
        <button type="submit" class="concave-button">
          <span class="end-exercise icon-exercise-white_16_18-before">Finalizar</span>
        </button>
      </li>
    <% end %>
  <% end %>
</ol>