<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag "exercise-questions" %>
<% end %>

<div class="content-section">
  <%# Form para submissão do choice da questão. %>
  <%= render "questions/choice_form", exercise: @exercise, question: @question,
    first: @first_question, last: @last_question, review: @review,
    choice: @choice, result: @result %>
</div>