<li class="<%= cycle('', '', 'omega') %>">
  <%= image_tag item.avatar.url(:thumb_32) %>
  <div class="grid_3 omega">
    <%= link_to item.display_name, user_path(item) %>
    <% if item.get_association_with(@environment).role == Role[:member] %>
      <span class="role icon icon-redu_r8_c355_s1">Aluno</span>
    <% elsif item.get_association_with(@environment).role == Role[:teacher] %>
      <span class="role icon icon-redu_r8_c207_s1">Professor</span>
    <% elsif item.get_association_with(@environment).role == Role[:tutor] %>
      <span class="role icon icon-redu_r8_c385_s1">Tutor</span>
    <% elsif item.get_association_with(@environment).role == Role[:environment_admin] %>
      <span class="role icon ">Administrador</span>
    <% end %>
  </div>
</li>
