<%= render :partial => 'users/new/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <a href="" class="replacement home icon icon-redu_r8_c227_s1">Home</a>
    </li>
  </ol>
  <%= render :partial => 'statuses/new/create_status',
    :locals => { :statusable => current_user } %>
   <div id="statuses" class="statuses">
    <ol>
      <%= render :partial => 'statuses/new/item', :collection => @statuses %>
   </ol>

   <%= will_paginate @statuses, :renderer => EndlessRenderer %>
  </div><!-- end .statuses -->


</div><!-- end .main -->

