<%# Cabeçalho do environment (contém título e link para voltar )  %>

<div id="hierarchy-header" class="clearfix">
  <h3 class="call name"><%= link_to h(environment.name), environment_path(environment) %></h3>
</div><!-- end #hierarchy-header -->
