<%#
  Membro da lista de gerenciamento de papéis de ambiente.

  Variável:
    user_item_admin: um membro.
    environment: o ambiente.
%>

<tr>
  <td class="entity-management-members-column-user">
    <% legend = content_tag :span,
      "Último login em #{ user_item_admin.user.last_login_at && l(user_item_admin.user.last_login_at, format: :admin) }", class: "legend show" %>
    <% legend << content_tag(:span,
      "Inscrito em #{ user_item_admin.created_at && l(user_item_admin.created_at, format: :admin) }",
      class: "legend show") %>
    <%= render "users/thumb_legend", user: user_item_admin.user, legend: legend %>
  </td>
  <td>
    <%= content_tag :span,
      "Matriculado em #{ pluralize(user_item_admin.user.courses.of_environment(environment).count, "curso") }",
      class: "icon-course-gray_16_18-before legend" %>
  </td>
  <td>
    <%= link_to "Papéis",
      environment_user_roles_path(environment, user_item_admin.user),
      class: "icon-manage-lightblue_8_10-before link-secondary" %>
  </td>
  <td>
    <%= check_box_tag "users[]", user_item_admin.user.id, false %>
  </td>
</tr>