<% content_for :container_class do "entity-wrapper" end %>

<div class="span3">
  <%= render "environments/sidebar", environment: @environment,
    management: true %>
</div>
<div class="span13">
  <%= render "environments/breadcrumb",
    environment: @header_environment || @environment %>
</div>