// ==========================================================================
// Cabeçalho
// ==========================================================================


.mobile-header {
  padding: 24px 0;
  text-align: center;
}

.mobile-header-logo {
  @include size(225px, 200px);
  background-image: image-url("mobile/logo-redu-vertical-1x.png");
  display: inline-block;
}