// ==========================================================================
// Variáveis
// ==========================================================================


// Cores
// ==========================================================================

// Branco
$white:                       rgb(255, 255, 255) !default;

// Preto
$black:                       rgb(  0,   0,   0) !default;

// Azuis
$blue1:                       rgb(219, 239, 247) !default;
$blue2:                       rgb(115, 195, 230) !default;
$blue3:                       rgb( 77, 173, 214) !default;
$blue4:                       rgb( 21, 138, 196) !default;

// Verdes
$green1:                      rgb(225, 241, 225) !default;
$green2:                      rgb(171, 227, 133) !default;
$green3:                      rgb( 95, 192, 128) !default;
$green4:                      rgb( 97, 160, 128) !default;

// Vermelhos
$red1:                        rgb(255, 220, 220) !default;
$red2:                        rgb(255, 109, 109) !default;
$red3:                        rgb(232,  59,  59) !default;
$red4:                        rgb(225,  39,  45) !default;
$red5:                        rgb(193,  39,  45) !default;

// Laranjas
$orange1:                     rgb(255, 238, 215) !default;
$orange2:                     rgb(255, 200,   0) !default;
$orange3:                     rgb(255, 169,  53) !default;
$orange4:                     rgb(255, 124,  53) !default;
$orange5:                     rgb(243,  94,   0) !default;
$orange6:                     rgb(243,  74,   0) !default;

// Cinzas
$gray1:                       rgb(247, 247, 247) !default;
$gray2:                       rgb(240, 240, 240) !default;
$gray3:                       rgb(230, 230, 230) !default;
$gray4:                       rgb(204, 204, 204) !default;
$gray5:                       rgb(179, 179, 179) !default;
$gray6:                       rgb(109, 110, 111) !default;

// Links
$link-color:                  $blue3;
$link-color-hover:            $blue4;
$link-color-visited:          $blue2;


// Tipografia
// ==========================================================================

$base-font-size:              13px !default;
$base-line-height:            18px !default;
$text-color:                  $black !default;
$base-font-family:            "Helvetica Neue", Arial, sans-serif !default;
$museo-sans:                  museo-sans, $base-font-family !default;
$museo-sans-rounded:          museo-sans-rounded, $museo-sans !default;
$monospace-font-family:       "Lucida Console", Courier, monospace !default;


// Outros
// ==========================================================================

// Z-index
$z-index-dropdown:            1000 !default;
$z-index-popover:             1010 !default;
$z-index-tooltip:             1020 !default;
$z-index-fixed-navbar:        1030 !default;
$z-index-modal-backdrop:      1040 !default;
$z-index-modal:               1050 !default;
$z-index-system-message:      1060 !default;

// Grid 940px padrão
$grid-columns:                16 !default;
$grid-column-width:           40px !default;
$grid-gutter-width:           20px !default;
$grid-row-width:              ($grid-columns * $grid-column-width) + ($grid-gutter-width * ($grid-columns - 1));

// Navegação global
$nav-global-height:           42px !default;

// Rodapé
$footer-height:               140px !default;
