<%= hidden_field_tag "lecture[lectureable_attributes][_type]", "Page" %>
<br/>
<br/>
<br/>
<br/>
<%= f.cktext_area :body, index: get_random_number %>
<span class="tip">Conteúdo da aula</span>
<%= concave_errors_for(f.object, :body) %>
