<table class="table-report-students">
  <thead>
    <tr>
      <th style="width: 258px;">Nome</th>
      <th style="width: 120px;">Tempo</th>
      <th style="width: 60px;">Nota</th>
      <th style="width: 60px;">Acertos</th>
      <th style="width: 60px;">Erros</th>
      <th style="width: 60px;">Nulas</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'lectures/admin/user_item_admin' %>
  </tbody>
</table>
