<tr class="row">
  <td class="cell centered-cell">
    <div class="member-info">
      <img alt="Missing_users_thumb_32" class="avatar" src="/images/new/missing_users_thumb_32.png?1320452178">
      <span class="member-name">Nome Sobrenome</span>
      <span class="member-detail">em 30 Jan, 2011, 17h20</span>
    </div>
  </td>
  <td>
    00h20
  </td>
  <td class="row">7.6</td>
  <td class="row">16</td>
  <td class="row">4</td>
  <td class="row">2</td>
</tr>

