<!-- para adicionar o background cinza só é colocar a class odd -->
<!-- <tr class="row odd"> -->
<tr class="row">
  <td class="cell">
    <div class="member-info">
      <img alt="Missing_users_thumb_32" class="avatar" src="/images/new/missing_users_thumb_32.png?1320452178">
      <span class="member-name">Nome Sobrenome</span>
      <span class="member-detail">em 30 Jan, 2011, 17h20</span>
    </div>
  </td>
  <td class="cell">
    <span class="student-time">00h20</span>
  </td>
  <td class="cell">
    <span class="student-score">7.6</span>
  </td>
  <td class="cell">
    <span class="student-correct">16</span>
  </td>
  </td>
  <td class="cell">
    <span class="student-wrong">4</span>
  </td>
  </td>
  <td class="cell">
    <span class="student-null">2</span>
  </td>
  </td>
</tr>

