<div class="body">
  <div class="flash-message notice">
    <p class="message icons-big-before icon-privacy-lightred_64_66-before">O Openredu foi construído sobre tecnologias modernas e acessíveis. Para visualizar este relatório é necessário que você utilize um navegador mais moderno. Algumas sugestões:
      <%= link_to "Google Chrome", "http://www.google.com/chrome" %> ou
      <%= link_to "Mozilla Firefox", "http://br.mozdev.org/" %>
    </p>
  </div>
</div>

