<%#
  Cabeçalho.

  Variáveis:
    course: o curso.
%>

<div class="entity-header content-section">
  <%= content_tag :h2, space.name, class: "entity-header-title" %>
</div>

<hr class="list-separator">

<div class="entity-management-header">
  <%= link_to "Sair do Gerenciamento", space,
    class: "link-secondary pull-right" %>

  <h3 class="header-breadcrumb-big icon-space-gray_32_34-before">
    Gerenciamento da Disciplina
  </h3>
</div>

<%= new_tabs :spaces_admin %>