<% if @spaces && @spaces.size > 0 %>
  <div class="management-actions">
    <%= link_to 'Criar Disciplina', new_space_path(:course_id => @course.id), :class => 'concave-button' %>
  </div>
  <table id="spaces_list" class="concave-admin-table">
    <thead style="display: none;">
      <th>Nome</th><th>Gerenciar</th><th>Remover</th>
    </thead>
    <%= render :partial => 'spaces/admin/item_admin', :collection => @spaces %>
  </table>
  <%= paginate @spaces, :theme => 'endless' %>
<% else %>
  <div class="box_notice">
    Não existe nenhuma disciplina.
    <%= link_to "Criar uma disciplina", new_space_path(:course_id => @course.id) %>
  </div>
<% end %>
