<%#
  Item da coleção de gráficos da participação de alunos no módulo.

  Variáveis:
    subject_chart_admin: o módulo.
%>

<li class="clearfix">
  <%= content_tag :h4, subject_chart_admin.name, class: "text-truncate",
    title: subject_chart_admin.name %>
  <%= content_tag :div, nil, class: "subject-participation-bullet",
    id: "subject-participation-bullet-#{ subject_chart_admin.id }" %>
  <%= content_tag :div, nil, class: "subject-participation-pie",
    id: "subject-participation-pie-#{ subject_chart_admin.id }" %>
</li>