<li class="subject-participation-list">
  <h4 class="form-subheader"> <%= subject.name %> </h3>
  <div class="subject-participation-bullet",
    id="subject-participation-bullet-<%= subject.id %>"></div>

  <div class="subject-participation-pie",
    id="subject-participation-pie-<%= subject.id %>"></div>
</li>
