<li class="subject-participation-list">
  <h4 class="form-subheader"> <%= subject.name %> </h3>

  <%= render :partial => 'spaces/admin/subject_bullet_chart_admin',
    :locals => { :subject => subject }%>
  <%= render :partial => 'spaces/admin/subject_pie_chart_admin',
    :locals => { :subject => subject } %>
</li>
