<%= image_tag 'loadingAnimation.gif', :id => 'loading_bar', :style => "display: none; margin-top: 40px"%>
<table id="user_list_table" class="concave-admin-table">
  <thead style="display: none;">
    <tr>
      <th>Usuário</th>
      <th>Papel</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'spaces/admin/user_item_admin', :collection => @memberships %>
  </tbody>
</table>
