<div id="breadcrumbs" class="clearfix">
  <ol class="clearfix">
    <li class="compact">
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement icon-small icon-home-lightblue_16_18' %>
    </li>
    <li class="icon-expand-gray_16_18-before">
      <%= link_to 'Mensagens', user_messages_path(@user),
        :class => 'icon-message-lightblue_16_18-before' %>
    </li>
  </ol>
</div>
