<li>
  <%= link_to h(message.subject), user_message_path(@user, message), :class => "message" %>
  <div class="small quiet">
    de
    <strong>
      <%= link_to h(message.sender.display_name), user_path(message.sender) %>
    </strong>
    hรก
    <%= h time_ago_in_words(message.created_at) %>
  </div>
</li>
