<div id="notice-message-created" class="system-message message-success">
  <span data-dismiss="alert" class="message-close">×</span>
  <p>
    <strong>Muito bem</strong>! Sua mensagem foi enviada. Para visualizá-la, <%= link_to "clique aqui", user_message_path(user, message), :title => "clique aqui" %>.
  </p>
</div>
