<div class="grid_5 ">
  <div class="y_addinfo">
    <div class="addinfocontent">
      <h1>
        Configurar participação</h1>
      <p>
        Por padrão, o Redu envia todas as mensagens que você recebe por email. Você pode alterar essas
        configurações clicando <%= link_to "aqui", edit_user_path(current_user) %>.

      </p>
    </div>
  </div>
</div>
