<div class="fake-tabs">
  <ul class="menu">
    <% if reading %>
      <li>
        <a href="#" class="selected">Mensagem</a>
      </li>
    <% end %>
  <li>
    <%=
      link_to_unless_current "#{:inbox.l} (#{@user.unread_message_count})", user_messages_path(@user) do
        link_to "#{:inbox.l} (#{@user.unread_message_count})", user_messages_path(@user),
          :class => 'selected'
      end
    %>
  </li>
  <li>
  <%=
    link_to_unless_current :sent_messages.l, index_sent_user_messages_path(@user) do
      link_to :sent_messages.l, index_sent_user_messages_path(@user),
        :class => 'selected'
    end
  %>
  </li>
  <li>
<%=
  link_to_unless_current :compose.l, new_user_message_path(@user) do
    link_to :compose.l, new_user_message_path(@user),
      :class => 'selected'
  end
%>
  </li>
  </ul>
</div>
