<% if @message %>
  var $modal = $("#modal-new-message");

  <% if @message.errors.empty? %>
    <%# filter() necess치rio porque a tag script est치 dentro do partial %>
    $modal.filter(".modal").modal("hide");

    var $successNotice = $('<%= escape_javascript render "bootstrap/system_message", message: "<p><strong>Muito bem</strong>! Sua mensagem foi enviada. Para visualiz치-la #{ link_to "clique aqui", user_message_path(@user, @message) }.</p>", type: "success" %>');
    $successNotice.appendTo("body").show();
  <% else %>
    var $newModal = $("<%= escape_javascript render 'messages/modal_new', :message => @message, :user => @user %>");
    $modal.filter(".modal").modal("hide").replaceWith($newModal);
    $newModal.filter(".modal").modal("show");
  <% end %>
<% else %>
  var $newForm = $("<%= escape_javascript render 'messages/form_reply' %>")
  $("#new_message").replaceWith($newForm);

  <% if @reply.errors.empty? %>
    var $successNotice = $('<%= escape_javascript render "bootstrap/system_message", message: "<p><strong>Muito bem</strong>! Sua mensagem foi enviada. Para visualiz치-la #{ link_to "clique aqui", user_message_path(@user, @reply) }.</p>", type: "success" %>');
    $successNotice.appendTo("body").show();
  <% else %>
  <% end %>
<% end %>
