<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'messages/breadcrumb' %>
  <div id="messages">
    <%= tabs :users do %>
      <%= render :partial => 'messages/index',
        :locals => { :mailbox => :inbox, :messages => @messages } %>
    <% end %>
  </div><!-- end .messages -->
</div><!-- end .main -->
