<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'messages/breadcrumb' %>
  <div id="messages">
    <%=
      fake_tabs ['Recebidas', user_messages_path(@user), {:class => 'icon icon-message-gray_16_16'}],
        ['Enviadas', index_sent_user_messages_path(@user),  {:class => 'icon icon-messagereply-gray_16_16'}],
        ['Nova', new_user_message_path(@user), {:class => 'icon icon-messagecreate-lightblue_16_16'}] do
    %>
      <%= render :partial => 'messages/form',
        :locals => { :message => @message } %>
    <% end %>
  </div><!-- end .messages -->
</div><!-- end .main -->
