<div class="grid_16">
  <div id="title_video">Mensagens</div>
</div>

<div class="grid_10">
  <%= render :partial => "sidebar_nav", :locals => {:reading => false}%>
  <div id="tabs-1" class="clearfix first-page">
    <div id="tabs-1-content">
      <%= render :partial => "new" , :locals => {:message => @message}%>
    </div>
  </div><!-- end tabs -->
</div>
<%= render :partial => 'settings_call' %>
