.content-body +
.breadcrumb-mini { margin-top: 20px; }

.content-area { padding: 20px 0; }

.container { position: relative; }


// Mensagem de boas-vindas ao Redu.
// ==========================================================================

.home-welcome-greeting-title +
.home-welcome-greeting-message { margin-top: 5px; }


// List de links da mensagem em bloco "O que falta fazer?"
// ==========================================================================

.what-is-missing-list {
  list-style: none;
  margin: 10px 0 0;
}

.what-is-missing-item {
  & +
  & { margin-top: 5px; }
}

.home-what-is-missing-box {
  .message-block-content +
  .message-block-actions {
    margin-top: 10px;
    text-align: center;
  }
}


// Diagrama com a explicação do que são Ambientes de Aprendizagem.
// ==========================================================================


.learning-environments-close {
  position: relative;
  z-index: 1;
}

.learning-environments {
  @include size(538px, 571px);
  // Cor principal do texto.
  $learning-environments-color: $gray6;
  color: $learning-environments-color;
  background-image: image-url('home/graphic-environments-hierarchy.png');
  background-repeat: no-repeat;
  position: relative;

  .legend {
    line-height: 14px;
    color: $learning-environments-color;
  }
}

.learning-environments-title +
.learning-environments-message { margin-top: 5px; }

.learning-environments-what {
  position: absolute;
  top: 1px;
  left: 108px;
  color: $black;
  width: 430px;
}

.learning-environments-institution {
  position: absolute;
  top: 147px;
  left: 108px;
  width: 404px;
}

.learning-environments-course {
  position: absolute;
  top: 235px;
  left: 254px;
  width: 284px;
}

.learning-environments-space {
  position: absolute;
  top: 427px;
  left: 0px;
  width: 370px;
  text-align: right;
}

.learning-environments-subject {
  position: absolute;
  top: 506px;
  right: 0px;
  width: 464px;
  text-align: right;
}


// Tour.
// ==========================================================================

.tour {
  width: 338px;
  margin: 0 0 0 -169px;

  &.modal {
    background-color: $gray1;
    color: $black;
  }

  &.modal:after {
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
  }

  .modal-header {
    border-bottom: 1px $gray3 solid;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
    padding: 10px;
  }

  .modal-body {
    padding: 10px;

    p {
      margin-top: 0px;
      margin-bottom: 10px;
    }

    p:last-child { margin-bottom: 0; }
  }

  .modal-footer {
    background-color: inherit;
    padding: 10px;

    p {
      float: left;
      padding-top: 10px;
    }
  }
}

.modal-backdrop {
  opacity: 0.4;
  background-color: black;
}

#habla_window_div.habla_window_div_base {
  z-index: 1000 !important;
  text-shadow: none;
}

.typekit-badge {
  z-index: auto !important;
}

#chat {
  z-index: 900;
}

.footer-logo-img {
  z-index: 800;
}

.home-tour {

  #tour-3 {
    top: 13px;
    left: 42px;

    &:after {
      border: 9px solid transparent;
      border-bottom-color: $gray1;

      bottom: 100%;
      left: 50%;
      margin-left: -9px;
    }
  }

  #tour-4 {
    top: 13px;
    left: 102px;

    &:after {
      border: 9px solid transparent;
      border-bottom-color: $gray1;

      bottom: 100%;
      left: 50%;
      margin-left: -9px;
    }
  }

  #tour-5 {
    top: 13px;
    left: 188px;

    &:after {
      border: 9px solid transparent;
      border-bottom-color: $gray1;

      bottom: 100%;
      left: 50%;
      margin-left: -9px;
    }
  }

  #tour-6 {
    top: 13px;
    left: 288px;

    &:after {
      border: 9px solid transparent;
      border-bottom-color: $gray1;

      bottom: 100%;
      left: 50%;
      margin-left: -9px;
    }
  }

  #tour-7 {
    top: 13px;
    left: 625px;

    &:after {
      border: 9px solid transparent;
      border-bottom-color: $gray1;

      bottom: 100%;
      left: 50%;
      margin-left: -9px;
    }
  }

  #tour-8 {
    top: 13px;
    left: 600px;

    &:after {
      border: 9px solid transparent;
      border-bottom-color: $gray1;

      bottom: 100%;
      left: 93%;
      margin-left: -9px;
    }
  }

  #tour-9 {
    top: 45px;
    left: 175px;

    &:after {
      border: 9px solid transparent;
      border-right-color: $gray1;

      right: 100%;
      top: 15px;
    }
  }

  #tour-10 {
    top: 160px;
    left: 210px;

    &:after {
      border: 9px solid transparent;
      border-right-color: $gray1;

      right: 100%;
      top: 50%;
      margin-top: -9px;
    }
  }

  #tour-11 {
    left: 210px;

    &:after {
      border: 9px solid transparent;
      border-right-color: $gray1;

      right: 100%;
      top: 50%;
      margin-top: -9px;
    }
  }

  #tour-12 {
    &:after {
      border: 9px solid transparent;
      border-left-color: $gray1;

      left: 100%;
      top: 50%;
      margin-top: -9px;
    }
  }

  #tour-13 {
    left: auto;
    top: auto;
    right: 20px;
    bottom: 50px;
    position: fixed;

    &:after {
      border: 9px solid transparent;
      border-top-color: $gray1;

      top: 100%;
      right: 20px;
    }
  }

  #tour-14 {
    bottom: 60px;
    left: 50%;
    top: auto;
    margin-left: -465px;
    position: fixed;

    &:after {
      border: 9px solid transparent;
      border-top-color: $gray1;

      top: 100%;
      left: 20px;
    }
  }

  .absolute {
    margin: 0;
    position: absolute;
  }
}