// ==========================================================================
// Meus Contatos
// ==========================================================================


// Convidar amigos
// ==========================================================================

.invite-description {
  color: $gray5;
  margin-bottom: 30px;
}

.empty-message {
  .friend-invitation & {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.sent-invitations {
  color: $gray5;
  text-align: center;
}

.sent-invitations-list {
  margin: 0;
  list-style-type: none;
}

.sent-invitations +
.sent-invitations-list { margin-top: 20px; }

.invite-friend-form {
  label {
    display: block;
    margin-bottom: 5px;
  }

  .button-success { margin-top: 5px; }

  .invitation-token +
  .token-input-input-token-redu { margin-top: 10px; }
}

.invite-by-email-dropdown { padding: 0 10px; }

.invite-by-email-dropdown-message {
  float: left;
  position: relative;
  top: 7px;
}

.invite-by-email-dropdown-email {
  display: inline-block;
  width: auto;
  max-width: 225px;
}

.friend-invitation .token-input-list-redu {
  @include box-shadow(inset 0 1px 0 $white);
  $formControlBorderRadius: 3px;
  @include border-radius($formControlBorderRadius);
  $border-width: 1px;
  border: $border-width solid $gray4;
  $formControlVerticalPadding: 6px;
  $formControlHorizontalPadding: 10px;
  padding: $formControlVerticalPadding $formControlHorizontalPadding;

  .cssgradients & { @include redu-gradient($white, $gray3, 0.8); }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#e6e6e6+0,ffffff+40;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  }
}

.friend-invitation .token-input-focused-redu {
  color: $black;
  background-color: $white !important;
  background-image: none !important;
  border-color: $blue2;
  outline: 0;
  $boxShadow:
    inset 0 0 0 rgba(0, 0, 0, 0),
    0 0 6px 1px $blue2;
  @include box-shadow($boxShadow);
}

.friend-invitation .token-input-list-redu input[type="text"] {
  @include box-shadow(none);
  border: none;
  background: transparent;
  padding: 0;
  height: $base-line-height;

  &:focus { background-color: transparent !important; }
}