// ==========================================================================
// Layout
// ==========================================================================


body { background: rgb(246, 246, 246); }


// Técnica do sticky footer
// ==========================================================================

html,
body { height: 100%; }

.main-wrapper {
  @include box-sizing;
  min-height: 100%;
  margin: 0 auto (- $footer-height);
}

.footer-sticky { height: $footer-height; }


.content-body .content-section:last-child { padding-bottom: 20px; }
