// ==========================================================================
// Barra lateral esquerda
// ==========================================================================


// Wrapper
.home-left-sidebar {
  padding: 20px 0;

  .nav-local-link { max-width: 87%; }
}

.home-hello-user +
.home-profile-area { margin-top: 10px; }

// Área do perfil
.home-profile-area { overflow: hidden; }

// Links do perfil
.home-profile-area-links {
  float: left;

  .link-secondary { display: block; }

  .link-secondary +
  .link-secondary { margin-top: 5px; }
}

// Foto do perfil
.home-profile-area-photo {
  .borderradius & { @include border-radius(3px); }
}

.home-profile-area +
.nav-local { margin-top: 20px; }

.nav-local-general-course {
  span { padding-left: 21px; }
}


// Últimos contatos.
// ==========================================================================

// Lista.
.connections {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .nav-local +
  & { margin-top: 10px; }
}

// Item.
.connection {
  & +
  & { margin-top: 5px; }
}

// Endless.
.connections-endless {
  text-align: right;

  .link-secondary { float: right; }

  .legend {
    float: right;
    width: 120px;
  }
}

.badge-messages {
   position:relative;
}

.nav-local-item-active .badge-messages[data-badge]:after {
   content:attr("");
   display: none;
}

.badge-messages[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   right:-80px;
   font-size:.7em;
   background: $blue3;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
