// ==========================================================================
// Estilos para a página de Mensagens
// ==========================================================================

.messages-list {
  td { padding: 2px 10px; }
}

.message-list-thumbnail {
  float: left;
  margin-right: 10px;
}

.message-list-user-display-name { width: 115px; }

.message-list-subject { width: 310px; }

// Lista vazia.
// ==========================================================================

.empty-message {
  margin-top: 80px;
  text-align: center;
}

.empty-message-icon {
  display: block;
  margin: 0 auto;
}

.empty-message-icon +
.empty-message-content { margin-top: 10px; }

.empty-message-content { color: $gray5; }