var $form = $("#form-sign-in");

<%# Erro de validação. %>
<% if @user_session %>
  var $newForm = $("<%= escape_javascript render 'shared/form_sign_in',
                   :user_session => @user_session %>");

  $form.replaceWith($newForm);

<%# Login expirado. %>
<% else %>
  $form.append('<%= escape_javascript render "bootstrap/system_message",
               :message => "<p>O prazo máximo de 30 dias para ativar sua conta expirou. Portanto,
               <strong>você só poderá utilizar o Openredu após ativar sua conta</strong>.
               Reenvie o e-mail de ativação para: #{ @user_email }.</p>
               #{ link_to "Reenviar e-mail", resend_activation_url(:email => @user_email), :class => "button button-danger" } ",
               :type => "warning",
               :extra_classes => "system-message-reactivate-account" %>');
<% end %>
