<div class="grid_16">

  <h3>Tempo de ativação expirado</h3>
  <span>
    O tempo para ativação da sua conta expirou o tempo máximo de 30 dias.
    Portanto, você só poderá utilizar o Redu após ativar sua conta.
  </span>

<%= form_tag resend_activation_url do %>
  <%= hidden_field_tag 'email', @user_email %>
  <%= submit_tag 'Reenviar e-mail de ativação para mim:'%>
  <%= @user_email %>
<% end %>
</div>
