<div class="grid_16">

  <h3>Tempo de ativação expirado</h3>
  <span>
    O prazo máximo de 30 dias para ativar a sua conta expirou.
    Portanto, você só poderá utilizar o Redu após ativar sua conta.
  </span>

<%= form_tag resend_activation_url do %>
  <%= hidden_field_tag 'email', @user_email %>
  <%= submit_tag 'Reenviar e-mail de ativação para mim:'%>
  <%= @user_email %>
<% end %>
</div>
