<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
appId      : '142857189169463',
status     : true, 
cookie     : true,
xfbml      : true,
oauth      : true
});
};
(function(d){
 var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
 js = d.createElement('script'); js.id = id; js.async = true;
 js.src = "http://connect.facebook.net/en_US/all.js";
 d.getElementsByTagName('head')[0].appendChild(js);
 }(document));
</script>
<div 
class="fb-registration" 
data-fields='[
{"name":"name"},
{"name":"birthday"},
{"name":"tos","description":"Accept Redu Terms of Service","type":"checkbox"},
{"name":"password"}]'
  data-redirect-uri="http://localhost:3000/auth/facebook/registration">
  </div>
