.bundle
db/*.sqlite3
log/*.log
log/*.lck
tmp/
*.swp
mongrel/
bin/
db/schema.rb
log/**/*
*.tmproj
config/database.yml
public/system/*/*
*~
*.swo
.DS_Store
Gemfile.local.rb
public/assets/*
public/images/users/*
public/images/myfiles/*
config/initializers/rails_footnotes.rb
backup/data/*
backup/log/*
backup/.tmp/*
.vagrant
.rvmrc
.rspec
chromedriver.log
solr/data/*
solr/pids/*
config/sunspot.yml
