.bundle
db/*.sqlite3
log/*.log
log/*.lck
tmp/
*.swp
mongrel/
bin/
log/**/*
*.tmproj
*~
*.swo
.DS_Store
Gemfile.local.rb
public/assets/*
public/system/*/*
public/images/*
public/myfiles/*
public/ckeditor_assets/*
public/documents/*
config/initializers/rails_footnotes.rb
.rails_footnotes
.vagrant
.rvmrc
.ruby-version
.ruby-gemset
.rspec
chromedriver.log
solr/data/*
solr/pids/*
.sass-cache/
.env.staging
.env.production
