#actions_user li.selected a { color: white; }
#actv-1 form.post-status button { width: 100px; margin-top: 10px; float: right; display: block; }
#actv-1 form.post-status fieldset { margin: 0; padding: 0; }
#actv-1 form.post-status textarea { width: 95%; height: 80px; }
#actv-2 form.post-question button { width: 100px; margin-top: 10px; float: right; display: block; }
#actv-2 form.post-question fieldset { margin: 0; padding: 0; }
#actv-2 form.post-question textarea { width: 95%; height: 80px; }
#actv-3 form.post-poll button { width: 100px; margin-top: 10px; float: right; display: block; }
#actv-3 form.post-poll input { display: block; margin: 10px 0; width: 450px; }
#actv-3 form.post-poll label { display: block; margin-bottom: 5px; font-weight: bold; }
#actv-3 form.post-poll span.add { font-size: .8em; color: #96B8E2; cursor: pointer; }
#actv-3 { position: relative; background: url("../images/stripes.jpg") repeat; padding: 10px; }
#annotation_box { position: relative; background: #fffacd; clear: both; padding: 5px 5px 5px 5px; overflow: hidden; z-index: 2000; }
#annotation_content { width: 99%; height: 100px; margin-bottom: 5px; }
#char_limit { color: #aaa; font-style: italic; }
#environment .actions .action { font-size: 1.8em; font-weight: bold; }
#environment .filters { background-color: #F9FBFA; padding: 10px; margin: 10px 0; }
#environment-header  a.edit { font-size: .7em; font-weight: bold; color: gray; }
#environment-header .avatar .frame { background-color: white; padding: 5px; }
#environment-header .name h3 { padding: 0; }
#environment-header .name { margin-bottom: 10px; }
#environment-header { -moz-border-radius: 8px; -webkit-border-radius: 8px; background: #F2F6F7 url("../images/backgroud-header-environment.png") repeat-x top; margin-bottom: 10px; padding: 10px 0; height: 70px; }
#footer .menu { text-align: right; }
#global-nav ul li a { padding: 10px 15px; font-weight: bold; }
#global-nav ul li a.selected { background-color: #F8FAFC; }
#global-nav ul li { float: left; }
#global-nav { margin-top: 15px; }
#global-search { margin-top: 8px; }
#group .sidebar ul.sub-groups > li > a.closed { background: url("../images/arrow-right.png") no-repeat 1px center; }
#group .sidebar ul.sub-groups > li > a.more { text-align: right; }
#group .sidebar ul.sub-groups > li > a.opened { background: url("../images/arrow-down.png") no-repeat 1px center; }
#group .sidebar ul.sub-groups li ul li { margin-bottom: 10px; }
#group .sidebar ul.sub-groups li ul { margin-left: 20px; }
#group div.first-page .photo { -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid lightgray; padding: 5px; margin-bottom: 10px; }
#group div.first-page div.featured .photo { display: block; padding: 5px; width: 229px; height: 141px; }
#group div.first-page div.featured a.name { font-weight: bold; display: block; margin-bottom: 10px; }
#group div.first-page div.featured span.author { font-size: .8em; }
#group div.first-page div.featured { margin: 0 10px; float: left; height: 300px; }
#group div.first-page div.featured2 .author { display: block; float: left; font-size: .8em; width: 230px; margin-bottom: 5px; color: gray; }
#group div.first-page div.featured2 .photo { width: 128px; height: 72px; margin-right: 10px; float: left; }
#group div.first-page div.featured2 .views { display: block; float: left; font-size: .8em; width: 230px; margin-bottom: 5px; color: gray; }
#group div.first-page div.featured2 a.name { font-weight: bold; display: block; margin-bottom: 10px; }
#group div.first-page div.featured2 { margin: 0 10px; float: left; height: 300px; }
#group div.first-page div.news { width: 320px; float: left; margin-left: 10px; margin-right: 10px; }
#group div.first-page div.statistics { width: 320px; float: left; margin-left: 10px; margin-right: 10px; }
#group div.first-page span.call span { background-color: #F5F5F5; display: block; padding: 5px; color: #FF8000; }
#group div.first-page span.call { font-size: .9em; text-transform: uppercase; font-weight: bold; margin: 20px 0 10px 0; padding-bottom: 5px; display: block; background: url("../images/arrow-down.png") no-repeat 15px bottom; position: relative; }
#group div.first-page span.featured { margin-left: 10px; margin-right: 10px; }
#header .user-actions #user-login { padding: 10px; }
#header .user-actions #user-settings ul li { margin-bottom: 5px; }
#header .user-actions #user-settings ul { background: white; margin: 5px; }
#header .user-actions #user-settings { width: 125px; -webkit-box-shadow: #CCC 0px 4px 10px; -moz-box-shadow: 0px 4px 10px #CCC; }
#header .user-actions > a { font-weight: bold; font-size: .8em; margin-top: 10px; background: #EFEFEF; padding: 5px; display: block; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; text-align: center; }
#header .user-actions > a.closed { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#header .user-actions > a.opened { font-weight: bold; font-size: .8em; margin-top: 10px; background: #EFEFEF; padding: 5px; display: block; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; text-align: center; }
#header .user-actions div.option { z-index: 1000; position: absolute; background: white; border: 5px solid #EFEFEF; right: 10px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; font-size: .8em; }
#identification_resource1 li a { padding: 0; font-size: 11px; text-decoration: none; color: #5683d5; font-weight: bold; }
#learn #box-nav-networks li a.text-desc { color: #333; display: block; font-size: .7em; }
#learn #box-nav-networks li a.text-tt { margin-bottom: 5px; display: block; font-weight: 700; font-size: 1.1em; }
#learn .box-user-login a.text-profile { margin-bottom: 6px; color: #18C6ED; display: block; font-size: .6em; }
#learn .box-user-login img { float: left; padding-right: 6px; }
#learn .box-user-login span.text-plans { color: #333; display: block; font-size: .7em; }
#learn .box-user-login span.text-type-plans { color: #0B85BF; font-weight: bold; font-size: .9em; }
#learn .box-user-login { margin: 0 0 15px -3px; overflow: hidden; background: url(../images/bg-user-login.png) repeat top center; padding: 16px; width: 194px; }
#learn .box-user-teach { min-height: 109px; }
#learn .logo-learn span { float: left; color: #FF8000; font-size: 1.5em; display: inline-block; border-right: 3px #FF8000 solid; padding: 5px 23px; }
#learn .sidebar { top: 16px; position: absolute; z-index: 20; right: 0; background-color: white; }
#learn h2.text-header a { color: #F63A0B; font-weight: 100; font-size: .9em; }
#learn h2.text-header { float: left; display: inline-block; padding: 5px 14px; }
#learn ul.box-explore li a.area { display: block; font-size: 1.1em; font-weight: bold; }
#learn ul.box-explore li a.categories { font-size: .8em; font-weight: normal; color: gray; }
#learn ul.box-explore li { float: left; width: 190px; margin-right: 5px; margin-bottom: 10px; }
#learn ul.box-popular-resources a.source { color: #96B8E2; display: block; font-size: .7em; padding-top: 6px; }
#learn ul.box-popular-resources a.tt-popular { color: #0B85C0; display: block; font-size: .8em; margin-bottom: 6px; }
#learn ul.box-popular-resources a.views { color: #666666; font-size: .7em; }
#learn ul.box-popular-resources img { float: left; padding-right: 15px; }
#learn ul.box-popular-resources li { overflow: hidden; margin-bottom: 15px; }
#learn { padding-top: 0; }
#lesson_types img { padding: 0 6px; border: 0; }
#page_container h3 { text-align: center; margin-top: 16px; margin-bottom: 20px; }
#public-profile .overview .actions a { color: #96B8E2; display: block; font-size: .8em; padding: 12px 0 12px 29px; background-position: 4px center; }
#public-profile .overview .actions a.selected { background-color: #FEFAB7; }
#public-profile .overview .actions ul li { margin-bottom: 3px; }
#public-profile .overview .actions { float: right; width: 95px; position: absolute; right: 0; top: 0; }
#public-profile .overview .personal-overview .name { font-size: 1.2em; font-weight: bold; }
#public-profile .overview .personal-overview .student { background: url("../images/ui-elements_r25_c43.png") no-repeat; height: 18px; }
#public-profile .overview .photo { width: 80px; margin: 0 10px; float: left; }
#public-profile .personal-overview .location { width: 300px; float: left; }
#public-profile .personal-overview .name { width: 300px; float: left; }
#public-profile .personal-overview { width: 420px; float: left; }
#public-profile .points-m { width: 80px; float: right; }
#public-profile .recomendations-m { width: 80px; float: right; }
#public-profile .sidebar { padding-top: 120px; }
#public-profile .social-overview .areas { width: 300px; float: left; }
#public-profile .social-overview .tags { width: 300px; float: left; }
#public-profile .social-overview { width: 420px; float: left; }
#public-profile div.overview .location { display: block; margin-bottom: 5px; }
#public-profile div.overview .name { display: block; margin-bottom: 5px; }
#public-profile div.overview .quiet { font-size: .7em; }
#public-profile div.overview .status { display: block; margin-bottom: 5px; }
#public-profile div.overview { padding: 10px 0; margin-bottom: 20px; position: relative; border-top-left-radius: 8px 8px; -moz-border-radius-topleft: 8px; }
#publish_box { background: #F8FAFF none repeat scroll 0 0; border: 1px solid #EEEEEE; margin-left: 0; height: 100px; overflow-x: hidden; overflow-y: auto; padding: 10px; width: 300px; }
#questions_number li .indexSel { background: #fcf679 !important; }
#questions_number li .indexStrike { text-decoration: line-through !important; }
#school-path div.fieldWithErrors { display: inline; }
#school-path input[type=text] { border: none; background: transparent; }
#school-path span.generate-path { color: #B0B0B0; }
#school-path { border: 1px solid #B0B0B0; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 3px 10px; width: 390px; background: url("../images/input-background.png") repeat-x 0 -10px; }
#school_list div.badge_info { color: #231F20; float: left; }
#school_list ul.badge > li .more { font-weight: bold; float: right; }
#school_list ul.badge > li .quiet { font-size: .9em; }
#school_list ul.badge > li a.logo { display: block; min-height: 100px; text-align: center; }
#school_list ul.badge > li a.name { font-weight: bold; font-size: 1.3em; display: block; margin: 10px 0; }
#school_list ul.badge > li { border: 1px solid #EFF0F0; float: left; height: 180px; margin-bottom: 17px; padding: 8px; margin-right: 9px; overflow: hidden; width: 180px; font-size: 0.8em; }
#school_list ul.badge > li.first_item { margin-left: 0; }
#school_list ul.badge li dl.data-set { margin-left: 8px; margin-right: 8px; }
#school_list ul.badge li h3 { margin-left: 8px; margin-right: 8px; }
#search .searchbox input[type=submit] { border: none; background-color: transparent; height: 32px; width: 70px; }
#search .searchbox input[type=text] { background-color: transparent; border: none; font-size: .9em; color: #8F8F8F; width: 180px; }
#search .searchbox { background: url("../images/ui-elements_r1_c10.png") no-repeat; height: 32px; }
#socialite img { padding-right: 5px; border: 0; }
#socialite span { font-size: 12px; }
#socialite { background: #F5F5F5; clear: both; overflow: hidden; padding: 5px; margin-bottom: 5px; }
#teach #box-nav-networks li a.text-desc { color: #333; display: block; font-size: .7em; }
#teach #box-nav-networks li a.text-tt { margin-bottom: 5px; display: block; font-weight: 700; font-size: 1.1em; }
#teach .box-user-login a.name-user { font-weight: bold; color: #18C6ED; display: block; font-size: .8em; margin-bottom: 10px; }
#teach .box-user-login a.text-profile { margin-bottom: 6px; color: #18C6ED; display: block; font-size: .6em; }
#teach .box-user-login img { float: left; padding-right: 6px; }
#teach .box-user-login span.text-plans { color: #333; display: block; font-size: .7em; }
#teach .box-user-login span.text-type-plans { color: #0B85BF; font-weight: bold; font-size: .9em; }
#teach .box-user-login { margin: 0 0 15px -3px; overflow: hidden; background: url(../images/bg-user-login.png) repeat top center; padding: 16px; width: 194px; }
#teach .box-user-teach { min-height: 109px; }
#teach .logo-learn span { float: left; color: #FF8000; font-size: 1.5em; display: inline-block; border-right: 3px #FF8000 solid; padding: 5px 23px; }
#teach .sidebar { top: 16px; position: absolute; z-index: 20; right: 0; background-color: white; }
#teach h2.text-header a { color: #F63A0B; font-weight: 100; font-size: .9em; }
#teach h2.text-header { float: left; display: inline-block; padding: 5px 14px; }
#teach li.personal-overview .photo { width: 40px; height: 40px; float: left; margin-right: 10px; }
#teach li.personal-overview .plan { text-transform: uppercase; display: block; font-size: .9em; font-weight: bold; margin: 5px; color: #FFDB4F; }
#teach li.personal-overview a.edit { font-size: .8em; }
#teach li.personal-overview a.name { font-size: 1.2em; font-weight: bold; }
#teach ul.box-explore li a.area { display: block; font-size: 1.1em; font-weight: bold; }
#teach ul.box-explore li a.categories { font-size: .8em; font-weight: normal; color: gray; }
#teach ul.box-explore li { float: left; width: 190px; margin-right: 5px; margin-bottom: 10px; }
#teach ul.box-popular-resources a.source { color: #96B8E2; display: block; font-size: .7em; padding-top: 6px; }
#teach ul.box-popular-resources a.tt-popular { color: #0B85C0; display: block; font-size: .8em; margin-bottom: 6px; }
#teach ul.box-popular-resources a.views { color: #666666; font-size: .7em; }
#teach ul.box-popular-resources img { float: left; padding-right: 15px; }
#teach ul.box-popular-resources li { overflow: hidden; margin-bottom: 15px; }
#teach ul.headlines .photo { width: 24px; height: 24px; }
#teach ul.headlines > li { background-color: white; }
#teach ul.headlines li .info { color: gray; font-size: .7em; display: block; margin: 5px; }
#teach ul.headlines li a.name { font-size: .9em; }
#teach ul.headlines li img.photo { float: left; margin-right: 10px; }
#teach ul.headlines li ul li { clear: left; margin: 5px 0; padding: 1px; }
#teach { padding-top: 0; }
#topic_list li { z-index: 0; top: 0px; left: 0px; position: relative; }
#user-description input { width: 400px; }
* html .content { height: 100%; }
*:first-child+html button[type] { padding: 4px 10px 3px 7px; }
.add-topic-inner ul li a img { margin-right: 8px; }
.add-topic-outter a.selected { background-color: #E0E9E9; }
.annotation { background: url(../images/icon_annotation.gif) no-repeat; color: #5782D5; text-decoration: none; padding-left: 20px; }
.annotation_plus { background: url(../images/icon_annotation_plus.gif) no-repeat; color: #5782D5; text-decoration: none; padding-left: 20px; }
.answer-lg { display: block; font-size: 1.4em; border: 2px solid green; color: green; padding: 10px; text-align: center; margin: 20px 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.call ul.options a { font-weight: normal; text-transform: none; font-size: .9em; }
.call ul.options li { margin: 5px 0; }
.call ul.options { background: white; padding: 5px; z-index: 10; position: absolute; right: 0px; top: 23px; border: 3px solid #96B8E2; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; }
.comments_video { background: url(../images/icon_comments_on.png) no-repeat; color: #5782D5; text-decoration: none; padding-left: 20px; }
.complete_on { background: url(../images/checkbox.png) no-repeat; color: #5782D5; text-decoration: none; padding-left: 20px; }
.content .sidebar ul.sub-groups li li { border: none; }
.download_video { background: url(../images/icon_download_on.png) no-repeat; color: #5782D5; text-decoration: none; padding-left: 20px; }
.errorMessageField { font-size: 0.7em; display: block; color: #F77C22; }
.even { background-color: #F9F9FA; }
.fake-tabs ul.menu li a { display: block; font-weight: bold; color: #FF8000; padding: 21px; }
.fake-tabs ul.menu li a.selected { background: url("../images/ui-elements_r47_c6.png") no-repeat; border-right: 1px solid #EFF0F0; padding-right: 20px; color: gray; }
.favorites_video_off { background: url(../images/icon_favorites_off.png) no-repeat; color: #5782D5; text-decoration: none; padding-left: 20px; }
.fieldWithErrors input { background-color: #FEEFB3 !important; }
.fieldWithErrors label { color: #8a1f11; }
.fieldWithErrors select { background-color: #FEEFB3 !important; }
.fieldWithErrors textarea { background-color: #FEEFB3 !important; }
.fieldWithErrors { margin: 0; display: inline; }
.filter_bar input[type=submit] { padding: 2px; color: #929290; }
.filter_bar input[type=text] { height: 12px; border: 1px solid #EFF0F0; }
.grid TD A:hover { background: #BDF; }
.grid TR { padding-bottom: 5px; }
.heighted { min-height: 300px; }
.ico-activity { background-image: url("../images/"); }
.ico-bookmarked { background-image: url("../images/icon_star_on.png"); }
.ico-contact { background-image: url("../images/ui-elements_r35_c35.png"); }
.ico-course { background-image: url("../images/ui-elements_r34_c19.png"); }
.ico-exam { background-image: url("../images/ui-elements_r36_c8.png"); }
.ico-follow { background-image: url("../images/ui-elements_r24_c38.png"); }
.ico-network { background-image: url("../images/ui-elements_r6_c50.png"); }
.ico-recomend { background-image: url("../images/ui-elements_r22_c30.png"); }
.indexSel { background: #fcf679 !important; }
.indexStrike { text-decoration: line-through !important; }
.info_school { border: 1px solid #EEEEEE; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.notice-error { border: 1px solid; margin: 10px 0px; padding: 15px 10px 15px 10px; background-repeat: no-repeat; background-position: 10px center; }
.notice-info { border: 1px solid; margin: 10px 0px; padding: 15px 10px 15px 10px; background-repeat: no-repeat; background-position: 10px center; }
.notice-success { border: 1px solid; margin: 10px 0px; padding: 15px 10px 15px 10px; background-repeat: no-repeat; background-position: 10px center; }
.notice-warning { border: 1px solid; margin: 10px 0px; padding: 15px 10px 15px 10px; background-repeat: no-repeat; background-position: 10px center; }
.post-activity ul.ui-tabs-nav li a { display: block; text-indent: -9999px; overflow: hidden; padding: 0; width: 24px; height: 24px; }
.post-activity ul.ui-tabs-nav li a.poll { background: url("../images/poll.png") no-repeat; }
.post-activity ul.ui-tabs-nav li a.question { background: url("../images/question-mark-24-24.png") no-repeat; }
.post-activity ul.ui-tabs-nav li a.status { background: url("../images/status.gif") no-repeat; }
.post-activity ul.ui-tabs-nav li { margin-right: 10px; }
.post-activity ul.ui-tabs-nav li.ui-state-active { background: url("../images/stripes.jpg") repeat; padding: 5px; }
.post-activity ul.ui-tabs-nav li.ui-state-hover a { border: none; padding: 0; }
.post-activity ul.ui-tabs-nav li.ui-tabs-selected a { border: none; padding: 0; }
.post-activity ul.ui-tabs-nav { background: none; height: auto; margin-top: 10px; }
.pretty-text h1 { margin: 20px 0 5px 0; }
.pretty-text h2 { margin: 20px 0 5px 0; }
.pretty-text h3 { margin: 20px 0 5px 0; }
.pretty-text h5 { margin: 20px 0 5px 0; }
.pretty-text h6 { margin: 20px 0 5px 0; }
.pretty-text ol { margin: 5px 0 5px 30px; list-style-position: inside; }
.pretty-text ul { margin: 5px 0 5px 30px; list-style-position: inside; }
.redu_cat_sel { background: url("../images/selectedArrowBG.png") no-repeat scroll 3px 0.45em #EFEFEF; display: block; padding-left: 14px; }
.share_video { background: url(../images/icon_share_on.png) no-repeat; color: #5782D5; text-decoration: none; padding-left: 20px; }
.sidebar div.report .info .points-m .number { font-size: 2.5em; }
.sidebar div.report .info .points-m { float: left; margin: 10px 0; }
.sidebar div.report .info { margin: 10px 20px 10px 10px; display: block; }
.sidebar div.report { background: url("../images/ui-elements_r5_c7.png") no-repeat; width: 255px; height: 104px; position: absolute; right: -9px; top: 10px; }
.sidebar span.gray { color: gray; }
.sidebar ul.sortable li.ui-state-highlight { border: 3px #EFF0F0 dashed; height: 5em; }
.sidebar ul.sub-groups > li > a { padding: 8px 0; display: block; font-size: .9em; padding-left: 20px; }
.submenu { padding: 10px; background-color: #FFFFDF; border-bottom: 1px dotted #DDD; margin-bottom: 15px; margin-top: 10px; }
.tabs .content { font-size: .9em; }
.tabs ul.ui-tabs-nav li a { display: block; font-weight: bold; color: #FF8000; padding: 21px; }
.tabs ul.ui-tabs-nav li { float: left; }
.tabs ul.ui-tabs-nav li.ui-state-hover a { background: url("../images/ui-elements_r47_c6.png") no-repeat; border-right: 1px solid #EFF0F0; padding-right: 20px; color: gray; }
.tabs ul.ui-tabs-nav li.ui-tabs-selected a { background: url("../images/ui-elements_r47_c6.png") no-repeat; border-right: 1px solid #EFF0F0; padding-right: 20px; color: gray; }
.tabs ul.ui-tabs-nav { height: 60px; background: url("../images/ui-elements_r45_c2.png") repeat-x 0 5px; }
.teacher { background-color: #FEFAB7 !important; border: 2px solid #FEFAB7 !important; }
.topic_item img { border: 0; }
.twitter { background: url(../images/signin_twitter.png) no-repeat 0% 0%; border: 0; height: 22px; text-indent: -3000px; width: 150px; }
.ui-tabs .ui-tabs-hide { display: none; }
.ui-tabs-nav li { float: left; }
.ui-tabs-panel { padding: 8px; color: #555; }
.vcard div.info span { display: block; color: #535353; font-size: 0.8em; }
.vcard div.info { float: left; margin-left: 10px; }
.vcard div.photo { float: left; }
a.book_step span { background: #FFF url(../images/steps_bg.gif) no-repeat left -80px; }
a.book_step { cursor: pointer !important; color: #7BA1D2; background: #FFF url(../images/steps_bg.gif) no-repeat right -80px; }
a.button img { margin: 0 3px -3px 0 !important; padding: 0; border: none; width: 16px; height: 16px; }
a.button { margin: 0 7px 0 0; background-color: #F5F5F5; border-top: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; border-right: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: .9em; line-height: 130%; text-decoration: none; font-weight: bold; color: #565656; cursor: pointer; padding: 5px 10px 6px 7px; }
a.icon-approve { padding-left: 20px; background: url("../images/icons/approve.gif") no-repeat; }
a.icon-delete { padding-left: 20px; background: url("../images/icons/delete.png") no-repeat; }
a.icon-edit { padding-left: 20px; background: url("../images/icons/post.png") no-repeat; }
a.icon-reject { padding-left: 20px; background: url("../images/icons/reject.gif") no-repeat; }
blockquote { position: absolute; }
button[type] { padding: 5px 10px 5px 7px; line-height: 17px; }
div#filter .call { font-size: .8em; }
div.badge_info span { display: block; margin-bottom: 0.4em; float: left; }
div.content div.content { border: none; margin: 0; background: transparent; padding: 0; min-height: 350px; }
div.curriculum h1 { color: #348E94; }
div.curriculum h2 { color: #348E94; }
div.curriculum h3 { color: #348E94; }
div.curriculum h4 { color: #348E94; }
div.curriculum h5 { color: #348E94; }
div.curriculum h6 { color: #348E94; }
div.curriculum { margin: 20px 10px; }
div.event-content form { margin: 0; }
div.filter-box span.call { font-weight: bold; font-size: .8em; display: block; margin-bottom: 10px; }
div.filter-box ul li a { display: block; color: #96B8E2; text-transform: uppercase; font-size: .7em; padding: 10px; }
div.filter-box ul li { float: left; margin-right: 5px; }
div.filter-box ul li.selected a { background: #96B8E2; color: white; }
div.filter-box ul li.selected { background: url("../images/ui-elements_r9_c55.png") no-repeat center bottom; }
div.filter-box { margin: 10px; }
div.info_exp { display: none; width: 200px; }
div.recomendations-m .legend { display: block; text-transform: uppercase; font-size: .65em; }
div.recomendations-m .number { font-size: 2em; font-weight: bold; }
div.recomendations-m { text-align: center; }
fieldset.fake legend { font-weight: bold; font-size: 1.1em; color: #FF8000; }
fieldset.fake { padding: 10px; margin: 10px 0 15px 0; display: block; border: 1px solid #EFF0F0; }
form div.errorExplanation h2 { margin: 5px 0 5px 0; }
form div.errorExplanation ul li { margin: 4px 0; }
form div.errorExplanation { margin: 10px 0; font-size: .9em; }
form em { font-size: .8em; color: gray; margin: 5px 0; display: block; }
form fieldset .snippet { font-size: .9em; }
form fieldset label { font-weight: bold; }
form fieldset legend { font-weight: bold; font-size: 1.1em; color: #FF8000; }
form fieldset { padding: 10px; margin: 10px 0 15px 0; display: block; border: 1px solid #EFF0F0; }
form input[type=checkbox] { display: inline; }
input.inner-label { color: #A1A1A1; font-weight: bold; font-style: oblique; }
input[type=button] { margin: 0 7px 0 0; background-color: #F5F5F5; border-top: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; border-right: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: .9em; line-height: 130%; text-decoration: none; font-weight: bold; color: #565656; cursor: pointer; padding: 5px 10px 6px 7px; }
input[type=password] { border-color: #A1A1A1 #C1C1C1 #D1D1D1; border-style: solid; border-width: 1px; font-weight: normal; padding: 4px; font-size: 1em; font-family: "Trebuchet Ms", sans-serif; }
input[type=submit] { margin: 0 7px 0 0; background-color: #F5F5F5; border-top: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; border-right: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size: .9em; line-height: 130%; text-decoration: none; font-weight: bold; color: #565656; cursor: pointer; padding: 5px 10px 6px 7px; }
input[type=text] { border-color: #A1A1A1 #C1C1C1 #D1D1D1; border-style: solid; border-width: 1px; font-weight: normal; padding: 4px; font-size: 1em; font-family: "Trebuchet Ms", sans-serif; }
ol { margin: 0; padding: 0; }
textarea.inner-label { color: #A1A1A1; font-weight: bold; font-style: oblique; }
ul.activities > li.first_item { margin: 0; }
ul.activities li .overlay img.mark { position: absolute; z-index: 10; right: 2px; bottom: 2px; }
ul.activities li .overlay { position: relative; }
ul.activities li div.activity .msg a.author { font-weight: bold; }
ul.activities li div.activity .msg { line-height: 140%; }
ul.activities li div.activity .quiet { font-size: .8em; }
ul.activities li div.activity div.actions a { display: block; text-indent: -9000px; overflow: hidden; width: 16px; height: 16px; margin: 0 5px 10px 5px; }
ul.activities li div.activity div.actions { position: absolute; right: 0; display: none; }
ul.activities li div.activity ul.response li .photo { width: 16px; margin-top: 5px; }
ul.activities li div.activity ul.response li div.activity { padding-left: 40px; }
ul.activities li div.activity ul.response li { background: #FFFFF3 url("../images/ui-elements_r41_c23.png") repeat-x center bottom; }
ul.activities li div.activity { position: relative; padding: 0 25px 0 70px; }
ul.activities li div.photo { width: 48px; margin: 0 10px; float: left; }
ul.activities li div.question .question-action a { color: #96B8E2; }
ul.activities li div.question .question-action div.answer button { float: right; display: block; margin-top: 20px; }
ul.activities li div.question .question-action div.answer form fieldset { margin: 0; padding: 0; }
ul.activities li div.question .question-action div.answer form { display: block; }
ul.activities li div.question .question-action div.answer textarea.answer { width: 95%; }
ul.activities li div.question .question-action div.answer { background: url("../images/stripes.jpg") repeat; padding: 15px 10px; margin: 10px 0px; }
ul.activities li div.question .question-action { display: block; font-size: .8em; }
ul.activities li { padding: 10px 0; margin: 10px 0; display: block; background: url("../images/ui-elements_r43_c24.png") repeat-x center bottom; }
ul.bulletins li .date .day { border: none; margin: 0; padding: 0; }
ul.bulletins li .date .month { border: none; margin: 0; padding: 0; }
ul.bulletins li .date .year { border: none; margin: 0; padding: 0; }
ul.bulletins li .date span { text-align: center; display: block; }
ul.bulletins li .date { text-align: center; border-right: 1px solid #D7D7D7; margin: 10px; margin-right: 0; padding: 10px 10px 10px 0; }
ul.bulletins li .tagline { font-size: .8em; font-style: italic; line-height: 120%; }
ul.bulletins li .title { margin: 10px 10px 5px 10px; font-size: 1em; font-weight: bold; }
ul.bulletins li ul.tags { margin-top: 10px; }
ul.bulletins li { border: 1px solid #D7D7D7; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-bottom: 10px; }
ul.criteriaList li a { color: #bbb; }
ul.criteriaList li.selected a { color: #0B85C1; }
ul.default > li .thumb { margin: 0 10px; float: left; width: 70px; background-color: white; padding: 10px; text-align: center; }
ul.default > li a.answer { display: block; font-size: 0.9em; background-color: white; border: 1px solid green; color: green; padding: 8px; margin: 17px 13px 0 0; position: absolute; right: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
ul.default > li div.average { width: 40px; background-color: #96B8E2; color: white; float: left; text-align: center; }
ul.default > li div.bottom { font-size: .8em; }
ul.default > li div.exam { float: left; margin-left: 10px; }
ul.default > li div.headlines .things { color: gray; }
ul.default > li div.headlines > .call { font-weight: bold; font-size: .9em; color: #ff8000; }
ul.default > li div.headlines ul li { display: block; float: left; }
ul.default > li div.headlines { background: white; border: 1px solid #EFF0F0; float: right; width: 560px; padding: 8px; margin-right: 10px; margin-bottom: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
ul.default > li div.upper { font-weight: bold; }
ul.default > li.even { background-color: white; }
ul.default > li.odd { background-color: #F9F9FA; }
ul.events-index li .date .day { font-size: 2em; margin-left: 15px; }
ul.events-index li .date { margin: 8px 0; text-align: center; }
ul.events-index li .hour { margin: 8px 0; text-align: center; }
ul.events-index li .name { font-size: 1.1em; font-weight: bold; padding: 0; }
ul.events-index li .tagline { display: block; float: left; width: 500px; font-size: .9em; padding: 5px; color: gray; }
ul.events-index li { padding: 0; }
ul.groups li .photo a.more { display: block; text-align: center; margin-top: 5px; }
ul.groups li .photo { float: left; margin: 0 10px; width: 48px; }
ul.groups li .spotlight a.type { text-transform: uppercase; font-size: .8em; }
ul.groups li .spotlight ul li { margin-bottom: 5px; font-size: .9em; }
ul.groups li .spotlight { display: block; float: left; }
ul.groups li a.name { font-weight: bold; margin-bottom: 10px; }
ul.groups li li { padding-top: 0; padding-bottom: 0; }
ul.groups li { padding: 10px 0; }
ul.pagination li a { display: block; padding: 8px 10px; background-color: #F9F9FA; border: 1px solid #DFDFDF; font-weight: bold; font-size: .9em; }
ul.pagination li a.current { background-color: #EFEFEF; }
ul.pagination li { float: left; margin: 3px; }
ul.pagination li.current { background-color: #F9F9FA; border: 1px solid #DFDFDF; padding: 8px 10px; font-size: .9em; font-weight: bold; }
ul.pagination li.nav { background-color: #F9F9FA; border: 1px solid #DFDFDF; padding: 8px 10px; font-size: .9em; font-weight: bold; }
ul.pagination { margin-top: 30px; height: 50px; float: right; }
ul.tags li a { color: black; padding: 3px; display: block; }
ul.upcoming-events li .hour { border: 1px solid #ECECEC; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin-bottom: 10px; }
