<div class="info">
  <%= image_tag lecture.owner.avatar(:thumb_32) %>
  <span class="label">Autor:</span>
  <%= link_to lecture.owner.display_name, user_path(lecture.owner) %>
</div>
<% if can? :manage, @lecture %>
  <div class="admin-actions">
    <%# FIXME Mostrar link quando o editar de Lecture estiver ok  %>
    <%#= link_to 'Editar',
      edit_space_subject_lecture_path(lecture.subject.space, lecture.subject,
                                      lecture),
      :class => "edit icon icon-redu_r12_c5_s1" %>
    <%= link_to 'Remover',
      space_subject_lecture_path(lecture.subject.space, lecture.subject,
                                 lecture),
      :method => :delete,
      :confirm => "Você tem certeza que deseja remover esta aula? Não será possível recuperá-la.",
      :class => "remove icon icon-redu_r12_c43_s1" %>
  </div>
<% end %>
