<% if item_preview.lectureable.class.to_s == 'Page'
    css_class = 'icon icon-redu_r8_c373_s1'
   elsif item_preview.lectureable.class.to_s == 'Document'
    css_class = 'icon icon-redu_r9_c271_s1'
   elsif item_preview.lectureable.class.to_s == 'Seminar'
    css_class = 'icon icon-redu_r11_c265_s1'
   end

%>
<li class="<%= css_class %>" id=<%= "#{item_preview.id}-item" %>>
  <%= item_preview.name %>
</li>
