<div id="lights_dimmed" class="clearfix">
</div>
<% content_for :header_scripts_and_styles do %>
<script type="text/javascript">
  $(function(){
    $("#lights").toggle(function(e){
        var docHeight = $(document).height();

        $(".student-actions").css("position", "relative");
        $(".stage").css("position", "relative");
        $(".statuses-wrapper").css("position", "relative").css("backgroundColor", "white");
        $("#lights_dimmed").css("height", docHeight).fadeIn();
        $(this).html("Acender luzes");
        e.preventDefault();
    },
    function(){
        $("#lights_dimmed").fadeOut();
        $(this).html("Apagar luzes");
    });

    $(".statuses-wrapper").live("click", function(){
       var docHeight = $(document).height(); 
      $("#lights_dimmed").css("height", docHeight)
    });
  });
</script>
<% end %>
