<%#
  Renderiza o breadcrumb de uma Aula.

  Variáveis:
    user: o usuário.
    lecture: a aula.
%>
<ul class="breadcrumb-mini">
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after ">
    <%= link_to "Visão Geral", home_user_path(user),
       :class => "breadcrumb-mini-link icon-home-lightblue_16_18-before text-replacement" %>
  </li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after ">
    <%= link_to lecture.subject.space.course.environment.name, environment_path(lecture.subject.space.course.environment),
       :class => "breadcrumb-mini-link icon-environment-lightblue_16_18-before" %>
  </li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after ">
    <%= link_to lecture.subject.space.course.name, environment_course_path(lecture.subject.space.course.environment, lecture.subject.space.course),
       :class => "breadcrumb-mini-link icon-course-lightblue_16_18-before" %>
  </li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after ">
    <%= link_to lecture.subject.space.name, space_path(lecture.subject.space),
       :class => "breadcrumb-mini-link icon-space-lightblue_16_18-before" %>
  </li>
</ul>