<%#
  Detalhes.

  Variáveis:
    lecture: a aula.
    question: se for uma página de questão.
    results: se for uma página de resultados.
%>

<% subject = lecture.subject %>
<% space = subject.space %>

<div class="content-section">
  <% if can? :manage, lecture %>
    <%= link_to "Remover", space_subject_lecture_path(space, subject, lecture),
      method: :delete,
      confirm: "Você tem certeza que deseja remover esta aula? Não será possível recuperá-la.",
      class: "link-secondary pull-right icon-close-gray_8_10-before",
      title: "Remover esta aula" %>
  <% end %>

  <%# TODO: Cor diferente para numeração de aula e ícone. %>
  <%= content_tag :h2, "#{ lecture.position }. #{ lecture.name }" %>

  <%= content_tag :time, time_ago_in_words(lecture.created_at),
    class: "legend", title: l(lecture.created_at, format: :time_ago) %>
  <% if question || results %>
    <span class="legend">|</span>
    <%= link_to "Voltar", space_subject_lecture_path(space, subject, lecture),
      class: "link-secondary" %>
  <% end %>
</div>