<%#
  O documento em si.

  Variáveis:
    lecture: a aula.
%>

<% if lecture.lectureable.ipaper_document %>
  <% if lecture.lectureable.conversion_processing? %>
    <%= render "bootstrap/message_block", type: "info", close: false,
      message: "O documento está sendo processado, em breve estrará disponível",
      button: false %>
  <% else %>
    <%= raw(lecture.lectureable.display_ipaper(disable_related_docs: true,
                                               mode: :slide,
                                               hide_disabled_buttons: true)) %>
  <% end %>

<%# Documento com arquivo de imagem. %>
<% else %>
  <div class="centralize">
    <%= link_to lecture.lectureable.attachment.url, target: "_blank" do %>
      <%= image_tag lecture.lectureable.attachment.url, alt: lecture.name,
        title: lecture.name %>
    <% end %>
  </div>
<% end %>