<div id="view_video" class="grid_16" align="center" >
<% unless @lecture.lectureable.conversion_processing? %>
<%= @lecture.lectureable.display_ipaper(:disable_related_docs => true,
                                        :mode => :slide,
                                        :hide_disabled_buttons => true ) %>
<% else %>
  <div class="box_notice">O documento está sendo processado, em breve estrará disponível</div>
<% end %>
</div>
