<div class="exercise-nav">
  <ol>
    <li class="endless-lecture">
    	<a href="#">...</a>
    </li>
    <li><a href="#">1</a></li>
    <li class="question-answered"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="lecture-buttons"><input type="submit" name="" value="Anterior" class="concave-clean"/></li>
    <li><a href="#" class="actual">4</a></li>
    <li class="lecture-buttons"><input type="submit" name="" value="Próxima" class="concave-clean"/></li>
    <li><a href="#">5</a></li>
    <li class="question-right"><a href="#">6</a></li>
    <li class="question-wrong"><a href="#">7</a></li>
    <li class="endless-lecture">
      <a href="#">...</a>
    </li>
  </ol>
  <a href="#" class="first-question">< primeira</a>
  <a href="#" class="last-question">> última</a>
</div>
