<div id="lecture_form">
  <%= form_for page, :as => :page, :remote => true,
    :url => space_subject_lectures_path(@space, @subject),
    :html => { :class => "concave-form page-form" } do |f| %>
    <%= render :partial => 'lectures/page_fields', :locals => { :f => f } %>
  <% end %>
</div>
