<div class="info">
  <%= image_tag lecture.owner.avatar(:thumb_32), :class => "avatar" %>
  <div class="info-icon icon-teacher-gray_16_18-before">
    <span class="label">Autor:</span>
    <%= link_to lecture.owner.display_name, user_path(lecture.owner) %>
  </div>
</div>
