<li class="clearfix">
  <% if item_preview.recent? %>
    <span class="new">NOVO</span>
    <div class="infos new-lecture">
  <% else %>
    <div class="infos">
  <% end %>
      <span class="position"><%= item_preview.position %>.</span>
      <%= link_to item_preview.name,
        space_subject_lecture_path(subject.space,
                                   subject, item_preview),
        :class => "title icon-#{item_preview.lectureable_type.to_s.downcase}-lightblue_16_18-before",
        :id => "#{item_preview.id}-item" %>
      <span class="type">(<%= t item_preview.lectureable_type %>)</span>
      <div class="ratings" id="rating_video">
        <%= ratings_for item_preview, :static , :small => true,
          :remote_options => {
          :url => rate_space_subject_lecture_path(subject.space,
                                                  subject,
                                                  item_preview)} %>
      </div>
      <% if item_preview.done? current_user %>
        <span class="done icon-small icon-confirm-gray_16_18 replacement">Aula finalizada</span>
      <% end %>
  </div>
</li>
