
	<% if @courses && @courses.size > 0 %>
	<ul class="default">
		<%= render :partial => 'courses/item', :collection => @courses, :as => :course %> 
	</ul>
	<% else %>
		<div class="box_notice">(Nenhuma aula)</div>
	<% end %>
	
	<%= will_paginate @courses %>
