<%#
  Placeholder de onde ficará o player de vídeo depois de substituído pelo JS.
%>

<div id="player" class="centralize">
  <%= render "bootstrap/message_block", type: "info", close: false,
    message: "Você precisa instalar o <a href='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash' target='_blank'>Flash Player</a> para ver este vídeo.",
    button: false %>
</div>