<%#
  O player do vídeo.

  Variáveis:
    seminar: o vídeo.
%>

<% if seminar.external_resource_type.eql?('upload') %>
  <%= render 'lectures/video', resource: seminar %>
<% elsif seminar.external_resource_type.eql?('youtube') %>
  <%= render "lectures/youtube", resource: seminar %>
<% else %>
  <div class="centralize">
    <%= link_to "Download o vídeo", seminar.media.url, class: "button-primary" %>
  </div>
<% end %>