<%#
  Player para vídeos de upload.

  Variáveis:
    resource: o vídeo.
%>

<% if resource.state.eql?("converted") %>
  <script type="text/javascript">
    <% media_url = resource.media.url %>

    var flashvars = {
      'file':               '<%= resource.media.url.split('?').first %>',
      'autostart':          'false',
      'image':              '<%= File.join(File.dirname(resource.media.url), "#{resource.id}480x360.jpg") %>',
      'skin':		    '/flash/modieus.swf'
    };

    var params = {
      'allowfullscreen':    'true',
      'allowscriptaccess':  'always',
      'bgcolor':            '#ffffff'
    };

    var attributes = {
      'id':                 'player',
      'name':               'player'
    };

    swfobject.embedSWF('/flash/player.swf', 'player', '100%', '360', '9',
      'false', flashvars, params, attributes);
  </script>

  <%= render "lectures/player_placeholder" %>
<% else %>
  <div id="player" class="centralize">
    <%= render "shared/message_block", type: "info", close: false,
      message: (resource.state.eql?("converting") ? 'O vídeo está sendo processado.' : 'O vídeo não pode ser processado.'),
      button: false %>
  </div>
<% end %>