<%#
  Mural da aula.

  Variáveis:
    status: o status (normalmente um novo).
    statusable: a aula.
    statuses: a coleção de status.
%>

<div class="content-section">
  <div class="lecture-wall-actions reply-buttons">
    <ul class="reply-buttons-list">
      <li>
        <button class="button-primary button-big reply-status button-comment">Comentar</button>
      </li>
      <li>
        <button class="button-primary button-big reply-status button-help">Pedir ajuda</button>
      </li>
      <%= render "statuses/create_status", status: status,
        statusable: statusable %>
      <%= render "statuses/create_status", status: status,
        statusable: statusable,
        extra_classes: "tab-right",
        status_type: "Help" %>
    </ul>
  </div>
</div>
<ol id="statuses" class="status-list">
  <%= render partial: "statuses/item", collection: statuses %>
</ol>
<%= paginate statuses, theme: "new_endless" %>