<%#
  Mural da aula.

  Variáveis:
    status: o status (normalmente um novo).
    statusable: a aula.
    statuses: a coleção de status.
%>

<div class="content-section">
  <%= render "statuses/template_preview" %>
  <div class="lecture-wall-wrapper">
    <div class="centralize">
      <ul class="lecture-wall-actions clearfix">
        <li class="lecture-wall-action">
          <button class="button-primary button-big lecture-wall-button button-comment icon-comment-white_blue_32_34-before">Comentar</button>
        </li>
        <li class="lecture-wall-action">
          <button class="button-primary button-big lecture-wall-button button-help icon-request-help-white_blue_32_34-before">Pedir ajuda</button>
        </li>
      </ul>
    </div>
    <%= render "statuses/create_status", status: status, statusable: statusable,
      placeholder: "Comente nesta aula." %>
  </div>
</div>
<ol id="statuses" class="status-list">
  <%= render partial: "statuses/item", collection: statuses %>
</ol>
<%= paginate statuses, theme: "new_endless" %>