<%= render_player(:youtube_id => resource.external_resource) %>

<div id="player" class="stage">
  <span>
    Você precisa instalar o <%= link_to 'Flash Player',
      'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash' %>
    para ver este vídeo.
  </span>
</div>

