<div id="all_content3">
  <div id="col_content">
    <h3 class="call">Editando apresentação</h3>
    <div class="grid_16">

      <%= render :partial => "form_edit", :object => @lecture %>
      <div id="view_video" class="grid_16" align="center" >
        <% unless @lecture.lectureable.conversion_processing? %>
          <%= @lecture.lectureable.display_ipaper(:disable_related_docs => true, :mode => :slide, :hide_disabled_buttons => true ) %>
        <% else %>
          <div class="box_notice">O documento está sendo processado, em breve estrará disponível</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
