<div id="all_content3">
  <div id="col_content">
    <h3 class="call">Editando vídeo-aula</h3>
    <div class="grid_16">

      <%= render :partial => "form_edit", :object => @lecture %>
      <%= render :partial => "lectures/player", :locals => {:lecture => @lecture.lectureable, :is_interactive_class => false} %>

    </div>
  </div>
</div>
