<div class="landing-advantages benefits">
  <h2 class="landing-navigation-title">Benefícios</h2>
  <div class="type-user student">
    <div class="button-user">
      <%= image_tag "landing/button-student.png",
        :alt => "Aluno",
        :title => "Aluno",
        :size => "200x200"
      %>
      <h3>Aluno</h3>
    </div>
    <div class="benefit-call">
      <h4>Os alunos ficam mais motivados e têm um melhor desempenho, pois eles podem acessar a uma diversidade de conteúdos interativos e midiáticos que são típicos da geração mais jovem. Através do Visual Class, é possível desenvolver projetos interdisciplinares para contribuir com a aprendizagem dos alunos, como também para criar trabalhos escolares.</h4>
    </div>
  </div>
    <div class="type-user teacher">
      <div class="button-user">
        <%= image_tag "landing/button-teacher.png",
          :alt => "Professor",
          :title => "Professor",
          :size => "200x200"
        %>
        <h3>Prof.</h3>
        <span class="legend">Professor</span>
      </div>
      <div class="benefit-call">
        <h4>É possível construir conteúdos interativos a partir de várias mídias, para qualquer disciplina, como por exemplo aulas de Português e Matemática, contendo vários tipos de exercícios com avaliação de aprendizagem. Dessa forma, é possível atrair a atenção dos alunos para aprender de uma forma mais didática e lúdica, inclusive, para que os mesmos estejam mais interessados nas aulas presenciais.</h4>
        <h4>As aulas criadas pelos professores são aplicadas para reforçar a aprendizagem do aluno e garantem um ensino mais completo e divertido. É uma ótima forma de alinhar tecnologia e educação.</h4>
      </div>
  </div>
</div>