<div class="projects-table">
  <h2 class="landing-navigation-title">Conheça alguns projetos</h2>
  <h3>IX Concurso Nacional Visual Class 2012</h3>
  <h4>Concurso Multimídia para alunos do 4º e 5º anos do Ensino Fundamental Público Municipal</h4>
  <table class="table-with-borderradius">
    <thead>
      <tr>
        <th>Projetos</th>
        <th>Autores</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/615">Projeto Dengue: Quem é o Verdadeiro Vilão?</a><span class="label-online">1º Lugar</span></td>
        <td>Prefeitura Municipal de Andradina – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/616">Desvendando o Sangue Humano</a><span class="label-online">2º Lugar</span></td>
        <td>Prefeitura Municipal de Presidente Prudente – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/617">Pequeno Cidadão, Grande Transformação</a><span class="label-online">3º Lugar</span></td>
        <td>Prefeitura Municipal de Marília – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/618">Lixo Urbano</a><span class="label-news">Destaque Nacional</span></td>
        <td>Prefeitura Municipal de Presidente Venceslau – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/619">Meio Ambiente</a><span class="label-news">Destaque Nacional</span></td>
        <td>Prefeitura Municipal de Flórida Paulista – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/620">Conhecendo e Valorizando a Nossa História</a><span class="label-news">Destaque Nacional</span></td>
        <td>Prefeitura Municipal de Araguari – MG</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/621">Droga: Se Fosse Bom Não Tinha Esse Nome</a><span class="label-news">Destaque Nacional</span></td>
        <td>Prefeitura Municipal de Santa Fé do Sul – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/622">Deficiência e Superação</a><span class="label-news">Destaque Nacional</span></td>
        <td>Prefeitura Municipal de Fernandópolis – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/623">Como Fazíamos Sem</a><span class="label-news">Destaque Nacional</span></td>
        <td>Prefeitura Municipal de Pirassununga – SP</td>
      </tr>
    </tbody>
  </table>
  <h3>VI Concurso Internacional Visual Class 2012</h3>
  <h4>Concurso Multimídia para alunos do Ensino Fundamental e Médio Público ou Privado</h4>
  <table class="table-with-borderradius">
    <thead>
      <tr>
        <th>Projetos</th>
        <th>Autores</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/624">Tradições e Manifestações Nordestinas</a><span class="label-online">1º Lugar</span></td>
        <td>E.M. Duque de Caxias da Prefeitura Municipal de Ruy Barbosa – BA</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/625">Sustentabilidade</a><span class="label-online">2º Lugar</span></td>
        <td>E.M. Benedito de Lima da Pref. Municipal de Santa Fé do Sul – SP</td>
      </tr>
    </tbody>
  </table>
  <h3>IV Concurso Professor Multimídia 2012</h3>
  <h4>Concurso Multimídia para professores que devem ser construir uma aula de sua disciplina utilizando o Software de Autoria Visual Class</h4>
  <table class="table-with-borderradius">
    <thead>
      <tr>
        <th>Projetos</th>
        <th>Autores</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/633">Valorização e Respeito ao Idoso</a><span class="label-online">1º Lugar</span></td>
        <td>Liliane Nascimento Pennacino da Prefeitura Municipal de Santa Fé do Sul – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/634">O Jornal do Estudante</a><span class="label-online">2º Lugar</span></td>
        <td>Angélica Aparecida Spigaroli da Prefeitura Municipal de Presidente Prudente – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/635">1º de Dezembro, Dia Mundial de Luta Contra a Aids</a><span class="label-online">3º Lugar</span></td>
        <td>Solange Lopes Lemes Vilches da Prefeitura Municipal de Santa Fé do Sul – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/636">Grandes Clássicos – Contos de Fadas</a><span class="label-news">Destaque Nacional</span></td>
        <td>Maísa O. Scandelai e Maria Célia V. F. Andrade da Prefeitura Municipal de Fernandópolis – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/637">A Evolução dos Meios de Comunicação</a><span class="label-news">Destaque Nacional</span></td>
        <td>Camila Xavier da Prefeitura Municipal de Santa Fé do Sul – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/638">Redes Sociais</a><span class="label-news">Destaque Nacional</span></td>
        <td>Marcio Leandro Galo da Prefeitura Municipal de Santa Fé do Sul – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/639">Termodinâmica</a><span class="label-news">Destaque Nacional</span></td>
        <td>Anderson de Lima Dias e Maria Rosangela Veloso da Prefeitura Municipal de João Pessoa – PB</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/640">Aquecimento Global</a><span class="label-news">Destaque Nacional</span></td>
        <td>Karina Ribeiro Martins da Prefeitura Municipal de Santa Fé do Sul – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/641">Boas Maneiras</a><span class="label-news">Destaque Nacional</span></td>
        <td>Angela Maria Moreira de Almeida da Prefeitura Municipal de Santa Fé do Sul – SP</td>
      </tr>
      <tr>
        <td><a href="http://aplicativos.openredu.com/aplicativos/642">A Música: Força da Cultura no Brasil</a><span class="label-news">Destaque Nacional</span></td>
        <td>Patrícia Siquini Leite a Prefeitura Municipal de Fernandópolis – SP</td>
      </tr>
    </tbody>
  </table>
  <%= link_to "← voltar para o #{Redu::Application.config.name}", home_path, :class => "pull-right" %>
</div>
