<%#
  Exibe as mensagens flash.
%>

<div class="mobile-flash-message">
  <% [:info, :notice, :error].each do |type| %>
    <% if flash[type] %>
      <% klass, greeting = flash_message(type) %>
      <%= render "bootstrap/message_block", type: klass, close: true, message: (content_tag(:p, (content_tag(:strong, greeting)) + " " + flash[type])), button: false %>
    <% end %>
  <% end %>
</div>