<%  if logged_in? %>
  		<div id="task_bar_exames">
  		<%= link_to 'Aulas', favorites_courses_path(:from => 'favorites') %> | 
  		<%= link_to 'Exames', favorites_exams_path(:from => 'favorites') %> |
		</div>
	<% end %>