<%#
  Lista de ações possíveis para um comentário.

  Variáveis:
    status: o status.
%>

<ul class="actions">
  <% if can? :respond, status %>
    <li class="reply-status icon-reply-gray_8_10-before">
      <span class="link-fake link-secondary">Responder</span>
    </li>
  <% end %>
</ul>