<ul class="actions">
  <% if can? :respond, status %>
    <li class="reply-status icon-response-gray_8_10-before">
      <span class="link-fake link-secondary">Responder</span>
    </li>
  <% end %>
</ul>
