<ul class="actions clearfix">
  <% if can? :respond, status %>
    <li>
      <a href="#" class="icon-response-gray_8_10-before reply-status">Responder</a>
    </li>
  <% end %>
  <% if can? :manage, status %>
    <li>
      <%= link_to 'Apagar',
        status_path(status),
        :confirm => 'Deseja remover a postagem?',
        :method => :delete,
        :remote => true,
        :class => "icon-delete-gray_8_10-before" %>
    </li>
  <% end %>
</ul>
