<li>
  <%= link_to user_path(compound_user), :rel => "nofollow", :title => compound_user.display_name do %>
    <%= image_tag compound_user.avatar.url(:thumb_32),
      :width => 32, :height => 32, :class => 'author-thumbnail' %>
  <% end %>
</li>
