
<%= image_tag 'loading_bar.gif', :style => 'display:none;', :id => 'favorite_spinner' %>
<span id ="favorite">
	<% if current_user.has_favorite(status) %>
          <span id = "rm_favorites_link" >
            <%= link_to_remote('Tirar dos favoritos',
                         :url =>
            not_favorite_user_favorite_path(current_user, status,
                            :type => status.class.to_s ),
                            :loading => "$('#status-#{status.id} > .activity > .actions span#rm_favorites_link').hide(); $('#status-#{status.id} > .activity > .actions #favorite_spinner').show();" ,
                              :html => {:class => 'icon ico-bookmarked'}) %>
          </span>
	<% else %>
          <span id = "favorites_link" >
            <%= link_to_remote('Favorito',
                         :url =>
            favorite_user_favorite_path(current_user, status,
                            :type => status.class.to_s ),
                            :loading => "$('#status-#{status.id} > .activity > .actions span#rm_favorites_link').hide(); $('#status-#{status.id} > .activity > .actions #favorite_spinner').show();" ,
                              :html => {:class => 'icon ico-bookmarked'}) %>
          </span>
	<% end %>
</span>





