<%= f.error_messages %>
<% field_set_tag do %>
<%= f.text_area :text, :options =>{ :class => "inner-label", :style => "width: 90%", :title => "O que você está fazendo agora?",  }  %>
<%= hidden_field_tag "status[kind]", Status::STATUS %>
<% end %>
<button type="submit">Postar</button><%= image_tag 'spinner.gif', :class => 'status_spinner', :style => 'display: none'%>
