<%= f.error_messages %>
<% field_set_tag do %>
<%= f.text_area :text, :options => { :class => "inner-label", :style => "width: 90%", :title => "O que você está fazendo agora?",  }  %>
<%= hidden_field_tag "status[kind]", Status::QUESTION %>
<% end %>
<button type="submit">Perguntar</button>
