<%#
  O conteúdo de um status.

  Variáveis:
    status: o status.
%>

<div class="status-content status-tab tab-left">
  <%= content_tag :p, status_message(status.text) %>
  <%= render "statuses/resource_preview",
    resource: status.status_resources %>
</div>