<%#
  Respostas de um status.

  Variáveis:
    status: o status.
%>

<% unless status.answers.empty? %>
  <ol class="responses status-tab tab-left">
    <li class="show-responses">
      <span class="legend last-responses">Visualizando as últimas respostas...</span>
    </li>
    <%= render :partial => "statuses/response", :collection => status.answers %>
    <li class="show-responses">
      <div class="show-more">
        <hr>
        <%= content_tag :span, "Mostrar todas as #{status.answers.size} respostas",
          :class => "see-more link-fake link-secondary" %>
      </div>
    </li>
  </ol>
<% end %>