<div class="responses">
  <div class="distance-top"></div>
  <span class="last-responses">Visualizando as últimas respostas</span>
  <ol>
    <hr class="border-post"/>
    <%= render :partial => "statuses/response", :collection => status.answers %>
  </ol>
  <a href="#" class="toggle-statuses">Ver todos os <span class="qty"><%= status.answers.count %></span> comentários</a>
</div>
