<div id="template-preview" style="display: none">
  <div class="post-resource">
    <hr class="border-post concave-separator"/>
    <!-- thumbnail -->
    {{ if(obj.first_thumb) { }}
    <div class="thumbnail">
      <img id="thumbnail-0" class="preview-link" src="{{= first_thumb }}" />
      <span class="buttons-thumbnail">
        <!-- multiplos thumbanails -->
        {{ if (obj.thumbnail_url instanceof Array) { }}
        <span class="last control">
          <span class="arrow">L</span>
        </span>
        <span class="next control">
          <span class="arrow">N</span>
        </span>
        {{ } }}
        <!-- end multiplos thumbnails -->
        <span class="remove control">
          <span class="arrow">R</span>
        </span>
      </span>
    </div>
    {{ } }}
    <!-- end thumbnail -->

    <div class="post-text">
      <span class="close icon-small icon-delete-gray_8_10">Close</span>
      <h3><a href="{{= url }}" target="_blank" rel="nofollow" class="title">
          {{ if(obj.title) { }}
          {{= title }}
          {{ } }}
      </a></h3>
      <h4 class="source-site">{{= provider_url }}</h4>
      <p class="post-description">
        {{ if(obj.description) { }}
        {{= description }}
        {{ } }}
      </p>
    </div>
    <hr class="border-post concave-separator"/>
  </div>
</div>
