<%#
  Template para o preview de links.
%>

<div id="template-preview" class="hide">
  <div class="post-resource">
    <hr class="thumbnail-separator">
    <div class="thumbnail">
      {{ if (obj.first_thumb) { }}
      <div class="preview">
        <a href="#" target="_blank" rel="nofollow" class="title">
          <%= image_tag "overlay-85.png", id: "thumbnail-0",
            class: "preview-link", width: 100 %>
        </a>
        <ul class="buttons">
          {{ if (obj.thumbnail_url instanceof Array) { }}
          <li class="last button-default"><span class="text-replacement icon-arrow-left-lightblue_8_10 show">A</span></li>
          <li class="next button-default"><span class="text-replacement icon-arrow-right-lightblue_8_10 show">P</span></li>
          {{ } else { }}
          <li class="button-default button-disabled"><span class="text-replacement icon-arrow-left-gray_8_10 show">A</span></li>
          <li class="button-default button-disabled"><span class="text-replacement icon-arrow-right-gray_8_10 show">P</span></li>
          {{ } }}
          <li class="remove button-default"><span class="text-replacement icon-close-lightblue_8_10 show">R</span></li>
        </ul>
      </div>
      {{ } }}
      <div class="thumbnail-info">
        <span class="icon-close icon-close-gray_16_18 text-replacement close">Excluir</span>
        <a href="#" target="_blank" rel="nofollow" class="title">
          <strong>
            {{ if(obj.title) { }}
            {{= title }}
            {{ } }}
          </strong>
        </a>
        <p class="source-site">{{= provider_url }}</p>
        <p class="post-description">
          {{ if(obj.description) { }}
          {{= description }}
          {{ } }}
        </p>
      </div>
    </div>
    <hr class="thumbnail-separator">
  </div>
</div>