<div id="template-preview" style="display: none">
  <div class="post-resource">
    <hr class="border-post concave-separator"/>
    <span class="close icon-small icon-delete-gray_8_10 replacement">Fechar</span>
    <div class="clearfix">
      <!-- thumbnail -->
      {{ if(obj.first_thumb) { }}
      <div class="thumbnail">
        <%= image_tag "overlay-85.png", :id => "thumbnail-0", :class => "preview-link" %>
        <ul class="buttons-thumbnail">
          <!-- multiplos thumbanails -->
          {{ if (obj.thumbnail_url instanceof Array) { }}
          <li class="replacement last control">
            Anterior
            <span class="arrow">A</span>
          </li>
          <li class="replacement next control">
            Próximo
            <span class="arrow">P</span>
          </li>
          {{ } else { }}
          <!-- end multiplos thumbnails -->
          <li class="replacement last control desactivated">
            Anterior
            <span class="arrow">A</span>
          </li>
          <li class="replacement next control desactivated">
            Próximo
            <span class="arrow">P</span>
          </li>
          {{ } }}
          <li class="replacement remove control">
            Remover
            <span class="arrow">R</span>
          </li>
        </ul>
      </div>
      {{ } }}
      <!-- end thumbnail -->

      <div class="post-text">
        <h3><a href="#" target="_blank" rel="nofollow" class="title">
            {{ if(obj.title) { }}
            {{= title }}
            {{ } }}
        </a></h3>
        <h4 class="source-site">{{= provider_url }}</h4>
        <p class="post-description">
          {{ if(obj.description) { }}
          {{= description }}
          {{ } }}
        </p>
      </div>
    </div>
    <hr class="border-post concave-separator"/>
  </div>
</div>
