<% if @answer %>
  var $form = $("#status-<%= @status.id %>").find(".create-response");
<% else %>
  var $form = $(".create-status");
<% end %>

if (!$form.hasClass("control-error")) {
  $form.addClass("control-error");
}

var $errors = $form.find(".control-errors");
if ($errors.length === 0) {
  $errors = $("</p>").addClass("control-errors");
  $form.find("textarea").after($errors);
}

$errors.html("<%= status.errors.full_messages.to_sentence %>");