<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag "status_show" %>
<% end %>

<div class="offset3 span10">
  <div class="content-area status-show">
    <div class="content-body status-list">
      <%= render "statuses/item", item: @status %>
    </div>
  </div>
</div>