<%# TODO: A ser substituído pelo simple_navigation depois. %>
<ul class="breadcrumb-mini" id="search-breadcrumb">
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
    <a class="breadcrumb-mini-link icon-magnifier-lightblue_16_18-before selected simple-navigation-active-leaf" href="/">Busca</a>
  </li>
</ul>