<%#
  Botão de enviar convite de amizade.

  Variáveis:
    user: o usuário da busca por perfil.
%>

<%# Só não é amigo se existe friendship não aceito entre eles ou se são a mesma pessoa %>
<% if !is_friend?(user) %>
  <%# Se existir pedido de amizade %>
  <% if current_friendship(user) %>
    <%# Se eu fiz o pedido %>
    <% if current_friendship(user).status == "pending" %>
      <%= render "button_invite_disabled" %>
    <%# Se eu tenho que aceitar algum pedido %>
    <% else %>
      <%= link_to user_friendships_path(current_user,
          :friend_id => user.id,
          :in_search => true, :in_search_accept => true),
        :method => :post, :remote => true,
        :class => "button-success general-list-item-bottom-right-button" do %>
        <span class="icon-invite-white_green_16_18-before" rel="tooltip" title="Aceitar pedido de conexão">Aceitar</span>
      <% end %>
    <% end %>
  <%# Se não houver pedido de amizade ainda e se não são a mesma pessoa %>
  <% elsif !user.is?(current_user) %>
    <%= link_to user_friendships_path(current_user,
        :friend_id => user.id,
        :in_search => true, :in_search_send => true),
      :method => :post, :remote => true,
      :class => "button-default general-list-item-bottom-right-button" do %>
      <span class="icon-invite-lightblue_16_18 show text-replacement" rel="tooltip" title="Enviar pedido de conexão">Enviar pedido de conexão</span>
    <% end %>
  <% end %>
<% end %>