<%# Botão de convidar no estado desativado. %>
<button class="button-default general-list-item-bottom-right-button" disabled="disabled">
  <span class="icon-invite-gray_16_18 show text-replacement" rel="tooltip" title="Aguardando pedido de conexão">Aguardando pedido de conexão</span>
</button>