<%# Botão de convidar no estado desativado. %>
<button class="button-default user-n-environment-search-list-item-button" disabled="disabled">
  <span class="icon-invite-gray_16_18 show text-replacement" rel="tooltip" title="Aguardando pedido de conexão">Aguardando pedido de conexão</span>
</button>