<%# TODO: A ser substituído pelo simple_navigation depois. %>
<div class="search-filter">
  <div class="filters">
    <button class="filter icon-environment-lightblue_16_18-before">Ambientes (3)</button>
    <button class="filter icon-course-lightblue_16_18-before">Cursos (2)</button>
    <button class="filter filter-active icon-space-lightblue_16_18-before">Disciplinas (2)</button>
  </div>
</div>