<%#
  Área de cabeçalho das páginas de busca.
%>
<div class="search-title-header">
  <h2 class="portal-title icon-search-gray_48_50-before pull-left">
    <%= link_to "Busca por Ambientes e Perfis", search_path,
      :class => "portal-title-link",
      :title => "Busca por Ambientes e Perfis" %>
  </h2>
  <div id="search-breadcrumb" class="breadcrumb-mini-wrapper">
    <%# TODO: A ser substituído pelo simple_navigation depois. %>
    <%= render :partial => "breadcrumb_mini" %>
  </div>
  <span class="legend">Busque pelos Ambientes de Aprendizagem e seus Cursos e Disciplinas. Você também pode buscar pelos Perfis que fazem parte do Redu.
  </span>
</div>