<%#
  Área de cabeçalho das páginas de busca.

  Variáveis:
    query: o termo pesquisado.
%>
<div class="portal-header clearfix">
  <h2 class="portal-title icon-search-gray_48_50-before pull-left">
    <%= link_to "Busca por Ambientes e Perfis", search_path(:q => query),
      :class => "portal-title-link",
      :title => "Busca por Ambientes e Perfis" %>
  </h2>

  <div class="breadcrumb-mini-wrapper">
    <%= render :partial => "breadcrumb_mini", :locals => { :query => query } %>
  </div>

  <p class="portal-header-message legend">Busque pelos Ambientes de Aprendizagem e seus Cursos e Disciplinas. Você também pode buscar pelos Perfis que fazem parte do <%= Redu::Application.config.name %>.</p>
</div>
