<%# Ícone indicando que o perfil encontrado é amigo do usuário. %>
<span class="icon-contacts-green_16_18 show text-replacement pull-right" rel="tooltip" title="Já é seu contato">Já é seu contato</span>