<%#
  Mensagem do que foi pesquisado e quantidade de resultados encontrados.

  Variáveis:
    query: o termo pesquisado.
    total_results: a quantidade total de resultados encontrados.
%>
<div class="result-quantity">
  <p>Você buscou por <strong>"<%= query %>"</strong>. Achamos <strong><%= total_results %></strong> resultados.</p>
  <p>Clique numa aba para maiores detalhes.</p>
</div>