<%#
  A lista de resultados de perfis.

  Variáveis:
    profiles: os perfis encontrados.
    show_see_all: se deve ser exibido o link de vertodos os resultados.
%>
<ul class="results-group results-by-profile">
  <li class="title-result">
    <span class="title-result-name icon-profile-darkgray_32_34-before">Perfis: <%= pluralize(profiles.total_entries, "pessoa") %></span>
    <% if show_see_all and show_see_all_results_link?(profiles.total_entries) %>
      <%= link_to "Veja todos os resultados", search_profiles_path,
        :title => "Veja todos os resultados de perfis" %>
    <% end %>
  </li>
  <li>
    <ul class="result-found">
      <%= render :partial => "user", :collection => profiles %>
    </ul>
  </li>
  <li><hr class="list-separator"></li>
</ul>