<h1>Busca por Ambientes (AVAs, Cursos e Disciplinas)</h1>
<h2>### Resultados ###</h2>
<br />

<h3>Ambientes</h3>
<%= render :partial => 'environment', :collection => @environments %>
<br /><br />
<h3>Cursos</h3>
<%= render :partial => 'course', :collection => @courses %>
<br /><br />
<h3>Disciplinas</h3>
<%= render :partial => 'space', :collection => @spaces %>
