<h1>Busca por Ambientes (AVAs, Cursos e Disciplinas)</h1>
<h2>### Resultados ###</h2>
<br />

<%= render :partial => "environments", :locals => { :environments => @environments,
                                                    :courses => @courses,
                                                    :spaces => @spaces } %>
