<script type="text/javascript">
  $(document).ready(function () {
    $("#search").tokenInput("<%= search_path(:format => :json) %>", {
    crossDomain: false,
    hintText: "Busque por usuários, ambientes, cursos e disciplinas",
    noResultsText: "Sem resultados",
    searchingText: "Buscando...",
    });
  });
</script>

<!-- FORM -->
<div class="control-autocomplete">
  <div class="control-label">
    <label for="token-input-search">Busca</label>
  </div>
  <div class="controls">
    <input class="control-autocomplete-input" type="text" id="search">
  </div>
</div>

<h1>Busca por Ambientes + Perfis</h1>
<h2>### Resultados ###</h2>
<br />

<h3>Perfis</h3>
<ul class="search_results">
  <%= render :partial => "user", :collection => @profiles %>
</ul>
<% unless @profiles.last_page? %>
  <%= link_to 'Ver Mais', search_profiles_path(:q => @query) %>
<% end %>
<br /><br />
<%= render :partial => "environments", :locals => { :environments => @environments,
                                                    :courses => @courses,
                                                    :spaces => @spaces } %>
