<%#
  Explicação lateral direita de Planos.

  Variáveis:
    more_infos: informações extras.
%>

<div class="home-right-sidebar plans-sidebar">
  <div class="right-sidebar-area">
    <%= render :partial => "invoices/plans_information" %>
    <%= more_infos ||=  nil %>
  </div>
</div>
