<div class="explanation-sidebar">
  <div class="explanation">
    <span class="title">Planos</span>
    <p>Utilize este painel administrativo para gerenciar seus planos.</p>
    <p>A fatura em estado <span class="pending"> A vencer</span> é ativada logo após a criação do ambiente. A partir de então, você terá até <span class="featured">15 dias</span> para regularizar a situação; caso não, o plano será bloqueado.</p>
    <p>Caso a fatura não seja paga até a data de vencimento, o estado será <span class="overdue"> Em aberto</span>. </p>
    <p>A fatura em estado <span class="closed">Fechado</span> indica que houve uma migração de plano e o valor desta foi repassado para a fatura do novo plano.</p>
    <%= more_infos ||=  nil %>
  </div>
</div>