<h6 class="right-sidebar-area-title">Informações dos Cursos e seus planos</h6>
<div class="nav-local-separator"></div>
<p class="legend">Utilize este painel administrativo para gerenciar os seus planos relativos ao cursos associados.</p>
<p class="legend">A fatura em estado <span class="pending">A vencer</span> é ativada alguns dias antes do vencimento da mesma. </p>
<p class="legend">Caso não seja paga, a partir do fechamento da data o estado será alterado para <span class="overdue">Fatura em aberto</span>. A partir de então, você terá até 10 dias para regularizar a situação; caso não, o curso será bloqueado.</p>
<%= more_infos ||=  nil %>