<h6 class="right-sidebar-area-title">Informações dos Cursos e seus planos</h6>
<div class="nav-local-separator"></div>
<p class="legend">Utilize este painel administrativo para gerenciar os seus planos relativos ao cursos associados.</p>
<p class="legend">A fatura em estado <em class="pending">A vencer</em> é ativada alguns dias antes do vencimento da mesma. A partir de então, você terá até <b>15 dias</b> para regularizar a situação; caso não, o plano será bloqueado.</p>
<p class="legend">Caso não seja paga, a partir do fechamento da data o estado será alterado para <em class="overdue">Fatura em aberto</em>.</p>
<p class="legend">A fatura em estado <em class="closed">Fechado</em> indica que houve uma migração de plano e o valor desta foi repassado para a fatura do novo plano.</p>
<%= more_infos ||=  nil %>