<%# Cabeçalho da fatura  %>
<div class="header">
  <%= image_tag 'redu-hi-horiz.png' %>
  <span class="redu-infos">Redu Educational Technologies | CNPJ: 12.359.885/0001-07 | +55 81 3419-8110 | contato@redu.com.br</span>
</div>
