<%#
  Mensagem em bloco.

  Variáveis:
    type: o tipo (warning|success|info|busy).
    close: se deve mostrar o ícone de fechar.
    message: a messagem.
    button: algum botão, se necessário.
%>

<%= content_tag :div, class: "message-block message-#{ type } fade in" do %>
  <%= content_tag(:span, "×", class: "message-close",
    data: { dismiss: "alert"}) if close %>
  <%= content_tag :div, raw(message), class: "message-block-content" %>
  <% if button %>
    <div class="message-block-actions">
      <%= button %>
    </div>
  <% end %>
<% end %>