<table class="table-report-students table-with-borderradius">
  <thead>
    <tr class="row">
      <th style="width: 258px;" class="head">Nome</th>
      <th style="width: 120px;" class="head">Tempo</th>
      <th style="width: 60px;" class="head">Nota</th>
      <th style="width: 60px;" class="head">Acertos</th>
      <th style="width: 60px;" class="head">Erros</th>
      <th style="width: 60px;" class="head">Nulas</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'results/admin/user_item_admin', :collection => results, :as => :item %>
  </tbody>
</table>
