<div class="content-section">
  <%# Depois de clicar em "finalizar". %>
  <%= render "questions/navigation", exercise: @exercise,
    current: @last_question, first: @first_question, last: @last_question,
    review: @review %>

  <%# Form para submissão do exercício. %>
  <%= form_tag exercise_result_path(@exercise, @result), method: :put,
    class: "exercise-form-submission text-center" do %>
    <span class="exercise-note">Exercício finalizado.</span>
    <%= content_tag :span, completeness_message(@choices_count, @questions_count),
      class: "exercise-note" %>
    <span class="exercise-note">Você pode revisar as questões ou submeter a aula.</span>
    <%= exercise_submit_button(@choices_count, @questions_count) %>
  <% end %>
</div>