<div class="content-section">
  <% if @results.empty? %>
    <em>Nenhum aluno respondeu o exercício ainda. Tente enviar um comentário estimulando a participação!</em>
  <% else %>
    <table class="exercise-report-table table-without-borderradius">
      <thead>
        <tr>
          <th class="exercise-report-column-large">Nome</th>
          <th class="exercise-report-column-medium">Tempo</th>
          <th class="exercise-report-column-small">Nota</th>
          <th class="exercise-report-column-small">Acertos</th>
          <th class="exercise-report-column-small">Erros</th>
          <th class="exercise-report-column-small">Nulas</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'results/admin/user_item_admin',
          :collection => @results %>
      </tbody>
    </table>
  <% end %>
</div>