<%= render :partial => 'folders/admin',
  :locals => { :space => @space, :folder => @folder, :myfile => @myfile } %>

<div id="folder-index" class="clearfix">
  <% if flash[:folder_error] %>
    <div id="error"><%= flash[:folder_error] %></div>
  <% end %>

  <div id="folder-context" class="context">
    <%= render :partial => 'folders/context', :locals => { :folder => @folder } %>
  </div>

  <div id="file_list" >
    <%= render :partial => "folders/list"  %>
  </div>
</div>
