<% content_for :header_scripts_and_styles do %>
  <%= javascript_include_tag "folders" %>
<% end %>

<div class="content-section">
  <h3 class="header-breadcrumb-big icon-file-gray_32_34-before">Arquivos de Apoio</h3>
</div>

<%= render "admin", space: @space, folder: @folder, myfile: @myfile %>

<div class="content-section">
  <%= render "list", space: @space, folder: @folder,
    folders: @folders, can_update: @can_update, can_delete: @can_delete,
    myfiles: @myfiles %>
</div>