<div class="landing-advantages">
  <h1 id="vantagens" class="landing-navigation-title">Vantagens</h1>
  <span class="type-user student">
      <span class="button-user">
             <%= image_tag "landing/button-student.png",
                :alt => "Aluno",
                :title => "Aluno"
            %>
            <h5>Aluno</h5>
      </span>
      <p class="call"> Comunique-se melhor com seus professores e colegas de curso;</p>
      <p class="call"> Acesse as aulas, exercícios e as discussões das disciplinas</p>
  </span>
  <span class="type-user teacher">
      <span class="button-user">
           <%= image_tag "landing/button-teacher.png",
                :alt => "Professor",
                :title => "Professor"
            %>
             <h5>Prof.</h5>
             <h6>Professor</h6>
      </span>
      <p class="call"> Crie novos métodos e técnicas de ensino e economize tempo; </p>
      <p class="call"> Planeje, compartilhe e avalie o ensino e a aprendizagem.</p>
  </span>
  <span class="type-user gestor">
      <span class="button-user">
             <%= image_tag "landing/button-manager.png",
                :alt => "Gestor",
                :title => "Gestor"
            %>
            <h5>Gestor</h5>
      </span>
      <p class="call"> Utilize uma tecnologia que faz parte da cultura do público jovem; </p>
      <p class="call"> Acompanhe as atividades de seus professores e alunos.</p>
  </span>
  <span class="type-user developer">
      <span class="button-user">
             <%= image_tag "landing/button-developer.png",
                :alt => "Desenvolvedor",
                :title => "Desenvolvedor"
              %>
             <h5>Dev.</h5>
             <h6>Desenvolvedor</h6>
      </span>
      <p class="call"> Integre facilmente o Redu com outras soluções de software;</p>
      <p class="call"> Extenda a plataforma às suas necessidades específicas.</p>
  </span>
</div>
