<div class="container">
  <div class="landing-navigation">
    <%= render :partial => "base/authoring/welcome" %>
    <hr class="list-separator"/>
    <%= render :partial => "base/authoring/benefits" %>
    <hr class="list-separator"/>
    <%= render :partial => "base/authoring/projects" %>
  </div>
</div>