<div class="span3">
  <%= render :partial => "home/left_sidebar" %>
</div>
<div class="span10">
  <div class="content-area">
    <%= render :partial => "home/breadcrumb" %>
    <div class="content-body">
      <div class="environment-title">
        <h2 class="portal-title icon-apps-portal-gray_48_50-before link-container pull-left">
          <a href="/" class="portal-title-link link-target" title="Ambientes que Participo">Ambientes que Participo</a>
        </h2>
      </div>
      <ul>
        <li>
          <hr class="list-separator">
          <div class="list-environment-course-space-item">
            <div class="list-environment-course-space-header">
              <a class="list-environment-course-space-image-link" href="#" title="Universidade Voluptat Metus">
                <img src="images/new/missing_environments_thumb_32.png" alt="Universidade Voluptat Metus" title="Universidade Voluptat Metus" width="32" height="32">
              </a>
              <h4 class="list-environment-course-space-title">
                <a class="list-environment-course-space-link" href="#" title="Universidade Voluptat Metus">Universidade Voluptat Metus</a>
              </h4>
            </div>
            <ul class="list-mix">
              <li class="list-mix-item icon-course-lightgray_32_34-before">
                <div class="list-mix-inner">
                  <button class="button-default button-dropdown">
                    <span class="icon-arrow-down-lightblue_8_10 show text-replacement">Expandir</span>
                  </button>
                  <div class="list-mix-content">
                    <div class="list-mix-header">
                      <h5><a class="list-mix-title" href="#" title="Lorem ipsum dolor sit amet orci aliquam.">Lorem ipsum dolor sit amet orci aliquam.</a></h5>
                      <span class="legend">2 disciplinas</span>
                    </div>
                    <ul class="list-mix-body list-space-mini">
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Lorem ipsum dolor sit amet orci aliquam.">Lorem ipsum dolor sit amet orci aliquam.</a>
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="list-mix-item icon-course-lightgray_32_34-before">
                <div class="list-mix-inner">
                  <button class="button-default button-dropdown">
                    <span class="icon-arrow-down-lightblue_8_10 show text-replacement">Expandir</span>
                  </button>
                  <div class="list-mix-content">
                    <div class="list-mix-header">
                      <h5><a class="list-mix-title" href="#" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a></h5>
                      <span class="legend">2 disciplinas</span>
                    </div>
                    <ul class="list-mix-body list-space-mini">
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <hr class="list-separator">
          <div class="list-environment-course-space-item">
            <div class="list-environment-course-space-header">
              <a class="list-environment-course-space-image-link" href="#" title="Universidade Voluptat Metus">
                <img src="images/new/missing_environments_thumb_32.png" alt="Universidade Voluptat Metus" title="Universidade Voluptat Metus" width="32" height="32">
              </a>
              <h4 class="list-environment-course-space-title">
                <a class="list-environment-course-space-link" href="#" title="Universidade Voluptat Metus">Universidade Voluptat Metus</a>
              </h4>
            </div>
            <ul class="list-mix">
              <li class="list-mix-item icon-course-lightgray_32_34-before">
                <div class="list-mix-inner">
                  <button class="button-default button-dropdown">
                    <span class="icon-arrow-down-lightblue_8_10 show text-replacement">Expandir</span>
                  </button>
                  <div class="list-mix-content">
                    <div class="list-mix-header">
                      <h5><a class="list-mix-title" href="#" title="Lorem ipsum dolor sit amet orci aliquam.">Lorem ipsum dolor sit amet orci aliquam.</a></h5>
                      <span class="legend">2 disciplinas</span>
                    </div>
                    <ul class="list-mix-body list-space-mini">
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Lorem ipsum dolor sit amet orci aliquam.">Lorem ipsum dolor sit amet orci aliquam.</a>
                      </li>
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="list-mix-item icon-course-lightgray_32_34-before">
                <div class="list-mix-inner">
                  <button class="button-default button-dropdown">
                    <span class="icon-arrow-down-lightblue_8_10 show text-replacement">Expandir</span>
                  </button>
                  <div class="list-mix-content">
                    <div class="list-mix-header">
                      <h5><a class="list-mix-title" href="#" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a></h5>
                      <span class="legend">2 disciplinas</span>
                    </div>
                    <ul class="list-mix-body list-space-mini">
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <hr class="list-separator">
          <div class="list-environment-course-space-item">
            <div class="list-environment-course-space-header">
              <a class="list-environment-course-space-image-link" href="#" title="Universidade Voluptat Metus">
                <img src="images/new/missing_environments_thumb_32.png" alt="Universidade Voluptat Metus" title="Universidade Voluptat Metus" width="32" height="32">
              </a>
              <h4 class="list-environment-course-space-title">
                <a class="list-environment-course-space-link" href="#" title="Universidade Voluptat Metus">Universidade Voluptat Metus</a>
              </h4>
            </div>
            <ul class="list-mix">
              <li class="list-mix-item icon-course-lightgray_32_34-before">
                <div class="list-mix-inner">
                  <button class="button-default button-dropdown">
                    <span class="icon-arrow-down-lightblue_8_10 show text-replacement">Expandir</span>
                  </button>
                  <div class="list-mix-content">
                    <div class="list-mix-header">
                      <h5><a class="list-mix-title" href="#" title="Lorem ipsum dolor sit amet orci aliquam.">Lorem ipsum dolor sit amet orci aliquam.</a></h5>
                      <span class="legend">2 disciplinas</span>
                    </div>
                    <ul class="list-mix-body list-space-mini">
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Lorem ipsum dolor sit amet orci aliquam.">Lorem ipsum dolor sit amet orci aliquam.</a>
                      </li>
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="list-mix-item icon-course-lightgray_32_34-before">
                <div class="list-mix-inner">
                  <button class="button-default button-dropdown">
                    <span class="icon-arrow-down-lightblue_8_10 show text-replacement">Expandir</span>
                  </button>
                  <div class="list-mix-content">
                    <div class="list-mix-header">
                      <h5><a class="list-mix-title" href="#" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a></h5>
                      <span class="legend">2 disciplinas</span>
                    </div>
                    <ul class="list-mix-body list-space-mini">
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                      <li class="list-space-mini-item">
                        <a href="#" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="pagination">
        <hr class="list-separator">
        <a class="button-default icon-arrow-down-pagination-gray_16_18-before" href="SHOW_MORE_LINK"  title="Mostrar mais...">Mostrar mais...</a>
      </div>
    </div>
  </div>
</div>
<div class="span3">
  <%= render :partial => "home/right_sidebar" %>
</div>
