<% content_for :page_id, 'learn' %>
<div id="group-header-learn" class="container_16">
    <div class="logo-learn">
        <span>Aprender</span>
    </div>
    <div class="info grid_6">
    	<h2 class="text-header"><a href="">Acompanhe seus cursos, suas redes e explore novos recursos!</a></h2>
    </div><!-- end info -->
    
</div><!-- end group-header -->

<ul class="grid_16 sortable calls headlines">
	<li class="clearfix grid_5 students-overview">
		<span class="call">
			<span>Meus alunos</span>
			<span class="option" id="">Opções</span>
			<ul class="options">
				<li><a href="">Nova aula</a></li>
				<li><a href="">Outra opçao</a></li>
				<li><a href="">Outra opçao</a></li>
			</ul>
		</span>
		<ul>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href="" class="name">Guilherme</a>
				<a href="" class="info">Redu</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href=""  class="name">Cassio</a>
				<a href="" class="info">Colégio de Aplicaçãp</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo" /><a href=""  class="name">André</a>
				<a href="" class="info">CIn</a>
			</li>
		</ul>
	</li>
	
	<li class="clearfix grid_5 lectures-overview">
		<span class="call">
			<span>Minhas aulas</span>
		</span>
		<ul>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo"/><a href="" class="name">Direito penal</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo"/><a href="" class="name">Portugês para vestibular</a>
			</li>
			<li class="clearfix">
				<img src="/images/thumb.gif" alt="" class="photo"/><a href="" class="name">História do Brasil</a>
			</li>
		</ul>
	</li>

	<li class="clearfix grid_5 personal-overview">
		<span class="call">
			<span>Meu Perfil</span>
			<span class="option" id="">Opções</span>
			<ul class="options">
				<li><a href="">Nova aula</a></li>
				<li><a href="">Outra opçao</a></li>
				<li><a href="">Outra opçao</a></li>
			</ul>
		</span>
		<img src="/images/thumb.gif" alt="" class="photo" />
		<a href="" class="name">Guilherme Cavalcanti</a>
		<a href="" class="edit">Editar</a>
		<a href="" class="plan">PRO</a>
	</li>	
	<li class="clearfix grid_5 statistics">
		<span class="call"><span>Estatísticas</span></span>
		<div></div>
	</li>
	
	<li class="clearfix grid_5 groups">
		<span class="call">
			<span>Minhas Redes</span>
		</span>
		<ul>
			<li class="clearfix"><img src="/images/thumb.gif" class="photo"><a href="" class="name">Colégio Aplicacao</a></li>
			<li class="clearfix"><img src="/images/thumb.gif" class="photo"><a href="" class="name">Colégio Damas</a></li>
			<li class="clearfix"><img src="/images/thumb.gif" class="photo"><a href="" class="name">NUCE</a></li>
		</ul>
	</li>
	
	<li class="clearfix grid_5 courses">
		<span class="call">
			<span>Meus Cursos</span>
		</span>
		<ul>
			<li><a href="" class="name">Colégio Aplicacao</a></li>
			<li><a href="" class="name">Colégio Damas</a></li>
			<li><a href="" class="name">NUCE</a></li>
		</ul>
	</li>
</ul>

