<%= stylesheet_link_tag "teach-header.css"  %>
<% content_for :page_id, 'teach' %>
<div class="container_16" id="common-header">
  <div class="session-title">
    Ensine
  </div> <!-- title -->
</div>
<div class="grid_16 clearfix" id="bg-content">
  <div class="left-sidebar">
    <div class="title">
      Educação a distância nunca foi tão simples
    </div> <!-- /title -->
    <div class="redu-screens">
    </div> <!-- /redu-screens -->
  </div> <!-- /left-sidebar -->

  <div class="right-sidebar">
    <div class="title">
      Crie um ambiente de ensino a distância em dois passos
    </div> <!-- /title -->
    <%= render :partial => 'environments/environment_simple_form' %>
  </div><!-- /right-sidebar -->
</div><!-- /bg-content -->
