<style type="text/css">
  body {
    background: #F6F6F6 url("<%= asset_path "teach-background2.png" %>") repeat-x 0 110px;
  }
</style>
<div class="clearfix" id="teach-index">
  <h3 class="teach-call">Ensinar nunca foi tão conveniente</h3>

  <div class="grid_10 alpha">
    <em class="teach-steps">Crie um ambiente em 2 passos</em>
    <ol class="flow">
      <li class="first">Descreva as informações básicas do ambiente e do curso</li>
      <li class="second">Confirme os dados e realize o pagamento</li>
    </ol>
  </div>

  <div class="grid_6 omega wizard-0">
    <%= render :partial => "environments/environment_simple_form" %>
  </div>
</div>
