<div id="all_content3">
    <div id="col_content">
        <div id="container_main">
            <div id="breadcrumbs">
                <<< <a href="<%=application_url%>">Página Principal</a>
            </div>
			
            <div id="container_content">
                <h1>Termos de Uso</h1>
                <p>
                    Estes Termos de Uso governa o seu acesso aos serviços do Redu LTDA, e qualquer informação, texto, imagens ou outros materiais. O acesso e utilização dos serviços está condicionado a sua aceitação e cumprimento destas Condições Gerais. Ao acessar ou usar os serviços, você concorda em cumprir estes Termos.
                </p><br>
                <h2>Termos Básicos</h2>
                <p>
                    Você é responsável por sua utilização do Redu, por qualquer conteúdo que você postar no Redu, e por todas as conseqüências. O conteúdo que você enviar, postar ou exibir poderá ser visto por outros usuários do Redu. Você só deve fornecer o conteúdo como público caso se sinta confortável. 
                    Você só pode usar os serviços do Redu caso tenha um contrato vinculativo com o Redu. Você pode usar os serviços somente em conformidade com estes Termos e com todas as leis municipais, estaduais ou federais e internacionais, regras e regulamentos.  
                    Os serviços que o Redu oferece estão sempre evoluindo e a forma e natureza dos serviços que o Redu presta podem mudar ocasionalmente sem aviso prévio. Além disso, o Redu pode parar (permanente ou temporariamente) de fornecer os serviços (ou quaisquer características dentro dos serviços) a si ou à generalidade dos utilizadores e não pode ser capaz de fornecer-lhe aviso prévio. Também mantém o direito de criar limitações de uso e armazenamento, a critério exclusivo, a qualquer momento sem aviso prévio. 
                    O Redu LTDA pode incluir anúncios, que podem ser destinados ao conteúdo ou as informações sobre os serviços, pesquisas feitas através do Redu ou outras informações. Os tipos e abrangência da publicidade no Redu estão sujeitos a alterações. Em consideração ao Redu conceder o acesso e uso dos serviços, você concorda que o Redu e seus fornecedores e parceiros de colocar tais anúncios nos serviços ou em conexão com a exibição de conteúdo ou informação dos serviços se enviadas por você.
                </p><br>
                <h2>Privacidade</h2>
                <p>
                    Qualquer informação que você fornece para o Redu está sujeita a nossa Política de Privacidade, que rege nossa coleção e uso de suas informações. Você entende que através do uso dos serviços está concordando com a coleta e utilização (conforme definido na Política de Privacidade) desta informação para o armazenamento, processamento e utilização pelo Redu. Como parte do fornecimento dos serviços, poderá ser necessário fornecer-lhe algumas comunicações, tais como anúncios de serviços e mensagens administrativas. Estas comunicações são consideradas como parte dos serviços e sua conta no Redu, que você não pode optar por não receber.
                </p><br>
                <h2>Senhas</h2>
                <p>
                    Você é responsável por proteger a senha que você usa para acessar os serviços e para quaisquer atividades ou ações sob a sua senha. Nós encorajamos o uso de senhas que combinem letras maiúsculas e minúsculas, números e símbolos. O Redu não pode e não será responsável por qualquer perda ou dano decorrente do não cumprimento dos requisitos acima.
                </p><br>
                <h2>Conteúdo</h2>
                <p>
                    Todos os conteúdos, seja ele veiculado publicamente ou privativamente, é da exclusiva responsabilidade e propriedade da pessoa que originou. Nós não assumimos a responsabilidade por tal conteúdo. Qualquer uso ou confiança em qualquer conteúdo ou material publicado através do serviço ou obtidos por você através do serviço é por sua conta e risco.
                </p>
                <p>
                    Nós não garantimos a integridade, veracidade, precisão ou confiabilidade de qualquer conteúdo publicado através do serviço ou endossamos quaisquer opiniões expressas através do serviços. Você entende que ao usar o serviços, pode estar exposto a conteúdo que possa ser ofensivo, prejudicial, impreciso ou de algum modo impróprio, ou em alguns casos postagens com título equivocado ou mesmo enganador. Sob nenhuma circunstância o Redu é responsável por qualquer conteúdo, incluindo, mas não se limitando a, quaisquer erros ou omissões em qualquer conteúdo ou por qualquer perda ou dano de qualquer espécie incorridos como resultado da utilização de qualquer conteúdo enviado, transmitido ou disponibilizado através do serviços ou de difusão em outros lugares.
                </p><br>
                <h2>Seus Direitos</h2>
                <p>
                    Você detém os direitos de qualquer conteúdo que você enviar, postar ou exibir no Redu. Utilizações adicionais para compra do conteúdo por empresas, organizações ou indivíduos pode ser feito com qualquer compensação paga a você com relação ao conteúdo que você enviar, publicar, transmitir ou disponibilizar através do Redu. De forma que 30% do valor da compra é de propriedade do Redu e 70% do conteúdo é de propriedade daquele que detém os direitos.
                </p>
                <p>
                    Você é responsável por sua utilização do serviço, por qualquer conteúdo fornecido por você, e por todas as conseqüências, incluindo o uso de seu conteúdo por outros usuários, empresas ou organizações. O Redu não será responsável por qualquer uso do seu conteúdo através do Redu em conformidade com estes Termos. Você representa e garante que tem todos os direitos, poderes e autoridade necessários para conceder os direitos aqui concedidos a qualquer conteúdo que você envia.
                </p>
                <p>
                    O Redu lhe dá uma licença pessoal, mundial, isenta de royalties, não atribuível e não exclusiva para usar o software que é fornecido a você pelo Redu como parte dos serviços. Esta licença é para o único propósito de permitir-lhe usar e gozar os benefícios dos serviços fornecidos pelo Redu, na forma permitida por estes Termos.
                </p><br>
                <h2>Direitos do Redu</h2>
                <p>
                    Todos os direitos, títulos e interesses relativos ao Redu (excluindo conteúdo fornecido pelos usuários) são e permanecerão propriedade exclusiva do Redu e seus licenciadores. Os serviços são protegidos por direitos autorais, marcas registradas e outras leis. Nada nos Termos lhe dá o direito de usar o nome do Redu, ou em qualquer das marcas Redu, logotipos, nomes de domínio e outras características distintivas da marca. Qualquer comentário ou sugestões que você pode fornecer sobre o Redu, ou os serviços providos pelo Redu é inteiramente voluntária e seremos livres para usar tais comentários, observações ou sugestões que acharmos conveniente e sem qualquer obrigação para com você.
                </p><br>
                <h2>Restrições ao Conteúdo e aos Serviços</h2>
                <p>
                    Nós nos reservamos o direito, em qualquer tempo, (mas não a obrigação) de remover ou se recusar a distribuir qualquer conteúdo sobre os serviços e para cancelar conta de usuário ou recuperar nomes de usuário. Reveja as regras do Redu (que fazem parte destes termos) para entender melhor o que é proibido no serviço. Também nos reservamos o direito de acessar, ler, preservar e divulgar qualquer informação como se razoavelmente acreditarmos que é necessário para (i) satisfazer qualquer lei, regulamento, processo legal ou solicitação governamental, (ii) fazer cumprir os Termos, incluindo a investigação de potenciais violações do mesmo, (iii) detectar, impedir ou de outra forma endereçar fraude, segurança ou questões técnicas, (iv) responder às solicitações de suporte ao usuário, ou (v) proteger os direitos, propriedade ou segurança do Redu, seus usuários e o público. 
                </p>
                <p>
                    É terminantemente proibido realizar quaisquer das ações ao acessar ou usar os serviços: (i) o acesso, adulterar, ou da não utilização de áreas públicas a serviços, sistemas, ou os sistemas de prestação técnica dos prestadores do Redu, (ii) Realizar varreduras ou teste de vulnerabilidade de qualquer sistema, digitalização, ou testar a vulnerabilidade de qualquer sistema ou rede ou violar ou burlar qualquer segurança ou medidas de autenticação, (iii) forjar qualquer cabeçalho ou pacote TCP / IP ou qualquer parte da informação do cabeçalho, ou (iv) interferir ou interromper (ou tentar fazê-lo), o acesso de qualquer usuário, host ou rede, incluindo, sem limitação, o envio de um vírus, sobrecarga, spam, o bombardeio de correio eletrônico dos serviços, ou através de scripts de criação de conteúdo, de tal maneira a interferir ou criar uma sobrecarga para os serviços.
                </p><br>
                <h2>Política de Copyright</h2>
                <p>
                    O Redu respeita os direitos de propriedade intelectual de outras pessoas e espera que os usuários dos serviços façam o mesmo. Vamos responder a acusações de violação de direitos autorais que cumpram com a legislação aplicável e sejam devidamente fornecidos para nós. Se você acredita que o seu conteúdo foi copiado de uma forma que constitua violação de direitos autorais, favor nos fornecer as seguintes informações: (i) uma assinatura física ou eletrônica do detentor do direito autoral ou a pessoa autorizada a agir em seu nome, (ii)identificação da obra original alegou ter sido violada; (iii) identificação do material, que é tido como violado ou para ser objeto de uma atividade ilícita e que está a ser removido ou cujo acesso deve ser desativado, e informações razoavelmente suficientes para nos permitir localizar o material; (iv) as suas informações de contato, incluindo seu endereço, número de telefone e um endereço de e-mail, (v) uma declaração sua de que você tem uma boa fé que o uso do material na forma queixava-se de não está autorizado pelo proprietário dos direitos autorais, seu agente ou pela lei, e (vi) uma declaração de que as informações contidas na notificação são precisas e, sob pena de perjúrio, que você está autorizado a agir em nome dos direitos de autor-proprietário. 
                    Nós nos reservamos o direito de remover conteúdo que estejam violados, sem aviso prévio e à nossa discrição. Em circunstâncias apropriadas, o Redu também irá encerrá uma conta de usuário se o usuário é um infrator reincidente. 
                </p><br>
                <h2>Links</h2>
                <p>
                    Os serviços providos pelo Redu podem conter links para sites ou recursos de terceiros. Você reconhece e concorda que não somos responsável por: (i) a disponibilidade ou a exatidão de tais sites ou recursos, ou (ii) o conteúdo, produtos ou serviços ou disponíveis em tais sites ou recursos. Os links para tais sites ou recursos não implicam qualquer aprovação pelo Redu. Você reconhece exclusiva responsabilidade e assumir todos os riscos decorrentes de seu uso de tais sites ou recursos.
                </p>
            </div>
        </div>
    </div>
</div>
