<div id="all_content3">
<div id="col_content">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">TOS</a>  </div>
 	<div id="title">TERMOS DE SERVIÇO
	</div>
	

 TEXTO



</div>
</div>