<% unless @bulletins.empty? %>
  <table id="bulletin_list" class="common">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Remover</th>
      </tr>
    </thead>
    <%= render :partial => 'bulletins/item_admin', :collection => @bulletins %>
  </table>
  <%= will_paginate @bulletins, :renderer => EndlessRenderer %>
  <%= link_to "Crie uma agora!", new_polymorphic_path([@space || @environment, Bulletin.new]),
    :class => 'button'%>
<% else %>
  <div class="box_notice">
    Não existe nenhuma notícia.
    <%= link_to "Crie uma agora!", new_polymorphic_path([@space || @environment, Bulletin.new]) %>
  </div>
<% end %>
