<tr>
  <td><%= link_to item_admin.title, polymorphic_path([@space || @environment, item_admin]) %></td>
  <td>
    <%= link_to "Editar", edit_polymorphic_path([@space || @environment, item_admin]),
        :class => "icon icon-management-gray_8_8" %>
  </td>
  <td><%= link_to 'Remover', polymorphic_path([@space || @environment, item_admin]),
    :confirm => 'Você tem certeza que deseja remover permanentemente esta notícia?',
    :method => :delete,
    :class => "icon icon-x-gray_8_8 delete" %></td>
</tr>
