<tr>
  <td><%= link_to item_admin.title, polymorphic_path([@space || @environment, item_admin]) %></td>
  <td>
    <%= link_to "Editar", edit_polymorphic_path([@space || @environment, item_admin]),
        :class => "icon icon-redu_r12_c5_s1 edit" %>
  </td>
  <td><%= link_to 'Remover', polymorphic_path([@space || @environment, item_admin]),
    :confirm => 'Você tem certeza que deseja remover permanentemente esta notícia?', 
    :method => :delete, 
    :class => "icon icon-redu_r12_c43_s1 delete" %></td>
</tr>
