<% if @pending_bulletins && @pending_bulletins.size > 0 %>
  <% form_tag :action => :moderate_bulletins do %>
    <table id="bulletin_moderate_list" class="common">
      <tr>
        <th style="max-width:25px;">Aprovar</th>
        <th style="max-width:27px;">Rejeitar</th>
        <th>Notícia</th>
        <th>Autor</th>
        <th>Data</th>
      </tr>
      <%= render :partial => 'bulletins/moderate_item_admin', :collection => @pending_bulletins %>
    </table>
    <%= will_paginate @pending_bulletins, :renderer => EndlessRenderer,
      :param_name => :page_pending, :class => 'endless_pending' %>
    <%= hidden_field_tag("id", @space.id) %>
    <%= submit_tag "Moderar" %>
  <% end %>
<% else %>
  <div class="box_notice">
    Não há notícias a serem moderadas.
  </div>
<% end %>
