<%= render :partial => 'bulletins/sidebar', :locals => { :bulletinable => @bulletinable } %>

<div class="main grid_12 omega big-col">
    <%= render :partial => 'bulletins/header', :locals => { :bulletinable => @bulletinable } %>
    <div id="bulletin-edit" class="hierarchy-listing-wrapper">
      <div class="header">
        <h4>Notícia</h4>
        <span class="counter">Edição de notícia</span>
      </div>

      <%= render :partial => "bulletins/form",
        :locals => {:bulletinable => @bulletinable,  :bulletin => @bulletin }%>
    </div><!-- #bulletin-new -->
  </div><!-- end main -->

