<%= render :partial => "spaces/space_info", :locals => {:space => @space,:show => false} %>
<%= render :partial => "spaces/sidebar", :locals => {:space => @space} %>

<div class="main grid_12 alpha">
	<%= render :partial => 'bulletins/form', :locals => {:bulletin => @bulletin} %>
</div>
