<% if @bulletinable.class.to_s.eql? "Space" %>
  <%= render :partial => "spaces/sidebar", :locals => {:space => @bulletinable} %>
<% end %>

<div class="main grid_12 alpha">
	<%= render :partial => 'bulletins/form', :bulletin => @bulletin %>
</div>
