<div class="grid_16">
  <% is_space = @bulletinable.class.to_s.eql? "Space" %>
  <% if is_space %>
    <%= render :partial => "spaces/sidebar", :locals => {:space => @bulletinable} %>
  <% end %>

  <div class="main <%= is_space ? "grid_12 alpha" : "grid_16 alpha omega" %>">
    <%= render :partial => 'bulletins/form', :bulletin => @bulletin %>
  </div>
</div>
