// ==========================================================================
// Estilos da área de "Vantagens".
// ==========================================================================


// Lista.
.landing-advantages-list {
  margin: 0;
  padding: 0 20px 20px;
  list-style: none;
  overflow: hidden;
}

// Item da lista.
.landing-advantage {
  text-align: center;
  $margin-left: 35px;
  $columns: 4;
  $expression: "(100% - #{$margin-left} * (#{$columns} - 1)) / #{$columns}";
  @include calc("width", $expression, 22%);
  float: left;

  & +
  & { margin-left: $margin-left; }

  .landing-navigation-subtitle {
    @include text-shadow(0 1px 3px $black);
    color: $white;
  }
}

// Legenda.
.landing-advantage-legend {
  font-size: 10px;
  color: $white;
}

// Mensagens.
.landing-advantage-message {
  & +
  & { margin-top: 20px; }
}

// Ícones.
.landing-advantage-icon {
  @include box-sizing;
  padding-top: 110px;
}

// Aluno.
.landing-advantage-student {
  .landing-advantage-message { color: $green4; }
}

// Professor.
.landing-advantage-teacher {
  .landing-advantage-legend { @include text-shadow(0 -1px 0 $orange6); }

  .landing-advantage-message { color: $orange4; }
}

// Gestor.
.landing-advantage-manager {
  .landing-advantage-message { color: $blue4; }
}

// Desenvolvedor.
.landing-advantage-developer {
  .landing-advantage-legend { @include text-shadow(0 -1px 0 $red5); }

  .landing-advantage-message { color: $red2; }
}