// ==========================================================================
// Área de serviços e aplicaçÕes integradas.
// ==========================================================================


// Encapsulador.
.landing-api {
  padding: 20px;

  &:hover .landing-api-illustration { @extend .sprite-keko-playing.keko-playing_hover; }
}

// Descrição.
.landing-api-description {
  display: inline-block;
  width: $landing-content-width;
}

.landing-api-description +
.landing-api-link { margin-left: 60px; }

// Link.
.landing-api-link {
  @include square(225px);
  @include box-sizing;
  @include border-radius(130px);
  display: inline-block;
  border: 10px solid $blue1;
  position: relative;

  &:hover { border-color: $blue2; }

  .link-fake {
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 128px;
    text-align: center;
  }
}

.landing-api-icon {
  position: absolute;
  $width: sprite-sprite-width(icon-developer);
  @include calc("left", "50% - (#{$width} / 2) - 5px", 43%);
  top: 10px;
}

.landing-api-link +
.landing-api-illustration {
  float: right;
  margin-left: 30px;
}