// ==========================================================================
// Área do mural de relatórios básicos.
// ==========================================================================


.landing-basic-reports {
  @include box-sizing;
  padding: 20px;
  height: sprite-sprite-height(background-treemap);
  background-color: $gray1;
  position: relative;
}

.landing-basic-reports-content {
  float: right;
  width: $landing-content-width;
}

.landing-basic-reports-icon,
.landing-basic-reports-background { position: absolute; }

.landing-basic-reports-icon {
  $width: sprite-sprite-width(icon-report);
  $height: sprite-sprite-height(icon-report);
  @include calc("left", "50% - (#{$width} / 2)", 43%);
  @include calc("top", "50% - (#{$height} / 2)", 25%);
  z-index: 1;
}

.landing-basic-reports-background {
  top: 0;
  left: 0;
}