// ==========================================================================
// Área do mural de relatórios básicos.
// ==========================================================================

.landing-basic-reports {
  @include box-sizing(border-box);
  padding: 20px;
  height: 213px;
  background-color: $gray1;
  background: image-url("landing/treemap.png") no-repeat scroll right center $gray1;

  .multiplebgs & {
    background:
      image-url("landing/icon-128px-relatorios-basicos.png") no-repeat scroll center center,
      image-url("landing/treemap.png") no-repeat scroll left center $gray1;
  }
}

.landing-basic-reports-content {
  float: right;
  width: 340px;
}
