// ==========================================================================
// Funcionalidades.
// ==========================================================================


.landing-functionalities {
  .landing-navigation-title { margin: 20px; }

  .landing-navigation-subtitle +
  .landing-navigation-legend,
  .landing-navigation-legend +
  .landing-navigation-message { margin-top: 20px; }
}

.landing-functionalities-separator {
  @include box-sizing;
  background-color: $gray3;
  height: 3px;
  margin: 0;
  border-color: $white;
  border-right-width: 0;
}