// ==========================================================================
// Área do mural de gerenciamento e suporte
// ==========================================================================


// Variáveis
// ==========================================================================

// O z-index da área de suporte.
$landing-support-area-z-index: 2;


.landing-management-support {
  @include box-sizing;
  padding: 20px;
  height: sprite-sprite-height(background-management);
  position: relative;
}

.landing-management-icon,
.landing-support-background { position: absolute; }

.landing-management-icon {
  $height: sprite-sprite-height(icon-management);
  @include calc("top", "50% - (#{$height} / 2)", 25%);
  left: 25px;
  z-index: 1;
}

.landing-support-area {
  position: relative;
  z-index: $landing-support-area-z-index;
}

.landing-support-background {
  z-index: $landing-support-area-z-index - 1;
  top: 0;
  right: 0;
}