// ==========================================================================
// Área das aulas multimídia.
// ==========================================================================

// Placeholders.
// ==========================================================================

// Comum aos sprites de tipos de aula.
.landing-multimedia-type {
  @include box-sizing(border-box);
  display: block;
  padding: 5px;

  & + & { margin-top: 10px; }
}


// Encapsulador.
.landing-multimedia-outer-wrapper { padding: 20px; }

// Fundo.
.landing-multimedia-inner-wrapper { background: $white image-url("landing/icon-exercise-gray_128_130.png") no-repeat right center; }

// Descrição.
.landing-multimedia-description { width: 340px; }

.landing-multimedia-description +
.landing-multimedia-types { margin-left: 35px; }

.landing-multimedia-description,
.landing-multimedia-types,
.landing-multimedia-types-left,
.landing-multimedia-types-right { display: inline-block; }

// Tipos de aula.

.landing-multimedia-types { width: 350px; }

// Exercício.
.landing-multimedia-exercise {
  @extend .landing-multimedia-type;
  position: absolute;
  top: -10px;
  left: -10px;
}

.landing-multimedia-type-circle {
  @include box-sizing(border-box);
  @include square(100%);
  @include transition(border-width .15s linear);
  display: none;
  border: 1px solid $white;

  .borderradius & { @include border-radius(40px); }

  .landing-multimedia-outer-wrapper:hover & { display: block; }

  &:hover { border-width: 5px; }
}

.landing-multimedia-types-left +
.landing-multimedia-types-right { margin-left: 20px; }

.landing-multimedia-types-right {
  @include box-sizing(border-box);
  width: 265px;
  padding: 10px 0 10px 10px;
  vertical-align: top;
}

// Box da aula tipo exercício.
.landing-multimedia-exercise-box {
  padding: 10px;
  background-color: $green1;
  border: 1px solid $green2;
  position: relative;

  .borderradius & { @include border-radius(10px); }

  .boxshadow & { @include box-shadow(1px 1px 1px $white inset); }

  h4 {
    margin-left: 55px;
    color: $black;
  }

  p { color: $gray6; }

  p + p { margin-top: 10px; }

  h4 + p { margin-top: 13px; }
}
