// ==========================================================================
// Área das aulas multimídia.
// ==========================================================================


// Padding horizontal padrão.
$landing-multimedia-horizontal-padding: 20px;


// Encapsulador.
.landing-multimedia {
  padding: $landing-multimedia-horizontal-padding;
  position: relative;
}

// Comum aos sprites de tipos de aula.
.landing-multimedia-type {
  @include box-sizing;
  display: block;
  padding: 5px;

  & + & { margin-top: 10px; }
}


.landing-multimedia-icon {
  position: absolute;
  $height: sprite-sprite-height(icon-exercise);
  @include calc("top", "50% - (#{$height} / 2)", 25%);
  right: $landing-multimedia-horizontal-padding;
}

// Descrição.
.landing-multimedia-description { width: $landing-content-width; }

.landing-multimedia-description +
.landing-multimedia-types { margin-left: 35px; }

.landing-multimedia-description,
.landing-multimedia-types,
.landing-multimedia-types-left,
.landing-multimedia-types-right { display: inline-block; }

// Tipos de aula.

.landing-multimedia-types { width: 350px; }

.landing-multimedia-type-circle {
  @include box-sizing;
  @include square(100%);
  @include transition(border-width .15s linear);
  @include border-radius(40px);
  display: none;
  border: 1px solid $white;

  .landing-multimedia:hover & { display: block; }

  &:hover { border-width: 5px; }
}

.landing-multimedia-types-left +
.landing-multimedia-types-right { margin-left: 20px; }

.landing-multimedia-types-right {
  @include box-sizing;
  width: 265px;
  padding: 10px 0 10px 10px;
  vertical-align: top;
}

// Box da aula tipo exercício.
.landing-multimedia-exercise-box {
  @include border-radius(10px);
  @include box-shadow(1px 1px 1px $white inset);
  padding: 10px;
  background-color: $green1;
  border: 1px solid $green2;
  position: relative;

  // Exercício.
  .landing-multimedia-type {
    position: absolute;
    top: -10px;
    left: -10px;
  }

  .landing-navigation-legend {
    margin-left: 55px;
    color: $black;
  }

  p {
    color: $gray6;

    & +
    & { margin-top: 10px; }
  }

  .landing-navigation-legend +
  p { margin-top: 13px; }
}