// ==========================================================================
// Área da navegação.
// ==========================================================================


.landing-navigation {
  @include box-shadow(0 1px 10px 1px rgba(0, 0, 0, 0.5));
  margin: -90px 0 40px;
}

// Títulos da área de navegação.
.landing-navigation-title {
  @include text-shadow(0 1px 0 $landing-gray);
  @include heading(1);
  font-weight: 500;
  display: block;
  color: $gray3;
}

// Sub-títulos da área de navegação.
.landing-navigation-subtitle { @include heading(2); }

// Legendas da área de navegação.
.landing-navigation-legend {
  @include heading(4);
  color: $gray6;
}

// Parágrafos da área de navegação.
.landing-navigation-message {
  color: $landing-gray;

  .landing-navigation-message-hover:hover & { color: $gray6; }
}