// ==========================================================================
// Área de Recursos Educacionais Abertos.
// ==========================================================================


// Variáveis.
// ==========================================================================

// Cor de fundo.
$landing-oer-background-color: rgb(28, 117, 187);


// Gradiente.
.landing-oer-outer-wrapper {
  @include box-sizing;
  @include text-shadow(0 1px 0 $black);
  height: 190px;
  padding: 20px 0;
  background-color: $landing-oer-background-color;

  .cssgradients & { @include background-image(linear-gradient(rgba(0, 0, 0, 0.4), $landing-oer-background-color 5%, $landing-oer-background-color 95%, rgba(0, 0, 0, 0.4) 100%)); }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#000000+0,1c75bb+5,1c75bb+95,000000+100;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMWM3NWJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTUlIiBzdG9wLWNvbG9yPSIjMWM3NWJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  }
}

// Título.
.landing-oer-title {
  text-align: right;
  color: $white;

  a { color: $white; }
}

// Descrição.
.landing-oer-description {
  padding-top: 10px;

  .landing-navigation-legend { color: $gray2; }

  .landing-navigation-message { color: $white; }
}