// ==========================================================================
// Parceiros.
// ==========================================================================

// Encapsulador.
.landing-partners .landing-navigation-title {
  padding: 20px 20px 30px;
}

// Patrocinadores.
.partners {
  padding: 40px 20px;
  overflow: hidden;
}

// Patrocinador.
.partner {
  float: left;

  & + & { margin-left: 20px; }
}
