// ==========================================================================
// Compartilhado.
// ==========================================================================


// Usado pelas modais de planos, termos de uso e política de privacidade.
.modal-landing {
  p +
  p { margin-top: 20px; }

  .modal-header .sprite-before:before { vertical-align: middle; }

  .modal-body { padding: 20px 40px 20px 60px; }
}

.reactivate-account {
  .button-danger {
    margin-top: 10px;
  }
}