// ==========================================================================
// Visual Class
// ==========================================================================

$landing-visual-background-color: $gray1;

// Título.
.landing-visual-title {
  text-align: right;

  a { color: $black; }

  h4 {
    color: $gray5;
    padding-top: 10px;
    letter-spacing: 0px;
  }
}

// Wrapper.
.landing-visual-outer-wrapper {
  padding: 20px 0;
  background-color: $landing-visual-background-color;

  .cssgradients & { @include background-image(linear-gradient(rgba(0, 0, 0, 0.2), $landing-visual-background-color 5%, $landing-visual-background-color 95%, rgba(0, 0, 0, 0.2) 100%)); }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#000000+0,1c75bb+5,1c75bb+95,000000+100;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMWM3NWJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTUlIiBzdG9wLWNvbG9yPSIjMWM3NWJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  }

  &:hover {
    p { color: $black; }
  }
}

// Descrição.
.landing-visual-description {
  padding-top: 10px;

  p { color: $gray6; }

  p + p { margin-top: 20px; }
}