// ==========================================================================
// Mensagem de bem vindo.
// ==========================================================================


// Wrapper de tudo.
.landing-welcome {
  @include box-sizing;
  padding-top: 80px;
  $background-image-height: 480px;
  height: $background-image-height;
  background: transparent image-url('landing/background-welcome.jpg') no-repeat center;
  text-align: center;
}

// Luz de fundo.
.landing-welcome-light {
  @include box-sizing;
  padding-top: 25px;
}

// Título.
.landing-welcome-title {
  @include text-shadow(1px 2px 5px rgba(0, 0, 0, 0.5));
  font: 500 60px/56px $museo-sans-rounded;
  color: $white;
  letter-spacing: -3px;
}

.landing-welcome-title +
.landing-welcome-message { margin-top: 20px; }

// Mensagem.
.landing-welcome-message {
  font: 700 21px/28px $museo-sans-rounded;
  letter-spacing: -1px;
}