<ol id="breadcrumbs" class="clearfix  partner-breadcrumbs">
<li>
  <%= link_to 'Home', home_user_path(current_user), :class => 'replacement home icon icon-home-lightblue_16_16' %>
</li>
<li>
  <%= link_to 'Parceiro', partner_path(partner), :class => 'icon icon-management-lightblue_16_16' %>
</li>
</ol>
