<ol id="breadcrumbs" class="clearfix  partner-breadcrumbs">
<li>
  <%= link_to 'Home', home_user_path(current_user), :class => 'replacement home icon-small icon-home-lightblue_16_18' %>
</li>
<li>
  <% if partner %>
    <%= link_to partner.name, partner_path(partner), :class => 'icon-manage-lightblue_16_18' %>
  <% else %>
    <%= link_to "Parceiros", partners_path, :class => 'icon-manage-lightblue_16_18' %>
  <% end %>
</li>
</ol>
