<li class="clearfix">
  <div class="partner-info">
    <%= link_to item.name, partner_path(item), :class => "partner-name" %>
    <span class="qtt-environments"><%= item.partner_environment_associations.count %> ambientes criados</span>
  </div>
</li>
