var $form = $("#partner-contact-form");
<% if @partner_contact.valid? %>
  <% if @partner_contact.migration %>
    var $confirmation_box = $("<%= escape_javascript render 'shared/confirmation_message', :message => %(A sua mensagem foi enviada, entraremos em contato através do seu e-mail (<span class="client-email">#{@partner_contact.email}</span>)) %>");
  $form.replaceWith($confirmation_box);
  <% else %>
    window.location = "<%= success_partner_path(@partner) %>";
  <% end %>
<% else %>
  <% partial = "new_old" %>
  <% if @new_layout == "true" %>
    <% partial = "new" %>
  <% end %>

  <% partial = (render :partial => "partners/partner_contacts/#{partial}", :locals => { :environment => @environment, :migration => @partner_contact.migration, :billable_url => @partner_contact.billable_url }) %>
  $form.replaceWith("<%= escape_javascript(partial) %>");
<% end %>
