<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" id="partner" style="width: 580px;">
  <%= render :partial => 'partners/breadcrumbs', :locals => { :partner => nil } %>
  <%= render :partial => 'partners/header', :locals => { :partner => nil, :title => "" } %>
  <% unless @partners.empty? %>
    <ul id="partners-list">
      <%= render :partial => 'partners/item', :collection => @partners %>
    </ul>
  <% else %>
    <div class="box_notice">Nenhum parceiro foi criado</div>
  <% end %>
</div>
