<div id="content" class="container_16 clearfix">
  <div class="clearfix grid_10 payment-confirmation" id="checkout">
    <%= render :partial => 'environments/wizard_breadcrumbs' %>
    <div class="grid_10 alpha thanks">
      <h3>Obrigado!</h3>
      <p>
        Em breve o parceiro <%= @partner.name %> entrará em contato com mais informações sobre como
        implantar o Redu em sua instituição ou empresa.
      </p>
    </div>
    <div class="grid_6 omega next-action">
      <%= link_to "Ir para a home", home_user_path(current_user),
        :class => "replacement home-icon" %>
      <%= link_to "Ir para a home", home_user_path(current_user),
        :class => "button home-button" %>
    </div>
  </div>
</div><!-- end #content -->

