<div class="landing-advantages">
  <h3 class="landing-navigation-title">Vantagens</h3>
  <span class="type-user student">
      <span class="button-user">
             <%= image_tag "landing/botton-aluno.png",
                :alt => "aluno",
                :title => "aluno"
            %>
            <h5>Aluno</h5>
      </span>
      <p class="call"> Comunique-se melhor com seus amigos e colegas de Curso;</p>
      <p class="call"> Acesse as aulas, vídeos e as discussões das disciplinas</p>
  </span>
  <span class="type-user teacher">
      <span class="button-user">
           <%= image_tag "landing/botton-professor.png",
                :alt => "Professor",
                :title => "Professor"
            %>
             <h5>Prof.</h5>
             <h6>Professor</h6>
      </span>
      <p class="call"> Crie novos métodos e técnicas de ensino e economize tempo; </p>
      <p class="call"> Planeje, compartilhe e avalie o ensino e a aprendizagem.</p>
  </span>
  <span class="type-user gestor">
      <span class="button-user">
             <%= image_tag "landing/botton-gestor.png",
                :alt => "gestor",
                :title => "gestor"
            %>
            <h5>Gestor</h5>
      </span>
      <p class="call"> Utilize uma tecnologia que já faz parte da cultura do público jovem; </p>
      <p class="call"> Acompanhe as atvidades de seus professores e alunos.</p>
  </span>
  <span class="type-user developer">
      <span class="button-user">
             <%= image_tag "landing/botton-desenvolvedor.png",
                :alt => "desenvolvedor",
                :title => "desenvolvedor"
              %>
             <h5>Dev.</h5>
             <h6>Desenvolvedor</h6>
      </span>
      <p class="call"> Integre facilmente o Redu com outras soluções de software;</p>
      <p class="call"> Extenda a plataforma às suas necessidades específicas.</p>
  </span>
</div>
