<%#
  Vantagens.
%>

<div class="landing-advantages">
  <div class="content-section">
    <h2 class="landing-navigation-title">Vantagens</h2>
  </div>
  <ul class="landing-advantages-list">
    <%# Aluno. %>
    <li class="landing-advantage landing-advantage-student">
      <div class="landing-advantage-icon sprite-advantage-student">
        <h3 class="landing-navigation-subtitle">Aluno</h3>
      </div>
      <p class="landing-advantage-message">Comunique-se melhor com seus professores e colegas de curso;</p>
      <p class="landing-advantage-message">Acesse as aulas, exercícios e as discussões das disciplinas</p>
    </li>
    <%# Professor. %>
    <li class="landing-advantage landing-advantage-teacher">
      <div class="landing-advantage-icon sprite-advantage-teacher">
        <h3 class="landing-navigation-subtitle">Prof.</h3>
        <span class="landing-advantage-legend">Professor</span>
      </div>
      <p class="landing-advantage-message">Crie novos métodos e técnicas de ensino e economize tempo; </p>
      <p class="landing-advantage-message">Planeje, compartilhe e avalie o ensino e a aprendizagem.</p>
    </li>
    <%# Gestor. %>
    <li class="landing-advantage landing-advantage-manager">
      <div class="landing-advantage-icon sprite-advantage-manager">
        <h3 class="landing-navigation-subtitle">Gestor</h3>
      </div>
      <p class="landing-advantage-message">Utilize uma tecnologia que faz parte da cultura do público jovem; </p>
      <p class="landing-advantage-message">Acompanhe as atividades de seus professores e alunos.</p>
    </li>
    <%# Desenvolvedor. %>
    <li class="landing-advantage landing-advantage-developer">
      <div class="landing-advantage-icon sprite-advantage-developer">
        <h3 class="landing-navigation-subtitle">Dev.</h3>
        <span class="landing-advantage-legend">Desenvolvedor</span>
      </div>
      <p class="landing-advantage-message">Integre facilmente o Openredu com outras soluções de software;</p>
      <p class="landing-advantage-message">Extenda a plataforma às suas necessidades específicas.</p>
    </li>
  </ul>
</div>