<div class="landing-functionality landing-api">
  <div class="landing-api-description">
    <h2>Serviços e Aplicações Integradas</h2>
    <h4>Crie aplicativos educacionais e os integre aos seus cursos e aulas.</h4>
    <p>O Redu possui uma interface de programação (API) que permite a desenvolvedores criar os mais variados aplicativos, jogos e ferramentas de auxílio a professores e alunos. É possível que gestores integrem seus dados de outras plataformas ao Ambiente Virtual de Aprendizagem.</p>
  </div><!--
   --><div class="landing-api-link">
    <%= link_to "Conheça a Documentação da API", "developers.redu.com.br" %>
  </div><!--
   --><span class="landing-api-illustration  text-replacement sprite-keko-playing">Keko</span>
</div>
