<%#
  Serviços e Aplicações Integradas.
%>

<div class="landing-api landing-navigation-message-hover">
  <div class="landing-api-description">
    <h3 class="landing-navigation-subtitle">Serviços e Aplicações Integradas</h3>
    <h4 class="landing-navigation-legend">Crie aplicativos educacionais e os integre aos seus cursos e aulas.</h4>
    <p class="landing-navigation-message">O Openredu possui uma interface de programação (API) que permite a desenvolvedores criar os mais variados aplicativos, jogos e ferramentas de auxílio a professores e alunos. É possível que gestores integrem seus dados de outras plataformas ao Ambiente Virtual de Aprendizagem.</p>
  </div><!--
   --><%= link_to Redu::Application.config.redu_services[:dev][:url], class: "landing-api-link" do %>
    <span class="landing-api-icon text-replacement sprite-icon-developer" title="Conheça a Documentação da API">Conheça a Documentação da API</span>
    <span class="link-fake">Conheça a Documentação da API</span>
  <% end %><!--
   --><span class="landing-api-illustration text-replacement sprite-keko-playing">Keko</span>
</div>