<div class="landing-functionality landing-basic-reports">
  <div class="landing-basic-reports-content">
    <h3 class="landing-navigation-subtitle">Relatórios Básicos</h3>
    <h4>Acompanhe o desempenho e a participação nas aulas e discussões.</h4>
    <p>São diversos gráficos e visualizações de dados que mostram o desempenho e participação dos membros do curso sob diferentes perspectivas.</p>
  </div>
</div>
