<%#
  Relatórios Básicos.
%>

<div class="landing-basic-reports landing-navigation-message-hover">
  <span class="landing-basic-reports-background sprite-background-treemap text-replacement" title="Relatórios Básicos">Relatórios Básicos (fundo)</span>
  <span class="landing-basic-reports-icon sprite-icon-report text-replacement" title="Relatórios Básicos">Relatórios Básicos (ícone)</span>
  <div class="landing-basic-reports-content">
    <h3 class="landing-navigation-subtitle">Relatórios Básicos</h3>
    <h4 class="landing-navigation-legend">Acompanhe o desempenho e a participação nas aulas e discussões.</h4>
    <p class="landing-navigation-message">São diversos gráficos e visualizações de dados que mostram o desempenho e participação dos membros do curso sob diferentes perspectivas.</p>
  </div>
</div>