<div class="landing-functionality landing-discussion-wall">
  <div class="landing-discussion-wall-content">
    <h2>Mural de Discussão</h2>
    <h4>Estimule debates e tire dúvidas sobre suas aulas com alunos e professores.</h4>
    <p>Estruture diálogos mais ricos e bem elaborados, peça ajuda aos seus colegas e aprenda de um jeito dinâmico e divertido.</p>
  </div>
</div>
