<div class="landing-filters">
  <div class="filters">
    <%= link_to "Segmentos",
        landing_path(:anchor => "segmentos"),
        :class => "filter"
    %>
    <%= link_to "Vantagens",
        landing_path(:anchor => "vantagens"),
        :class => "filter"
    %>
    <%= link_to "Funcionalidades",
        landing_path(:anchor => "funcionalidades"),
        :class => "filter"
    %>
    <%= link_to "Planos",
        landing_path(:anchor => "planos"),
        :class => "filter"
    %>
  </div>
</div>
