<%#
  Filtros da navegaçao.
%>

<div class="landing-filters js-filters-scrollspy">
  <div class="filters">
    <a class="filter landing-scroll" href="#segmentos">Segmentos</a>
    <a class="filter landing-scroll" href="#vantagens">Vantagens</a>
    <a class="filter landing-scroll" href="#funcionalidades">Funcionalidades</a>
    <a class="filter landing-scroll" href="#parceiros">Parceiros</a>
  </div>
</div>
