<div class="landing-filters">
  <div class="filters">
    <a class="filter" href="#segmentos">Segmentos</a>
    <a class="filter" href="#vantagens">Vantagens</a>
    <a class="filter" href="#funcionalidades">Funcionalidades</a>
    <a class="filter" href="#planos">Planos</a>
  </div>
</div>
