<SCRIPT LANGUAGE="javascript" TYPE="text/javascript">
$(function() {

  var $win = $(window);

  var $landingfilters = $(".landingfilters");

  var landingfiltersFixed = 0;
  var landingfiltersTop = $(".landingfilters").length && $(".landingfilters").offset().top;

  var scrollLandingFilters = function() {
    var _, scrollTop = $win.scrollTop();
    if (scrollTop >= landingfiltersTop && !landingfiltersFixed) {
      landingfiltersFixed = 1;
      $landingfilters.addClass("page-nav-fixed");
    }
    else if (scrollTop <= landingfiltersTop && landingfiltersFixed) {
      landingfiltersFixed = 0;
      $landingfilters.removeClass("page-nav-fixed");
    }
  }

  scrollLandingFilters();

  $win.bind("scroll", scrollLandingFilters);

  $("a[rel='tooltip']").tooltip({ placement: "bottom" });
});

</SCRIPT>

<div class="landingfilters">
  <div class="filters">
    <%= link_to "Segmentos",
        landing_path(:anchor => "segmentos"),
        :class => "filter"
    %>
    <%= link_to "Vantagens",
        landing_path(:anchor => "vantagens"),
        :class => "filter"
    %>
    <%= link_to "Funcionalidades",
        landing_path(:anchor => "funcionalidades"),
        :class => "filter"
    %>
    <%= link_to "Planos",
        landing_path(:anchor => "planos"),
        :class => "filter"
    %>
  </div>
</div>

