<div class="landing-filters">
  <div class="filters">
    <button class="filter">Segmentos</button>
    <button class="filter">Vantangens</button>
    <button class="filter">Funcionalidades</button>
    <button class="filter">Planos</button>
  </div>
</div>
