<%#
  Como Funciona?
%>

<div class="landing-how landing-navigation-message-hover">
  <div class="landing-how-section">
    <h2 class="landing-navigation-title">Como Funciona?</h2>
    <h4 class="landing-navigation-legend">Crie seu Ambiente de Aprendizagem junto a seus próprios Cursos. Ou participe de Cursos a Distância e tenha uma rede de amigos e colegas para compartilhar e construir conhecimento juntos.</h4>
  </div>
  <div class="landing-how-explaination sprite-environment-n-courses" title="Ambiente de Aprendizagem e Cursos">
    <div class="landing-how-environment clearfix">
      <h3 class="landing-navigation-subtitle pull-left">Ambiente de Aprendizagem</h3>
      <p class="landing-navigation-message pull-left">Um Ambiente é onde seus Cursos ficam. Funciona como a central de gerenciamento do seu Ensino a Distância — informa e dá acesso a tudo o que acontece nos Cursos criados por você.</p>
    </div>
    <h3 class="landing-navigation-subtitle landing-how-environment-title-course">Cursos</h3>
  </div>
  <div class="landing-how-courses-types clearfix">
    <div class="pull-left">
      <span class="landing-how-course-icon sprite-icon-course-public-green1_32_34 text-replacement pull-right">Cursos Abertos</span>
      <div class="landing-how-course-public pull-right">
        <h4 class="landing-navigation-legend">Cursos Abertos</h4>
        <p class="landing-navigation-message">São gratuitos para quem cria e quem participa. Não há limite de usuários que podem ser inscritos e todas as funcionalidades do Redu estão presentes aqui. Seja reconhecido por milhares de alunos.</p>
      </div>
    </div>
    <div class="pull-right">
      <span class="landing-how-course-icon sprite-icon-course-private-red1_32_34 text-replacement pull-left">Cursos Privados</span>
      <div class="landing-how-course-private pull-left">
        <h4 class="landing-navigation-legend">Cursos Privados</h4>
        <p class="landing-navigation-message">São moderados e de conteúdo totalmente privado e seguro — só quem você permitir terá acesso aos materiais e discussões. Além disso, você terá espaço de sobra para armazenar seus arquivos.</p>
      </div>
    </div>
  </div>
</div>