<%#
  Gerenciamento e Suporte.
%>

<div class="landing-management-support landing-navigation-message-hover">
  <div class="row">
    <div class="span6 offset3">
      <span class="landing-management-icon sprite-icon-management text-replacement" title="Gerenciamento">Gerenciamento</span>
      <h3 class="landing-navigation-subtitle">Gerenciamento</h3>
      <h4 class="landing-navigation-legend">Adeque o Openredu às práticas de ensino de sua Instituição.</h4>
      <p class="landing-navigation-message">Configure as informações, cursos e disciplinas, membros, planos e as métricas importantes ao pleno funcionamento de sua Instituição com a plataforma.</p>
    </div>
    <span class="landing-support-background sprite-background-management text-replacement" title="Suporte">Suporte</span>
    <div class="landing-support-area offset2 span3">
      <h3 class="landing-navigation-subtitle">Suporte</h3>
      <h4 class="landing-navigation-legend">Sinta-se apoiado!</h4>
      <p class="landing-navigation-message">Conte com nosso atendimento e use a <%= link_to "Central de Ajuda", Redu::Application.config.redu_services[:help_center][:url], title: "Central de Ajuda", target: "_blank" %> para tirar suas dúvidas.</p>
    </div>
  </div>
</div>