<div class="landing-functionality landing-management-support">
  <div class="row">
    <div class="span9">
      <div class="landing-management-content">
        <div class="row">
          <div class="span3">
            <%= image_tag "landing/icon-129px-configuracoes.png",
                        :alt => "Configuração",
                        :title => "Configuração"
            %>
          </div>
          <div class="span6">
            <span>
              <h2>Gerenciamento</h2>
              <h4>Adeque o Redu às práticas de ensino de sua Instituição.</h4>
              <p>Configure as informações, cursos e disciplinas, membros, planos e as métricas importantes ao pleno funcionamento de sua Instituição com a plataforma.</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="span7">
      <div class="landing-support-content">
        <div class="row">
          <div class="span3 offset2">
            <div>
              <h2>Suporte</h2>
              <h4>Sinta-se apoiado!</h4>
              <p>Conte com nosso atendimento sempre que precisar, através de nossa plataforma e e-mail.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
