<div style="display: none;">
    <div class="modal-window">
      <span class="modal-name">
        <%= image_tag "landing/icon-48px-instituicao.png",
          :alt => "Instituição",
          :title => "Instituição"
        %>
        <h3>Cadastre-se no Redu. É gratuito, rápido e fácil.</h3>
      </span>
      <div class="modal-cadaster">
        <p>Caso tenha uma conta no Facebook, você pode evitar o trabalho de preencher formulários ao associar sua conta ao Redu. Desta forma, o cadastro é feito de forma automática.<p>
      </div>
    <hr>
    <hr>
    <form>
      <div class="control-group">
        <div class="controls">
          <label class="control-checkbox">
            <input type="checkbox">
            Aceito os <%= link_to "Termos de Uso",
              "#termos-uso",
              :title => "Termos de Uso",
              "data-toggle" => "modal"
          %> da plataforma Redu
          </label>
        </div>
      </div>
    </form>
    <button class="button-big button-default">Cancelar</button>
    <button class="button-big button-success">Cadastrar sua conta</button>
    </div>
  </div>
