<div id="plan-independent" class="modal hide modal-fill-height modal-grids-14 modal-landing">
  <div class="modal-header modal-header-gray">
    <h3 class="sprite-before sprite-plan-independent-before">Planos para o Produtor Independente</h3>
  </div>
  <div class="modal-body modal-scroll">
    <table class="table-without-borderradius">
      <thead>
        <tr>
          <th>Benefícios</th>
          <th class="plan-column" >Grátis</th>
          <th class="plan-column">
            <span class="sprite-after sprite-medal-silver-after">Prata</span>
          </th>
          <th class="plan-column">
            <span class="sprite-after sprite-medal-gold-after">Ouro</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Número de Alunos Permitidos</td>
          <td>30</td>
          <td>Ilimitado</td>
          <td>Ilimitado</td>
        </tr>
        <tr>
          <td>Armazenamento</td>
          <td>15 MB</td>
          <td>Ilimitado</td>
          <td>Ilimitado</td>
        </tr>
        <tr>
          <td>Rede Social</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Relatório Básico</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Mural de Discussão</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Aulas Multimídia</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Exercícios Múltipla Escolha</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Integração dos Recursos Educacionais Abertos</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Acesso à API do Redu</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Suporte Online</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Customização de Relatórios</td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Customização de Exercícios</td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Integração com Sistemas de Gestão Acadêmico</td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Criação do Portal de Venda de Cursos Online</td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Suporte Prioriário</td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Importação / Exportação de Cursos do Moodle</td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-close text-replacement" title="Não">Não</span></td>
          <td class="marker"><span class="sprite-icon-correct text-replacement" title="Sim">Sim</span></td>
        </tr>
        <tr>
          <td>Preços <strong>(por licença)</strong></td>
          <td><span class="free">Grátis</span></td>
          <td><strong>R$ 5</strong></td>
          <td>
            <%= link_to "Consulte-nos",
              contact_path,
              :title => "Consulte-nos",
              :class => "link-target"
            %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="button-default">Voltar</button>
  </div>
</div>
