<div id="modal-tos" class="modal hide modal-fill-height modal-grids-14 modal-landing">
  <div class="modal-header modal-header-gray">
    <h3 class="icon-terms-of-service-darkgray_32_34-before">Termos de Uso</h3>
  </div>
  <div class="modal-body modal-scroll">
    <p>Estes são os termos de uso que regem os serviços oferecidos pela empresa REDU – Desenvolvimento e Licenciamento de Programas de Informática Ltda. devidamente inscrita no CNPJ/MF sob o nº 12.359.885/0001-07, denominada aqui como Redu. Qualquer indivíduo, doravante nominada USUÁRIO, que pretenda utilizar os serviços do site, deverá aceitar os Termos de Uso, e todas as demais políticas e princípios que o regem.</p>

    <p>Por este instrumento e na melhor forma de direito, o(s) USUÁRIO(S) declara(m) conhecer, se obrigando a cumprir integralmente, a regulamentação estipulada pelo Redu para a navegação e a utilização dos Serviços oferecidos através do site, em conformidade com as cláusulas e condições seguintes, cuja aceitação prévia, será condição indispensável de acesso aos Serviços.</p>

    <h5><strong>Do cadastro</strong></h5>

    <p>A realização do cadastro é condição indispensável à utilização dos Serviços disponibilizados no site Redu, assumindo os USUÁRIOS a responsabilidade exclusiva pela veracidade dos dados, para este fim, fornecidos.</p>

    <p>É de responsabilidade integral e exclusiva dos USUÁRIOS a constante atualização do seu respectivo cadastro, com a imediata informação de todo e qualquer dado pessoal ou informacional que eventualmente sofra alguma alteração.</p>

    <p>Cada USUÁRIO poderá realizar um único cadastro, podendo o Redu suspender, em caráter temporário ou definitivo, cadastros que aparentem pertencer a um mesmo USUÁRIO.</p>

    <p>O Redu poderá, ao efetuar o cadastro, utilizar quaisquer informações que considere necessárias à identificação dos USUÁRIOS, bem como, a qualquer tempo e ao seu exclusivo critério, solicitar dados adicionais e requerer o envio de documentos visando à conferência dos dados cadastrados.</p>

    <p>Caso seja constatada a existência de dados incompletos ou inverídicos, o Redu poderá suspender, em caráter temporário ou definitivo, o cadastro do USUÁRIO, bloqueando, pelo tempo em que perdurar a suspensão, o acesso a todos os serviços por ele utilizados, sem prejuízo de outras medidas que entenda serem necessárias.</p>

    <p>A suspensão ou cancelamento da conta de cadastro do USUÁRIO, em decorrência de iniciativa deste ou do Redu, implicará o bloqueio de qualquer serviço utilizado pelo proprietário da conta veiculado, não cabendo direito à indenização ou ressarcimento.</p>

    <p>O USUÁRIO que tenha sua conta suspensa ou cancelada pelo Redu não poderá realizar novo cadastro, exceto com a expressa anuência do Redu.</p>

    <p>Os USUÁRIOS reconhecem que são os únicos responsáveis pelos atos praticados com uso de suas respectivas contas de cadastro e comprometem-se a zelar pela segurança destas, devendo notificar o Redu caso verifiquem a ocorrência de acesso às suas contas, ou uso destas, sem suas devidas autorizações.</p>

    <p>É expressamente proibida a venda, cessão, aluguel ou a efetivação de qualquer outra forma de transferência da conta de cadastro do USUÁRIO, sendo esta de caráter personalíssimo e intransferível.</p>

    <h5><strong>Das responsabilidades do usuário</strong></h5>

    <p>Cada USUÁRIO é integralmente responsável por todo e qualquer conteúdo que seja transmitido a um servidor, exibido, enviado por e-mail ou de qualquer outra forma disponibilizado através do Site.</p>

    <p>O Redu não controla o conteúdo disponibilizado através do Serviço e, como consequência, não garante a correção, integridade ou qualidade de tal conteúdo.</p>

    <h5><strong>Da política de privacidade</strong></h5>

    <p>O Redu possui uma política expressa sobre a questão da privacidade online. As informações de registro e algumas outras informações sobre o USUÁRIO estão sujeitas ao tratamento referido em tal política de privacidade.</p>

    <p>Para maiores informações acerca da política de privacidade aplicável ao Redu, consultar a Política de Privacidade disponível neste endereço eletrônico, <a href="http://www.redu.com.br/privacy" title="Política de Privacidade">http://www.redu.com.br/privacy</a>.</p>

    <h5><strong>Da propriedade intelectual</strong></h5>

    <p>Quaisquer criações intelectuais constantes do site da Redu sobre as quais incidam direitos autorais ou de propriedade industrial, tais como textos, imagens, marcas, logotipos, base de dados ou layouts, pertencem ao Site, sendo vedada a terceiros sua reprodução sem prévia autorização por escrito do respectivo proprietário, sob pena de aplicação das sanções previstas na legislação cabível.</p>

    <p>O USUÁRIO afirma deter os direitos autorais ou de propriedade industrial sobre qualquer conteúdo que venha a enviar, postar ou exibir dentro da plataforma do Redu.</p>

    <h5><strong>Das sanções</strong></h5>

    <p>O Redu poderá suspender ou cancelar, em caráter temporário ou definitivo, conta de cadastro de USUÁRIO que infrinja das disposições contidas neste instrumento, sem prejuízo das medidas judiciais cabíveis.</p>

    <h5><strong>Das disposições gerais</strong></h5>

    <p>Este instrumento será regido pelas disposições legais brasileiras em vigor aplicáveis.</p>

    <p>No caso de qualquer termo ou condição do presente contrato ou de seus anexos ser considerado inválido ou ineficaz, a validade ou eficácia do remanescente do presente contrato não será afetada.</p>

    <p>O não-exercício por qualquer das partes de qualquer dos direitos que para si resultem do presente contrato não constituirá, nem será considerado, uma renúncia ou perda dos referidos direitos.</p>

    <p>O Redu reserva-se o direito de, a qualquer tempo, alterar as disposições constantes dos  TERMOS DE USO, visando aprimorar os serviços prestados aos seus USUÁRIOS. As alterações a este instrumento entrarão em vigor 10 (dez) dias após sua publicação no site da Redu. Neste prazo, deverão os USUÁRIOS que não concordem com as alterações comunicar sua posição ao Redu, que procederá ao cancelamento da conta de cadastro do USUÁRIO, caso não existam dívidas em aberto. A não manifestação dentro do prazo implica a aceitação tácita das alterações.</p>

    <h5><strong>Do foro</strong></h5>

    <p>Para dirimir quaisquer dúvidas ou questões quanto à interpretação e à aplicação das cláusulas e condições contratuais aqui assentadas, as partes elegem o foro da Comarca de Recife, no estado de Pernambuco, com renúncia expressa a qualquer outro por mais privilegiado que seja.</p>

    <p>Atualizado pela última vez em: março de 2012</p>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="button-default">Voltar</button>
  </div>
</div>
