<table class="table-with-borderradius">
      <thead>
        <tr>
          <th>Benefícios</th>
          <th>Grátis</th>
          <th>Prata</th>
          <th>Ouro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Número de Alunos Permitidos</td>
          <td>60</td>
          <td>Ilimitado</td>
          <td>Ilimitado</td>
        </tr>
        <tr>
          <td>Armazenamento</td>
          <td>15 MB</td>
          <td>Ilimitado</td>
          <td>Ilimitado</td>
        </tr>
        <tr>
          <td>Rede Social</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Relatório Básico</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
         <tr>
          <td>Mural de Discussão</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
         <tr>
          <td>Aulas Multimídia</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
         <tr>
          <td>Gerenciamento do Ambiente Virtual de Aprendizagem</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Acesso à API do Redu</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Suporte Online</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
      </tbody>
    </table>
