<%#
  Modal dos tipos de aula.

  Variáveis:
    type: o tipo de aula [video|apresentacao|documento|exercicio].
    title: o título da janela.
    image: a imagem.
    size: o tamanho da imagem.
%>

<%= content_tag :div, id: "aula-#{type}",
  class: "modal hide modal-grids-14 modal-fill-height modal-multimedia" do %>
  <div class="modal-header">
    <%= content_tag :h3, title, class: "modal-title" %>
  </div>
  <%= content_tag :div,
    image_tag("lazyload_grey.gif", "data-original" => asset_path(image), class: "lazy", size: size),
    class: "modal-body" %>
  <div class="modal-footer">
    <button class="button-default" data-dismiss="modal">Voltar</button>
  </div>
<% end %>