<div class="container">
  <ul class="landing-navigation">
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
    <li class="landing-navigation-item">&nbsp;</li>
  </ul>
</div>
