<%#
  Recursos Educacionais Abertos.
%>

<div class="landing-functionality landing-oer-outer-wrapper">
  <div class="row">
    <div class="offset1 span4">
      <h3 class="landing-oer-title landing-navigation-subtitle">
        <%= link_to "Recursos Educacionais Abertos", Redu::Application.config.redu_services[:apps][:url] %>
      </h3>
    </div>
    <div class="span6">
      <div class="landing-oer-description">
        <h4 class="landing-navigation-legend">Artefatos interativos de todo o mundo  que complementam o aprendizado. E o melhor: são gratuitos.</h4>
        <p class="landing-navigation-message">São materiais de ensino e aprendizagem que estão sob domínio público, e podem ser utilizados em qualquer disciplina.</p>
      </div>
    </div>
    <%= link_to "Recursos Educacionais Abertos",
      Redu::Application.config.redu_services[:apps][:url],
      class: "sprite-logo-oer text-replacement",
      title: "Recursos Educacionais Abertos" %>
  </div>
</div>