<%#
  Mensagens Particulares, Currículo e Mobilidade.
%>

<div class="landing-others landing-navigation-message-hover">
  <span class="landing-others-icon sprite-plus text-replacement">Outros</span>
  <div class="landing-other">
    <h3 class="landing-navigation-subtitle icon-message-darkgray_32_34-before">Mensagens Particulares</h3>
    <h4 class="landing-navigation-legend">A rica estrutura do Mural em uma conversa particular.</h4>
    <p class="landing-navigation-message">Comunique-se com seus amigos e contatos com total privacidade através de mensagens mais estruturadas.</p>
  </div>
  <div class="landing-other">
    <h3 class="landing-navigation-subtitle icon-curriculum-darkgray_32_34-before">Currículo</h3>
    <h4 class="landing-navigation-legend">Publique suas competências, conquistas e compartilhe seus contatos profissionais.</h4>
    <p class="landing-navigation-message">Coloque informações sobre sua experiência profissional e acadêmica e atualize-se sobre novas conquistas de seus amigos.</p>
  </div>
  <div class="landing-other">
    <span class="label-doubts">Em breve</span>
    <h3 class="landing-navigation-subtitle icon-mobile-darkgray_32_34-before">Mobilidade</h3>
    <h4 class="landing-navigation-legend">O Openredu em qualquer lugar — literalmente.</h4>
    <p class="landing-navigation-message">Acompanhe a postagem de dúvidas dos seus alunos em tempo real, em qualquer lugar. Temporariamente apenas disponível para dispositivos Android.</p>
  </div>
</div>