<div class="landing-functionality landing-others">
  <div class="landing-other">
    <h3 class="landing-navigation-subtitle" class="icon-message-darkgray_32_34-before">Mensagens Particulares<h3>
    <h4>A rica estrutura do Mural em uma conversa particular.</h4>
    <p>Comunique-se com seus amigos e contatos com total privacidade através de mensagens mais estruturadas.</p>
  </div>
  <div class="landing-other">
    <h3 class="landing-navigation-subtitle" class="icon-curriculum-darkgray_32_34-before">Currículo</h3>
    <h4>Publique suas competências, conquistas e compartilhe seus contatos profissionais.</h4>
    <p>Coloque informações sobre sua experiência profissional e acadêmica e atualize-se sobre novas conquistas de seus amigos.</p>
  </div>
  <div class="landing-other">
    <span class="label-doubts">Em breve</span>
    <h3 class="landing-navigation-subtitle" class="icon-mobile-darkgray_32_34-before">Mobilidade</h3>
    <h4>O Redu em qualquer lugar — literalmente.</h4>
    <p>Acompanhe a postagem de dúvidas dos seus alunos em tempo real, em qualquer lugar. Temporariamente apenas disponível para dispositivos Android.</p>
  </div>
</div>
