<div class="landing-plans">
  <h3 class="landing-navigation-title">Planos</h3>
  <div class="type-plan">
      <span class="type-plan-icon">
             <%= image_tag "landing/icon-48px-instituicao.png",
                :alt => "instituição",
                :title => "instituição"
            %>
            <h3> Ensino Médio e Fundamental </h3>
      </span>
      <span class="free-plan">
        <hr>
        <h5>Grátis para até
          <h3 class="limit-users-free">
              60 pessoas
          </h3>
       </h5>
       <hr>
      </span>
      <span class="learn-plan">
        <button class="button-primary button-big">Conheça o plano</button>
      </span>
  </div>
  <div class="type-plan">
      <span class="type-plan-icon">
             <%= image_tag "landing/icon-48px-instituicao.png",
                :alt => "instituição",
                :title => "instituição"
            %>
            <h3> Ensino Superior</h3>
      </span>
      <span class="free-plan">
        <hr>
        <h5>Grátis para até
          <h3 class="limit-users-free">
              60 pessoas
          </h3>
       </h5>
       <hr>
      </span>
      <span class="learn-plan">
        <button class="button-primary button-big">Conheça o plano</button>
      </span>
  </div>
  <div class="type-plan">
      <span class="type-plan-icon">
             <%= image_tag "landing/icon-48px-produtor.png",
                :alt => "produtor",
                :title => "produtor"
            %>
             <h3>Produtor independente</h3>
      </span>
      <span class="free-plan">
        <hr>
        <h5>Grátis para até
          <h3 class="limit-users-free">
              60 pessoas
          </h3>
       </h5>
       <hr>
      </span>
      <span class="learn-plan">
        <button class="button-primary button-big">Conheça o plano</button>
      </span>
  </div>
  <div class="type-plan">
      <span class="type-plan-icon">
             <%= image_tag "landing/icon-48px-consultoria.png",
                :alt => "consultoria",
                :title => "consultoria"
            %>
            <h3>Consultoria e treinamento de R.H.</h3>
      </span>
      <span class="free-plan">
        <hr>
        <h5>Grátis para até
          <h3 class="limit-users-free">
              60 pessoas
          </h3>
       </h5>
       <hr>
      </span>
      <span class="learn-plan">
        <button class="button-primary button-big">Conheça o plano</button>
      </span>
  </div>
</div>


