<div class="landing-segment-outer-wrapper">
  <a name="segmentos" class="landing-navigation-title">Segmentos</a>
  <div class="row">
    <div class="span8 offset8">
      <h4>Alguns benefícios:</h4>
    </div>
  </div>
  <!-- Ensino Médio, Fundamental e Superior. -->
  <div class="landing-segment-wrapper">
    <span class="landing-segment-button-school" title="Ensino Médio, Fundamental e Superior"></span>
    <ul class="landing-segments">
      <li class="landing-segment">
        <div class="landing-segment-type">
          <span class="landing-segment-title">Ensino Médio e Fundamental</span>
        </div>
        <div class="landing-segment-benefits">
          <ul>
            <li>
              <span rel="tooltip" title="Formação dos professores">Formação dos professores;</span>
            </li>
            <li>
              <em rel="tooltip" title="Aulas Multimídia">Aulas Multimídia;</em>
            </li>
            <li>
              <em rel="tooltip" title="Exercícios Múltipla Escolha">Exercícios Múltipla Escolha;</em>
            </li>
            <li>
              <em rel="tooltip" title="Relatório Básico">Relatório Básico;</em>
            </li>
          </ul>
        </div>
      </li>
      <li class="landing-segment">
        <div class="landing-segment-type">
          <span class="landing-segment-title">Ensino Superior</span>
        </div>
        <div class="landing-segment-benefits">
          <ul>
            <li>
              <span rel="tooltip" title="Suporte online prioritário">Suporte online prioritário;</span>
            </li>
            <li>
              <span  rel="tooltip" title="Integração com sistema de gestão acadêmico">Integração com sistema de gestão acadêmico;</span>
            </li>
            <li>
              <span rel="tooltip" title="Integração com o portal da faculdade">Integração com o portal da faculdade;</span>
            </li>
            <li>
              <span rel="tooltip" title="Importação / exportação de cursos do Moodle">Importação / exportação de cursos do Moodle.</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- Produtor Independente. -->
  <div class="landing-segment-wrapper">
    <span class="landing-segment-button-independent" title="Produtor Independente"></span>
    <ul class="landing-segments">
      <li class="landing-segment">
        <div class="landing-segment-type">
          <span class="landing-segment-title">Produtor Independente</span>
        </div>
        <div class="landing-segment-benefits">
          <ul>
            <li>
              <span rel="tooltip" title="Criação do portal de cursos online;">Criação do portal de cursos online;</span>
            </li>
            <li>
              <span rel="tooltip" title="Consultoria na estruturação dos recursos midiáticos;">
              Consultoria na estruturação dos recursos midiáticos;</span>
            </li>
            <li>
              <em rel="tooltip" title="Gerenciamento dos cursos;">Gerenciamento dos cursos;</em>
            </li>
            <li>
              <span rel="tooltip" title="Relatório customizável.">Relatório customizável.</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- Consultoria e Treinamento de R.H. -->
  <div class="landing-segment-wrapper landing-segment-hr">
    <span class="landing-segment-button-hr" title="Consultoria e Treinamento de R.H."></span>
    <ul class="landing-segments">
      <li class="landing-segment">
        <div class="landing-segment-type">
          <span class="landing-segment-title">Consultoria e Treinamento de R.H.</span>
        </div>
        <div class="landing-segment-benefits">
          <ul>
            <li>
              <span rel="tooltip" title="Criação do portal de cursos online:">Criação do portal de cursos online:</span>
              <ul class="landing-segment-sublist">
                <li class="legend">Extensão para Faculdades,</li>
                <li class="legend">Qualificação Profissional para Empresas,</li>
                <li class="legend">Técnicos à Distância;</li>
              </ul>
            </li>
            <li>
              <span rel="tooltip" title="Criação da Universidade Corporativa;">Criação da Universidade Corporativa;</span>
            </li>
            <li>
              <span rel="tooltip" title="Integração com a intranet;">Integração com a intranet;</span>
            </li>
            <li>
              <span rel="tooltip" title="Integração com o site da empresa">Integração com o site da empresa</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
