<span class="landing-navigation-title">Segmentos</span>
<div class="landing-segment-wrapper">
  <span class="landing-segment-botton"></span>
  <ul class="landing-segments">
    <li class="landing-segment">
      <div class="landing-segment-type">
        <h2>Ensino Médio e Fundamental</h2>
      </div>
      <ul class="landing-segment-benefits">
        <li rel="tooltip" title="Formação dos professores">Formação dos professores;</li>
        <li rel="tooltip" title="Aulas Multimídia">
          <em>Aulas Multimídia;</em>
        </li>
        <li rel="tooltip" title="Exercícios Múltipla Escolha">
          <em>Exercícios Múltipla Escolha;</em>
        </li>
        <li rel="tooltip" title="Relatório Básico">
          <em>Relatório Básico;</em>
        </li>
      </ul>
    </li>
    <li class="landing-segment">
      <div class="landing-segment-type">
        <h2>Ensino Superior</h2>
      </div>
      <ul class="landing-segment-benefits">
        <li rel="tooltip" title="Suporte online prioritário">Suporte online prioritário;</li>
        <li rel="tooltip" title="Integração com sistema de gestão acadêmico">Integração com sistema de gestão acadêmico;</li>
        <li rel="tooltip" title="Integração com o portal da faculdade">Integração com o portal da faculdade;</li>
        <li rel="tooltip" title="Importação / exportação de cursos do Moodle">Importação / exportação de cursos do Moodle.</li>
      </ul>
    </li>
  </ul>
</div>
