<%#
  Mais Serviços.
%>

<div class="landing-services landing-navigation-message-hover">
  <div class="content-section">
    <h2 class="landing-navigation-title">Mais Serviços</h2>
  </div>
  <div class="content-section">
    <ul class="landing-services-list">
      <%# Customização. %>
      <li class="landing-service">
        <div class="landing-service-header">
          <span class="landing-service-icon sprite-icon-customization-blue3_48_50 text-replacement">Customização</span>
          <h3 class="landing-navigation-legend landing-navigation-legend-centralize">Customização</h3>
        </div>
        <div class="landing-service-body">
          <p class="landing-navigation-message">Contrate a Plataforma de Educação a Distância com a sua marca, identidade visual e endereço eletrônico dentro do portal de sua instituição. <%= link_to "Fale conosco.", contact_path, class: "show" %></p>
        </div>
      </li>
      <%# Relatórios Sob Demanda. %>
      <li class="landing-service">
        <div class="landing-service-header">
          <span class="landing-service-icon sprite-icon-report-blue3_48_50 text-replacement">Relatórios Sob Demanda</span>
          <h3 class="landing-navigation-legend">Relatórios Sob Demanda</h3>
        </div>
        <div class="landing-service-body">
          <p class="landing-navigation-message">Gráficos e dados gerados especialmente para as suas necessidades. <%= link_to "Fale conosco.", contact_path, class: "show" %></p>
        </div>
      </li>
      <%# Portal de Cursos. %>
      <li class="landing-service">
        <div class="landing-service-header">
          <span class="landing-service-icon sprite-icon-course-blue3_48_50 text-replacement">Portal de Cursos</span>
          <h3 class="landing-navigation-legend landing-navigation-legend-centralize">Portal de Cursos</h3>
        </div>
        <div class="landing-service-body">
          <p class="landing-navigation-message">Divulgue seus Cursos através de um portal personalizado com sistema de comércio eletrônico incluso. <%= link_to "Fale conosco.", contact_path, class: "show" %></p>
        </div>
      </li>
      <%# Consultoria e Treinamento de R.H. %>
      <li class="landing-service">
        <div class="landing-service-header">
          <span class="landing-service-icon sprite-icon-consultancy-blue3_48_50 text-replacement">Consultoria e Treinamento de R.H.</span>
          <h3 class="landing-navigation-legend">Consultoria e Treinamento de R.H.</h3>
        </div>
        <div class="landing-service-body">
          <p class="landing-navigation-message">Aumente a eficácia de seus gestores e professores através de qualificação profissional para empresas e consultoria técnica com os melhores especialistas em Educação a Distância. <%= link_to "Fale conosco.", contact_path, class: "show" %></p>
        </div>
      </li>
    </ul>
  </div>
</div>