<div class="landing-functionality">
  <div class="landing-social-network-n-chat">
    <div class="row">
      <div class="span6 offset3">
        <div class="landing-social-network-wrapper">
          <span class="landing-social-network-sprite sprite-icon-chat text-replacement" title="Rede Social">Rede social</span>
          <h2>Rede Social</h2>
          <h4>Conecte-se e colabore com seus amigos, alunos e professores onde você estiver.</h4>
          <p>No Redu, a comunicação está em todo o lugar. Existem variadas possibilidades de iniciar uma conversa com amigos, alunos, professores e quem mais estiver em sua rede.</p>
        </div>
      </div>
      <div class="span6">
        <div class="landing-chat-wrapper">
          <span class="landing-chat-sprite sprite-background-chat text-replacement" title="Chat">Chat</span>
          <h2>& Chat</h2>
          <h4>Envie mensagens instantâneas para discutir os assuntos da aula.</h4>
          <p>Troque informações e notícias em tempo real sobre suas aulas com seus colegas de curso e amigos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
