<%#
  Rede Social & Chat.
%>

<div class="landing-social-network-n-chat landing-navigation-message-hover">
  <div class="row">
    <div class="span6 offset3">
      <div class="landing-social-network-wrapper">
        <span class="landing-social-network-sprite sprite-icon-chat text-replacement" title="Rede Social">Rede social</span>
        <h3 class="landing-navigation-subtitle">Rede Social</h3>
        <h4 class="landing-navigation-legend">Conecte-se e colabore com seus amigos, alunos e professores onde você estiver.</h4>
        <p class="landing-navigation-message">No Openredu, a comunicação está em todo o lugar. Existem variadas possibilidades de iniciar uma conversa com amigos, alunos, professores e quem mais estiver em sua rede.</p>
      </div>
    </div>
    <div class="span6">
      <div class="landing-chat-wrapper">
        <span class="landing-chat-sprite sprite-background-chat text-replacement" title="Chat">Chat</span>
        <h3 class="landing-navigation-subtitle">& Chat</h3>
        <h4 class="landing-navigation-legend">Envie mensagens instantâneas para discutir os assuntos da aula.</h4>
        <p class="landing-navigation-message">Troque informações e notícias em tempo real sobre suas aulas com seus colegas de curso e amigos.</p>
      </div>
    </div>
  </div>
</div>