<div class="landing-visual-outer-wrapper">
  <div class="row">
    <div class="offset1 span4">
      <div class="landing-visual-title">
        <h3 class="landing-navigation-subtitle"><%= link_to 'Visual Class', page_path('autoria') %></h3>
        <h4>Software de autoria para projetos multimídia</h4>
      </div>
    </div>
    <div class="span10">
      <div class="landing-visual-description">
        <p>O Visual Class é um aplicativo que permite ao professor criar aulas interativas, e ao aluno desenvolver projetos interdisciplinares, com recursos multimídia como textos, imagens, sons, músicas, animações, vídeos e jogos educacionais.</p>
        <p>É fácil de utilizar, não exige conhecimento especializado em informática e é indicado para professores e alunos. Além disso, é o único software de autoria que é compatível com Windows, Linux e Android.</p>
      </div>
    </div>
  </div>
</div>