<div class="landing-welcome">
  <div class="container">
    <div class="row">
      <div class="span6">
        <span class="landing-welcome-title">Bem vindo(a)</span>
        <p class="landing-welcome-message">O Redu é uma plataforma para ensino com tecnologia, que permite criar, compartilhar e discutir conteúdos das mais diversas formas, estimulando a aprendizagem, colaboração e diversão.</p>
      </div>
    </div>
  </div>
</div>
