<%#
  Mensagem de bem-vindo.
%>

<%# Imagem de fundo. %>
<div class="landing-welcome">
  <div class="container">
    <div class="row">
      <div class="offset3 span10">
        <%# Luz de fundo. %>
        <div class="landing-welcome-light sprite-light-welcome">
          <div class="row">
            <div class="offset2 span6">
              <h2 class="landing-welcome-title">Bem vindo(a)</h2>
              <h3 class="landing-welcome-message">O Redu é um serviço para aprendizagem online, que tem nas interações sociais o estímulo à colaboração e diversão. Aqui, você pode criar, oferecer ou apenas participar de Cursos gratuitamente.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>