<div class="landing-welcome">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2 class="landing-welcome-title">Bem vindo(a)</h2>
        <h3 class="landing-welcome-message">O Openredu é uma plataforma para ensino com tecnologia, que permite criar, compartilhar e discutir conteúdos das mais diversas formas, estimulando a aprendizagem, colaboração e diversão.</h3>
      </div>
    </div>
  </div>
</div>
