@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
/* line 3, ../../app/assets/stylesheets/landing.scss */
html {
  height: 100%;
}

/* line 7, ../../app/assets/stylesheets/landing.scss */
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #6d6e6f;
  height: 100%;
}

/* line 16, ../../app/assets/stylesheets/landing.scss */
input:not([type='checkbox']) {
  font-size: 0.9em;
  padding: 10px 0;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
  width: 90%;
  margin: 5px 0;
  border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  moz-border-radius: 2px;
}

/* line 31, ../../app/assets/stylesheets/landing.scss */
button {
  font-size: 0.9em;
  padding: 15px 0;
  width: 95%;
  color: #fff;
  border: 0;
  outline: 0;
  text-align: center;
  display: block;
  margin: 5px auto;
  background-color: #4cadd7;
  border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  moz-border-radius: 2px;
}

/* line 48, ../../app/assets/stylesheets/landing.scss */
.button-success-modal {
  font-size: 0.9em;
  padding: 15px 0;
  width: 40%;
  color: #fff;
  border: 0;
  outline: 0;
  text-align: center;
  display: block;
  margin: 5px auto;
  background-color: #4cadd7;
  border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  moz-border-radius: 2px;
}

/* line 65, ../../app/assets/stylesheets/landing.scss */
figure {
  padding: 0;
  margin: 0;
}

/* line 70, ../../app/assets/stylesheets/landing.scss */
a.bt, label.bt {
  display: block;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 0.8em;
  text-decoration: none;
}

/* line 80, ../../app/assets/stylesheets/landing.scss */
a.bt.in {
  color: #6d6e6f;
}
/* line 83, ../../app/assets/stylesheets/landing.scss */
a.bt.out {
  color: #4cadd7;
  cursor: pointer;
}

/* line 89, ../../app/assets/stylesheets/landing.scss */
label.bt.out {
  color: #4cadd7;
  cursor: pointer;
}

/* Modal */
/* line 98, ../../app/assets/stylesheets/landing.scss */
div.bg-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}
/* line 107, ../../app/assets/stylesheets/landing.scss */
div.bg-modal label.label-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 101;
  background: none;
}
/* line 115, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro {
  max-width: 650px;
  background-color: #fff;
  position: relative;
  top: 2%;
  margin: 0 auto;
  box-shadow: 0 0 30px #000;
  z-index: 150;
}
/* line 123, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro h4.title-modal {
  display: block;
  padding: 20px 40px;
  margin: 0;
  font-size: 1.8em;
  color: #fff;
  position: relative;
  background-color: #aed686;
}
/* line 131, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro h4.title-modal label {
  display: block;
  font-size: 0.9em;
  color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 20px;
  font-weight: 300;
  cursor: pointer;
  transform: rotateZ(45deg);
}
/* line 143, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro h4.title-modal label span {
  display: block;
  padding: 1px;
  background-color: #fff;
  width: 90%;
}
/* line 148, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro h4.title-modal label span.icv {
  transform: rotateZ(90deg);
}
/* line 155, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro p.info-face {
  padding: 5px 40px;
  font-size: 0.7em;
  color: #ccc;
  font-weight: 300;
}
/* line 161, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro div.cad-facebook {
  max-width: 360px;
  min-width: 250px;
  margin: 0 auto;
  background-color: #0076a3;
  text-align: center;
}
/* line 167, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro div.cad-facebook figure {
  display: block;
}
/* line 169, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro div.cad-facebook figure a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
/* line 173, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro div.cad-facebook figure a img {
  width: 16px;
  height: auto;
  display: inline-block;
  margin-right: 15px;
  color: #fff;
}
/* line 180, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro div.cad-facebook figure a p {
  padding: 5px;
  color: #fff;
  display: inline-block;
  margin: 0;
}
/* line 189, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra {
  padding: 20px 40px 0;
}
/* line 191, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra .field-group {
  width: 100%;
}
/* line 194, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra .field-group input:focus {
  border-bottom-color: #4cadd7;
}
/* line 197, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra .field-group input:not([type="checkbox"]) {
  display: inline-block;
  width: 45%;
}
/* line 201, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra .field-group input:nth-child(even) {
  margin-left: 5%;
}
/* line 205, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra .field-group label.info {
  color: #ccc;
  font-size: 0.7em;
  margin-bottom: 20px;
  display: block;
  font-weight: 300;
}
/* line 212, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra .field-group div.mail {
  margin: 20px 0;
}
/* line 214, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra .field-group div.mail input {
  width: 47%;
  margin: 0 1%;
}
/* line 220, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra label.captcha {
  clear: both;
  display: block;
}
/* line 224, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra input.captcha {
  clear: both;
  display: block;
  margin-bottom: 20px;
}
/* line 230, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra label.captcha span.tooltip {
  position: absolute;
  padding: 5px;
  color: #fff;
  font-size: 0.7em;
  background-color: #fba93a;
  margin-left: 10px;
  display: none;
}
/* line 238, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra label.captcha span.tooltip:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fba93a;
  position: absolute;
  left: -3px;
  top: 5px;
  transform: rotateZ(45deg);
}
/* line 249, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra label.captcha em {
  display: inline-block;
  padding: 5px;
  color: #4cadd7;
  font-weight: 700;
  background-color: #ddd;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  line-height: 0.7em;
  margin-left: 20px;
}
/* line 260, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra label.captcha em:hover + span.tooltip {
  display: inline;
}
/* line 266, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra div.confirm-terms {
  padding: 20px 0;
  font-size: 0.8em;
}
/* line 269, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra div.confirm-terms label {
  display: inline-block;
}
/* line 272, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra div.confirm-terms a {
  display: inline-block;
  color: #0076a3;
  font-weight: 700;
  padding: 0 5px;
}
/* line 279, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra div.bt-groups {
  margin: 10px 0;
  float: right;
  width: 250px;
}
/* line 283, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra div.bt-groups button {
  display: inline-block;
  width: 40%;
  margin: 5%;
}
/* line 287, ../../app/assets/stylesheets/landing.scss */
div.bg-modal section#painel-cadastro form.form-cadastra div.bt-groups button.inativo {
  color: #4cadd7;
  background-color: #f9f9f9;
}

/* line 298, ../../app/assets/stylesheets/landing.scss */
input#ck-modal {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
/* line 301, ../../app/assets/stylesheets/landing.scss */
input#ck-modal:checked + div.bg-modal {
  display: block;
}

/* Content */
/* line 308, ../../app/assets/stylesheets/landing.scss */
section#content:after, footer#foot-page:after, form.form-cadastra:after, div.loginface:after {
  display: block;
  clear: both;
  content: "";
}

/* line 314, ../../app/assets/stylesheets/landing.scss */
section#content {
  height: 100%;
  background-color: #eee;
  background-image: url(nuvens.svg);
  background-repeat: no-repeat;
  background-position: 50% 140%;
}
/* line 320, ../../app/assets/stylesheets/landing.scss */
section#content .left, section#content .right {
  width: 50%;
  padding: 5% 0;
}
/* line 324, ../../app/assets/stylesheets/landing.scss */
section#content .left {
  float: left;
}
/* line 327, ../../app/assets/stylesheets/landing.scss */
section#content .right {
  float: right;
}
/* line 331, ../../app/assets/stylesheets/landing.scss */
section#content .left figure.logo {
  display: block;
  width: 225px;
  margin-left: 40px;
  padding: 0 20px;
}
/* line 336, ../../app/assets/stylesheets/landing.scss */
section#content .left figure.logo img {
  width: 100%;
  height: auto;
}
/* line 341, ../../app/assets/stylesheets/landing.scss */
section#content .left h1.title {
  padding: 20px;
  color: #63bf82;
  margin-left: 40px;
}
/* line 346, ../../app/assets/stylesheets/landing.scss */
section#content .left p.intro {
  padding: 20px;
  line-height: 1.5em;
  margin-left: 40px;
  font-weight: 100;
}
/* line 353, ../../app/assets/stylesheets/landing.scss */
section#content .right section.form-container {
  max-width: 60%;
  margin: 15px auto;
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 0 10px -1px #6e6d6f;
  -webkit-box-shadow: 0 0 10px -1px #6e6d6f;
  -o-box-shadow: 0 0 10px -1px #6e6d6f;
  -moz-box-shadow: 0 0 10px -1px #6e6d6f;
  border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  moz-border-radius: 2px;
}
/* line 366, ../../app/assets/stylesheets/landing.scss */
section#content .right section.form-container form {
  padding: 0 40px;
}
/* line 369, ../../app/assets/stylesheets/landing.scss */
section#content .right section.form-container h2.sub-title {
  padding: 5px 10px;
  text-align: center;
  font-size: 1.3em;
}

/* line 378, ../../app/assets/stylesheets/landing.scss */
.error-message {
  font-size: 0.9em;
  color: #e83b3b;
  text-align: center;
}

/* line 384, ../../app/assets/stylesheets/landing.scss */
.messages-errors li {
  display: block;
  font-size: 0.9em;
  color: #e83b3b;
  text-align: center;
}

/* line 392, ../../app/assets/stylesheets/landing.scss */
ul.messages-errors {
  display: block;
  padding: 10px 5px;
  border-top: 2px solid #e83b3b;
  margin-top: 0px;
}

/* line 399, ../../app/assets/stylesheets/landing.scss */
section#content .right section.form-container div.loginface {
  max-width: 50%;
  min-width: 200px;
  margin: 0 auto;
  background-color: #158ac4;
  color: #fff;
}
/* line 405, ../../app/assets/stylesheets/landing.scss */
section#content .right section.form-container div.loginface a {
  display: block;
  padding: 10px;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
}
/* line 411, ../../app/assets/stylesheets/landing.scss */
section#content .right section.form-container div.loginface a img, section#content .right section.form-container div.loginface a p {
  display: inline-block;
  margin: 0 5px;
}

/* line 418, ../../app/assets/stylesheets/landing.scss */
footer#foot-page {
  color: #fff;
  background-color: #158ac4;
}
/* line 421, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .about, footer#foot-page .area-menu, footer#foot-page .more-contact {
  float: left;
  width: 33.3%;
  padding: 20px 0;
}
/* line 427, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .about figure {
  padding: 0 20px 0;
  max-width: 150px;
}
/* line 431, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .about p {
  padding: 0 20px;
  font-size: 0.8em;
  max-width: 80%;
}
/* line 437, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .label-release {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 11px;
  padding: 3px 5px 2px 5px;
  background: #ffa935;
  color: white;
  margin-left: 20px;
}
/* line 448, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .area-menu nav ul {
  padding: 0 20px;
}
/* line 450, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .area-menu nav ul li {
  display: block;
}
/* line 452, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .area-menu nav ul li a {
  display: block;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
/* line 461, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .more-contact p {
  padding: 10px 20px;
  font-size: 0.9em;
}
/* line 465, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .more-contact figure {
  max-width: 120px;
  padding: 0 20px;
}
/* line 468, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .more-contact figure img {
  width: 100%;
  height: auto;
}
/* line 473, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .more-contact .icones-social {
  padding: 10px 20px;
}
/* line 475, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .more-contact .icones-social ul {
  padding: 0;
  margin: 5px 0;
}
/* line 478, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .more-contact .icones-social ul li {
  display: inline-block;
}
/* line 480, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .more-contact .icones-social ul li a {
  display: block;
  padding: 5px;
  color: #fff;
}
/* line 484, ../../app/assets/stylesheets/landing.scss */
footer#foot-page .more-contact .icones-social ul li a figure.icon-social {
  width: auto;
  display: block;
  padding: 0;
}
