/* line 6, ../../app/assets/stylesheets/mobile/_layout.scss */
body {
  background-image: url(/assets/landing/background.png);
}
/* line 9, ../../app/assets/stylesheets/mobile/_layout.scss */
.multiplebgs body {
  background-image: url(/assets/mobile/background-light-2x.png), url(/assets/landing/background.png);
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-position: center top, 0 0;
}

/* line 17, ../../app/assets/stylesheets/mobile/_layout.scss */
.mobile-flash-message .message-block {
  margin: 20px;
}

/* line 19, ../../app/assets/stylesheets/mobile/_layout.scss */
.mobile-content {
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #b3b3b3;
}
/* line 24, ../../app/assets/stylesheets/mobile/_layout.scss */
.mobile-content .content-section {
  padding: 20px;
}

/* line 6, ../../app/assets/stylesheets/mobile/_header.scss */
.mobile-header {
  padding: 24px 0;
  text-align: center;
}

/* line 11, ../../app/assets/stylesheets/mobile/_header.scss */
.mobile-header-logo {
  width: 225px;
  height: 200px;
  background-image: url(/assets/mobile/logo-redu-vertical-1x.png);
  display: inline-block;
}

/* line 6, ../../app/assets/stylesheets/mobile/_sign-in.scss */
.mobile-login-password-recovery {
  overflow: hidden;
  margin-top: 20px;
}
/* line 11, ../../app/assets/stylesheets/mobile/_sign-in.scss */
.mobile-login-password-recovery +
.facebook-sign-in {
  margin-top: 20px;
}

/* line 14, ../../app/assets/stylesheets/mobile/_sign-in.scss */
.mobile-login-buttons {
  -webkit-box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);
}

/* line 16, ../../app/assets/stylesheets/mobile/_sign-in.scss */
.mobile-login-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 50%;
}

/* line 6, ../../app/assets/stylesheets/mobile/_password-recovery.scss */
.mobile-password-recovery-call {
  color: #b3b3b3;
}

/* line 11, ../../app/assets/stylesheets/mobile/_password-recovery.scss */
.mobile-password-recovery-call +
.mobile-form-password-recovery,
.mobile-form-password-recovery-return,
.mobile-form-password-recovery-successfully-sent {
  margin-top: 20px;
}
