/* line 5, ../../app/assets/stylesheets/new_wall/_bootstrap_scaffolding.scss */
.status-list {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: black;
  background-color: white;
}
/* line 235, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.textshadow .status-list {
  text-shadow: 0 1px 0 white;
}

/* line 16, ../../app/assets/stylesheets/new_wall/_bootstrap_scaffolding.scss */
.content-section {
  padding: 10px 20px;
}

/* line 234, new-wall/icon/*.png */
.icon-sprite, .icon-arrow-down-pagination-blue_16_18, .icon-arrow-down-pagination-gray_16_18, .icon-arrow-down-pagination-gray_16_18-before:before, .icon-arrow-left-blue_8_10, .icon-arrow-left-gray_8_10, .icon-arrow-left-lightblue_8_10, .icon-arrow-right-blue_8_10, .icon-arrow-right-gray_8_10, .icon-arrow-right-lightblue_8_10, .icon-close-gray_16_18, .icon-close-lightblue_8_10, .icon-close-red_16_18, .icon-close-red_8_10, .icon-comment-white_blue_32_34, .icon-comment-white_blue_32_34-before:before, .icon-course-blue_32_34, .icon-course-gray_32_34, .status-list .icon-course-gray_32_34-before:before, .icon-environment-blue_32_34, .icon-environment-gray_32_34, .status-list .icon-environment-gray_32_34-before:before, .icon-reply-blue_8_10, .icon-reply-gray_8_10, .status-list .icon-reply-gray_8_10-before:before, .icon-request-help-lightorange_16_18, .status-list .icon-request-help-lightorange_16_18-before:before, .icon-request-help-white_blue_32_34, .icon-request-help-white_blue_32_34-before:before, .icon-space-blue_32_34, .icon-space-gray_32_34, .status-list .icon-space-gray_32_34-before:before, .icon-subject-blue_32_34, .icon-subject-gray_32_34, .status-list .icon-subject-gray_32_34-before:before {
  background: url(/assets/new-wall/icon-s66e6fa0528.png) no-repeat;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-down-pagination-blue_16_18, .icon-arrow-down-pagination-gray_16_18-before:hover:before {
  background-position: -16px -56px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-down-pagination-gray_16_18, .icon-arrow-down-pagination-gray_16_18-before:before {
  background-position: 0 -56px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-left-blue_8_10 {
  background-position: -16px 0;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-left-gray_8_10 {
  background-position: -24px 0;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-left-lightblue_8_10 {
  background-position: 0 -10px;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-blue_8_10 {
  background-position: -8px -10px;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-gray_8_10 {
  background-position: -16px -10px;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-lightblue_8_10 {
  background-position: -8px -20px;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-close-gray_16_18 {
  background-position: 0 -38px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-close-lightblue_8_10 {
  background-position: -24px -10px;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-close-red_16_18, .icon-close-gray_16_18:hover {
  background-position: -16px -20px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-close-red_8_10, .icon-close-lightblue_8_10:hover {
  background-position: 0 -20px;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-comment-white_blue_32_34, .icon-comment-white_blue_32_34-before:before {
  background-position: 0 -74px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-blue_32_34, .status-list .icon-course-gray_32_34-before:hover:before {
  background-position: 0 -176px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-gray_32_34, .status-list .icon-course-gray_32_34-before:before {
  background-position: 0 -142px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-blue_32_34, .status-list .icon-environment-gray_32_34-before:hover:before {
  background-position: 0 -210px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-gray_32_34, .status-list .icon-environment-gray_32_34-before:before {
  background-position: 0 -108px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-reply-blue_8_10, .status-list .icon-reply-gray_8_10-before:hover:before {
  background-position: 0 0;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-reply-gray_8_10, .status-list .icon-reply-gray_8_10-before:before {
  background-position: -8px 0;
  height: 10px;
  width: 8px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-request-help-lightorange_16_18, .status-list .icon-request-help-lightorange_16_18-before:before {
  background-position: -16px -38px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-request-help-white_blue_32_34, .icon-request-help-white_blue_32_34-before:before {
  background-position: 0 -244px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-space-blue_32_34, .status-list .icon-space-gray_32_34-before:hover:before {
  background-position: 0 -278px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-space-gray_32_34, .status-list .icon-space-gray_32_34-before:before {
  background-position: 0 -312px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-blue_32_34, .status-list .icon-subject-gray_32_34-before:hover:before {
  background-position: 0 -346px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../usr/local/bundle/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-gray_32_34, .status-list .icon-subject-gray_32_34-before:before {
  background-position: 0 -380px;
  height: 34px;
  width: 32px;
}

/* line 44, ../../app/assets/stylesheets/new_wall/_bootstrap_icons.scss */
[class*="icon-"][class*="-before"]:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

/* line 6, ../../app/assets/stylesheets/new_wall/_bootstrap_typography.scss */
.status-list .link-secondary {
  font-size: 11px;
  line-height: 11px;
}
/* line 12, ../../app/assets/stylesheets/new_wall/_bootstrap_typography.scss */
.status-list .link-name {
  font-weight: bold;
}
/* line 15, ../../app/assets/stylesheets/new_wall/_bootstrap_typography.scss */
.status-list .link-fake {
  display: inline-block;
  color: #4dadd6;
  text-decoration: none;
}
/* line 20, ../../app/assets/stylesheets/new_wall/_bootstrap_typography.scss */
.status-list .link-fake:visited {
  color: #73c3e6;
}
/* line 22, ../../app/assets/stylesheets/new_wall/_bootstrap_typography.scss */
.status-list .link-fake:hover {
  color: #158ac4;
  text-decoration: underline;
}
/* line 28, ../../app/assets/stylesheets/new_wall/_bootstrap_typography.scss */
.status-list .link-fake {
  cursor: pointer;
}

/* line 4, ../../app/assets/stylesheets/new_wall/_bootstrap_utilities.scss */
.hide {
  display: none;
}

/* line 6, ../../app/assets/stylesheets/new_wall/_bootstrap_utilities.scss */
.show {
  display: block;
}

/* line 4, ../../app/assets/stylesheets/new_wall/_bootstrap_pagination.scss */
.pagination {
  text-align: center;
}

/* line 4, ../../app/assets/stylesheets/new_wall/_bootstrap_lists.scss */
.status-tab hr {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  clear: both;
  margin: 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white;
}

/* line 5, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.button-default, .button-primary {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  padding: 7px 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  line-height: 16px;
  font-weight: 300;
}
/* line 17, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.button-default:hover, .button-primary:hover {
  text-decoration: none;
}
/* line 21, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.open > .button-default, .open > .button-primary, .open > .button-default:hover, .open > .button-primary:hover, .button-default:active, .button-primary:active {
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5) inset;
  background-image: none;
}
/* line 25, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.cssgradients .open > .button-default, .cssgradients .open > .button-primary, .cssgradients .open > .button-default:hover, .cssgradients .open > .button-primary:hover, .cssgradients .button-default:active, .cssgradients .button-primary:active {
  background-image: none;
}

/* line 30, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.button-big {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 12px;
}

/* line 37, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.button-default {
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  color: #4dadd6;
  border-color: #cccccc;
  background-color: #f7f7f7;
}
/* line 40, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.cssgradients .button-default {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e6e6e6), color-stop(40%, #f7f7f7));
  background-image: -webkit-linear-gradient(bottom, #e6e6e6, #f7f7f7 40%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6, #f7f7f7 40%);
  background-image: -o-linear-gradient(bottom, #e6e6e6, #f7f7f7 40%);
  background-image: linear-gradient(bottom, #e6e6e6, #f7f7f7 40%);
}
/* line 43, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.cssgradients .button-default:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #dbeff7), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(bottom, #dbeff7, #f7f7f7);
  background-image: -moz-linear-gradient(bottom, #dbeff7, #f7f7f7);
  background-image: -o-linear-gradient(bottom, #dbeff7, #f7f7f7);
  background-image: linear-gradient(bottom, #dbeff7, #f7f7f7);
}
/* line 46, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.no-cssgradients.gt-ie8 .button-default {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTZlNmU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
}
/* line 50, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.no-cssgradients.gt-ie8 .button-default:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmVmZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
/* line 450, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.button-default:visited {
  color: #4dadd6;
}
/* line 452, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.button-default:hover {
  color: #158ac4;
  border-color: #73c3e6;
  background-color: #dbeff7;
}
/* line 460, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.open > .button-default, .no-cssgradients.gt-ie8 .open > .button-default, .button-default:active {
  border-color: #4dadd6;
  background-color: #dbeff7;
  background-image: none;
}
/* line 467, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.open > .button-default:hover, .button-default:hover:active {
  color: #158ac4;
  border-color: #158ac4;
  background-color: #dbeff7;
}
/* line 478, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.button-default.button-disabled, .button-default.button-disabled:hover, .button-default[disabled], .button-default[disabled]:hover, .no-cssgradients.gt-ie8 .button-default.button-disabled, .no-cssgradients.gt-ie8 .button-default[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #b3b3b3;
  border-color: #e6e6e6;
  background-color: #f0f0f0;
  background-image: none;
  cursor: not-allowed;
}

/* line 74, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.button-primary {
  -webkit-box-shadow: inset 0 1px 0 #dbeff7;
  -moz-box-shadow: inset 0 1px 0 #dbeff7;
  box-shadow: inset 0 1px 0 #dbeff7;
  color: white;
  border-color: #73c3e6;
  background-color: #73c3e6;
}
/* line 235, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.textshadow .button-primary {
  text-shadow: 0 -1px 0 #158ac4;
}
/* line 78, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.cssgradients .button-primary {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #158ac4), color-stop(60%, #73c3e6));
  background-image: -webkit-linear-gradient(bottom, #158ac4, #73c3e6 60%);
  background-image: -moz-linear-gradient(bottom, #158ac4, #73c3e6 60%);
  background-image: -o-linear-gradient(bottom, #158ac4, #73c3e6 60%);
  background-image: linear-gradient(bottom, #158ac4, #73c3e6 60%);
}
/* line 81, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.cssgradients .button-primary:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #158ac4), color-stop(100%, #73c3e6));
  background-image: -webkit-linear-gradient(bottom, #158ac4, #73c3e6);
  background-image: -moz-linear-gradient(bottom, #158ac4, #73c3e6);
  background-image: -o-linear-gradient(bottom, #158ac4, #73c3e6);
  background-image: linear-gradient(bottom, #158ac4, #73c3e6);
}
/* line 84, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.no-cssgradients.gt-ie8 .button-primary {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzczYzNlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzE1OGFjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}
/* line 88, ../../app/assets/stylesheets/new_wall/_bootstrap_buttons.scss */
.no-cssgradients.gt-ie8 .button-primary:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczYzNlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE1OGFjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE1OGFjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}
/* line 450, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.button-primary:visited {
  color: white;
}
/* line 452, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.button-primary:hover {
  color: white;
  border-color: #158ac4;
  background-color: #158ac4;
}
/* line 460, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.open > .button-primary, .no-cssgradients.gt-ie8 .open > .button-primary, .button-primary:active {
  border-color: #158ac4;
  background-color: #158ac4;
  background-image: none;
}
/* line 467, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.open > .button-primary:hover, .button-primary:hover:active {
  color: #dbeff7;
  border-color: #158ac4;
  background-color: #158ac4;
}
/* line 478, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.button-primary.button-disabled, .button-primary.button-disabled:hover, .button-primary[disabled], .button-primary[disabled]:hover, .no-cssgradients.gt-ie8 .button-primary.button-disabled, .no-cssgradients.gt-ie8 .button-primary[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #e6e6e6;
  border-color: #73c3e6;
  background-color: #73c3e6;
  background-image: none;
  cursor: not-allowed;
}

/* line 4, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.status-tab input[type="submit"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.control-errors {
  margin: 5px 0 0;
  list-style: none;
  color: #ff6d6d;
  font-size: 11px;
}
/* line 16, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.control-errors li +
li {
  margin-top: 5px;
}

/* line 23, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.status-tab input,
.status-tab button,
.status-tab textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

/* line 31, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

/* line 38, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 6px 10px;
  width: 100%;
  color: #6d6e6f;
  font-size: 13px;
  line-height: 18px;
  height: 32px;
}
/* line 55, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.csstransitions textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
/* line 62, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.cssgradients textarea {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(60.0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(bottom, #ffffff 60.0%, #e6e6e6);
  background-image: -moz-linear-gradient(bottom, #ffffff 60.0%, #e6e6e6);
  background-image: -o-linear-gradient(bottom, #ffffff 60.0%, #e6e6e6);
  background-image: linear-gradient(bottom, #ffffff 60.0%, #e6e6e6);
}
/* line 64, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.no-cssgradients.gt-ie8 textarea {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}
/* line 69, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.control-success textarea {
  border-color: #abe385;
}
/* line 71, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.control-error textarea {
  border-color: #ff6d6d;
}
/* line 73, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
textarea:hover {
  border-color: #73c3e6;
}
/* line 76, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.control-success textarea:hover {
  border-color: #5fc080;
}
/* line 78, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.control-error textarea:hover {
  border-color: #e1272d;
}
/* line 81, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
textarea:focus {
  color: black;
  background-color: white !important;
  background-image: none !important;
  border-color: #73c3e6;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #73c3e6;
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #73c3e6;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #73c3e6;
}
/* line 94, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.control-success textarea:focus {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #abe385;
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #abe385;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #abe385;
  border-color: #abe385;
}
/* line 102, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
.control-error textarea:focus {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #ff6d6d;
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #ff6d6d;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 6px 1px #ff6d6d;
  border-color: #ff6d6d;
}

/* line 113, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
textarea {
  height: auto;
  resize: vertical;
}

/* line 118, ../../app/assets/stylesheets/new_wall/_bootstrap_forms.scss */
textarea::-webkit-input-placeholder {
  color: #cccccc;
}

/* line 5, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status {
  overflow: hidden;
  margin: 10px 20px;
}

/* line 10, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .subject a .author-thumbnail {
  float: left;
}

/* line 12, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.subject-info {
  margin-top: 10px;
  overflow: hidden;
}

/* line 18, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-tab {
  position: relative;
}
/* line 21, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-tab:before {
  border-color: #f0f0f0 white;
  border-style: solid;
  border-width: 0 10px 10px;
  content: " ";
  position: absolute;
  top: -10px;
  width: 0;
}
/* line 31, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-tab.tab-right:before {
  right: 39px;
}
/* line 34, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-tab.tab-left:before {
  left: 20px;
}

/* line 39, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.create-response,
.create-status {
  padding: 10px;
  background-color: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 25, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.create-response:before, .create-response:after,
.create-status:before,
.create-status:after {
  display: table;
  content: "";
}
/* line 29, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.create-response:after,
.create-status:after {
  clear: both;
}
/* line 45, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.create-response .status-buttons,
.create-status .status-buttons {
  float: right;
  margin: 5px 0 0;
}
/* line 49, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.create-response .status-buttons li,
.create-status .status-buttons li {
  display: inline;
}

/* line 55, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.subject,
.subject-content {
  margin-left: 42px;
}
/* line 58, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.subject .see-all,
.subject-content .see-all {
  float: right;
}

/* line 63, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status.without-context .subject {
  margin-left: 0;
  overflow: hidden;
}
/* line 68, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status.without-context .subject-content {
  margin: 5px 0 0 42px;
}
/* line 72, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status.without-context .subject-info {
  margin-top: 0;
}
/* line 76, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status.without-context .status-content,
.status.without-context .responses,
.status.without-context .create-response {
  margin-left: 0;
}

/* line 80, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list {
  margin: 0;
}
/* line 83, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list li {
  list-style: none;
}
/* line 85, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .author-thumbnail {
  width: 32px;
  height: 34px;
  float: left;
  margin-right: 10px;
}
/* line 92, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .grouping-elements .author-thumbnail {
  width: auto;
  height: auto;
  float: none;
  margin-right: 0;
}
/* line 98, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .date {
  display: block;
}
/* line 102, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .date:visited, .status-list .date:hover {
  color: #b3b3b3;
}
/* line 105, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .actions {
  overflow: hidden;
}
/* line 108, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .actions li {
  margin-top: 10px;
  float: right;
  margin-right: 20px;
}
/* line 113, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .actions li[class*="icon-"]:before {
  vertical-align: middle;
}
/* line 117, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .icon-close {
  float: right;
  cursor: pointer;
}
/* line 123, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status-content,
.status-list .responses {
  margin-left: 42px;
  background-color: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 128, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status-content .show-responses,
.status-list .responses .show-responses {
  display: none;
}
/* line 131, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status-content {
  margin-top: 10px;
  padding: 10px;
}
/* line 235, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.textshadow .status-list .status-content p {
  text-shadow: none;
}
/* line 138, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .action {
  color: #6d6e6f;
}
/* line 140, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .help {
  color: #ffa935;
}
/* line 142, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .responses {
  margin-top: 15px;
}
/* line 146, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .responses .last-responses,
.status-list .responses .see-more {
  display: block;
  text-align: center;
  padding: 10px;
}
/* line 152, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .responses .response {
  padding: 10px;
}
/* line 155, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .responses .response .status-content {
  margin-left: 42px;
  padding: 0;
  margin-top: 0;
}
/* line 162, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .responses hr {
  margin: 0;
}
/* line 167, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .subject-content .grouping-elements {
  margin-right: 20px;
  height: 40px;
}
/* line 171, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .subject-content .grouping-elements li {
  display: inline;
}
/* line 174, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .subject-content .grouping-elements li img {
  margin: 8px 3px 0 0;
}
/* line 180, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .subject-content .subject-info .action[class*="icon-"]:before {
  position: absolute;
  margin-left: -35px;
}
/* line 189, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .log .subject {
  margin-top: 5px;
}
/* line 192, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .log .subject-info[class*="icon-"]:before {
  position: absolute;
  margin-left: -75px;
  margin-top: 5px;
}
/* line 199, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status .context {
  margin-bottom: 17px;
}
/* line 202, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status .context .context-icon {
  float: left;
  width: 32px;
  margin-right: 10px;
}
/* line 207, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status .context .context-icon[class*="icon-"]:before {
  float: left;
}
/* line 210, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status .context a {
  line-height: 11px;
}
/* line 212, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status .context .legend {
  display: block;
}
/* line 215, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .status .context .legend a {
  color: #b3b3b3;
}
/* line 219, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-list .create-response {
  margin-top: 10px;
  margin-left: 42px;
  display: none;
}

/* line 226, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.context-link-hover {
  color: #158ac4 !important;
  text-decoration: underline;
}

/* line 231, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail-separator {
  margin: 0;
}

/* line 233, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.post-resource {
  margin-top: 20px;
}

/* line 235, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail {
  overflow: hidden;
  padding: 10px 0;
}
/* line 239, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail .preview {
  float: left;
}
/* line 241, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail .preview-link {
  max-width: 100px;
  max-height: 75px;
}
/* line 246, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail .buttons {
  margin: 10px 0 0;
}
/* line 249, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail .buttons .button-default {
  padding: 0;
}
/* line 252, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail .buttons .button-default > [class*="icon-"] {
  margin: 6px 10px;
}
/* line 256, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail .buttons .button-default.button-disabled {
  border-color: #cccccc;
}
/* line 262, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail img {
  max-width: 100px;
  width: 100%;
  min-height: 34px;
  margin-right: 10px;
}
/* line 235, ../../lib/assets/stylesheets/bootstrap/_mixins.scss */
.textshadow .thumbnail .thumbnail-info p {
  text-shadow: 0 1px 0 white;
}
/* line 272, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail .thumbnail-info .post-description {
  color: #6d6e6f;
}
/* line 274, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.thumbnail .thumbnail-info .source-site {
  color: #cccccc;
}

/* line 279, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-tab .character-counter {
  position: static;
  margin-top: 5px;
  float: left;
}
/* line 285, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-tab .control-errors {
  position: absolute;
  bottom: 15px;
}
/* line 290, ../../app/assets/stylesheets/new_wall/_bootstrap_wall.scss */
.status-tab .status-buttons {
  display: none;
}

/* line 27, ../../app/assets/stylesheets/new_wall.scss */
#content .main {
  padding: 10px 0;
}
/* line 30, ../../app/assets/stylesheets/new_wall.scss */
#content .main.space {
  padding: 0;
}
/* line 33, ../../app/assets/stylesheets/new_wall.scss */
#content .main.space .body {
  margin: 25px 0 60px;
}
/* line 36, ../../app/assets/stylesheets/new_wall.scss */
#content .main.space .body .header {
  margin-left: 20px;
}

/* line 44, ../../app/assets/stylesheets/new_wall.scss */
#resource .status .context {
  width: 100%;
  margin-right: 0;
  float: none;
}
/* line 50, ../../app/assets/stylesheets/new_wall.scss */
#resource .create-status {
  margin-top: 10px;
}

/* line 54, ../../app/assets/stylesheets/new_wall.scss */
.lecture-wall-wrapper .create-status {
  display: none;
}
/* line 57, ../../app/assets/stylesheets/new_wall.scss */
.lecture-wall-wrapper .create-status.tab-left:before {
  left: 300px;
}
/* line 61, ../../app/assets/stylesheets/new_wall.scss */
.lecture-wall-wrapper .create-status.tab-right:before {
  right: 295px;
}

/* line 67, ../../app/assets/stylesheets/new_wall.scss */
.lecture-wall-actions {
  margin: 0;
}

/* line 69, ../../app/assets/stylesheets/new_wall.scss */
.lecture-wall-action {
  float: left;
}

/* line 71, ../../app/assets/stylesheets/new_wall.scss */
.lecture-wall-button {
  margin: 0;
}
/* line 74, ../../app/assets/stylesheets/new_wall.scss */
.lecture-wall-action:first-child .lecture-wall-button {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
/* line 79, ../../app/assets/stylesheets/new_wall.scss */
.lecture-wall-action:last-child .lecture-wall-button {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}

/* line 85, ../../app/assets/stylesheets/new_wall.scss */
.centralize {
  text-align: center;
}
/* line 88, ../../app/assets/stylesheets/new_wall.scss */
.centralize > * {
  display: inline-block;
}
