@charset "UTF-8";
/* line 8, ../../app/assets/stylesheets/preview-course-old.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 19, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar {
  width: 150px;
  padding-right: 10px;
  float: left;
  margin-top: 40px;
  margin-right: 0;
}

/* line 28, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .connections,
.container .sidebar.space .connections {
  margin-left: 4px;
}

/* line 32, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .connections {
  margin-top: 10px;
}

/* line 37, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .connections:before,
.container .sidebar.space .big-separator:after {
  content: "";
  width: 150px;
  height: 17px;
  background: url(/assets/separators.png) -160px 0 no-repeat;
  float: left;
  margin-left: -3px;
  margin-top: 2px;
  margin-bottom: 5px;
}

/* line 49, ../../app/assets/stylesheets/preview-course-old.scss */
.container .sidebar .connections li,
.container .concave-sidebar .connections li {
  float: left;
  margin: 5px 5px 0 0;
}

/* line 55, ../../app/assets/stylesheets/preview-course-old.scss */
.container .sidebar .connections .connection,
.container .concave-sidebar .connections .connection {
  width: 130px;
}

/* line 59, ../../app/assets/stylesheets/preview-course-old.scss */
.container .sidebar.space .connections li {
  margin-left: 15px;
}

/* line 63, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .connections li.last-column {
  margin-right: 0;
}

/* line 67, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar {
  margin-top: 35px;
}

/* line 71, ../../app/assets/stylesheets/preview-course-old.scss */
.borderradius .container .concave-sidebar .environment-avatar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 78, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .total-count,
.container .concave-sidebar .roles {
  display: block;
  width: 140px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  font-size: .9em;
  color: #b3b3b3;
}

/* line 89, ../../app/assets/stylesheets/preview-course-old.scss */
.container .management-sidebar .concave-sidebar .total-count,
.container .management-sidebar .concave-sidebar .roles {
  color: white;
}

/* line 93, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .total-count .count {
  display: block;
  text-align: center;
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 2.1em;
}

/* line 101, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .roles {
  margin-top: 20px;
}

/* line 106, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow .container .concave-sidebar .total-count .members,
.textshadow .container .concave-sidebar .roles .role {
  text-shadow: 0px -1px 0px white;
}

/* line 111, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow .container .management-sidebar .concave-sidebar .total-count .members,
.textshadow .container .management-sidebar .concave-sidebar .roles .role {
  text-shadow: 0px -1px 0px #b3b3b3;
}

/* line 115, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .roles li {
  display: block;
  width: 140px;
  height: 18px;
  margin-top: 5px;
  text-align: left;
}

/* line 123, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .roles li .role:before {
  margin-top: -2px;
}

/* line 129, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .course-frame,
.container .sidebar .subject-frame,
.container .sidebar .space-frame {
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 141, ../../app/assets/stylesheets/preview-course-old.scss */
.boxshadow .container .concave-sidebar .course-frame,
.boxshadow .container .sidebar .subject-frame,
.boxshadow .container .sidebar .space-frame {
  -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px 0px #ffffff;
  box-shadow: 0px 1px 0px 0px #ffffff;
}

/* line 149, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .course-frame .environment,
.container .sidebar .subject-frame .environment,
.container .sidebar .space-frame .environment {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}

/* line 158, ../../app/assets/stylesheets/preview-course-old.scss */
.boxshadow .container .concave-sidebar .course-frame .environment,
.boxshadow .container .sidebar .subject-frame .environment,
.boxshadow .container .sidebar .space-frame .environment {
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
}

/* line 166, ../../app/assets/stylesheets/preview-course-old.scss */
.borderradius .container .concave-sidebar .course-frame .environment,
.borderradius .container .sidebar .subject-frame .environment,
.borderradius .container .sidebar .space-frame .environment {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 174, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .course-frame .course,
.container .sidebar .subject-frame .subject,
.container .sidebar .space-frame .space {
  display: block;
  float: right;
  width: 64px;
  height: 65px;
  margin-top: 75px;
  margin-right: 10px;
  text-align: left;
}

/* line 184, ../../app/assets/stylesheets/preview-course-old.scss */
.container .concave-sidebar .roles li .role:before {
  float: left;
  margin-right: 5px;
}

/* line 189, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs {
  overflow: hidden;
  margin-top: 20px;
}

/* line 194, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs .course {
  float: left;
}

/* line 198, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs .moderatorship {
  float: right;
  margin: 0;
  padding: 0;
}

/* line 204, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs .moderatorship a {
  background-color: #e1f1e1;
  font-size: .87em;
  color: #61a080;
  border: 1px solid #61a080;
  display: block;
  float: left;
  padding: 2px 4px;
  margin-right: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 219, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs .moderatorship a:hover {
  text-decoration: none;
}

/* line 223, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs .moderatorship .moderated {
  display: block;
  float: left;
  width: 16px;
  height: 18px;
}

/* line 230, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs {
  background: #f0f0f0;
  padding: 10px 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px 0px #ffffff;
  box-shadow: 0px 1px 0px 0px #ffffff;
}

/* line 243, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs li {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}

/* line 249, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs li:before {
  float: left;
  margin-right: 30px;
  margin-left: -25px;
}

/* line 255, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs li.compact {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}

/* line 261, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs li.compact:before {
  margin-right: 5px;
  margin-left: -5px;
}

/* line 266, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs li a {
  float: left;
  display: block;
  margin-top: 2px;
}

/* line 272, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs li a:hover {
  text-decoration: none;
}

/* line 277, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs li a:before,
#breadcrumbs li a:before {
  /* float: left; */
  margin-left: -25px;
  margin-top: -6px;
}

/* line 283, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs li.compact a {
  display: block;
  width: 16px;
  height: 18px;
  color: #4dadd6;
  margin-top: 0;
}

/* line 291, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs .moderatorship .privacy {
  width: 16px;
  height: 18px;
  float: left;
}

/* line 297, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header {
  margin: 20px;
}

/* line 301, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .parent {
  display: block;
  float: left;
  margin-bottom: 3px;
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: #e6e6e6;
  font-size: 1.4em;
}

/* line 312, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .parent a,
#hierarchy-header.management .parent a {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: #b3b3b3;
}

/* line 318, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow #hierarchy-header .parent a {
  text-shadow: 0px -1px 0px white;
}

/* line 322, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.management .parent a {
  color: #e6e6e6;
}

/* line 326, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow #hierarchy-header.management .parent a {
  text-shadow: 0px -1px 0px #b3b3b3;
}

/* line 331, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.space-header .parent a,
#hierarchy-header.subject-header .parent a {
  font-family: arial, sans-serif;
  color: #b3b3b3;
}

/* line 338, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .parent a:hover,
#hierarchy-header.space-header .parent a:hover,
#hierarchy-header.subject-header .parent a:hover {
  text-decoration: none;
  color: #158ac4;
}

/* line 344, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow #hierarchy-header.space-header .parent a,
.textshadow #hierarchy-header.subject-header .parent a {
  text-shadow: none;
}

/* line 348, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.space-header .parent {
  font-size: 1em;
}

/* line 352, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.subject-header .parent {
  font-size: .9em;
}

/* line 356, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .call {
  margin-bottom: 15px;
  clear: left;
  float: left;
  font-size: 2.4em;
  letter-spacing: -1px;
  color: #b3b3b3;
  font-weight: normal;
}

/* line 366, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.management .call {
  margin-bottom: 0;
}

/* line 370, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow #hierarchy-header.management .call {
  text-shadow: 0px -1px 0px #b3b3b3;
}

/* line 374, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.management .call a {
  color: white;
}

/* line 378, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.subject-header .call a {
  color: #b3b3b3;
}

/* line 383, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .name a,
#hierarchy-header .space-name {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: #4dadd6;
  display: block;
  width: 625px;
}

/* line 392, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .name a:hover,
#hierarchy-header .space-name:hover {
  color: #158ac4;
  text-decoration: none;
}

/* line 398, ../../app/assets/stylesheets/preview-course-old.scss */
#space-manage #hierarchy-header .name a,
#space-manage #hierarchy-header .space-name {
  color: #b3b3b3;
}

/* line 402, ../../app/assets/stylesheets/preview-course-old.scss */
#space-manage #hierarchy-header .parent a {
  color: #b3b3b3;
}

/* line 406, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow #space-manage #hierarchy-header .parent a {
  text-shadow: none;
}

/* line 411, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow #hierarchy-header .name,
.textshadow #hierarchy-header .space-name {
  text-shadow: 0px 1px 0px white;
}

/* line 415, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.subject-header .name a {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: #b3b2b3;
}

/* line 421, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.subject-header .subject-name {
  font-size: 1.4em;
  clear: both;
}

/* line 427, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.subject-header .subject-name a,
#hierarchy-header.subject-header .lecture-name a {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

/* line 432, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.subject-header .lecture-name a {
  color: #4cacd5;
}

/* line 436, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .space-name {
  margin: 10px 0;
}

/* line 441, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .manage,
.body.management .manage {
  float: right;
  font-size: .9em;
  color: #4dadd6;
}

/* line 448, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .manage:hover,
.body.management .manage:hover {
  color: #158ac4;
}

/* line 453, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.management .manage,
.body.management .manage {
  margin-right: 90px;
}

/* line 459, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .manage:before,
#folder-index .manage:before,
.body.management .manage:before {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}

/* line 469, ../../app/assets/stylesheets/preview-course-old.scss */
#admin-invitations,
#course-users.body,
#course-spaces.body,
#environment-users.body,
#environment-courses.body {
  background-color: #f7f7f7;
}

/* line 473, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .details {
  border: 1px solid #e6e6e6;
  padding: 10px;
  clear: left;
  background: #f0f0f0;
  /* Old browsers */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 485, ../../app/assets/stylesheets/preview-course-old.scss */
.cssgradients #hierarchy-header .details {
  background: -moz-linear-gradient(top, #f0f0f0 0%, #e6e6e6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #e6e6e6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #e6e6e6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0f0f0 0%, #e6e6e6 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f0f0f0 0%, #e6e6e6 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e6e6e6',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #f0f0f0 0%, #e6e6e6 100%);
  /* W3C */
}

/* line 496, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header.subject-header .details,
#hierarchy-header.space-header .details {
  background: linear-gradient(top, #e6e6e5 2%, #f7f7f7 100%);
  /* W3C */
}

/* line 501, ../../app/assets/stylesheets/preview-course-old.scss */
.cssgradients #hierarchy-header.subject-header .details,
.cssgradients #hierarchy-header.space-header .details {
  background: #e6e6e5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e6e6e5 2%, #f7f7f7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #e6e6e5), color-stop(100%, #f7f7f7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e6e6e5 2%, #f7f7f7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e6e6e5 2%, #f7f7f7 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #e6e6e5 2%, #f7f7f7 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e5', endColorstr='#f7f7f7',GradientType=0 );
  /* IE6-9 */
}

/* line 511, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow #hierarchy-header .details {
  text-shadow: 0px 1px 0px #ffffff;
}

/* line 515, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .separator {
  display: block;
  padding-top: 10px;
  border-top: dotted 1px #b3b3b3;
  margin-top: 10px;
}

/* line 523, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .description:before,
#hierarchy-header .tags:before {
  float: left;
  margin-right: 10px;
}

/* line 529, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .description,
#hierarchy-header .tags li a {
  font-size: .9em;
  color: #6d6e6f;
}

/* line 534, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .statistics {
  font-size: .9em;
}

/* line 538, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .statistics li {
  margin: 8px 0;
}

/* line 542, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .statistics em {
  color: #B2B2B2;
  padding: 2px 0 2px 23px;
}

/* line 547, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .statistics span {
  font-weight: bold;
}

/* line 551, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .prefix {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

/* line 557, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .course-name {
  margin-top: 5px;
  width: 570px;
  margin-right: 10px;
  float: left;
}

/* line 564, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .start-subject {
  float: right;
  width: 150px;
}

/* line 569, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .start-subject .start {
  display: block;
  background: url(/assets/start-subject.png) no-repeat;
  width: 146px;
  height: 25px;
}

/* line 576, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .start-subject .start:hover {
  background-position: 0 -31px;
}

/* line 580, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .start-subject .bt {
  border: 1px solid #cccbcb;
  margin-top: 5px;
  display: block;
  background-color: white;
  padding: 9px 10px;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f1f0f0));
  /* webkit browsers */
  background-image: -moz-linear-gradient(top, white, #f1f0f0);
  /* Firefox 3.6+ */
}

/* line 599, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .start-subject .bt:hover {
  border: 1px solid #4cacd5;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dbeff7));
  /* webkit browsers */
  background: -moz-linear-gradient(top, white, #dbeff7);
  /* Firefox 3.6+ */
}

/* line 607, ../../app/assets/stylesheets/preview-course-old.scss */
#hierarchy-header .start-subject .bt .icon {
  width: 32px;
  height: 32px;
  float: left;
  display: block;
  margin: 0 15px 0 10px;
}

/* line 615, ../../app/assets/stylesheets/preview-course-old.scss */
.tags li {
  float: left;
}

/* line 619, ../../app/assets/stylesheets/preview-course-old.scss */
.tags li:before {
  content: ",";
  margin: 0;
  padding: 0;
  color: #B2B2B2;
}

/* line 626, ../../app/assets/stylesheets/preview-course-old.scss */
.tags li:first-child:before {
  content: " ";
}

/* line 630, ../../app/assets/stylesheets/preview-course-old.scss */
.tags a {
  color: #B2B2B2;
  font-size: .9em;
}

/* line 635, ../../app/assets/stylesheets/preview-course-old.scss */
#course-preview {
  width: 788px;
  float: left;
  margin-left: 10px;
}

/* line 641, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs {
  clear: both;
}

/* line 645, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul {
  margin-bottom: -1px;
}

/* line 649, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li {
  float: left;
  border: 1px solid #b3b3b3;
  border-bottom: none;
}

/* line 655, ../../app/assets/stylesheets/preview-course-old.scss */
.borderradius .big-tabs > ul li {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

/* line 664, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li.ui-state-active {
  display: block;
  background-color: white;
  border-bottom: 1px solid white;
}

/* line 670, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li.ui-state-default {
  margin-left: -1px;
}

/* line 674, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li.ui-state-default:first-child {
  margin-left: 0px;
}

/* line 678, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li.ui-state-default {
  background-color: #e6e6e6;
}

/* line 682, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li a {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 2.4em;
  font-weight: 100;
  color: #4cacd5;
  height: 34px;
  display: block;
  padding: 10px 15px 8px 15px;
}

/* line 692, ../../app/assets/stylesheets/preview-course-old.scss */
.borderradius .big-tabs > ul li a {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

/* line 701, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li.ui-state-default a {
  width: 32px;
  text-indent: -999999px;
}

/* line 706, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li.ui-state-active a {
  line-height: 30px;
  padding: 13px 15px 5px 15px;
  background-color: white;
  text-indent: 0px;
  width: auto;
}

/* line 714, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > ul li.ui-state-active a:hover {
  color: #158ac4;
  text-decoration: none;
}

/* line 719, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs .ui-state-default a:before {
  float: right;
  display: block;
}

/* line 724, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs .ui-state-active a:before {
  float: none;
  display: inline;
}

/* line 729, ../../app/assets/stylesheets/preview-course-old.scss */
.big-tabs > .panel {
  border: 1px solid #b3b3b3;
  padding: 40px 60px;
  background-color: white;
  min-width: 85%;
}

/* line 736, ../../app/assets/stylesheets/preview-course-old.scss */
.borderradius .big-tabs > .panel {
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  border-radius: 0px 10px 10px 10px;
}

/* line 744, ../../app/assets/stylesheets/preview-course-old.scss */
.body.preview .notice {
  padding: 40px 50px;
}

/* line 748, ../../app/assets/stylesheets/preview-course-old.scss */
.textshadow .body.preview .notice {
  text-shadow: 0px 1px 0px #ffffff;
}

/* line 753, ../../app/assets/stylesheets/preview-course-old.scss */
.body.preview .notice .message,
.cell .participation {
  color: #6d6e6f;
}

/* line 757, ../../app/assets/stylesheets/preview-course-old.scss */
.body.preview .notice .message:before {
  float: left;
  margin-top: -8px;
  margin-right: 45px;
}

/* line 763, ../../app/assets/stylesheets/preview-course-old.scss */
.icons-big-before:before {
  background-image: url(/assets/icons-big.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* line 769, ../../app/assets/stylesheets/preview-course-old.scss */
.icon-privacy-lightred_64_66-before:before {
  content: "";
  width: 64px;
  height: 66px;
  background-position: -240px 0;
}

/* line 777, ../../app/assets/stylesheets/preview-course-old.scss */
.icons-big {
  background-image: url(/assets/icons-big.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* line 783, ../../app/assets/stylesheets/preview-course-old.scss */
.icon-environment-white_64_64 {
  background-position: 0 0;
}

/* line 787, ../../app/assets/stylesheets/preview-course-old.scss */
#course-spaces .actions .waiting {
  border: 1px solid #61BE80;
  padding: 5px 10px;
  font-size: .9em;
  color: #61BE80;
  float: right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Novo design do botão de matricular-se no curso. */
/* line 800, ../../app/assets/stylesheets/preview-course-old.scss */
.icon-closed-red2_64_66 {
  background-image: url(/assets/icon-closed-red2_64_66.png);
  width: 64px;
  height: 66px;
  display: inline-block;
}

/* line 807, ../../app/assets/stylesheets/preview-course-old.scss */
.course-preview-wrapper {
  text-align: center;
}

/* line 809, ../../app/assets/stylesheets/preview-course-old.scss */
.course-preview-message {
  width: 435px;
  margin-left: auto;
  margin-right: auto;
  color: #b3b3b3;
}

/* line 819, ../../app/assets/stylesheets/preview-course-old.scss */
.course-preview-icon +
.course-preview-message,
.course-preview-message +
.course-preview-button {
  margin-top: 10px;
}

/* line 822, ../../app/assets/stylesheets/preview-course-old.scss */
#concave-breadcrumbs +
.course-preview-button {
  margin: 20px 20px 0 0;
  float: right;
}

/* Ícone de membros usado na aba. */
/* line 828, ../../app/assets/stylesheets/preview-course-old.scss */
.icon-members-gray_32_34-before:before {
  content: "";
  width: 32px !important;
  height: 34px !important;
  background: url(/assets/icons-small.png) -320px -480px no-repeat;
}

/* Separador ">" do breadcrumb. */
/* line 836, ../../app/assets/stylesheets/preview-course-old.scss */
.icon-expand-gray_16_18-before:before {
  content: "";
  width: 16px !important;
  height: 18px !important;
  background: url(/assets/icons-small.png) -560px -800px no-repeat;
}

/* Matrícula requisitada, no aguardo da confirmação do responsável. */
/* line 844, ../../app/assets/stylesheets/preview-course-old.scss */
.icon-moderated-green3_64_66 {
  background-image: url(/assets/icon-moderated-green3_64_66.png);
  width: 64px;
  height: 66px;
  display: inline-block;
}

/* line 851, ../../app/assets/stylesheets/preview-course-old.scss */
.course-waiting-approval-message {
  width: 310px;
}

/* Matrícula requisitada, no aguardo da confirmação do usuário. */
/* line 854, ../../app/assets/stylesheets/preview-course-old.scss */
.icon-invite-green3_64_66 {
  background-image: url(/assets/icon-invite-green3_64_66.png);
  width: 64px;
  height: 66px;
  display: inline-block;
}

/* Curso aberto. */
/* line 862, ../../app/assets/stylesheets/preview-course-old.scss */
.icon-open-green3_64_66 {
  background-image: url(/assets/icon-open-green3_64_66.png);
  width: 64px;
  height: 66px;
  display: inline-block;
}

/* line 10, ../../app/assets/stylesheets/_course_responsibles.scss */
.course-owners {
  clear: left;
  color: #b3b3b3;
  margin-bottom: 10px;
}

/* line 16, ../../app/assets/stylesheets/_course_responsibles.scss */
.course-responsibles {
  display: inline-block;
  list-style: disc;
}

/* line 21, ../../app/assets/stylesheets/_course_responsibles.scss */
.course-responsible {
  float: left;
}
/* line 25, ../../app/assets/stylesheets/_course_responsibles.scss */
.course-responsible +
.course-responsible {
  margin-left: 25px;
}
/* line 27, ../../app/assets/stylesheets/_course_responsibles.scss */
.course-responsible:first-child {
  list-style: none;
}
