<%= render :partial => 'spaces/space_info', :locals => { :space => @space, :show => false } %>

<div class="alt first_alt">
  <%= link_to @forum.name, space_forum_path(@space) %>
  -
  <%= :edit_topic.l %>
</div>

<%= render :partial => 'topics/form', :locals => {:space_id => @space.id, :topic => @topic, :form_new => false} %>
