<div class="grid_16">
<div id="title_video">Administração do Redu</div>
</div>


<div class="main grid_16">
<div class="fake-tabs grid_16 alpha omega">
<%= render :partial => "admin/taskbar" %>
</div><!-- end tabs -->
</div><!-- end main -->







