<h1>Listando todas as chaves de acesso</h1>

<table>
  <tr>
  	<th>Escola</th>
	<th>Usuário</th>
    <th>Chave</th>
    <th>Expiration date</th>
  </tr>

<% @user_school_associations.each do |association| %>
  <tr>
    <td><%=h association.school.name %></td>
	
    <td>
    	<%=h association.user ? association.user.name : 'unsigned' %>
		
		</td>
	 <td><%=h association.access_key.key %></td>
    <td><%=h association.access_key.expiration_date %></td>
   
    
     </tr>
<% end %>
</table>

<br />

