<ol id="concave-breadcrumbs" class="space clearfix">
  <li class="compact">
    <%= link_to 'Home', home_user_path(current_user),
      :class => 'replacement icon-small icon-home-lightblue_16_18' %>
  </li>
  <li class="compact icon-expand-gray_16_18-before">
    <%= link_to space.course.environment.name,
      environment_path(space.course.environment),
      :class => 'replacement icon-small icon-environment-lightblue_16_18' %>
  </li>
  <li class="compact icon-expand-gray_16_18-before">
    <%= link_to space.course.name,
      environment_course_path(space.course.environment, space.course),
      :class => 'replacement icon-small icon-course-lightblue_16_18' %>
  </li>
  <li class="icon-expand-gray_16_18-before">
    <%= link_to space.name, space_path(space),
      :class => 'icon-space-lightblue_16_18-before' %>
  </li>
</ol>
