<li class="space clearfix">
  <%= link_to item_short.name, space_path(item_short), :class => 'name' %>
  <div class="info">
    <strong class="label">Membros:</strong>
    <span class="value members"><%= item_short.users.length %></span>
  </div>
</li>
