<div class="grid_9">

  <% field_set_tag 'Compartilhe!' do %>

    <%= render :partial => 'shared/share', :locals => {:resource => @space}%>

  <%end%>

</div>
<div class="grid_6">
  <div class="y_addinfo">
    <div class="addinfocontent">
      <h1>
        Termos e Condições do Redu
      </h1>
      <p>Por favor não publique conteúdo que esteja protegido por direitos autoriais, conteúdo obceno ou que viole
        os <%= link_to "termos e condições", {:controller => "base", :action => "tos"}, :target => "_blank"%> do Redu.

        Ao clicar no botão abaixo você estará concordando com esses termos.</p>

    </div>
  </div>
</div>




	
	
