<div class="sidebar grid_4">
  <ul class="sortable clearfix">
  
  <li class="clearfix">
    <span class="call"><span>Membros (<%= @school.users.size %>)</span></span>
      <div class="followship box clearfix">
      <ul class="clearfix">
        <%= render :partial => 'schools/member_short', :collection => @school.users, :as => :member %>
      </ul>
      <a href="" class="icon more">Ver mais</a>
      </div><!-- end followship -->
  </li>
  <li class="clearfix">
    <span class="call"><span>Professores (<%= teachers_preview(school).size %>)</span></span>
    <% unless teachers_preview(school).empty? %>
    <div class="followship box clearfix">
        <ul class="clearfix">
        <%= render :partial => 'schools/member_short', :collection => teachers_preview(school), :as => :member %>
        </ul>
        <a href="" class="icon more">Ver mais</a>
    </div><!-- end followship -->
    <% else %>
      <span class="notice">Nenhum professor cadastrado</span>
    <% end %>
  </li>
  </ul><!-- end sortable -->

</div><!-- end sidebar -->
