<% if @spaces && @spaces.length > 0 %>
  <ul class="badge">
    <%= render :partial => 'spaces/item', :collection => @spaces, :as => :space %> 
  </ul>
<% else %>

  <% if @searched_for_all %>
    <div class="box_notice">Não há disciplinas cadastradas ainda. <%= link_to 'Crie um agora!', :action => 'new' %></div>
  <% else %>
    <div class="box_notice">Não há disciplinas cadastradas com estas especificações ainda. <%= link_to 'Crie um agora!', :action => 'new' %></div>
  <% end %>

<% end %>
<%= will_paginate @spaces %>
