<%  if logged_in? %>
  <div id="task_bar_exames">
    <%= link_to 'Nova Disciplina', :action => 'new' %> | 
    <%= link_to 'Minhas Disciplinas', member_user_spaces_path(current_user.id) %> |
    <%= link_to 'Disciplinas Criadas por Mim', owner_user_spaces_path(current_user.id) %>
  </div>
<% end %>
