<%= image_tag 'loadingAnimation.gif', :id => 'loading_bar', :style => "display: none; margin-top: 40px"%>

<table style="width: 100%; margin: 15px 10px 20px 10px;" id ="user_list_table" class="common">
  <tr>
    <th></th><th>Usuário</th><th>Data de Inscricão</th><th>Papel</th><th></th>
  </tr>
  <%= render :partial => 'user_item_admin', :collection => memberships %>
</table>
