<% content_for :page_id, 'group' %>
<div class="main grid_16">
  <div class="fake-tabs grid_16 alpha omega">
    <%= render :partial => "spaces/admin_taskbar" %>
    <div class="panel">
      <h3>Administracão de Eventos</h3>
      <div id="all_list">
        <%= render :partial => 'events/moderate_index_admin' %>
      </div> <!-- fim da listagem --> 
      <h3>Eventos Aprovados</h3>
      <%= render :partial => 'events/index_admin' %>
    </div> <!-- end panel -->
  </div><!-- end tabs -->
</div><!-- end main -->





