<% content_for :page_id, 'group' %>
<div class="main grid_16">
  <div class="fake-tabs grid_16 alpha omega">
    <%= render :partial => "spaces/admin_taskbar" %>
  </div><!-- end tabs -->
</div><!-- end main -->
