<% content_for :container_class do "entity-wrapper" end %>

<div class="span3">
  <%= render "spaces/sidebar_new", space: @space, user: current_user %>
</div>
<div class="span13">
  <%= render "spaces/breadcrumbs_new", space: @space %>
  <div class="content-body">
    <%= render "spaces/header_new", space: @space %>

    <div class="content-section">
      <ul class="header-breadcrumb-big">
        <li class="header-breadcrumb-big-item">
          <a class="header-breadcrumb-big-link" href="#" title="Mural">Mural</a>
        </li>
      </ul>
    </div>

    <%= render "statuses/wall", status: @status, statusable: @space,
      statuses: @statuses, placeholder: "Comente nesta disciplina." %>
  </div>
</div>