<%= render :partial => 'spaces/sidebar', :locals => { :space => @space } %>
<div class="main space grid_12 omega big-col">
  <%= render :partial => 'spaces/breadcrumbs', :locals => { :space => @space } %>
  <%= render :partial => 'spaces/header',
    :locals => { :space => @space }%>

  <div id="space-statuses" class="body clearfix">
    <div class="header clearfix">
      <h4 class="title">Mural</h4>
    </div>
    <iframe src="<%= "#{Redu::Application.config.wally[:url]}/core:space_#{@space.id}" %>" width="750px" height="1400px"></iframe>
  </div><!-- end #environment-courses -->

</div><!-- end .main -->
