
  <% form_for @space, :html => {:id => "form_school"} do |f|%>

    <%= render "form", :f => f, :edit => false %>

    <div class="grid_16">
      <%= f.submit "Concluir" %>
      ou <%= link_to "Cancelar e voltar", cancel_spaces_path(:course_id => @course.id)%>
    </div>

<% end %>

</div>
