<p>
  Olá <%= @vars[:user].first_name %>, <br/><br/>

  A comunidade Openredu trabalha todos os dias desenvolvendo novas soluções para facilitar o processo de ensino e aprendizagem. Começamos a desenvolver o nosso aplicativo mobile Android e gostaríamos de conhecer um pouco mais dos hábitos e práticas comuns dos usuários dentro da plataforma.
</p>

<p>
  Você pode fazer parte da criação deste aplicativo para melhorar a experiência no Openredu. Basta responder <%= link_to "este", "https://docs.google.com/a/redu.com.br/spreadsheet/viewform?formkey=dE92WnZtVzJ4X3hrRGZWektnOEdXN1E6MQ#gid=0" %> questionário, com apenas 8 perguntas, para nos ajudar a entender um pouco mais sobre o seu perfil.
</p>

<p>
  Agradecemos sua atenção. Desejamos um ótimo natal e feliz ano novo!
</p>

<p>
  <em>Atenciosamente, <br/>Comunidade Openredu</em><br/>
  http://openredu.org
</p>
