<td colspan="2">
  <table class="user-common">
    <tr>
      <td class="common-message-cell">
        Olá, esta notificação foi requisitada para lhe lembrar a sua senha.
        Para a segurança, uma nova senha aleatória será gerada, caso aceite a redefinição. Ignore está mensagem caso não tenha solicitado a redefinição %>.
      </td>
      <td class="common-action-cell">
        <%= image_tag "mail/icon-friendship-big.png", :size => "64x64" %>
      </td>
    </tr>
  </table>
  <table class="user-data">
    <tr>
      <td colspan="2" class="username-cell">
        <%= link_to @user.display_name, user_url(@user), :class => "username" %>
      </td>
    </tr>
    <tr>
      <td><%= link_to "Clique aqui", confirm_recover_password_url(@user.recovery_token) %> para gerar uma nova senha</td>
    </tr>
  </table>
</td>
