<%#
  Convide seus amigos.
%>
<div id="home-invite-friends" class="right-sidebar-area">
  <h6 class="right-sidebar-area-title">Convide seus amigos</h6>
  <div class="nav-local-separator"></div>
  <%# TODO: Ajeitar link quando for integrar. %>
  <%= link_to "Procure e convide amigos", "new_user_friendship_path(current_user)", :class => "link-secondary icon-invite-lightblue_16_18-before" %>
</div>
