<li id="status-<%= log.id %>">
  <div class="status">
    <div class="status-text">
      <%= render "statuses/user_detail", :item => log %>
      <span class="status-info"> <%= raw auto_link(log.action_text) %></span>
      <%= render :partial => 'statuses/timeago', :locals => { :item => log } %>
    </div>
  </div>
</li>
