<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
    <link media="all" rel="stylesheet" href="../public/stylesheets/reset.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/960.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-fonts.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-style.css" type="text/css" />
    <script src="../public/javascripts/jquery.js" type="text/javascript"></script>
    <script src="../public/javascripts/new_common.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <script src="../public/javascripts/DD_roundies_0.0.2a-min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      DD_roundies.addRule('#content .main, #header', '12px');
      DD_roundies.addRule('#header .nav a, #content .sidebar .local-nav > li > .session', '5px');
    </script>
    <![endif]-->


  </head>
  <body>
    <div id="header" class="container_16">
      <h1 id="logotipo" class="grid_3 replacement">
        <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
      </h1>
      <ul class="nav grid_10">
        <li>
          <a href="#">Início</a>
        </li>
        <li>
          <a href="#">Aprenda</a>
        </li>
        <li>
          <a href="#">Ensine</a>
        </li>
        <li>
          <a href="#">Cursos</a>
        </li>
      </ul>

      <div id="nav-account" class="grid_3">
        <div class="username"><a href="#">Guilherme</a></div>
        <ul style="display: none;">
          <li>
            <a href="#" title="Perfil">Meu Perfil</a>
            <a href="#" title="editar" class="edit">editar</a>
          </li>
          <li>
            <a href="#">Mensagens (0)</a>
          </li>
          <li>
            <a href="#">Configurações</a>
          </li>
          <li>
            <a href="#">Sair</a>
          </li>
        </ul>
      </div><!-- end #nav-account -->

      <div id="search-box" class="grid_3">
      </div><!-- end #search -->
    </div><!-- end #header -->

    <div id="content" class="container_16 clearfix">
      <div class="sidebar alpha grid_3">
        <div class="image-frame space-frame">
          <!-- <%# Nao setar width e height na imagem %> -->
          <img src="../public/images/new/missing_environments_thumb_100.png" alt="environment" />
        </div>

        <ul class="local-nav">
          <li>
            <div class="selected session"><a href="" class="icon icon-redu_r8_c379_s1">Mural</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r11_c211_s1">Módulos</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r8_c349_s1">Arquivos</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r10_c281_s1">Fórum</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r9_c289_s1">Notícias</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r8_c295_s1">Eventos</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r8_c221_s1">Gerenciamento</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r8_c319_s1">Membros</a></div>
            <ul class="connections clearfix">
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_users_thumb_32.png" /></a>
              </li>
            </ul><!-- end .connections -->
            <a href="" class="more">Ver mais</a>
          </li>
        </ul><!-- end .local-nav -->
      </div>

      <div class="main grid_12 omega big-col">
        <ol id="breadcrumbs" class="clearfix">
          <li>
            <a href="" class="replacement home icon icon-redu_r8_c227_s1">Home</a>
          </li>
          <li>
            <a href="" class="replacement icon icon-redu_r8_c217_s1">Universidade Federal de Pernambuco</a>
          </li>
          <li>
            <a href="" class="replacement icon icon-redu_r8_c313_s1">Ciência da Computação</a>
          </li>
          <li>
            <a href="" class="icon icon-redu_r8_c307_s1">Introdução a Programação</a>
          </li>
        </ol>
        <div id="hierarchy-header" class="clearfix space-header">
          <span class="prefix">UFPE > Ciência da Computação</span>
          <h3 class="call space-name">Introdução a programação</h3>
          <div class="grid_9 alpha">
            <span class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lorem tellus, hendrerit tempor tincidunt vitae, vehicula vitae purus. Morbi eu lacus in velit aliquam semper. Curabitur mollis leo a sapien consequat sed egestas magna sollicitudin. Pellentesque interdum leo accumsan velit facilisis ut varius massa gravida. Etiam luctus turpis id arcu venenatis feugiat. Fusce sodales, massa nullam.
            </span>
            <ul class="tags clearfix">
              <li>
                <a href="">ufpe</a>
              </li>
              <li>
                <a href="">ensino</a>
              </li>
              <li>
                <a href="">publica</a>
              </li>
              <li>
                <a href="">teste</a>
              </li>
            </ul>
          </div>
          <ul class="statistics grid_3 omega">
            <li>
              <em class="icon icon-redu_r8_c207_s1">Professores:</em>
              <span>12.345</span>
            </li>
            <li>
              <em class="icon icon-redu_r8_c385_s1">Tutores:</em>
              <span>2.344</span>
            </li>
            <li>
              <em class="icon icon-redu_r8_c355_s1">Alunos:</em>
              <span>2.344</span>
            </li>
          </ul>

        </div><!-- end #hierarchy-header -->

        <div id="bulletin" class="body">
          <div class="header">
            <h4>Notícias</h4>
            <span class="counter">Notícias da disciplina Introdução a Programação</span>
          </div>
          <div class="info">
            <img src="../public/images/new/missing_users_thumb_32.png" class="avatar" alt="" />
            <span class="label">Autor:</span>
            <a class="name">Guilherme Cavalcanti</a>
          </div>
          <div class="admin-actions">
            <a href="" class="edit icon icon-redu_r12_c5_s1">Editar</a>
            <a href="" class="delete icon icon-redu_r12_c43_s1">Remover</a>
          </div>
          <div class="details clearfix">
            <div class="date">
              <span class="month">jan</span>
              <span class="day">25</span>
              <span class="year">2011</span>
            </div>
            <h3 class="title">Título da notícia</h3>
            <ul class="tags">
              <li><a href="">primeira tag</a></li>
              <li><a href="">outra tag</a></li>
              <li><a href="">minha tag</a></li>
              <li><a href="">mais uma tag</a></li>
            </ul>
          </div><!-- end .details -->

          <div class="bulletin-content pretty-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div><!-- end #bulletin -->

      </div><!-- end .main -->

    </div><!-- end #content -->

    <div id="footer" class="container_16 clearfix">
      <h1 id="logotipo-footer" class="replacement">
        <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
      </h1>
      <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

      <div id="nav-footer">
        <ul>
          <li>
            <a href="">Sobre o Redu</a>
          </li>
          <li>
            <a href="">Privacidade</a>
          </li>
          <li>
            <a href="">Termos de uso</a>
          </li>
          <li>
            <a href="">Contato</a>
          </li>
        </ul>
      </div><!-- end #nav-footer -->
    </div><!-- end #footer -->
  </body>
</html>
