<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen, projection"></link>
    <link rel="stylesheet" href="stylesheets/960.css" type="text/css" media="screen, projection"></link>
    <link rel="stylesheet" href="stylesheets/style-closed.css" type="text/css" media="screen"></link>
    <script type="text/javascript" src="javascripts/jquery-1.4.2.min.js" charset="utf-8">
    </script>
    <script type="text/javascript" src="javascripts/jquery-ui-1.8.1.custom.min.js" charset="utf-8">
    </script>
    <script type="text/javascript" src="javascripts/closed-beta.js" charset="utf-8">
    </script>
</head>
<body>

<div id="closed-beta" class="container_16 content clearfix">
<h1 id="logo" class="grid_5"><a href="#" class="replacement">Redu - Rede Social Educacional</a></h1>
<div id="main" class="grid_16">
<script type="text/javascript">
$(document).ready(function(){
    $("div.tabs").tabs()
})
</script>
<div class="tabs">
    <ul class="clearfix">
	<li><a href="#conheca">Conheça</a></li>
	<li><a href="#aprenda">Aprenda</a></li>
	<li><a href="#ensine">Ensine</a></li>
    </ul>
    
    <div id="conheca" class="clearfix">
    <span class="call">O Redu <span style="font-size: 1.1em; color: #F63B0B;">promove</span> um<br/>ambiente <span style="font-size: 1.1em; color: #F63B0B;">social</span> para a <span style="font-size: 1.1em; color: #F63B0B;">aprendizagem</span></span>
    </div>
    <div id="aprenda" class="clearfix">
    <span class="call">Tire <span style="font-size: 1.1em; color: #F63B0B;">dúvidas</span> e<br/>veja o seu <span style="font-size: 1.1em; color: #F63B0B;">desempenho</span></span>
    </div>
    
    <div id="ensine">
    <span class="call"><span style="font-size: 1.1em; color: #F63B0B;">Atinja</span> e <span style="font-size: 1.1em; color: #F63B0B;">acompanhe</span><br/>muito mais alunos</span>
    </div>
</div>
<div class="register clearfix">
<span class="call">Quer fazer parte do Redu?</span>
<span class="call2">Inscreva-se e receba o convite</span>
<form action="#" method="post" class="common">
    <fieldset>
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" />
    <label for="email">E-mail</label>
    <fieldset class="inline clearfix">
    <input type="text" name="email" id="email" />
    <input type="checkbox" name="role" id="aluno" />
    <label for="aluno">Aluno</label>
    <input type="checkbox" name="role" id="professor" />
    <label for="professor">Professor</label>
    </fieldset>
    <button type="submit">
    Cadastrar
    </button>
    </fieldset>
</form>
</div>
</div><!-- end main-->
</div><!-- end content -->
<div class="footer clearfix">
<div class="container_16">
<a href="">Sobre o Redu</a><a href="">Blog</a><a href="">Trabalhe Conosco</a><a href="">Contato</a>
</div>
</div>
</body>
</html>

