<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css' />
    <link media="all" rel="stylesheet" href="../public/stylesheets/reset.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/960.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-fonts.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-style.css" type="text/css" />
    <script src="../public/javascripts/jquery.js" type="text/javascript"></script>
    <script src="../public/javascripts/new_common.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container_16 clearfix" id="course-invitation">
      <div class="grid_4 alpha">
        <h1 class="logotipo replacement">
          <a href="#">Redu: rede social educacional</a>
        </h1>
      </div>
      <div class="clearfix invite">
        <span class="salutation">Olá, você foi convidado para participar do curso:</span>
        <div  class="clearfix course">
          <img src="../public/images/new/missing_environments_thumb_32.png" class="avatar" />
          <div class="informations">
            <div class="header">
              <a href="#" class="environment">Ambiente de ensino</a>
              <a href="#" class="name">Lorem ipsum dolor sit amet consectetur elit</a>
              <ul class="tags">
                <li><a href="#">tags</a></li>
                <li><a href="#">tags</a></li>
                <li><a href="#">tags</a></li>
                <li><a href="#">tags</a></li>
              </ul>
            </div>
            <span class="description">Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</span>
            <ul class="statistics">
              <li>
                <em>Membros:</em>
                <span>1.532</span>
              </li>
              <li>
                <em>Professores:</em>
                <span>17</span>
              </li>
              <li>
                <em>Tutores:</em>
                <span>34</span>
              </li>
              <li>
                <em>Alunos:</em>
                <span>1.481</span>
              </li>
            </ul>
            <div class="audience">
              <em>Audiência:</em>
              <ul>
                <li>
                  <a href="/ufrpe-ded">Ensino Superior</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="grid_6 omega">
          <div class="hall">
            <a href="" class="important signup">Crie sua conta, é grátis!</a>
            <hr/>
            <form class="common highlightable" action="">
              <fieldset>
                <label for="" class="small">Login:</label>
                <input type="text" class="small" />
                <label for="" class="small">Senha:</label>
                <input type="text" class="small" />
                <fieldset class="inline">
                  <input type="checkbox" />
                  <label for="">Manter-me conectado</label>
                </fieldset>
                <input type="submit" value="Entrar" />
                <label for=""></label>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="container_16 clearfix">
      <h1 id="logotipo-footer" class="replacement">
        <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
      </h1>
      <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

      <div id="nav-footer">
        <ul>
          <li>
            <a href="">Sobre o Redu</a>
          </li>
          <li>
            <a href="">Privacidade</a>
          </li>
          <li>
            <a href="">Termos de uso</a>
          </li>
          <li>
            <a href="">Contato</a>
          </li>
        </ul>
      </div><!-- end #nav-footer -->
    </div><!-- end #footer -->
  </body>
</html>
