<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
    <link media="all" rel="stylesheet" href="../public/stylesheets/reset.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/960.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-fonts.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-style.css" type="text/css" />
    <script src="../public/javascripts/jquery.js" type="text/javascript"></script>
    <script src="../public/javascripts/new_common.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <script src="../public/javascripts/DD_roundies_0.0.2a-min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      DD_roundies.addRule('#content .main, #header', '12px');
      DD_roundies.addRule('#header .nav a, #content .sidebar .local-nav > li > .session', '5px');
      </script>
      <![endif]-->


    </head>
    <body>
      <div id="header" class="container_16">
        <h1 id="logotipo" class="grid_3 replacement">
          <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
        </h1>
        <ul class="nav grid_10">
          <li>
            <a href="#">Início</a>
          </li>
          <li>
            <a href="#">Aprenda</a>
          </li>
          <li>
            <a href="#">Ensine</a>
          </li>
          <li>
            <a href="#">Cursos</a>
          </li>
        </ul>

        <div id="nav-account" class="grid_3">
          <div class="username"><a href="#">Guilherme</a></div>
          <ul style="display: none;">
            <li>
              <a href="#" title="Perfil">Meu Perfil</a>
              <a href="#" title="editar" class="edit">editar</a>
            </li>
            <li>
              <a href="#">Mensagens (0)</a>
            </li>
            <li>
              <a href="#">Configurações</a>
            </li>
            <li>
              <a href="#">Sair</a>
            </li>
          </ul>
        </div><!-- end #nav-account -->

        <div id="search-box" class="grid_3">
        </div><!-- end #search -->
      </div><!-- end #header -->

      <div id="content" class="container_16 clearfix">
        <div id="global-courses" class="clearfix">
          <div class="alpha grid_3">
            <div class="call">
              <h4>Cursos</h4>
              <strong>Localize os cursos inscritos através de seus papéis, ou procure por algo novo.</strong>
            </div>
            <div class="filters">
              <strong class="call">Filtros:</strong>
              <form action="">
                <fieldset>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Todos</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Ensino Superior</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Ensino Médio</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Ensino Fundamental</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Pesquisa</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Concursos</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Pré-vestibular</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Empresas</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Certificações</label>
                  </span>
                  <span class="filter">
                    <input type="checkbox" />
                    <label for="">Diversos</label>
                  </span>
                </fieldset>
              </form>
            </div><!-- end #filters -->

          </div>
          <div class="main grid_12 omega big-col">
            <div class="fake-tabs">
              <ul class="clearfix">
                <li class="ui-state-active">
                  <a href="">Todos</a>
                </li>
                <li>
                  <a href="">Aluno</a>
                </li>
                <li>
                  <a href="">Tutor</a>
                </li>
                <li>
                  <a href="">Professor</a>
                </li>
                <li>
                  <a href="">Administrador</a>
                </li>
              </ul>
              <div class="panel">
                <ul class="courses">
                  <li>
                    <div class="avatar">
                      <img src="../public/images/new/missing_courses_thumb_32.png" alt="" />
                    </div>
                    <div class="preview clearfix">
                      <div class="general">
                        <a href="" class="environment">Jornal do Comércio</a>
                        <a href="" class="course">Introdução ao Telejornalismo</a>
                        <ul class="tags clearfix">
                          <li>
                            <a href="">ufpe</a>
                          </li>
                          <li>
                            <a href="">ensino</a>
                          </li>
                          <li>
                            <a href="">publica</a>
                          </li>
                          <li>
                            <a href="">teste</a>
                          </li>
                        </ul>
                      </div><!-- end .general -->
                      <div class="audience">
                        <em>Audiência</em>
                        <ul>
                          <li>
                            <a href="">Ensino Superior</a>
                          </li>
                          <li>
                            <a href="">Especialização</a>
                          </li>
                        </ul>
                      </div><!-- end audience -->
                      <span class="expand replacement">Mais detalhes</span>
                    </div>
                    <div  style="display: none;" class="details clearfix">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>

                      <ul class="statistics">
                        <li>
                          <em>Membros:</em>
                          <span>12.345</span>
                        </li>
                        <li>
                          <em>Tutores:</em>
                          <span>2.344</span>
                        </li>
                        <li>
                          <em>Estudantes:</em>
                          <span>2.344</span>
                        </li>
                      </ul>
                    </div><!-- end .details -->
                  </li>
                  <li>
                    <div class="avatar">
                      <img src="../public/images/new/missing_courses_thumb_32.png" alt="" />
                    </div>
                    <div class="preview clearfix">
                      <div class="general">
                        <a href="" class="environment">Jornal do Comércio</a>
                        <a href="" class="course">Introdução ao Telejornalismo</a>
                        <ul class="tags clearfix">
                          <li>
                            <a href="">ufpe</a>
                          </li>
                          <li>
                            <a href="">ensino</a>
                          </li>
                          <li>
                            <a href="">publica</a>
                          </li>
                          <li>
                            <a href="">teste</a>
                          </li>
                        </ul>
                      </div><!-- end .general -->
                      <div class="audience">
                        <em>Audiência</em>
                        <ul>
                          <li>
                            <a href="">Ensino Superior</a>
                          </li>
                          <li>
                            <a href="">Especialização</a>
                          </li>
                        </ul>
                      </div><!-- end audience -->
                      <span class="expand replacement">Mais detalhes</span>
                    </div>
                    <div style="display: none;" class="details clearfix">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>

                      <ul class="statistics">
                        <li>
                          <em>Membros:</em>
                          <span>12.345</span>
                        </li>
                        <li>
                          <em>Tutores:</em>
                          <span>2.344</span>
                        </li>
                        <li>
                          <em>Estudantes:</em>
                          <span>2.344</span>
                        </li>
                      </ul>
                    </div><!-- end .details -->
                  </li>
                  <li>
                    <div class="avatar">
                      <img src="../public/images/new/missing_courses_thumb_32.png" alt="" />
                    </div>
                    <div class="preview clearfix">
                      <div class="general">
                        <a href="" class="environment">Jornal do Comércio</a>
                        <a href="" class="course">Introdução ao Telejornalismo</a>
                        <ul class="tags clearfix">
                          <li>
                            <a href="">ufpe</a>
                          </li>
                          <li>
                            <a href="">ensino</a>
                          </li>
                          <li>
                            <a href="">publica</a>
                          </li>
                          <li>
                            <a href="">teste</a>
                          </li>
                        </ul>
                      </div><!-- end .general -->
                      <div class="audience">
                        <em>Audiência</em>
                        <ul>
                          <li>
                            <a href="">Ensino Superior</a>
                          </li>
                          <li>
                            <a href="">Especialização</a>
                          </li>
                        </ul>
                      </div><!-- end audience -->
                      <span class="expand replacement">Mais detalhes</span>
                    </div>
                    <div  style="display: none;" class="details clearfix">
                      <p class="description">Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.</p>

                      <ul class="statistics">
                        <li>
                          <em>Membros:</em>
                          <span>12.345</span>
                        </li>
                        <li>
                          <em>Tutores:</em>
                          <span>2.344</span>
                        </li>
                        <li>
                          <em>Estudantes:</em>
                          <span>2.344</span>
                        </li>
                      </ul>
                    </div><!-- end .details -->
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- end .main -->
        </div>
      </div><!-- end #content -->

      <div id="footer" class="container_16 clearfix">
        <h1 id="logotipo-footer" class="replacement">
          <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
        </h1>
        <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

        <div id="nav-footer">
          <ul>
            <li>
              <a href="">Sobre o Redu</a>
            </li>
            <li>
              <a href="">Privacidade</a>
            </li>
            <li>
              <a href="">Termos de uso</a>
            </li>
            <li>
              <a href="">Contato</a>
            </li>
          </ul>
        </div><!-- end #nav-footer -->
      </div><!-- end #footer -->
    </body>
  </html>

