<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title></title>
    <link media="all" rel="stylesheet" href="../public/stylesheets/reset.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/960.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-fonts.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-style.css" type="text/css" />
    <script src="../public/javascripts/jquery.js" type="text/javascript"></script>
    <script src="../public/javascripts/new_common.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <script src="../public/javascripts/DD_roundies_0.0.2a-min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      DD_roundies.addRule('#content .main, #header', '12px');
      DD_roundies.addRule('#header .nav a, #content .sidebar .nav-user > li > .session', '5px');
    </script>
    <![endif]-->

    
  </head>
  <body>
    <div id="header" class="container_16">
      <h1 id="logotipo" class="grid_3 replacement">
        <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
      </h1>
      <ul class="nav grid_7">
        <li>
          <a href="#">Início</a>
        </li>
        <li>
          <a href="#">Aprenda</a>
        </li>
        <li>
          <a href="#">Ensine</a>
        </li>
        <li>
          <a href="#">Cursos</a>
        </li>
      </ul>

      <div id="nav-account" class="grid_3">
        <div class="username"><a href="#">Guilherme</a></div>
        <ul style="display: none;">
          <li>
            <a href="#" title="Perfil">Meu Perfil</a>
            <a href="#" title="editar" class="edit">editar</a>
          </li>
          <li>
            <a href="#">Mensagens (0)</a>
          </li>
          <li>
            <a href="#">Configurações</a>
          </li>
          <li>
            <a href="#">Sair</a>
          </li>
        </ul>
      </div><!-- end #nav-account -->

      <div id="search-box" class="grid_3">
      </div><!-- end #search -->
    </div><!-- end #header -->

    <div id="content" class="container_16 clearfix">
      <div class="sidebar alpha grid_3">
        <div class="image-frame">
          <!-- <%# Nao setar width e height na imagem %> -->
          <img src="../public/images/new/missing_120_120.png" width="120" height="120" alt="profile" />
        </div>

        <ul class="nav-user">
          <li>
            <div class="selected session"><a href="" class="icon icon-redu_r8_c333_s1">Nome Sobrenome</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r10_c331_s1">Mensagens (0)</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r8_c379_s1">Meu Mural</a></div>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r8_c217_s1">CIn</a></div>
            <ul class="courses">
              <li>
                <a href="">Ciência da Computação</a>
                <ul class="spaces">
                  <li>
                    <a href="">Introdução a computação</a>
                  </li>
                  <li>
                    <a href="">Mineração de Dados</a>
                  </li>
                  <li>
                    <a href="">Interface homem-máquina</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="">Engenharia da Computação</a>
              </li>
            </ul>
          </li>
          <li>
            <div class="session"><a href="" class="icon icon-redu_r8_c325_s1">Contatos</a></div>
            <ul class="connections clearfix">
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
              <li>
                <a href=""><img src="../public/images/new/missing_32_32.png" /></a>
              </li>
            </ul><!-- end .connections -->
            <a href="" class="more">Ver mais</a>
          </li>
        </ul><!-- end .nav-user -->
      </div>

      <div class="main grid_10" style="width: 580px;">
        <div class="create-status">
          <form action="">
            <fieldset class="vanilla">
              <div class="textarea"><textarea class="status" name=""></textarea></div>
              <div class="char-limit"><span class="chars">200</span> caracteres restantes</div>
              <input type="submit" value="Postar" />
              <a href="" class="cancel">Cancelar</a>
            </fieldset>
          </form>
        </div>
        <div class="statuses">
          <ol>
            <li>
              <div class="status">
                <img class="avatar" src="../public/images/new/missing_32_32.png" />
                <span class="message">
                <a href="" class="username">Guilherme Cavalcanti</a>
                  <span class="date">
                    há 3 minutos atrás
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur magna aliqua.<a href="#"> Ut enim ad minim veniam,</a> quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                </span>
                <ul class="actions clearfix">
                  <li>
                    <a href="" class="icon icon-redu_r12_c51_s1">Responder</a>
                  </li>
                  <li>
                    <a href="" class="icon icon-redu_r12_c59_s1">Adicionar a favoritos</a>
                  </li>
                  <li>
                    <a href="" class="icon icon-redu_r12_c43_s1">Apagar</a>
                  </li>
                </ul>
              </div>
              <div class="responses">
                <ol>
                  <li>
                    <div class="re-status">
                      <img class="avatar" src="../public/images/new/missing_32_32.png" />
                      <span class="message">
                        <a href="" class="username">Evelyn Diniz</a>
                        <span class="date">
                          há 3 minutos atrás
                        </span>
                        <p>
                          Duis aute irure dolor in reprehenderit in voluptate
                          velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
                          culpa qui officia deserunt mollit anim id est laborum
                        </p>
                      </span>
                      <ul class="actions clearfix">
                        <li>
                          <a href="" class="icon icon-redu_r12_c51_s1">Responder</a>
                        </li>
                        <li>
                          <a href="" class="icon icon-redu_r12_c59_s1">Adicionar a favoritos</a>
                        </li>
                        <li>
                          <a href="" class="icon icon-redu_r12_c43_s1">Apagar</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="re-status">
                      <img class="avatar" src="../public/images/new/missing_32_32.png" />
                      <span class="message">
                        <a href="" class="username">Evelyn Diniz</a>
                        <span class="date">
                          há 3 minutos atrás
                        </span>
                        <p>
                          Duis aute irure dolor in reprehenderit in voluptate
                          velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
                          culpa qui officia deserunt mollit anim id est laborum
                        </p>
                      </span>
                      <ul class="actions clearfix">
                        <li>
                          <a href="" class="icon icon-redu_r12_c51_s1">Responder</a>
                        </li>
                        <li>
                          <a href="" class="icon icon-redu_r12_c59_s1">Adicionar a favoritos</a>
                        </li>
                        <li>
                          <a href="" class="icon icon-redu_r12_c43_s1">Apagar</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ol>
                <a href="#" class="toggle-statuses">Ver todos os 22 comentários</a>
              </div><!-- end .responses -->
            </li>
            <li>
              <div class="status">
                <img class="avatar" src="../public/images/new/missing_32_32.png" />
                <span class="message">
                  <a href="" class="username">Guilherme Cavalcanti</a>
                  <span class="date">
                    há 3 minutos atrás
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur magna aliqua.<a href="#"> Ut enim ad minim veniam,</a> quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                </span>
                <ul class="actions clearfix">
                  <li>
                    <a href="" class="icon icon-redu_r12_c51_s1">Responder</a>
                  </li>
                  <li>
                    <a href="" class="icon icon-redu_r12_c59_s1">Adicionar a favoritos</a>
                  </li>
                  <li>
                    <a href="" class="icon icon-redu_r12_c43_s1">Apagar</a>
                  </li>
                </ul>
              </div>
              <div class="create-status create-response">
                <form action="">
                  <fieldset class="vanilla">
                    <div class="textarea"><textarea class="status" name="" rows="10" cols="30"></textarea></div>
                    <div class="char-limit"><span class="chars">200</span> caracteres restantes</div>
                    <input type="submit" value="Postar" />
                    <a href="" class="cancel">Cancelar</a>
                  </fieldset>
                </form>
              </div>
            </li>
            <li>
              <div class="status log">
                <img class="avatar" src="../public/images/new/missing_32_32.png" />
                <span class="message">
                  <p>
                    <a href="" class="username">Guilherme Cavalcanti</a>
                      adicionou uma nova aula na disciplina <a href="">Marketing de Serviços</a>
                  </p>
                  <span class="date">
                    há 3 minutos atrás
                  </span>
                </span>
                <ul class="actions clearfix">
                  <li>
                    <a href="" class="icon icon-redu_r12_c51_s1">Responder</a>
                  </li>
                  <li>
                    <a href="" class="icon icon-redu_r12_c59_s1">Adicionar a favoritos</a>
                  </li>
                  <li>
                    <a href="" class="icon icon-redu_r12_c43_s1">Apagar</a>
                  </li>
                </ul>
              </div>
              <div class="create-status create-response">
                <form action="">
                  <fieldset class="vanilla">
                    <div class="textarea"><textarea class="status" name="" rows="10" cols="30"></textarea></div>
                    <div class="char-limit"><span class="chars">200</span> caracteres restantes</div>
                    <input type="submit" value="Postar" />
                    <a href="" class="cancel">Cancelar</a>
                  </fieldset>
                </form>
              </div>
            </li>
          </ol>

          <div class="endless"><a href="">Mais resultados</a></div>
        </div><!-- end .statuses -->


      </div><!-- end .main -->

      <div class="offering">
        <div class="call">
        <span class="icon icon-redu_r8_c215_s1">Oferta de Cursos</span>
        </div>
        <ul class="course-offering">
          <li>
            <a href="">Análise de Opções</a>
            <a href="" class="initials">Fuctura</a>
          </li>
          <li>
            <a href="">Python</a>
            <a href="" class="initials">Especializa</a>
          </li>
          <li>
            <a href="">Pacote Web</a>
            <a href="" class="initials">CITi</a>
          </li>
          <li>
            <a href="">Direito Constitucional</a>
            <a href="" class="initials">NUCE</a>
          </li>
          <li>
            <a href="">Redu Summer of Code</a>
            <a href="" class="initials">Redu</a>
          </li>
        </ul>
      </div><!-- end .offering -->
    </div><!-- end #content -->

    <div id="footer" class="container_16 clearfix">
      <h1 id="logotipo-footer" class="replacement">
        <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
      </h1>
      <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

      <div id="nav-footer">
        <ul>
          <li>
            <a href="">Sobre o Redu</a>
          </li>
          <li>
            <a href="">Privacidade</a>
          </li>
          <li>
            <a href="">Termos de uso</a>
          </li>
          <li>
            <a href="">Contato</a>
          </li>
        </ul>
      </div><!-- end #nav-footer -->
    </div><!-- end #footer -->
  </body>
</html>
