<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://0.0.0.0:3000/stylesheets/reset.css" type="text/css" media="screen, projection"></link>
    <link rel="stylesheet" href="http://0.0.0.0:3000/stylesheets/960.css" type="text/css" media="screen, projection"></link>
    <link rel="stylesheet" href="http://0.0.0.0:3000/stylesheets/style.css" type="text/css" media="screen"></link>
    <script type="text/javascript" src="javascripts/jquery-1.4.2.min.js" charset="utf-8">
    </script>
    <script type="text/javascript" src="javascripts/jquery-ui-1.8.1.custom.min.js" charset="utf-8">
    </script>
    </script>
    <script type="text/javascript" src="http://0.0.0.0:3000/javascripts/common.js" charset="utf-8">
    </script>
</head>
<body>
<div id="header" class="container_16">
    <h1 id="logo" class="grid_3"><a href="#" class="replacement">Redu - Rede Social Educacional</a></h1>
    <div id="global-nav" class="grid_6">
        <ul class="clearfix">
	    <li class="item-1">
	        <a href="">Início</a>
	    </li>
	    <li class="item-2 selected">
	        <a href="">Aprender</a>
	    </li>
	    <li class="item-3"><a href="">Ensinar</a></li>
	    <li class="item-4"><a href="">Redes</a></li>
	    </ul>
    </div>
    <div id="global-search" class="grid_5">
        <form action="" id="search">
            <div class="searchbox">
            <input type="text" name="search" />
            <input type="submit" value="Buscar" class="replacement" />
            </div>
        </form>
    </div>
    
    <div class="user-actions grid_2">
   <!--
   <a href="#user-settings" class="pandora closed">Guilherme</a>
        <div id="user-settings" class="option hide">
       
        <ul>
	        <li><a href="">Caixa de entrada</a></li>
	        <li><a href="">Configurações</a></li>
	        <li><a href="">Sair</a></li>
        </ul>
        </div>
        -->

      <a href="#user-login" class="pandora closed">Login</a>
        <div id="user-login" class="option hide">
        <form action="" method="" class="common">
        <fieldset>
            <label for="username">Login</label>
            <input type="text" id="username" name="" />
            <label for="password">Senha</label>
            <input type="password" id="password" name="" />
            <button type="submit">Entrar</button>
        </fieldset>
        </form>
        </div>
    </div>
</div><!-- end header -->
<div class="container_16 content clearfix">
	
<div class="grid_5 calls" id="filter">
	<span class="call"><span>Opções avançadas</span></span>
	<div class="filter">
		<form action="">
			<fieldset>
				<legend>Palavra-chave</legend>
				<label for="palavra-chave">Filtrar por:</label><input type="text" />
				<input type="submit" value="Filtrar" />
			</fieldset>
			<fieldset>
				<legend>Tipo de Recurso</legend>
				<ul>
					<li>
						<input type="radio" id="aula"/>
						<label for="aula" class="inline">Aula</label>
					</li>
					<li>
						<input type="radio" id="seminario" />
						<label for="seminario" class="inline">Seminário</label>
					</li>
				</ul>
				<input type="submit" value="Filtar" />
			</fieldset>
			<fieldset>
				<legend>Tipo</legend>
				<ul>
					<li>
						<input type="checkbox" id="aula"/>
						<label for="aula" class="inline">Aula</label>
					</li>
					<li>
						<input type="checkbox" id="seminario" />	
						<label for="seminario" class="inline">Seminário</label>
					</li>
					<li>
						<input type="checkbox" id="seminario" />	
						<label for="seminario" class="inline">Arquivo</label>
					</li>
				</ul>
				<input type="submit" value="Filtar" />

			</fieldset>
		</form>
	</div>
</div><!-- end filter -->
<div class="grid_11">
<div class="filter-box clearfix">
	<span class="call">Filtrar por:</span>
    <ul>
        <li class="selected"><a href="">Todas</a></li>
        <li><a href="">Redes</a></li>
        <li><a href="">Amigos</a></li>
        <li><a href="">Perguntas</a></li>
        <li><a href="">Enquetes</a></li>
       </ul>
</div>
<ul class="default">
	<li class="clearfix">
		<a href="" class="name">Alguma aula de Portugês</a>
		<div class="thumb photo"><img src="http://0.0.0.0:3000/images/thumb.gif" alt="" /></div>
		<div class="headlines">
			<span class="call">O que há de novo?</span>
			<ul>
				<li><a href="">Novo material</a></li>
				<li><a href="">Aula de história</a></li>
				<li><a href="">Prova de matemática</a></li>
				<li><a href="">Simulado de física</a></li>
				<li><a href="">Simulado de história</a></li>
				<li><a href="">Geografia dos oceanos</a></li>
			</ul>
		</div>
	</li>
	<li class="clearfix">
		<a href="" class="name">Outra aula</a>
		<div class="thumb photo"><img src="http://0.0.0.0:3000/images/thumb.gif" alt=""  /></div>
		<div class="headlines">
			<span class="call">O que há de novo?</span>
			<ul>
				<li><a href="">Novo material</a></li>
				<li><a href="">Aula de história</a></li>
				<li><a href="">Prova de matemática</a></li>
				<li><a href="">Simulado de física</a></li>
				<li><a href="">Simulado de história</a></li>
				<li><a href="">Geografia dos oceanos</a></li>
			</ul>
		</div>
	</li>
	<li class="clearfix">
		<a href="" class="name">Mais outra aula de outra coisa</a>
		<div class="thumb video"><img src="http://0.0.0.0:3000/images/thumb.gif" alt=""  /></div>
		<div class="headlines">
			<span class="call">O que há de novo?</span>
			<ul>
				<li><a href="">Novo material</a></li>
				<li><a href="">Aula de história</a></li>
				<li><a href="">Prova de matemática</a></li>
				<li><a href="">Simulado de física</a></li>
				<li><a href="">Simulado de história</a></li>
				<li><a href="">Geografia dos oceanos</a></li>
			</ul>
		</div>
	</li>
</ul>
<div class="pagination">
	<ol>
		<li><a href="" class="current">1</a></li>
		<li><a href="">2</a></li>
		<li><a href="">3</a></li>
		<li><a href="">4</a></li>
	</ol>	
</div>
</div><!-- end grid_10 -->
</div><!-- end content -->
</body>
</html>

