<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen, projection"></link>
    <link rel="stylesheet" href="stylesheets/960.css" type="text/css" media="screen, projection"></link>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen"></link>
    <script type="text/javascript" src="javascripts/jquery-1.4.2.min.js" charset="utf-8">
    </script>
    <script type="text/javascript" src="javascripts/jquery-ui-1.8.1.custom.min.js" charset="utf-8">
    </script>
    <script type="text/javascript" src="javascripts/common.js" charset="utf-8">
    </script>
</head>
<body>
<div id="header" class="container_16">
    <h1 id="logo" class="grid_3"><a href="#" class="replacement">Redu - Rede Social Educacional</a></h1>
    <div id="global-nav" class="grid_6">
        <ul class="clearfix">
	    <li class="item-1">
	        <a href="">Início</a>
	    </li>
	    <li class="item-2 selected">
	        <a href="">Aprender</a>
	    </li>
	    <li class="item-3"><a href="">Ensinar</a></li>
	    <li class="item-4"><a href="">Redes</a></li>
	    </ul>
    </div>
    <div id="global-search" class="grid_5">
        <form action="" id="search">
            <div class="searchbox">
            <input type="text" name="search" />
            <input type="submit" value="Buscar" class="replacement" />
            </div>
        </form>
    </div>
    <a href="" class="login grid_2 " >Login</a>
    <div id="user-info" class="">
        <a href="">Caixa de entrada</a>
        <a href="">Configurações</a>
        <a href="">Sair</a>
    </div>
</div><!-- end header -->
<div id="public-profile" class="container_12 content clearfix">
    <div class="main grid_8">
    <div class="overview yellow clearfix">
        <div class="actions">
            <ul>
                <li class="action-1"><a href="" class="icon ico-follow">Seguir</a></li>
                <li class="action-2"><a href="" class="icon ico-contact">Mensagem</a></li>
                <li class="action-3"><a href="" class="icon ico-recomend">Recomende</a></li>
            </ul>
        </div><!-- end actions -->
        <div class="photo">
            <img src="http://a1.twimg.com/profile_images/90710152/minha-cara_bigger.jpg" width="100%" alt="" />
        </div>
        <div class="personal-overview clearfix">
            <div class="points-m">
            <span class="number">37</span>
            <span class="legend">redu points</span>
            </div>
            <a href="" class="name">Guilherme Cavalcanti</a>
            <!--<span class="status student replacement">Aluno</span>-->
            <span class="location quiet">Recife, Pernambuco</span>
        </div><!-- end personal-overview -->
        
        <div class="social-overview clearfix">
            <div class="recomendations-m">
            <span class="number">37</span>
            <span class="legend">recomendações</span>
            </div>
            <span class="areas quiet">Áreas de intersse</span>
            <ul class="tags">
                <li><a href="">Matemática</a></li>
                <li><a href="">Informática Básica</a></li>
                <li><a href="">Concursos</a></li>
            </ul>
        </div><!-- end social-overview -->
    </div><!-- profile -->
    
    <div class="tabs">
	    <ul>
		    <li><a href="#tabs-1">Atividades</a></li>
		    <li><a href="#tabs-5">Currículo</a></li>
		    <li><a href="#tabs-2">Cursos</a></li>
		    <li><a href="#tabs-3">Redes (2)</a></li>
		    <li><a href="#tabs-4">Exames (22)</a></li>
	    </ul>
	    <div class="content clearfix">
	
	        <div id="tabs-1">
                <div class="post-activity">
                    <ul class="clearfix">
	                    <li><a href="#actv-1" class="status">Status</a></li>
	                    <li><a href="#actv-2" class="question">Pergunta</a></li>
	                    <li><a href="#actv-3" class="poll">Enquete</a></li>
                    </ul>
                    
                    <div id="actv-1" class="clearfix">
                        <form class="post-status" action="" method="post">
                            <fieldset>
                            <textarea name="status" rows="" cols="" title="O que você está fazendo agora?" class="inner-label"></textarea>
                            <button type="submit">Postar</button>
                            </fieldset>
                        </form>
                    </div>
                    <div id="actv-2" class="clearfix">
                        <form class="post-question" action="" method="post">
                            <fieldset>
                            <textarea name="question" rows="" cols="" title="Qual é a sua dúvida?" class="inner-label"></textarea>
                            <button type="submit">Perguntar</button>
                            </fieldset>
                        </form>
                    </div>
                    <div id="actv-3" class="clearfix">
                        <form method="post" action="" class="post-poll">
                            <fieldset>
                            <label for="title">Pergunta</label>
                            <input type="text" name="title" />
                            <input type="text" name="choice_0" title="Alternativa 1" class="inner-label"/>
                            <input type="text" name="choice_1" title="Alternativa 2" class="inner-label"/>
                            <input type="text" name="choice_2" title="Alternativa 3" class="inner-label" />
                            <span class="add">
                            Adicionar
                            </span>
                            <button type="submit">Postar</button>
                            </fieldset>
                        </form>
                    </div><!-- end post-activity -->
                </div>
	            <div class="filter-box clearfix">
	                <ul>
	                    <li class="selected"><a href="">Todas</a></li>
	                    <li><a href="">Redes</a></li>
	                    <li><a href="">Amigos</a></li>
	                    <li><a href="">Perguntas</a></li>
	                    <li><a href="">Enquetes</a></li>
                    </ul>
	            </div>
	            <ul class="activities">
	                <li class="clearfix">
                        <div class="photo overlay">
                        <img src="images/question-mark.png" class="mark" alt="" />
                        <img src="http://a1.twimg.com/profile_images/778854786/foto3_normal.JPG" alt="" />
                        </div>
	                    <div class="activity clearfix question">
	                        <div class="actions">
	                            <a href="" class="icon ico-bookmark">favoritos</a>
	                            <a href="" class="icon ico-comment">comentar</a>
	                        </div>
	                        <span class="msg">
	                            <a href="" class="author">marcelcaraciolo</a>
	                            Qual é a resposta para a vida, o universo e tudo mais?
	                            <span class="when quiet">há 6 horas</span>
	                        </span>
	                        <div class="question-action">
	                            <a href="">Responder</a>
	                            <div class="answer hide">
	                            <form action="" method="post">
	                                <fieldset>
	                                <input type="text" name="response" class="answer" />
	                                <button type="submit">Responder</button>
	                                </fieldset>
	                            </form>
	                            </div>
	                        </div>
	                        <ul class="response clearfix">
                                <li class="clearfix">
                                <div class="photo">
                                <img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" />
                                </div>
                                <div class="activity clearfix">
                                <span class="msg">
                                <a href="" class="author">marcelcaraciolo</a>
                                Resposta número um para a vida, o universo e tudo mais.
                                <span class="when quiet">há 6 horas</span>
                                </span>

                                </div>
                                </li>
                                <li class="clearfix">
                                <div class="photo">
                                <img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" />
                                </div>
                                <div class="activity clearfix">
                                <span class="msg">
                                <a href="" class="author">marcelcaraciolo</a>
                                Google launches the Latitude API now for developers :) orem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ultrices libero. 
                                <span class="when quiet">há 6 horas</span>
                                </span>
                                </div>
                                </li>
	                        </ul><!-- end response -->
	                    </div><!-- end activity -->
	                </li>
                    <li class="clearfix">
                        <div class="photo">
                        <img src="http://a1.twimg.com/profile_images/778854786/foto3_normal.JPG" alt="" />
                        </div>
	                    <div class="activity clearfix question">
	                        <div class="actions">
	                            <a href="" class="icon ico-bookmark">favoritos</a>
	                            <a href="" class="icon ico-comment">comentar</a>
	                        </div>
	                        <span class="msg">
	                            <a href="" class="author">marcelcaraciolo</a>
	                            Qual é a resposta para a vida, o universo e tudo mais?
	                            <span class="when quiet">há 6 horas</span>
	                        </span>
	                    </div>
	                  </li>
                </ul><!-- end activities -->
	            
	            
	        
	        </div>
            <div id="tabs-2">
                <ul class="groups">
	                <li class="clearfix">
	                <div class="photo">
	                    <img src="http://a1.twimg.com/profile_images/778854786/foto3_normal.JPG" alt="" />
	                    <a href="" class="more">Ver</a>
	                </div>
	                <a href="" class="name grid_7 omega">Colégio de Aplicação</a>
	                
	                <div class="spotlight">
	                    <a href="" class="type grid_1">Exames</a>
	                    <ul class="grid_5">
		                    <li><a href="">Prova de Crase </a><span class="when quiet">há 11 horas</span></li>
		                    <li><a href="">Resolução de exercícios </a><span class="when quiet">há 11 horas</span></li>
		                    <li><a href="">Outra prova </a><span class="when quiet">há 11 horas</span></li>
	                    </ul>
	                    <a href="" class="more grid_1 omega">Ver mais</a>
                    </div>
	                
	                
	                </li>
	                <li class="clearfix">
	                <div class="photo">
	                    <img src="http://a1.twimg.com/profile_images/778854786/foto3_normal.JPG" alt="" />
	                    <a href="" class="more">Ver</a>
	                </div>
	                <a href="" class="name grid_7 omega">Colégio de Aplicação</a>
	                
	                <div class="spotlight">
	                    <a href="" class="type grid_1">Exames</a>
	                    <ul class="grid_5">
		                    <li><a href="">Prova de Crase </a><span class="when quiet">há 11 horas</span></li>
		                    <li><a href="">Resolução de exercícios </a><span class="when quiet">há 11 horas</span></li>
		                    <li><a href="">Outra prova </a><span class="when quiet">há 11 horas</span></li>
	                    </ul>
	                    <a href="" class="more grid_1 omega">Ver mais</a>
                    </div>
	                
	                
	                </li>
	                <li class="clearfix">
	                <div class="photo">
	                    <img src="http://a1.twimg.com/profile_images/778854786/foto3_normal.JPG" alt="" />
	                    <a href="" class="more">Ver</a>
	                </div>
	                <a href="" class="name grid_7 omega">Colégio de Aplicação</a>
	                
	                <div class="spotlight">
	                    <a href="" class="type grid_1">Exames</a>
	                    <ul class="grid_5">
		                    <li><a href="">Prova de Crase </a><span class="when quiet">há 11 horas</span></li>
		                    <li><a href="">Resolução de exercícios </a><span class="when quiet">há 11 horas</span></li>
		                    <li><a href="">Outra prova </a><span class="when quiet">há 11 horas</span></li>
	                    </ul>
	                    <a href="" class="more grid_1 omega">Ver mais</a>
                    </div>
	                
	                
	                </li>
                </ul>
            </div>
            <div id="tabs-3" >3</div>
            <div id="tabs-4" >4</div>
            <div id="tabs-5" >
                <div class="curriculum pretty-text">
                    <h1>Descrição Geral</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada ligula. Aenean sollicitudin condimentum elit, sit amet fringilla mi blandit sed. Sed adipiscing laoreet ipsum sed volutpat. Integer non odio sodales nibh congue scelerisque. Curabitur blandit, nisi id faucibus consectetur, ligula purus sagittis metus, sit amet auctor nunc nisi viverra nunc. Aenean odio justo, elementum sit amet rhoncus at, porta bibendum elit. Nunc lobortis diam eget ligula sodales sit amet blandit ante tempor. Nullam elementum lacinia commodo.                    
                    </p>
                    <ul>
                        <li>Elemento 1</li>
                        <li>Elemento 2</li>
                        <li>Elemento 3</li>
                    </ul>
                    <ol>
                        <li>Elemento 1</li>
                        <li>Elemento 2</li>
                        <li>Elemento 3</li>
                    </ol>
                    <h1>Instituições</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada ligula. Aenean sollicitudin condimentum elit, sit amet fringilla mi blandit sed. Sed adipiscing laoreet ipsum sed volutpat. Integer non odio sodales nibh congue scelerisque. Curabitur blandit, nisi id faucibus consectetur, ligula purus sagittis metus, sit amet auctor nunc nisi viverra nunc. Aenean odio justo, elementum sit amet rhoncus at, porta bibendum elit. Nunc lobortis diam eget ligula sodales sit amet blandit ante tempor. Nullam elementum lacinia commodo.                    
                    </p>
                    <h2>Formação</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada ligula. Aenean sollicitudin condimentum elit, sit amet fringilla mi blandit sed. Sed adipiscing laoreet ipsum sed volutpat. Integer non odio sodales nibh congue scelerisque. Curabitur blandit, nisi id faucibus consectetur, ligula purus sagittis metus, sit amet auctor nunc nisi viverra nunc. Aenean odio justo, elementum sit amet rhoncus at, porta bibendum elit. Nunc lobortis diam eget ligula sodales sit amet blandit ante tempor. Nullam elementum lacinia commodo.                    
                    </p>
                    <h3>Formação</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada ligula. Aenean sollicitudin condimentum elit, sit amet fringilla mi blandit sed. Sed adipiscing laoreet ipsum sed volutpat. Integer non odio sodales nibh congue scelerisque. Curabitur blandit, nisi id faucibus consectetur, ligula purus sagittis metus, sit amet auctor nunc nisi viverra nunc. Aenean odio justo, elementum sit amet rhoncus at, porta bibendum elit. Nunc lobortis diam eget ligula sodales sit amet blandit ante tempor. Nullam elementum lacinia commodo.                    
                    </p>
                    <h4>Formação</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada ligula. Aenean sollicitudin condimentum elit, sit amet fringilla mi blandit sed. Sed adipiscing laoreet ipsum sed volutpat. Integer non odio sodales nibh congue scelerisque. Curabitur blandit, nisi id faucibus consectetur, ligula purus sagittis metus, sit amet auctor nunc nisi viverra nunc. Aenean odio justo, elementum sit amet rhoncus at, porta bibendum elit. Nunc lobortis diam eget ligula sodales sit amet blandit ante tempor. Nullam elementum lacinia commodo.                    
                    </p>
                    <h5>Formação</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada ligula. Aenean sollicitudin condimentum elit, sit amet fringilla mi blandit sed. Sed adipiscing laoreet ipsum sed volutpat. Integer non odio sodales nibh congue scelerisque. Curabitur blandit, nisi id faucibus consectetur, ligula purus sagittis metus, sit amet auctor nunc nisi viverra nunc. Aenean odio justo, elementum sit amet rhoncus at, porta bibendum elit. Nunc lobortis diam eget ligula sodales sit amet blandit ante tempor. Nullam elementum lacinia commodo.                    
                    </p>                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada ligula. Aenean sollicitudin condimentum elit, sit amet fringilla mi blandit sed. Sed adipiscing laoreet ipsum sed volutpat. Integer non odio sodales nibh congue scelerisque. Curabitur blandit, nisi id faucibus consectetur, ligula purus sagittis metus, sit amet auctor nunc nisi viverra nunc. Aenean odio justo, elementum sit amet rhoncus at, porta bibendum elit. Nunc lobortis diam eget ligula sodales sit amet blandit ante tempor. Nullam elementum lacinia commodo.                    
                    </p>
                    <h6>Formação</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec malesuada ligula. Aenean sollicitudin condimentum elit, sit amet fringilla mi blandit sed. Sed adipiscing laoreet ipsum sed volutpat. Integer non odio sodales nibh congue scelerisque. Curabitur blandit, nisi id faucibus consectetur, ligula purus sagittis metus, sit amet auctor nunc nisi viverra nunc. Aenean odio justo, elementum sit amet rhoncus at, porta bibendum elit. Nunc lobortis diam eget ligula sodales sit amet blandit ante tempor. Nullam elementum lacinia commodo.                    
                    </p>
                </div>
            </div>
	    
	    </div>
    </div>
    
    </div><!-- end main -->
    <div class="sidebar grid_4 omega">
        <div class="report">
            <div class="info clearfix">
                <div class="points-m">
                <span class="legend">você tem</span>
                <span class="number">37</span>
                <span class="legend">redu points</span>
                </div>
            </div>
        </div>
        <ul class="sortable clearfix">
        <li class="clearfix">
        <span class="call"><span>Quem você segue</span></span>
        <div class="followship box clearfix">
            <ul class="clearfix">
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a1.twimg.com/profile_images/353872910/python-avatar_mini.png" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/143752933/3403776828_54443f6bdc_mini.jpg" alt="" /></a></li>
	            <li><a href=""><img src="http://a3.twimg.com/profile_images/381705289/avatar_ff_mini.jpg" alt="" /></a></li>
            </ul>
            <a href="" class="icon more">Ver mais</a>
        </div>
        </li>
        
        <li class="clearfix">
        <span class="call"><span>Seu Progresso</span></span>
        <div class="followship box clearfix">
            Progresso
        </div>
        </li>
        </ul><!-- end sortable -->
    </div><!-- end sidebar -->
    </div><!-- end content -->
</body>
</html>

