<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
    <link media="all" rel="stylesheet" href="../public/stylesheets/reset.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/960.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-fonts.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-style.css" type="text/css" />
    <script src="../public/javascripts/jquery.js" type="text/javascript"></script>
    <script src="../public/javascripts/new_common.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <script src="../public/javascripts/DD_roundies_0.0.2a-min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      DD_roundies.addRule('#content .main, #header', '12px');
      DD_roundies.addRule('#header .nav a, #content .sidebar .local-nav > li > .session', '5px');
    </script>
    <![endif]-->


  </head>
  <body>

    <div id="clean" class="container_16 clearfix">
      <div class="grid_4 alpha header">
        <h1 class="logotipo replacement">
          <a href="" class="">Redu: rede social educacional</a>
        </h1>
      </div>
      <div class="main grid_12 omega">
        <h3 class="call">Cadastro</h3>
        <form action="" class="common">
          <fieldset class="separator">
            <legend>Informações pessoais</legend>
            <label for="">Nome</label>
            <input type="text" class="small" />
            <label for="">Sobrenome</label>
            <input type="text" class="small" />
            <label for="">Nascimento</label>
            <div class="inline">
              <select value="">
                <option id="" name="">30</option>
                <option id="" name="">31</option>
              </select>
              <select value="">
                <option id="" name="">dezembro</option>
                <option id="" name="">janeiro</option>
              </select>
              <select value="">
                <option id="" name="">1987</option>
                <option id="" name="">1988</option>
              </select>
            </div>
            </fieldset>
            <fieldset class="separator">
              <legend>Informações de contato</legend>
              <label for="">Login:</label>
              <input type="text" class="small" />
              <label for="">E-mail:</label>
              <input type="text" class="small" />
            </fieldset>
            <fieldset class="separator">
              <legend>Senha</legend>
              <label for="">Senha:</label>
              <input type="password" class="small" />
              <label for="">Confirmação:</label>
              <input type="password" class="small" />
            </fieldset>
            <fieldset class=" tos">
            	<legend>Termos</legend>
                <div class="inline">
                  <input type="checkbox" />
                  <label for="">Li e aceito os termos de uso do Redu</label>
                </div>
            </fieldset>
              <input type="submit" value="Cadastrar Nova Conta" class="important" />
          </form>
      </div>


    </div><!-- end #content -->

    <div id="footer" class="container_16 clearfix">
      <h1 id="logotipo-footer" class="replacement">
        <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
      </h1>
      <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

      <div id="nav-footer">
        <ul>
          <li>
            <a href="">Sobre o Redu</a>
          </li>
          <li>
            <a href="">Privacidade</a>
          </li>
          <li>
            <a href="">Termos de uso</a>
          </li>
          <li>
            <a href="">Contato</a>
          </li>
        </ul>
      </div><!-- end #nav-footer -->
    </div><!-- end #footer -->
  </body>
</html>

