
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title></title>
    <link media="all" rel="stylesheet" href="../public/stylesheets/reset.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/960.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-fonts.css" type="text/css" />
    <link media="all" rel="stylesheet" href="../public/stylesheets/new-style.css" type="text/css" />
    <script src="../public/javascripts/jquery.js" type="text/javascript"></script>
    <script src="../public/javascripts/new_common.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <script src="../public/javascripts/DD_roundies_0.0.2a-min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      DD_roundies.addRule('#content .main, #header', '12px');
      DD_roundies.addRule('#header .nav a, #content .sidebar .local-nav > li > .session', '5px');
      </script>
      <![endif]-->
    </head>
    <body>
      <div id="header" class="container_16">
        <h1 id="logotipo" class="grid_3 replacement">
          <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
        </h1>
        <ul class="nav grid_7">
          <li>
            <a href="#">Início</a>
          </li>
          <li>
            <a href="#">Aprenda</a>
          </li>
          <li>
            <a href="#">Ensine</a>
          </li>
          <li>
            <a href="#">Cursos</a>
          </li>
        </ul>

        <div id="nav-account" class="grid_3">
          <div class="username"><a href="#">Guilherme</a></div>
          <ul style="display: none;">
            <li>
              <a href="#" title="Perfil">Meu Perfil</a>
              <a href="#" title="editar" class="edit">editar</a>
            </li>
            <li>
              <a href="#">Mensagens (0)</a>
            </li>
            <li>
              <a href="#">Configurações</a>
            </li>
            <li>
              <a href="#">Sair</a>
            </li>
          </ul>
        </div><!-- end #nav-account -->

        <div id="search-box" class="grid_3">
        </div><!-- end #search -->
      </div><!-- end #header -->

      <div id="content" class="container_16 clearfix">
        <div class="clearfix plan" id="checkout">
          <ol id="breadcrumbs" class="wizard clearfix">
            <li>
              <a href="" class="replacement home icon icon-redu_r8_c227_s1">Home</a>
            </li>
            <li>
              <a href="" class="">Ensine</a>
            </li>
            <li>
              <a href="" >Etapa 1: Planos</a>
            </li>
            <li>
              <a href="" class="disabled">Etapa 2: Informações</a>
            </li>
            <li>
              <a href="" class="disabled">Etapa 3: Confirmar Dados</a>
            </li>
          </ol>

          <div class="grid_4 alpha">
            <h3>Etapa 1: <span>Planos</span></h3>
            <em class="description">Escolha o plano que melhor se adequa as suas necessidades.</em>
          </div>
          <div class="plan">
            <div class="table tabs">
              <ul>
                <li>
                  <a href="#teacher" class="teacher">Professor</a>
                </li>
                <li>
                  <a href="#instituition" class="instituition">Instituição de ensino</a>
                </li>
                <li>
                  <a href="#company" class="company">Empresa</a>
                </li>
              </ul>
                <div id="teacher" class="clearfix wide">
                  <ul class="plans clearfix">
                    <li class="free">
                      <strong class="name">Grátis</strong>
                      <ul class="features">
                        <li>
                          <strong>10</strong>
                          alunos
                        </li>
                        <li>
                          <strong>20 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>10 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                        <li>
                          <strong>3</strong>
                          meses grátis
                        </li>
                      </ul>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                    <li>
                      <strong class="name">Lite</strong>
                      <ul class="features">
                        <li>
                          <strong>20</strong>
                          alunos
                        </li>
                        <li>
                          <strong>50 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>30 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">13,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">13,99</span>
                          /mês
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">139,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                    <li>
                      <strong class="name">Standard</strong>
                      <ul class="features">
                        <li>
                          <strong>100</strong>
                          alunos
                        </li>
                        <li>
                          <strong>50 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>90 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">56,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">56,99</span>
                          /mês
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">569,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                    <li class="last best-choice">
                      <strong class="name">Plus</strong>
                      <ul class="features">
                        <li>
                          <strong>500</strong>
                          alunos
                        </li>
                        <li>
                          <strong>50 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>150 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">243,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">243,99</span>
                          /mês
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">2439,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                  </ul>
                </div><!-- end #teacher -->
                <div id="instituition">
                  <ul class="plans clearfix">
                    <li>
                      <strong class="name">Lite</strong>
                      <ul class="features">
                        <li>
                          <strong>100</strong>
                          alunos
                        </li>
                        <li>
                          <strong>25 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>500 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">251,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">251,99</span>
                          /mê9
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">2519,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                    <li>
                      <strong class="name">Standard</strong>
                      <ul class="features">
                        <li>
                          <strong>300</strong>
                          alunos
                        </li>
                        <li>
                          <strong>50 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>800 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">730,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">730,99</span>
                          /mês
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">7309,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                    <li class="last best-choice">
                      <strong class="name">Plus</strong>
                      <ul class="features">
                        <li>
                          <strong>600</strong>
                          alunos
                        </li>
                        <li>
                          <strong>75 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>800 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">1280,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">1280,99</span>
                          /mês
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">12809,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                  </ul>
                </div><!-- end #instituition -->
                <div id="company">
                  <ul class="plans clearfix">
                    <li>
                      <strong class="name">Lite</strong>
                      <ul class="features">
                        <li>
                          <strong>30</strong>
                          alunos
                        </li>
                        <li>
                          <strong>250 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>500 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">210,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">210,99</span>
                          /mê9
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">2109,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                    <li>
                      <strong class="name">Standard</strong>
                      <ul class="features">
                        <li>
                          <strong>50</strong>
                          alunos
                        </li>
                        <li>
                          <strong>250 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>500 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">248,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">248,99</span>
                          /mês
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">2489,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                    <li class="last best-choice">
                      <strong class="name">Plus</strong>
                      <ul class="features">
                        <li>
                          <strong>200</strong>
                          alunos
                        </li>
                        <li>
                          <strong>500 MB</strong>
                          de armazenamento de documentos
                        </li>
                        <li>
                          <strong>500 MB</strong>
                          de aramazenamento de vídeo
                        </li>
                      </ul>
                      <div class="pricing">
                        <div class="setup">
                          <span class="currency">R$</span>
                          <span class="value">858,99</span>
                          (adesão)
                        </div>
                        <span class="plus">+</span>
                        <span class="monthly">
                          <span class="currency">R$</span>
                          <span class="value">858,99</span>
                          /mês
                        </span>
                        <span class="yearly">
                          <span class="currency">R$</span>
                          <span class="value">8589,90</span>
                          /ano
                          <span class="tip">(2 meses grátis)</span>
                        </span>
                      </div>

                      <form action="">
                        <input type="submit" value="Assinar" class="important" />
                      </form>
                    </li>
                  </ul>
                </div><!-- end #company -->
            </div>
          </div><!-- end #plan -->
          
        </div>
      </div><!-- end #content -->

      <div id="footer" class="container_16 clearfix">
        <h1 id="logotipo-footer" class="replacement">
          <a href="#" title="Página Inicial">Redu: potencializando o talento das pessoas.</a>
        </h1>
        <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

        <div id="nav-footer">
          <ul>
            <li>
              <a href="">Sobre o Redu</a>
            </li>
            <li>
              <a href="">Privacidade</a>
            </li>
            <li>
              <a href="">Termos de uso</a>
            </li>
            <li>
              <a href="">Contato</a>
            </li>
          </ul>
        </div><!-- end #nav-footer -->
      </div><!-- end #footer -->
    </body>
  </html>
