.authoring-content {
  margin-bottom: 100px;
  margin-top: 20px;
}
.authoring-content .back {
  float: right;
  margin-right: 40px;
}
.authoring-content .introduction {
  padding: 20px 40px;
}
.authoring-content .introduction h4 {
  font-weight: 100;
  color: #6d6e6f;
}
.authoring-content .introduction h4 + h4 {
  margin-top: 20px;
}

.landing-advantages .landing-navigation-title {
  margin: 0;
}

.benefits {
  padding: 20px 40px;
}
.benefits .type-user {
  max-width: -webkit-calc(100% - 80px);
  max-width: -moz-calc(100% - 80px);
  max-width: calc(100% - 80px);
  float: left;
}
.benefits .type-user .button-user {
  float: left;
  margin-top: 20px;
}
.benefits .type-user.student {
  margin: 0;
  color: #61a080;
}
.benefits .type-user .benefit-call h4 {
  font-weight: 100;
  margin-top: 65px;
}
.benefits .type-user.teacher {
  margin: 0;
  color: #ff7c35;
}
.benefits .type-user.teacher .benefit-call h4 {
  margin-top: 40px;
}
.benefits .type-user.teacher .benefit-call h4 + h4 {
  margin-top: 20px;
}

.projects-table {
  padding: 20px 40px;
}
.projects-table h3 {
  margin: 40px 0 0 0;
}
.projects-table h4 {
  font-weight: 100;
  color: #6d6e6f;
}
.projects-table table {
  margin: 20px 0;
}
.projects-table table .label-online, .projects-table table .label-news {
  margin-left: 10px;
}
.projects-table table td {
  width: 50%;
}

.title-authoring {
  padding-top: 60px;
<<<<<<< HEAD
  background-image: url("../images/light.png");
  background-repeat: no-repeat;
  background-position: 0;
=======
  background-image: url("../images/landing/light-welcome.png");
  background-repeat: no-repeat;
>>>>>>> Insere a luz de fundo no título da página, coloca a partial welcome da landing no local ideal, remove overflow desnecessário do content-body, reescreve valor do padding seguindo padrão para 2 valores, define variável para padding vertical e horizontal padrões do content-body, remove largura fixa para a partial de benefícios
}
.title-authoring .title-call {
  font-weight: 500;
}
.title-authoring .subtitle-call {
  color: #6d6e6f;
  padding-bottom: 20px;
  font-family: museo-sans-rounded, museo-sans, "Helvetica Neue", Arial, sans-serif;
}
