/* Initial reset
---------------------------------------------------------- */
#flash_messages {
	background:#FFFFCC none repeat scroll 0 0;
	padding:5px;
text-align:center;
}


html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, dt, dd, p, blockquote, form, fieldset, legend {
    margin: 0;
    padding: 0;
    font: 100%/120% Arial, Helvetica, Verdana, sans-serif;
    outline:none;
}
a:focus, a:active, input:focus, input:active {outline: none;}
input, textarea, select, button, label {
    color: #3f3f3f;
    outline: none;
    vertical-align: middle;
}

input.text, input.password, input.file, input[type="text"], input[type="password"], input[type="file"], textarea, select{
    border:1px solid #CCC;
}
ul {
    list-style: none;
}
fieldset, button, img {
    border:0;
}
input, select, textarea {
    font-size: 100%;
}
/* General
---------------------------------------------------------- */
html {
    font-size:100.01%;
}
body {
    background:#fff;
    font-size:12px;
    color:#4b4b4b;
}
.wrapper {
        width:960px;
        margin:0 auto;
}
.container {
        width:922px;
        margin:10px auto 0 auto;
        background:#fafafa;
        border:1px solid #dbdbdb;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        padding:18px;
}
a {
        color:#ff671c;
        text-decoration:none;
}
a:hover {
        text-decoration:underline;
}
p {
        line-height:150%;
        padding-bottom:12px;
}
.left {
        float:left;
}
.right {
        float:right;
}
.center {
        text-align:center;
        margin:0 auto;
}
.uppercase {
        text-transform:uppercase;
}
/* Header
---------------------------------------------------------- */
#header {
        overflow:hidden;
        background:#020202 url(/img/sprites-master.gif) repeat-x 0 -84px;
        max-height:52px;
}
h1 {
        background:url(/img/sprites-master.gif) no-repeat 0 0;
        float:left;
        margin:0 0 0 10px;
}
h1 a {
        text-indent:-9000px;
        display:block;
        width:162px;
        height:32px;
}
h1 a:hover {
        background:url(/img/sprites-master.gif) no-repeat 0 -32px;
}
/* Navigation
---------------------------------------------------------- */
#navigation {
        float:right;
        overflow:hidden;
        height:100%;
}
#navigation li {
        float:left;
}
#navigation a {
        display:block;
        font-weight:bold;
        color:#fefefe;
        line-height:12px;
        margin:10px 0 10px 30px;
}
#navigation a:hover {
        color:#fff;
}
#navigation a.login {
        font-size:11px;
        background:#f77c22;
        /*border:1px solid #ffa15c;*/
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        padding:5px 11px;
        text-transform:uppercase;
        margin:6px 10px 6px 50px;
        width: 80px;
        text-align: center;
}
#navigation a.login:hover {
        /*background:#ff6c00;
        border:1px solid #ffaa6c;*/
        text-decoration:none;
}
/* Welcome
---------------------------------------------------------- */
#welcome {
        overflow:hidden;
        height:100%;
        background:#fff url(/img/body-bg.gif) repeat-x left top;
}
#introduction {
        float:left;
        width:640px;
        margin-right:20px;
}
#introduction h2 {
        font-size:24px;
        font-weight:bold;
        margin-top:35px;
        line-height:120%;
}
#introduction em {
        font-style:normal;
        color:#f77c22;
}
#introduction h3 {
        font-size:19px;
        margin-top:20px;
        line-height:140%;
}
#introduction h3 em {
        font-style:normal;
        color:#1567a1;
}
#introduction #teacher-tools {
        background:url(/img/teacher-tools.jpg) no-repeat;
        width:640px;
        height:300px;
        position:relative;
}
#introduction #teacher-tools ul li {
        font-size:11px;
        color:#228ad3;
        position:absolute;
}
#introduction #teacher-tools ul li.courses {
        left:335px;
        top:237px;
}
#introduction #teacher-tools ul li.live-teaching {
        left:337px;
        top:150px;
}
#introduction #teacher-tools ul li.library {
        left:365px;
        top:105px;
}
#introduction #teacher-tools ul li.groups {
        left:421px;
        top:90px;
}
#introduction #teacher-tools ul li.more {
        left:500px;
        top:100px;
}
#login-form {
        float:right;
        width:260px;
        border:1px solid #e1e1e1;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        background:#f5f6f7;
        margin-top:24px;
        padding:14px 19px 19px 19px;
}
/* Forms
---------------------------------------------------------- */
form {
}
form h4 {
        font-size:18px;
        font-weight:bold;
        color:#f77c22;
}
form fieldset {
        padding-top:28px;
        background:url(/img/fieldset-border.gif) repeat-x 0 12px;
}
form fieldset.first {
        padding-top:0;
        background:none;
}
form fieldset div {
        overflow:hidden;
        width:100%;
        margin-bottom:8px;
}
form input, form select, form textarea {
        font-family:Arial, Helvetica, Verdana, sans-serif;
        width:160px;
}
form select.small {
        width:56px;
}
form label {
        float:left;
        text-align:right;
        margin-right:8px;
        padding-top:3px;
        width:70px;
}
form input.checkbox {
        width:auto;
        margin:0 4px 0 0;
}
form input.radio {
        width:auto;
        margin:0 0 0 0;
}
form button, #captcha_form button {
        position:relative; /* to avoid IE issue */
        cursor:pointer;
        overflow:visible; /* removes extra side padding in IE */
}
form button::-moz-focus-inner, #captcha_form button::-moz-focus-inner {
        border:none;  /* overrides extra padding in Firefox */
}
form button span, #captcha_form button span {
        position:relative;
        display:block;
        white-space:nowrap;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    form button span, #captcha_form button span {
        margin-top: -1px;
    }
}
form button.button-form, #captcha_form button.button-form {
        font-family:Arial, Helvetica, Verdana, sans-serif;
        font-size:14px;
        font-weight:bold;
        text-align:center;
        padding: 0 13px 0 0;
        margin:12px 0 0 78px;
        /*background:url(/img/sprites-master.gif) no-repeat right -188px;*/
		background: #ccccff;
}
form button.button-form span, #captcha_form button.button-form span {
        color:#fff;
        padding: 8px 0 5px 13px;
        height:19px;
        /*background:url(/img/sprites-master.gif) no-repeat left -136px;*/
}
form ul {
        overflow:hidden;
        height:100%;
}
form ul li {
        float:left;
}
form ul li label { /* used for checkbox and radio only */
        float:none;
}
form .text-margin {
        margin-left:78px;
}

/* General buttons
---------------------------------------------------------- */
a.button-medium-primary {
        display:inline-block; /* inline-block instead floats for sliding doors: supported by IE6+, Firefox 3, Chrome, Safari and Opera */
        padding-right:13px;
        font-family:Arial, Helvetica, Verdana, sans-serif;
        font-size:14px;
        font-weight:bold;
        color:#fff;
        cursor:pointer;
        background:url(/img/sprites-master.gif) no-repeat right -188px;
}
a.button-medium-primary span {
        display:inline-block;
        line-height:32px;
        padding-left:13px;
        background:url(/img/sprites-master.gif) no-repeat left -136px;
}
a.button-medium-primary:hover {
        text-decoration:none;
}
a.button-medium-secondary {
        display:inline-block; /* inline-block instead floats for sliding doors: supported by IE6+, Firefox 3, Chrome, Safari and Opera */
        padding-right:13px;
        font-family:Arial, Helvetica, Verdana, sans-serif;
        font-size:14px;
        font-weight:bold;
        color:#fff;
        cursor:pointer;
        background:url(/img/sprites-master.gif) no-repeat right -292px;
}
a.button-medium-secondary span {
        display:inline-block;
        line-height:32px;
        padding-left:13px;
        background:url(/img/sprites-master.gif) no-repeat left -240px;
}
a.button-medium-secondary:hover {
        text-decoration:none;
}
a.button-big-primary {
        display:inline-block;
        padding-right:13px;
        font-family:Arial, Helvetica, Verdana, sans-serif;
        font-size:14px;
        font-weight:bold;
        color:#fff;
        cursor:pointer;
        background:url(/img/sprites-master.gif) no-repeat right -404px;
}
a.button-big-primary span {
        display:inline-block;
        line-height:40px;
        padding-left:13px;
        background:url(/img/sprites-master.gif) no-repeat left -344px;
}
a.button-big-primary:hover {
        text-decoration:none;
}
a.button-big-secondary {
        display:inline-block;
        padding-right:13px;
        font-family:Arial, Helvetica, Verdana, sans-serif;
        font-size:14px;
        font-weight:bold;
        color:#fff;
        cursor:pointer;
        background:url(/img/sprites-master.gif) no-repeat right -524px;
}
a.button-big-secondary span {
        display:inline-block;
        line-height:40px;
        padding-left:13px;
        background:url(/img/sprites-master.gif) no-repeat left -464px;
}
a.button-big-secondary:hover {
        text-decoration:none;
}
/* Link bar
---------------------------------------------------------- */
#link-bar {
        background:#f77c22;
        font-size:14px;
        font-weight:bold;
        color:#e4e4e4;
        padding:16px 0 14px 0;
}
#link-bar a {
        color:#fff;
}
/* Contents
---------------------------------------------------------- */
#contents {
        overflow:hidden;
        height:100%;
        background:#fff url(/img/body-bg.gif) repeat-x left top;
        padding:30px 0
}
#contents h2 {
        font-size:28px;
        font-weight:bold;
        line-height:140%;
        padding-bottom:12px;
}
#contents h2 em {
        font-style:normal;
        color:#f77c22;
}
#contents h3 {
        font-size:24px;
        font-weight:bold;
        line-height:140%;
        padding-bottom:12px;
}
#contents h3 em {
        font-style:normal;
        color:#f77c22;
}
#contents h4 {
        font-size:16px;
        line-height:140%;
        padding-bottom:12px;
}
/* Web Academy & Tools
---------------------------------------------------------- */



/* Footer
---------------------------------------------------------- */
#footer .wrapper {
        overflow:hidden;
        height:100%;
        font-size:9px;
        border-top:1px dashed #c9c9c9;
        border-bottom:1px dashed #c9c9c9;
        margin-bottom:20px;
        padding:7px 0 12px 0;
        position:relative;
}
#footer p {
        float:left;
        font-weight:bold;
        margin-left:5px;
        padding-bottom:6px;
}
#footer p a {
        color:#2ca2d7;
}
#footer ul {
        text-align:right;
        margin-top:2px;
}
#footer li {
        display:inline;
}
#footer li a {
        color:#3f3f3f;
        background:url(/img/sprites-master.gif) no-repeat right -633px; /* 636px */
        padding:2px 8px 2px 5px;
}
#footer cite {
        clear:left;
        font-style:normal;
        color:#808080;
        display:block;
        margin-left:5px;
        margin-top:3px;
}
#footer .button-partner {
        position:absolute;
        right:0;
        top:32px;
        background:url(/img/sprites-master.gif) no-repeat 0 -584px;
        width:172px;
        height:32px;
        text-indent:-9000px;
        display:block;
}


#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    position: absolute;
    background-color:#F77C22;
    position:absolute;
    width:205px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 20px;
    right: 0px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
    box-shadow: 0px 21px 30px #000;
    -moz-box-shadow: 0px 21px 30px #000;
    -webkit-box-shadow: 0px 21px 30px #000;
}

/*#signin_menu input{ width: auto;}*/
/*#signin_menu input{ width: auto;}*/
#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    /*-moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    margin:0 0 5px;
    padding:5px;
    font-size:13px; */
    width:203px;
}
#signin_menu input[type=checkbox]{
    width:14px;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#fff;
}
#signin_menu label {
    font-weight:normal;
    float:none !important;
    color:white;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu p a {
    color:#fff!important;
}
#signin_submit, #recover {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-color: #1D7EC3;
    border:1px solid #1D7EC3;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
    width: auto;
}
#signin_submit::-moz-focus-inner, #recover::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus, #recover:hover, #recover:focus {
    background-position:0 -5px;
    cursor:pointer;
}

#signin_menu #alert {
    color:#f00;
    padding: 2px;
    background-color: #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: none;
}

fieldset.first img {display: none;}


#lostPassword { color: #fff;}
