#chat-list {
  width: 160px;
  height: 390px;
  background: white;
  border: 1px solid #61be80;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 0px 1px 6px #b1b1b1;
  -webkit-box-shadow: 0px 1px 6px #b1b1b1;
  box-shadow: 0px 1px 6px #b1b1b1;

  position: fixed;
  bottom: 75px;
  left: 10px;
}

#chat-list > ul {
  overflow: scroll;
  overflow-x: hidden;
  width: 140px;
  height: 295px;
  margin: 0 10px 5px 10px;
  font-size: .9em;
}

#chat-list .scroll .up,
#chat-list .scroll .down {
  background: url("../images/new/icons-chat.png") no-repeat;
  width: 140px;
  height: 20px;
  margin: 5px 10px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}

#chat-list .scroll::selection,
#chat-list .scroll::-moz-selection,
#chat-list .scroll .up::selection,
#chat-list .scroll .up::-moz-selection,
#chat-list .scroll .down::selection,
#chat-list .scroll .down::-moz-selection {
  background: transparent;
}

#chat-list .scroll .up {
  background-position: -575px 0;
}

#chat-list .scroll .down {
  background-position: -575px -25px;
}

#chat-list li {
  cursor: pointer;
  display: block;
  clear: both;
  width: 160px;
  padding: 3px 0;
}

#chat-list .minimize {
  cursor: pointer;
  text-indent: 9999px;
  overflow: hidden;
  width: 10px;
  height: 10px;
  background: url("../images/new/icons-chat.png") -843px 0px;
  margin: 10px 0;
}

#chat-list .title {
  position: relative;
  width: 120px;
  float: left;
  margin: 10px;
  color: #4cacd5;
  font-weight: bold;
}

#chat-list .avatar {
  float: left;
  margin-right: 7px;
}

#chat-list .name {
  font-size: .95em;
  color: #4cacd5;
}


#chat-list .name:hover {
  text-decoration: underline;
}

#chat-list .roles {
  color: #b3b2b3;
}

#chat-list .status {
  width: 8px;
  height: 8px;
  float: left;
  margin-top: 4px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/new/icons-chat.png") -775px 0;
}

#chat-bar {
  cursor: pointer;
  width: 162px;
  height: 61px;

  position: fixed;
  bottom: 10px;
  left: 15px;

  background: url("../images/new/icons-chat.png") -72px 0px;
}

#chat-bar.closed {
  background-position: -72px -51px;
}

#chat-bar .count,
#chat-windows-list .chat-window-bar .name {
  cursor: pointer;
  display: block;
  text-align: center;
  color: white;

  text-shadow: -1px -1px 1px #99A499;
  filter: dropshadow(color=#99A499, offx=-1, offy=-1);
}

#chat-bar .count {
  font-weight: bold;
  width: 150px;
  padding: 0;
  padding-top: 23px;
}

#chat-bar .count:hover,
#chat-windows-list .chat-window-bar .name:hover {
  text-decoration: none;
}

#chat-windows-list .chat-window-bar .name {
  font-size: .85em;

  text-shadow: 0px -1px 1px #CF6730;
  filter: dropshadow(color=#CF6730, offx=0, offy=-1);
}

#chat-windows-list {
  pointer-events:none;
  position: fixed;
  bottom: 10px;
  left: 200px;
}

#chat-windows-list > li {
  pointer-events:none;
  float: left;
  margin-right: 5px;
}

#chat-windows-list .chat-window-bar {
  pointer-events: auto;
  width: 159px;
  height: 58px;

  background: url("../images/new/icons-chat.png") -290px  0px;
}

#chat-windows-list .chat-window-bar .online {
  float:left;
  width: 8px;
  height: 10px;
  /* FIXME Trocar pelo ícone correto */
  background: url("../images/new/icons-chat.png") -775px 0;
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 11px;
}

#chat-windows-list .chat-window-bar .name {
  cursor: pointer;
  display: block;
  float: left;
  width: 123px;
  padding-top: 22px;
}

#chat-windows-list .chat-window-bar .close {
  float:left;
  width: 6px;
  height: 40px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/new/icons-chat.png") -509px  0px;
  margin-top: 20px;
  cursor: pointer;
}

#chat-windows-list .closed {
  margin-top: 302px;
  background-position: -290px -56px;
}

#chat-windows-list .closed .name {
}

#chat-windows-list .chat-window {
  pointer-events: auto;
  width: 250px;
  height: 300px;
  background: white;
  border: 1px solid #f37b38;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 0px 1px 6px #b1b1b1;
  -webkit-box-shadow: 0px 1px 6px #b1b1b1;
  box-shadow: 0px 1px 6px #b1b1b1;

  position: relative;
  bottom: 5px;
}

#chat-windows-list .chat-window .name {
  display: block;
  margin: 10px;
  color: #4cacd5;
  font-weight: bold;
}

#chat-windows-list .chat-window .conversation > li {
  margin: 5px;
}
#chat-windows-list .chat-window .conversation li .messages {
}

#chat-windows-list .chat-window .conversation li .avatar {
  margin: 5px;
  margin-top: 0;
  float: left;
}

#chat-windows-list .chat-window .conversation li .messages li {
  font-size: .87em;
  margin-bottom: 4px;
}

#chat-windows-list .chat-window .user-input {
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #f1f0f0;

  border-top: 1px solid #f37b38;

  -moz-border-radius:0px 0px 5px 5px;
  -webkit-border-radius:0px 0px 5px 5px;
  border-radius:0px 0px 5px 5px;

  position: absolute;
  bottom: 0;
  width: 243px;
}

#chat-windows-list .chat-window .user-input input {
  width: 180px;
  border: none;
  background: #f1f0f0;
}
