/* Rodapé */
html, body {
  height: 100%;
}

.overlay {
  background-image: url("../images/new/circulos-bokeh.png");
  background-repeat: no-repeat;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -210px;
}

.push {
  height: 210px
}

.body {
  height: 673px;
}

.footer {
  border-top: 1px solid white;
  height: 210px;
  background-color: rgb(77,173,214);
}

.cssgradients .footer {
  background: -moz-linear-gradient(top, rgb(115,195,230) 0%, rgb(23,137,195) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(115,195,230)), color-stop(100%,rgb(23,137,195))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%);
}

.footer .logo-bottom {
  width: 240px;
  height: 77px;
  background-image: url("../images/new/redutech-low-horiz-a.png");
  margin-left: -18px;
}

.footer .logo-bottom a {
  height: 212px;
  overflow: hidden;
  display: block;
}

.footer .about {
  font-family: arial, sans-serif;
  height: 72px;
  width: 287px;
  font-size: 11px;
  float: left;
  color: white;
  line-height: 15px;
}

.footer .our-address{
  margin-left: 60px;
  background-image: url("../images/new/icone-interrog-12.png");
  background-repeat: no-repeat;
  width: 133px;
  float: left;
  padding-top: 21px;
  font-size: 11px;
  color: white;
}

.textshadow .footer .about,
.textshadow .footer .our-address {
  text-shadow: 0 -1px 0 rgb(21, 138, 196);
}

.footer .menu {
  margin-left: 200px;
  width: 130px;
  height: 62px;
  float: left;
  font-size: 13px;
}

.footer .politics-terms {
  width: 150px;
  height: 62px;
  float: left;
  font-size: 13px;
}

.footer li {
  padding: 6px 5px 4px 5px;
}

.footer li a {
  height: 62px;
  font-size: 12px;
  color: white;
  font-family: arial, sans-serif;
  padding: 6px 5px 4px 5px;
}

.textshadow .footer li a {
  text-shadow: 0 1px 0 rgb(109, 110, 111);
}

.footer li a:hover {
  padding: 6px 5px 4px 5px;
  background-color: white;
  color: rgb(21,138,196);
}

.textshadow .footer li a:hover {
  text-shadow: none;
}

.borderradius .footer li a:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.boxshadow .footer li a:hover {
  -webkit-box-shadow: 0 1px 0 0 rgb(109, 110, 111);
  -moz-box-shadow: 0 1px 0 0 rgb(109, 110, 111);
  box-shadow: 0 1px 0 0 rgb(109, 110, 111);
}
