#clean {
  min-height: 600px;
  padding-top: 20px;
}

#clean .logotipo {
  width: 174px;
  height: 237px;
  background: url("../images/new/logotipo-vertical.png") no-repeat;
}

#clean .call {
  font-family: museo-slab, arial, sans-serif;
  font-weight: 100;
  font-size: 2.7em;
  font-weight: normal;
  margin: 40px 0 20px 0;
  color: #4CACD4;
}

#clean .concave-form .concave-fieldset-legend {
  color: #F27A38;
  display: block;
  padding: 20px 0 10px 0;
  font-size: 1.2em;
}

#clean .concave-form .register-button {
  padding: 10px 65px;
  clear: both;
  margin-top: 20px;
  margin-left: 150px;
}

#clean .concave-form .tos {
  width: 400px;
}

#clean .concave-form .tos legend {
  float: left;
  margin-right: 100px;
}

#clean .concave-form .tos .inline {
  clear: left;
  margin-left: 130px;
}

#clean .concave-form .tos .concave-multiple {
  float: left;
}

#clean .concave-form .tos .concave-label {
  width: auto;
  margin: 5px 0 0 10px;;
  font-weight: normal;
  clear: none;
  float: left;
}

#clean .concave-form .separator {
  padding-bottom: 20px;
  border-bottom: 1px dotted #B2B1B2;
  width: 555px;
}

#clean .instruction {
  background: url("../images/new/gray-ballon.png") no-repeat;
  width: 210px;
  height: 32px;
  padding: 10px 10px 10px 20px;
  color: #6C6D6E;
  font-size: .9em;
}

#clean .success {
  width: 420px;
}

#clean .success p {
  margin-bottom: 10px;
}

#clean .call {
  color: #60BE7F;
  margin-top: 10px;
  margin-bottom: 60px;
}

#clean .go-to-home {
  text-align: center;
  width: 460px;
  margin-top: 150px;
  padding-top: 90px;
}

#clean .go-to-home .concave-button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 40px;
}

#clean .user-registration-form {
  margin-bottom: 20px;
}

/* Comum a outros CSS */
.replacement {
  text-indent: -99999px;
  overflow: hidden;
}

.flash-message {
  padding: 15px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.flash-message.success {
  background-color: #EEF6E5;
  border: solid 1px #60BD7F;
}
