.container_16 #university-logo{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -moz-box-shadow: 0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(51, 51, 51, 0.3);
  background:#FFFFFF;
  float:left;
  height: 150px;
  padding: 5px;
  display: table;
  overflow: hidden;
  margin: 0 10px;
  float: left;
  width: 150px;
  height: 130px;
}

#university-logo .inner-frame {
  #position: absolute;
  #top: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#university-logo img{
  #position: relative;
  #top: -50%
}

#create-header{
  background:url(../images/background_header_novo.png) repeat-x #dc3a23;
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/bg-create-header.png", sizingMethod="scale");
  height:140px;
}

#create-header h3 a{
  color:#30a6d3;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.6em;
  margin: 10px 10px 0 0;
}

#create-header .edit {
  font-size: .7em;
  font-weight: bold;
  float: right;
  margin: 5px 0;
}

#create-header .name,
#create-header .course {
  float: left;
  width: 770px;
}

#create-header .course {
  height: 42px;
}

#create-header .name {
  height: 53px;
}

#create-header .name h3 {
  float: left;
  margin: 10px 0;
}

#create-header .dropdown ul {
  display: block;
}

#create-header .dropdown-university { padding: 10px 15px; }

#create-header .dropdown .dropdown-university {
  display: block;
  position: relative;
  z-index: 9999;
  background: white;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 1px 1px 4px rgba(51, 51, 51, 0.3);
  -moz-border-radius: 6px;
  -moz-box-shadow: 1px 1px 4px rgba(51, 51, 51, 0.3);
  margin-top: 50px;
}

#create-header .dropdown-university ul li {
  padding: 5px 0;
  background: url(../images/hr.png) repeat-x scroll 0 bottom ;
}

#create-header .course .dropdown-university ul li {
  padding: 10px 0;
}

#create-header .dropdown-university ul li .nano {
  background: white;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
}

#create-header .dropdown-university ul li a {
  margin: 5px 0;
  display: block;
}

#create-header .breadcrumb{
  position: relative;
  float: left;
  display: block;
  font-size: .9em;
}

div.management-dialog a {
  font-size: .8em;
}

#create-header div.dropdown .breadcrumb > a,
#create-header div.dropdown .breadcrumb div.spaces {
  color:#ffffff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.2em;
  padding: 13px 5px 13px 0;
  display: block;
  float: left;
}

#create-header div.dropdown .breadcrumb .slash {
  display: block;
  float: left;
  color: white;
  padding: 10px 5px 13px 0;
  font-size: 1.8em;
  font-weight: bold;
}

#create-header div.dropdown span.arrow-down {
  padding: 5px;
}

#create-header div.dropdown .breadcrumb div.spaces {
  position: relative;
}

#create-header div.dropdown .breadcrumb div.spaces a {
  color: white;
}

#create-header div.dropdown .spaces ul {
  display: block;
  color: black;
  position: absolute;
  top: 40px;
  width: 250px;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-box-shadow: 0 1px 2px rgba(51, 51, 51, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(51, 51, 51, 0.3);
}

#create-header div.dropdown .spaces ul li a {
  padding: 10px 5px;
  display: block;
  font-size: .9em;
}


#create-header div.dropdown .spaces ul li a:hover {
  background-color: rgba(255,255,255,0.1)
}

