* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: none;
}

.body-login {
  width: 580px;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  overflow: visible; /* removes padding in IE */
}

button::-moz-focus-inner {
    /* removes ppushadding in Firefox */
    border: none;
    padding: 0;
}

.logo-top a {
  background-image: url("../images/new/redu-hi-vert.png");
  display: block;
  width: 255px;
  height: 196px;
  overflow: hidden;
  background-repeat: no-repeat;
  float: left;
  text-indent: -9999px;
}

html body {
  background-image: url("../images/new/circulos-bokeh-peq.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

.overlay {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -97px;
}

.body .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  margin-left: 80px;
  padding-top: -8px;
}

.overlay .body {
  margin: 0 auto;
}

.footer {
  background-color: gray;
  height: 97px;
  margin-top: 300px;
  border-top: 1px solid white;
  min-width: 1035px;
}

.footer .container_12 .container_16 {
  margin-left: auto;
  min-width: 5000px;
}

.footer-text {
  margin: 0 auto;
}

.logo-footer a {
  background-image: url("../images/new/redutech-low-horiz-b.png");
  display: block;
  width: 240px;
  height: 70px;
  overflow: hidden;
  background-repeat: no-repeat;
  float: left;
}

.menu-footer {
  padding-left: 500px;
  float: left;
  list-style: none;
  margin-top: -32px;
}

.menu-footer li  {
  display: inline;
}

.boxshadow .menu-footer li a:hover {
  -webkit-box-shadow:  0px -1px 0px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
}

.textshadow .menu-footer li a:hover {
  text-shadow: 0px -1px 0px rgb(21, 138, 196);
}

.menu-footer li a:hover {
  background-color: rgb(21, 138, 196);
  color: rgb(255, 255, 255);
}

.borderradius .menu-footer li a:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.push {
  height: 97px;
}

.menu-footer li a {
  padding: 6px;
  float: left;
  margin-left: 10px;
  text-decoration: none;
  color: rgb(77, 173, 214);
  font-size: 12px;
}

.cnpj {
  clear:both;
  font-size: 10px;
  color: rgb(179, 179, 179);
  margin-left: 60px;
}

.cssgradients .footer {
  background: rgb(204, 204, 204); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(204, 204, 204) 0%, rgb(240, 240, 240) 100%); /* FF3.6+ */
  background: -webfookit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204, 204, 204)), color-stop(100%,rgb(240, 240, 240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* W3C */
}

.cnpj, .menu-footer {
  font-family: arial, sans-serif;
}

.textshadow .cnpj,
.textshadow .menu-footer {
  text-shadow: 0px -1px 0px rgb(255, 255, 255);
}

.ops-call{
  font-family: museo-slab, arial, sans-serif;
  font-weight: 900;
}

.ops-call, .warning {
  font-size: 47px;
  letter-spacing: -4px;
  color: rgb(193, 39, 45);
}

.warning {
  font-family: museo-sans, arial, sans-serif;
  font-weight: 100;
}

.alert:after {
  background-image: url("../images/new/alerta.png");
  background-repeat: no-repeat;
  height: 142px;
  width: 165px;
  float: right;
  content: "";
  margin-left: 410px;
  margin-top: -164px;
  position: absolute;
  display: block;
}

.alert {
  margin-top: 70px;
}

.textshadow .alert {
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

.error-name {
  font-size: 17px;
  color: rgb(193, 39, 45);
  margin-top: 30px;
  letter-spacing: 10px;
  padding-left: 10px;
}

.error-number, .error-name {
  font-family: museo-sans, arial, sans-serif;
  font-weight: 100;
}

.error-number {
  font-size: 72px;
  color: rgb(109, 110, 111);
  letter-spacing: -8px;
}

.title-call, 
.description-error .title {
  font-family: museo-sans, arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}

.description-error p {
	color: rgb(179, 179, 179);
}

.title-call {
  color: rgb(193, 39, 45);
}

.back-call {
  color: rgb(77, 173, 214);
  text-decoration: none;
}

.erros {
  clear: both;
  margin: 0;
}

.description-error {
  float: right;
  margin-top: 10px;
}

.body .body-error .concave-form  .concave-input {
  font-size: 11px;
  font-family: arial, sans-serif;
  color: rgb(179, 179, 179);
  padding: 0 10px;
  float: right;
  margin-right: 16px;
}

.body-error .confirmation-msg .sucess-email .thank-you .thank-you {
  margin-left: 0;
}

.body-error .confirmation-msg .sucess-email .text-confirmation {
  padding-right: 20px;
  padding-left: 5px;
}

.texteshadow .form-error .concave-input {
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

.body-error .concave-form .personal-information{
  width: 374px;
  height: 32px;
}

.body .body-error .concave-form .message-box {
  min-width: 374px;
  height: 167px;
  padding: 10px;
}

.body-error .concave-form .concave-button {
  font-weight: bold;
  font-size: 12px;
  font-family: arial, sans-serif;
  clear: both;
  float: right;
  margin: 10px 14px;
}

.body .body-error .form-error {
  margin: -20px 0;
  float: right;
}

.textshadow .body-error .concave-form .concave-button {
  text-shadow: 0px -1px 0px rgb(12, 138, 196);
}

.body-error .concave-form .put-your-email,
.body-error .concave-form .put-your-name,
.body-error .concave-form .put-your-message {
  font-size: 11px;
  font-family: arial;
  clear: both;
  width: 54px;
}

.form-error .call-us {
  clear: both;
}

.footer,
.push {
clear: both;
}

.description-error .suggested-links {
  padding-top: 3px;
  list-style-type: disc;
  font-weight: normal;
  font-size: 12px;
  font-family: arial, sans-serif;
}

.description-error .suggested-links li a {
  text-decoration: none;
  color: rgb(77, 173, 214);
}

.description-error .suggested-links li {
  padding: 2px;
}

.confirmation-msg {
  background-color: rgb(240, 240, 240);
  clear: both;
  float: right;
  margin-top: 20px;
}

.boxshadow .confirmation-msg {
  -webkit-box-shadow: inset 0px -1px 0px 0px rgb(255, 255, 255), inset 0px 1px 0px 0px rgb(230, 230, 230);
  -moz-box-shadow: inset 0px -1px 0px 0px rgb(255, 255, 255)), inset 0px 1px 0px 0px rgb(230, 230, 230);
  box-shadow: inset 0px -1px 0px 0px rgb(255 ,255 , 255), inset 0px 1px 0px 0px rgb(230, 230, 230);
}


.borderradius .confirmation-msg {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.text-confirmation {
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  padding: 20px 10px;
  font-family: arial, sans-serif;
  clear:both;
  float: left;
}

.aba-top {
  background-image: url("../images/new/aba-cima-borda.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 10px;
  margin-top: -8px;
  margin-left: 40px;
  margin-top: -9px;
}

.thank-you {
  padding: 20px 0px 0px 0px;
  font-size: 17px;
  font-family: museo-sans, arial, sans-serif;
  font-weight: lighter;
  display: block;
}

.thank-you h2 {
  font-weight: 500;
  display:inline;
  padding-left: 0px;
}

.text-confirmation, .initial-page {
  font-size: 12px;
  font-family: arial, sans-serif;
  font-weight: normal;
}

.initial-page {
  color: rgb(77, 173, 214);
}

.error-500 .body-error .concave-fieldset {
  width: 520px;
}

.error-500 .body-error.concave-fieldset .errors_on_field {
  margin-left: 111px;
}

.error-500 .body-error .concave-fieldset .field_with_errors {
  margin: 0px;
  width: 520px;
  clear: none;
  margin: 0px;
}

.overlay .error-500 .error_explanation {
  margin-top: 20px;
}
