/*Como Estava:*/
.statuses .status-content {
  display: inline;
  line-height: 130%;
  margin-bottom: 0;
  margin-left: 38px;
  margin-right: 0;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*Como deve ficar:*/
.statuses .status-content {
  /*display: inline; (Remove. No novo modelo proposto pelo designer o estilo é em bloco)*/
  line-height: 130%;
  margin-bottom: 0;
  margin-left: 45px; /*(O espaçamento deverá ser de 38px para a área externa + 5px para que haja a distância de 10px da imagem"*/
  margin-right: 0;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}
