.boxshadow .fb-login {
  box-shadow: inset 0px 1px 0px 0px rgb(106, 132, 179);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgb(106, 132, 179);
  -moz-box-shadow: inset 0px 1px 0px 0px rgb(106, 132, 179);
}

.fb-login {
  font-weight: bold;
  color: white;
  line-height: 15px;
  padding: 5px 6px 3px 0px;
  border: solid rgb(26, 53, 110) 1px;
  background: rgb(52, 96, 157);
  float: left;
  margin: 20px 0 0 50px;
}

.fb-login:before {
  background: url("../images/new/connect_favicon.png");
  width: 18px;
  height: 16px;
  content: "";
  float: left;
}

.fb-login:hover {
  text-decoration: none;
}

.boxshadow .fb-login:hover {
  -webkit-box-shadow: 0px 1px 2px 1px black;
  -moz-box-shadow: 0px 1px 1px 2px black;
  box-shadow: 0px 1px 2px 1px black;
}

.textshadow .fb-login:hover {
  text-shadow: 1px 1px 3px rgb(102, 102, 102);
}
