/* Core Styles */
.jqueryFileTree LI.directory { background: url(file_images/directory.png) left top no-repeat; }
.jqueryFileTree LI.expanded { background: url(file_images/folder_open.png) left top no-repeat; }
.jqueryFileTree LI.file { background: url(file_images/file.png) left top no-repeat; }
.jqueryFileTree LI.wait { background: url(file_images/spinner.gif) left top no-repeat; }
/* File Extensions*/
.ext_3gp { background: url(file_images/film.png) left top no-repeat; }
.ext_afp { background: url(file_images/code.png) left top no-repeat; }
.ext_afpa { background: url(file_images/code.png) left top no-repeat; }
.ext_asp { background: url(file_images/code.png) left top no-repeat; }
.ext_aspx { background: url(file_images/code.png) left top no-repeat; }
.ext_avi { background: url(file_images/film.png) left top no-repeat; }
.ext_bat { background: url(file_images/application.png) left top no-repeat; }
.ext_bmp { background: url(file_images/picture.png) left top no-repeat; }
.ext_c { background: url(file_images/code.png) left top no-repeat; }
.ext_cfm { background: url(file_images/code.png) left top no-repeat; }
.ext_cgi { background: url(file_images/code.png) left top no-repeat; }
.ext_com { background: url(file_images/application.png) left top no-repeat; }
.ext_cpp { background: url(file_images/code.png) left top no-repeat; }
.ext_css { background: url(file_images/css.png) left top no-repeat; }
.ext_doc { background: url(file_images/doc.png) left top no-repeat; }
.ext_exe { background: url(file_images/application.png) left top no-repeat; }
.ext_gif { background: url(file_images/picture.png) left top no-repeat; }
.ext_fla { background: url(file_images/flash.png) left top no-repeat; }
.ext_h { background: url(file_images/code.png) left top no-repeat; }
.ext_htm { background: url(file_images/html.png) left top no-repeat; }
.ext_html { background: url(file_images/html.png) left top no-repeat; }
.ext_jar { background: url(file_images/java.png) left top no-repeat; }
.ext_jpg { background: url(file_images/picture.png) left top no-repeat; }
.ext_jpeg { background: url(file_images/picture.png) left top no-repeat; }
.ext_js { background: url(file_images/script.png) left top no-repeat; }
.ext_lasso { background: url(file_images/code.png) left top no-repeat; }
.ext_log { background: url(file_images/txt.png) left top no-repeat; }
.ext_m4p { background: url(file_images/music.png) left top no-repeat; }
.ext_mov { background: url(file_images/film.png) left top no-repeat; }
.ext_mp3 { background: url(file_images/music.png) left top no-repeat; }
.ext_mp4 { background: url(file_images/film.png) left top no-repeat; }
.ext_mpg { background: url(file_images/film.png) left top no-repeat; }
.ext_mpeg { background: url(file_images/film.png) left top no-repeat; }
.ext_ogg { background: url(file_images/music.png) left top no-repeat; }
.ext_pcx { background: url(file_images/picture.png) left top no-repeat; }
.ext_pdf { background: url(file_images/pdf.png) left top no-repeat; }
.ext_php { background: url(file_images/php.png) left top no-repeat; }
.ext_png { background: url(file_images/picture.png) left top no-repeat; }
.ext_ppt { background: url(file_images/ppt.png) left top no-repeat; }
.ext_psd { background: url(file_images/psd.png) left top no-repeat; }
.ext_pl { background: url(file_images/script.png) left top no-repeat; }
.ext_py { background: url(file_images/script.png) left top no-repeat; }
.ext_rb { background: url(file_images/ruby.png) left top no-repeat; }
.ext_rbx { background: url(file_images/ruby.png) left top no-repeat; }
.ext_rhtml { background: url(file_images/ruby.png) left top no-repeat; }
.ext_rpm { background: url(file_images/linux.png) left top no-repeat; }
.ext_ruby { background: url(file_images/ruby.png) left top no-repeat; }
.ext_sql { background: url(file_images/db.png) left top no-repeat; }
.ext_swf { background: url(file_images/flash.png) left top no-repeat; }
.ext_tif { background: url(file_images/picture.png) left top no-repeat; }
.ext_tiff { background: url(file_images/picture.png) left top no-repeat; }
.ext_txt { background: url(file_images/txt.png) left top no-repeat; }
.ext_vb { background: url(file_images/code.png) left top no-repeat; }
.ext_wav { background: url(file_images/music.png) left top no-repeat; }
.ext_wmv { background: url(file_images/film.png) left top no-repeat; }
.ext_xls { background: url(file_images/xls.png) left top no-repeat; }
.ext_xml { background: url(file_images/code.png) left top no-repeat; }
.ext_zip { background: url(file_images/zip.png) left top no-repeat; }