body {
  background: #f6f6f6;
}

html,
body {
  height: 100%;
}

.main-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto -180px;
}

.footer-pusher {
  height: 180px;
}

.home-left-sidebar {
  padding-top: 17px;
}
.home-left-sidebar a:visited {
  color: #4dadd6;
}
.home-left-sidebar a:hover {
  color: #158ac4;
}

.home-hello-user +
.home-profile-area {
  margin-top: 10px;
}

.home-profile-area {
  overflow: hidden;
}

.home-profile-area-links {
  float: left;
}
.home-profile-area-links .link-secondary {
  display: block;
}
.home-profile-area-links .link-secondary +
.link-secondary {
  margin-top: 5px;
}

.borderradius .home-profile-area-photo {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.home-profile-area +
.nav-local {
  margin-top: 20px;
}

.nav-local-general-course span {
  padding-left: 21px;
}

.breadcrumb-mini + .content-body,
.content-body + .breadcrumb-mini {
  margin-top: 10px;
}

.content-body + .breadcrumb-mini {
  margin-bottom: 20px;
}

.breadcrumb-mini {
  margin-top: 15px;
}

.container {
  position: relative;
}

.home-container {
  padding: 10px 20px;
  overflow: hidden;
}
.home-container h3 {
  line-height: 26px;
  padding-bottom: 5px;
}

.what-is-missing-list {
  list-style: none;
  margin: 10px 0 0;
}

.what-is-missing-item +
.what-is-missing-item {
  margin-top: 5px;
}

#modal-what-is-missing .message-block-actions, .home-container .message-block-actions {
  margin-top: 10px;
  text-align: center;
}

.learning-environments {
  width: 538px;
  color: #6d6e6f;
  background-image: url("../images/home/graphic-environments-hierarchy.png");
  background-repeat: no-repeat;
  padding-bottom: 10px;
  overflow: hidden;
}
.learning-environments .legend {
  line-height: 14px;
}
.learning-environments .big {
  width: 404px;
  padding-top: 1px;
  padding-left: 108px;
  padding-bottom: 61px;
}
.learning-environments .small {
  width: 284px;
  float: right;
}
.learning-environments .small.institution {
  padding-right: 146px;
  padding-bottom: 23px;
}
.learning-environments .small.space {
  padding-top: 127px;
  padding-right: 168px;
}
.learning-environments .small.right {
  text-align: right;
}
.learning-environments h3, .learning-environments h4 {
  font-weight: lighter;
  padding-bottom: 5px;
}

.tour {
  width: 338px;
  margin: 0 0 0 -169px;
}
.tour.modal {
  background-color: #f7f7f7;
  color: black;
}
.tour.modal:after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
}
.tour .modal-header {
  border-bottom: 1px #e6e6e6 solid;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  padding: 10px;
}
.tour .modal-body {
  padding: 10px;
}
.tour .modal-body p {
  margin-top: 0px;
  margin-bottom: 10px;
}
.tour .modal-body p:last-child {
  margin-bottom: 0;
}
.tour .modal-footer {
  background-color: inherit;
  padding: 10px;
}
.tour .modal-footer p {
  float: left;
  padding-top: 10px;
}

.modal-backdrop {
  opacity: 0.4;
  background-color: black;
}

#habla_window_div.habla_window_div_base {
  z-index: 1000 !important;
  text-shadow: none;
}

.typekit-badge {
  z-index: auto !important;
}

#chat {
  z-index: 900;
}

.footer-logo-img {
  z-index: 800;
}

.home-tour #tour-3 {
  top: 13px;
  left: 42px;
}
.home-tour #tour-3:after {
  border: 9px solid transparent;
  border-bottom-color: #f7f7f7;
  bottom: 100%;
  left: 50%;
  margin-left: -9px;
}
.home-tour #tour-4 {
  top: 13px;
  left: 102px;
}
.home-tour #tour-4:after {
  border: 9px solid transparent;
  border-bottom-color: #f7f7f7;
  bottom: 100%;
  left: 50%;
  margin-left: -9px;
}
.home-tour #tour-5 {
  top: 13px;
  left: 171px;
}
.home-tour #tour-5:after {
  border: 9px solid transparent;
  border-bottom-color: #f7f7f7;
  bottom: 100%;
  left: 50%;
  margin-left: -9px;
}
.home-tour #tour-6 {
  top: 13px;
  left: 260px;
}
.home-tour #tour-6:after {
  border: 9px solid transparent;
  border-bottom-color: #f7f7f7;
  bottom: 100%;
  left: 50%;
  margin-left: -9px;
}
.home-tour #tour-7 {
  top: 13px;
  left: 600px;
}
.home-tour #tour-7:after {
  border: 9px solid transparent;
  border-bottom-color: #f7f7f7;
  bottom: 100%;
  left: 93%;
  margin-left: -9px;
}
.home-tour #tour-8 {
  top: 45px;
  left: 175px;
}
.home-tour #tour-8:after {
  border: 9px solid transparent;
  border-right-color: #f7f7f7;
  right: 100%;
  top: 15px;
}
.home-tour #tour-9 {
  top: 160px;
  left: 210px;
}
.home-tour #tour-9:after {
  border: 9px solid transparent;
  border-right-color: #f7f7f7;
  right: 100%;
  top: 50%;
  margin-top: -9px;
}
.home-tour #tour-10 {
  left: 210px;
}
.home-tour #tour-10:after {
  border: 9px solid transparent;
  border-right-color: #f7f7f7;
  right: 100%;
  top: 50%;
  margin-top: -9px;
}
.home-tour #tour-11:after {
  border: 9px solid transparent;
  border-left-color: #f7f7f7;
  left: 100%;
  top: 50%;
  margin-top: -9px;
}
.home-tour #tour-12 {
  left: auto;
  top: auto;
  right: 20px;
  bottom: 50px;
  position: fixed;
}
.home-tour #tour-12:after {
  border: 9px solid transparent;
  border-top-color: #f7f7f7;
  top: 100%;
  right: 20px;
}
.home-tour #tour-13 {
  bottom: 60px;
  left: 50%;
  top: auto;
  margin-left: -465px;
  position: fixed;
}
.home-tour #tour-13:after {
  border: 9px solid transparent;
  border-top-color: #f7f7f7;
  top: 100%;
  left: 20px;
}
.home-tour .absolute {
  margin: 0;
  position: absolute;
}

.list-separator +
.empty-environment {
  margin-top: 100px;
}

.empty-environment {
  text-align: center;
}

.empty-environment-icon {
  display: block;
  margin: 0 auto;
}

.empty-environment-icon +
.empty-environment-content {
  margin-top: 10px;
}

.empty-environment-content {
  color: #b3b3b3;
}

.list-environment-course-space {
  padding: 0;
}

.list-environment-course-space-item {
  padding: 20px;
}

.nav-local-general-stats-title {
  text-align: center;
  color: #b3b3b3;
}

.nav-local-general-course {
  list-style: none;
  margin: 10px 0;
}

.home-right-sidebar {
  padding-top: 40px;
}
.home-right-sidebar a:visited {
  color: #4dadd6;
}
.home-right-sidebar a:hover {
  color: #158ac4;
}
.home-right-sidebar .nav-local-separator {
  margin: 0 0 10px 0;
}
.home-right-sidebar li {
  list-style: none;
}
.home-right-sidebar [class*="-before"]::before {
  vertical-align: middle;
}

.right-sidebar-area-title {
  color: #b3b3b3;
}

.right-sidebar-area {
  margin-bottom: 20px;
}
.right-sidebar-area .progress-bar-medium {
  margin: 10px 0;
}
.right-sidebar-area .legend {
  display: block;
  line-height: 14px;
}
.right-sidebar-area .actions-to-do {
  margin: 0;
}
.right-sidebar-area .actions-to-do li {
  margin-top: 5px;
}

.members-to-add {
  margin: 0;
}
.members-to-add .two-columns-wrapper +
.two-columns-wrapper {
  margin-top: 10px;
}
.members-to-add .two-columns-column:first-child {
  margin-right: 5px;
}

.members-to-add-user {
  display: block;
}

.members-to-add-user +
.members-to-add-link {
  margin-top: 5px;
}

.members-to-add-link {
  display: inline-block;
}

.messages-list td {
  padding: 2px 10px;
}

.message-list-thumbnail {
  float: left;
  margin-right: 10px;
}

.message-list-user-display-name {
  width: 115px;
}

.message-list-subject {
  width: 310px;
}

.empty-message {
  margin-top: 80px;
  text-align: center;
}

.empty-message-icon {
  display: block;
  margin: 0 auto;
}

.empty-message-icon +
.empty-message-content {
  margin-top: 10px;
}

.empty-message-content {
  color: #b3b3b3;
}

.list-separator +
.form-config-profile {
  margin-top: 10px;
}
.form-config-profile .control-group +
.list-separator {
  margin-top: 20px;
}

.form-config-avatar {
  margin-top: 20px;
}

.form-config-social-networks {
  margin: 0;
  list-style: none;
}

input[type="hidden"] +
.form-config-social-network, .form-config-social-network +
.form-config-social-network {
  margin-top: 10px;
}
.form-config-social-network .message-close {
  margin-top: 7px;
}

.form-config-social-network-select {
  margin-left: 0;
}

.form-config-social-network-select +
.form-config-social-network-url {
  margin-left: 5px;
}

.curriculum-container {
  margin: 10px 0;
}
.curriculum-container .list-mix-item {
  padding: 0 20px;
}
.curriculum-container #new_education .form-education {
  margin-top: 20px;
}
.curriculum-container ul + .form-horizontal {
  padding-top: 20px;
}
.curriculum-container h4 {
  padding: 0 20px;
}

.config-title {
  font-weight: 300;
  color: #73c3e6;
  margin-bottom: 20px;
}

.config-experience {
  list-style: none;
}
.config-experience.list-mix-item:before {
  margin-right: 0;
}
.config-experience .list-mix-inner {
  padding: 10px;
}
.config-experience span.time {
  color: #b3b3b3;
}
.config-experience span.title {
  display: block;
  width: 478px;
}
.config-experience p {
  color: #6d6e6f;
}
.config-experience p.description {
  width: 478px;
}
.config-experience i {
  color: #b3b3b3;
  font-style: normal;
}
.config-experience .edit-experience,
.config-experience .edit-education {
  float: right;
  clear: right;
  padding-top: 5px;
}

.config-experience + .config-experience {
  margin-top: 10px;
}
.config-experience + .config-experience .form-horizontal {
  padding-top: 10px;
}

.config-new-item {
  margin-top: 20px;
  text-align: center;
}

form .end-date {
  margin-top: 10px;
}
form .errors_on_field {
  text-align: left;
}

#curriculum ul {
  margin: 0;
}
#curriculum .home-container {
  padding-bottom: 10px;
}
#curriculum .curriculum-title {
  color: #73c3e6;
}

.curriculum-buttons {
  margin-top: 10px;
}
.curriculum-buttons .add-item {
  margin-right: 20px;
}
.curriculum-buttons .cancel {
  margin-right: 5px;
  height: 35px;
}

.form-config-account fieldset {
  margin: 10px 0;
}
.form-config-account fieldset legend {
  font-size: 18px;
  color: #73c3e6;
  font-weight: 300;
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  padding: 0 0 20px 20px;
}
.form-config-account .button-danger {
  margin-right: 10px;
}

ul.requisitions {
  margin: 0;
  overflow: visible;
}
ul.requisitions li {
  list-style: none;
  width: 100%;
  margin-bottom: 0;
}
ul.requisitions li:before {
  margin: 0;
}
ul.requisitions .list-mix-inner {
  padding: 10px;
  margin-right: 0;
}
ul.requisitions .list-mix-inner .details {
  margin-left: 10px;
  float: left;
  width: 476px;
}
ul.requisitions .list-mix-inner .avatar {
  float: left;
}
ul.requisitions .list-mix-inner span {
  color: #6d6e6f;
}
ul.requisitions .actions {
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
  float: right;
}
ul.requisitions .actions form {
  overflow: hidden;
  float: left;
}
ul.requisitions .actions input:last-child {
  margin-left: 5px;
}

.home-container {
  /* labels inativos */
  /* botoes */
}
.home-container .create-status.inform-my-status textarea {
  width: 495px;
}
.home-container .concave-form .concave-label {
  padding-top: 7px;
}
.home-container .concave-form .concave-label {
  display: block;
  color: #b3b2b3;
  font-weight: bold;
  float: left;
  text-align: right;
  width: 150px;
  margin: 20px 10px 0 0;
  clear: left;
  height: 23px;
  font-size: 12px;
}
.home-container .concave-remove,
.home-container .concave-button,
.home-container .concave-clean,
.home-container .concave-important,
.home-container .concave-important-font,
.home-container .concave-cancel {
  padding: 5px 20px 6px 20px;
  color: white;
  display: inline-block;
  line-height: 18px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
.home-container .concave-remove:hover,
.home-container .concave-button:hover,
.home-container .concave-important:hover,
.home-container .concave-important-font:hover,
.home-container .concave-cancel:hover {
  color: white;
}
.home-container .concave-remove:visited,
.home-container .concave-button:visited,
.home-container .concave-important:visited,
.home-container .concave-important-font:visited,
.home-container .concave-cancel:visited {
  color: white;
}
.home-container .concave-important,
.home-container .concave-important-font {
  border: 1px solid #4bc080;
  background-color: #abe385;
}
.home-container .concave-important-font {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
}
.home-container .concave-clean {
  color: #4dadd6;
  border: 1px solid #cccccc;
  background: white;
  /* Old browsers */
}
.home-container .concave-button,
.home-container .concave-cancel {
  border: 1px solid #4CACD5;
  background-color: #73C3E6;
}
.home-container .concave-form .concave-button,
.home-container .concave-form .concave-important,
.home-container .concave-form .concave-important-font,
.home-container .concave-form .concave-cancel {
  margin: 20px 20px 0 0;
}
.home-container .concave-remove {
  border: 1px solid #e83b3b;
  color: white;
  background-color: #ff6d6d;
}
.home-container .concave-form .concave-remove {
  margin: 20px 0px 0px 20px;
}
.home-container .concave-form .concave-button,
.home-container .concave-form .concave-important,
.home-container .concave-form .concave-important-font,
.home-container .concave-form .concave-cancel {
  float: right;
}
.home-container .concave-form .concave-remove {
  float: left;
}
.home-container .concave-cancel {
  border: 1px solid #E83B3B;
}
.home-container .concave-clean:hover,
.home-container .concave-remove:hover,
.home-container .concave-button:hover,
.home-container .concave-important:hover,
.home-container .concave-important-font:hover,
.home-container .concave-cancel:hover {
  text-decoration: none;
}
.borderradius .home-container .concave-clean, .borderradius .home-container .concave-remove, .borderradius .home-container .concave-button, .borderradius .home-container .concave-important, .borderradius .home-container .concave-important-font, .borderradius .home-container .concave-cancel {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.cssgradients .home-container .concave-important, .cssgradients .home-container .concave-important-font {
  background: -webkit-gradient(linear, left top, left bottom, from(#abe385), to(#5fc080));
  background: -moz-linear-gradient(top, #5fc080, #abe385);
}
.cssgradients .home-container .concave-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#73c3e6), to(#4dadd6));
  /* webkit browsers */
  background: -moz-linear-gradient(top, #73c3e6, #4dacd6);
  /* firefox 3.6+ */
}
.cssgradients .home-container .concave-cancel {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6d6d), to(#e83b3b));
  /* webkit browsers */
  background: -moz-linear-gradient(top, #ff6d6d, #e83b3b);
  /* firefox 3.6+ */
}
.cssgradients .home-container .concave-remove {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6d6d), to(#e83b3b));
  /* webkit browsers */
  background: -moz-linear-gradient(top, #ff6d6d, #e83b3b);
  /* Firefox 3.6+ */
}
.cssgradients .home-container .concave-clean {
  background: -moz-linear-gradient(top, white 0%, #f0f0f0 97%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(97%, #f0f0f0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f0f0f0 97%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f0f0f0 97%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f0f0f0 97%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%, #f0f0f0 97%);
  /* W3C */
}
.textshadow .home-container .concave-important-font, .textshadow .home-container .concave-important {
  -moz-text-shadow: 0px -1px 0 #61a080;
  -webkit-text-shadow: 0px -1px 0 #61a080;
  text-shadow: 0px -1px 0 #61a080;
}
.textshadow .home-container .concave-button {
  -moz-text-shadow: 0px -1px 0 #158ac4;
  -webkit-text-shadow: 0px -1px 0 #158ac4;
  text-shadow: 0px -1px 0 #158ac4;
}
.textshadow .home-container .concave-cancel {
  -moz-text-shadow: 0px -1px 0 #e83b3b;
  -webkit-text-shadow: 0px -1px 0 #e83b3b;
  text-shadow: 0px -1px 0 #e83b3b;
}
.textshadow .home-container .concave-remove {
  -moz-text-shadow: 0px -1px 0 #c1272d;
  -webkit-text-shadow: 0px -1px 0 #c1272d;
  text-shadow: 0px -1px 0px #c1272d;
}
.textshadow .home-container .concave-clean {
  text-shadow: 0px 1px 0px #ffffff;
}
.home-container .concave-important-font:hover,
.home-container .concave-important:hover {
  border: 1px solid #61a080;
}
.home-container .concave-button:hover {
  border: 1px solid #1789C3;
  background: #1789C3;
}
.home-container .concave-cancel:hover {
  border: 1px solid #C1272D;
  background: #FF6D6D;
}
.home-container .concave-remove:hover {
  background: #ff6d6d;
}
.home-container .concave-clean:hover {
  color: #1789c3;
  border: 1px solid #4cacd5;
  background: white;
  /* Old browsers */
}
.cssgradients .home-container .concave-important-font:hover, .cssgradients .home-container .concave-important:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#abe385), to(#61a080));
  background: -moz-linear-gradient(top, #abe385, #61a080);
}
.cssgradients .home-container .concave-cancel:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6d6d), to(#c1272d));
  /* webkit browsers */
  background: -moz-linear-gradient(top, #ff6d6d, #c1272d);
  /* firefox 3.6+ */
}
.cssgradients .home-container .concave-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#73c3e6), to(#158ac4));
  /* webkit browsers */
  background: -moz-linear-gradient(top, #73c3e6, #158ac4);
  /* firefox 3.6+ */
}
.cssgradients .home-container .concave-remove:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6d6d), to(#c1272d));
  /* webkit browsers */
  background: -moz-linear-gradient(top, #ff6d6d, #c1272d);
  /* Firefox 3.6+ */
}
.cssgradients .home-container .concave-clean:hover {
  background: -moz-linear-gradient(top, white 0%, #dbeff7 97%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(97%, #dbeff7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dbeff7 97%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #dbeff7 97%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, white 0%, #dbeff7 97%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dbeff7',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%, #dbeff7 97%);
  /* W3C */
}

.my-apps-list .close {
  float: right;
  margin-top: 4px;
}

.my-app-tabs .tabs .tab .tab-title.tab-title-without-icon {
  min-width: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.my-app-tabs .tab-buttons .tab-button.tab-button-without-icon {
  padding-right: 9px;
}

.my-app .my-app-name {
  margin-bottom: 20px;
}
.my-app .my-app-infos {
  list-style: none;
}
.my-app .my-app-actions .button-primary {
  margin-left: 2px;
}

.new-app .new-app-actions,
.my-app .my-app-actions {
  float: right;
  margin-top: 20px;
}

.new-app .new-app-form,
.my-app .my-app-edit-form {
  overflow: hidden;
}

.container-fluid {
  width: 90%;
  max-width: 360px;
}
.container-fluid .authorize-app .authorization-disclaimer {
  padding-top: 20px;
}
.container-fluid .authorize-app .authorization-question {
  padding: 10px 0;
}
.container-fluid .authorize-app .positive-authorization-form {
  float: left;
  margin-right: 10px;
}
.container-fluid .authorize-app .app-name {
  display: inline;
}
.container-fluid .authorize-app .pin-code {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
