body {
  background: #f6f6f6;
}

html,
body {
  height: 100%;
}

.main-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto -140px;
}

.footer-pusher {
  height: 140px;
}

.home-left-sidebar {
  padding-top: 17px;
}

.home-hello-user +
.home-profile-area {
  margin-top: 14px;
}

.home-profile-area {
  overflow: hidden;
}

.home-profile-area-links {
  float: left;
}
.home-profile-area-links .link-secondary {
  display: block;
}
.home-profile-area-links .link-secondary +
.link-secondary {
  margin-top: 5px;
}

.home-profile-area-photo {
  float: right;
}
.borderradius .home-profile-area-photo {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.home-profile-area +
.nav-local {
  margin-top: 20px;
}

.breadcrumb-mini + .content-body,
.content-body + .breadcrumb-mini {
  margin-top: 10px;
}

.breadcrumb-mini {
  margin-top: 15px;
}

.home-container {
  padding: 10px 20px;
}
.home-container h3 {
  line-height: 26px;
  padding-bottom: 5px;
}
.home-container p {
  line-height: 18px;
}
.home-container li {
  list-style: none;
}
.home-container a {
  display: block;
  margin-bottom: 5px;
}
.home-container a:hover {
  text-decoration: none;
  color: #158ac4;
}
.home-container .message-block-actions {
  text-align: center;
}

.learning-environments {
  color: #6d6e6f;
}
.learning-environments .legend {
  line-height: 14px;
}
.learning-environments .big {
  width: 404px;
}
.learning-environments .small {
  width: 284px;
}
.learning-environments .small.right {
  text-align: right;
}
.learning-environments h3, .learning-environments h4 {
  font-weight: lighter;
}
