.icon-small {
  background-image: url("../images/new/icons-small.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.icon-add-contact-white-blue_16_18 { background-position: -160px -2480px }
.icon-add-contact-white-blue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -2480px no-repeat;
}

.icon-add-message-lightblue_16_18 { background-position: -80px -2640px; }
.icon-add-message-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -2640px no-repeat;
}

.icon-bio-blue_32_34 { background-position: -160px -3280px }
.icon-bio-blue_32_34-after:after {
  content: "";
  width: 32px;
  height: 34px;
  background: url("../images/new/icons-small.png") -160px -3280px no-repeat;
}

.icon-bio-gray_8_10 { background-position: 0 -2800px; }
.icon-bio-gray_8_10:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") 0 -2800px no-repeat;
}

.icon-bio-gray_16_18 { background-position: 0 -1360px; }
.icon-bio-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -1360px no-repeat;
}

.icon-class-gray_16_18 { background-position: 0 -1760px; }
.icon-class-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -1760px no-repeat;
}

.icon-comment-blue_32_34,
.sidebar .action-comment:hover .icon-comment-lightblue_32_34 { background-position: -400px -640px; }
.icon-comment-lightblue_32_34 { background-position: -320px -640px; }

.icon-confirm-gray_16_18 { background-position: -240px -2080px; }
.icon-confirm-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -2080px no-repeat;
}

.icon-confirm-green_16_18 { background-position: -80px -2080px; }
.icon-confirm-green_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -2080px no-repeat;
}

.icon-contacts-gray_16_18 { background-position: 0 -2400px; }
.icon-contacts-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -2400px no-repeat;
}

.icon-contacts-white-green_16_18 { background-position: -320px -2400px; }
.icon-contacts-white-green_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -320px -2400px no-repeat;
}

.icon-content-blue_32_34,
.icon-content-lightblue_32_34:hover { background-position: -480px -240px; }
.icon-content-blue_32_34-before:before,
.icon-content-lightblue_32_34-before:hover:before {
  content: "";
  width: 32px;
  height: 34px;
  background: url("../images/new/icons-small.png") -480px -240px no-repeat;
}

.icon-content-blue_16_18,
.icon-content-lightblue_16_18:hover { background-position: -160px -240px; }
.icon-content-blue_16_18-before:before,
.icon-content-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -240px no-repeat;
}

.icon-content-lightblue_16_18 { background-position: -80px -240px; }
.icon-content-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -240px no-repeat;
}

.icon-content-lightblue_32_34 { background-position: -400px -240px; }
.icon-content-lightblue_32_34-before:before {
  content: "";
  width: 32px;
  height: 34px;
  background: url("../images/new/icons-small.png") -400px -240px no-repeat;
}

.icon-course-gray_16_18 { background-position: 0 -80px;}
.icon-course-blue_16_18,
.icon-course-lightblue_16_18:hover { background-position: -160px -80px }
.icon-course-blue_16_18-before:before,
.icon-course-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -80px no-repeat;
}
.icon-course-lightblue_16_18 { background-position: -80px -80px }
.icon-course-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -80px no-repeat;
}

.icon-delete-gray_8_10 { background-position: -400px -2800px; }
.icon-delete-gray_8_10-before:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") -400px -2800px no-repeat;
}

.icon-delete-red_8_10,
.icon-delete-gray_8_10:hover { background-position: -480px -2800px; }
.icon-delete-red_8_10-before:before,
.icon-delete-gray_8_10-before:hover:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") -480px -2800px no-repeat;
}

.icon-delete-gray_16_18 { background-position: 0 -2160px; }
.icon-delete-gray_16_18:hover,
.icon-delete-red-red_16_18 { background-position: -80px -2160px; }
.icon-delete-white-gray_16_18 { background-position: -240px -2160px; }

.icon-desfavorite-blue_32_34 { background-position: -240px -3360px; }
.icon-desfavorite-lightblue_32_34 { background-position: -160px -3360px; }

.icon-diploma-lightblue_32_34 { background-position: -80px -3280px; }

.icon-document-blue_16_18,
.icon-document-lightblue_16_18:hover { background-position: -480px -1120px; }
.icon-document-blue_16_18-before:before,
.icon-document-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -480px -1120px no-repeat;
}

.icon-document-lightblue_16_18 { background-position: -400px -1120px; }
.icon-document-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -400px -1120px no-repeat;
}

.icon-education-blue_32_34 { background-position: -320px -3280px; }
.icon-education-blue_32_34-after:after {
  content: "";
  width: 32px;
  height: 34px;
  background: url("../images/new/icons-small.png") -320px -3280px no-repeat;
}

.icon-education-gray_8_10 { background-position: -240px -2800px; }
.icon-education-gray_8_10-before:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") -240px -2800px no-repeat;
}

.icon-environment-blue_16_18,
.icon-environment-lightblue_16_18:hover { background-position: -160px 0; }
.icon-environment-blue_16_18-before:before,
.icon-environment-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px 0 no-repeat;
}
.icon-environment-gray_16_18 { background-position: 0 0;}
.icon-environment-lightblue_16_18 { background-position: -80px 0 }
.icon-environment-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px 0 no-repeat;
}

.icon-environment-white-green_16_18 { background-position: -560px 0;}
.icon-environment-white-green_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -560px 0 no-repeat;
}

.icon-environment_admin-gray_16_18 { background-position; 0 -800px; }
.icon-environment_admin-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -800px no-repeat;
}

.icon-expand-gray_16_18 { background-position: -560px -800px; }
.icon-expand-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -560px -800px no-repeat;
}

.icon-expand_down-blue_16_18,
.icon-expand_down-gray_16_18:hover { background-position: -480px -1040px; }
.icon-expand_down-blue_16_18-before:before,
.icon-expand_down-gray_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -480px -1040px no-repeat;
}

.icon-expand_down-gray_16_18 { background-position: -480px -960px; }
.icon-expand_down-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -480px -960px no-repeat;
}

.icon-expand_up-blue_16_18,
.icon-expand_up-gray_16_18:hover { background-position: -480px -880px; }
.icon-expand_up-blue_16_18-before:before,
.icon-expand_up-gray_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -480px -880px no-repeat;
}

.icon-expand_up-gray_16_18 { background-position: -480px -800px; }
.icon-expand_up-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -480px -800px no-repeat;
}

.icon-expand-left-gray_8_10 { background-position: -480px -1920px }
.icon-expand-left-gray_8_10-before:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") -480px -1920px no-repeat;
}
.icon-expand-right-gray_8_10 { background-position: -480px -1840px }
.icon-expand-right-gray_8_10-before:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") -480px -1840px no-repeat;
}

.icon-experience-blue_32_34 { background-position: -240px -3280px; }
.icon-experience-blue_32_34-after:after {
  content: "";
  width: 32px;
  height: 34px;
  background: url("../images/new/icons-small.png") -240px -3280px no-repeat;
}

.icon-experience-gray_8_10 { background-position: -160px -2800px; }
.icon-experience-gray_8_10-before:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") -160px -2800px no-repeat;
}

.icon-experience-lightblue_32_34 { background-position: 0 -3280px; }

.icon-favorite-blue_32_34 { background-position: -80 -3360px; }
.icon-favorite-lightblue_32_34 { background-position: 0 -3360px; }

.icon-file-blue_16_18,
.icon-file-lightblue_16_18:hover { background-position: -160px -1280px; }
.icon-file-blue_16_18-before:before,
.icon-file-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -1280px no-repeat;
}

.icon-file-gray_16_18 { background-position: 0 -1280px; }
.icon-file-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -1280px no-repeat;
}

.icon-file-blue_16_18,
.icon-file-lightblue_16_18:hover { background-position: -160px -1280px; }
.icon-file-blue_16_18-before:before,
.icon-file-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -1280px no-repeat;
}

.icon-file-lightblue_16_18 { background-position: -80px -1280px; }
.icon-file-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -1280px no-repeat;
}

.icon-file-white_16_18 { background-position: -240px -1280px; }
.icon-file-white_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -1280px no-repeat;
}

.icon-hierarchy_elem-gray_8_10 { background-position: -560px -880px; }
.icon-hierarchy_elem-gray_8_10-before:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") -560px -880px no-repeat;
}
.icon-home-blue_16_18,
.icon-home-lightblue_16_18:hover { background-position: -80px -2240px; }
.icon-home-lightblue_16_18 { background-position: 0 -2240px; }
.icon-lecture-gray_16_18 { background-position: 0 -1760px; }
.icon-lecture-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -1760px no-repeat;
}

.icon-light-on-blue_32_34,
.sidebar .lights_link:hover .icon-light-on-lightblue_32_34 { background-position: -400px -3360px; }
.icon-light-on-lightblue_32_34 { background-position: -320px -3360px; }
.icon-light-off-blue_32_34,
.sidebar .lights_link:hover .icon-light-off-lightblue_32_34 { background-position: -560px -3360px; }
.icon-light-off-lightblue_32_34 { background-position: -480px -3360px; }

.icon-manage-blue_8_10,
.icon-manage-gray_8_10:hover { background-position: -80px -2880px }
.icon-manage-blue_8_10-before,
.icon-manage-gray_8_10-before:hover:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") -80px -2880px no-repeat;
}
.icon-manage-gray_8_10 { background-position: 0 -2880px }
.icon-manage-gray_8_10-before:before {
  content: "";
  width: 8px;
  height: 10px;
  background: url("../images/new/icons-small.png") 0 -2880px no-repeat;
}

.icon-member-blue_16_18,
.icon-member-lightblue_16_18:hover { background-position: -160px -1040px; }
.icon-member-blue_16_18-before:before,
.icon-member-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -1040px no-repeat;
}

.icon-member-gray_16_18 { background-position: 0 -1040px; }
.icon-member-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -1040px no-repeat;
}

.icon-member-lightblue_16_18 { background-position: -80px -1040px; }
.icon-member-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -1040px no-repeat;
}

.icon-member-white_16_18 { background-position: -240px -1040px; }
.icon-member-white_16_18-before:before,
.ui-tabs-selected .icon-member-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -1040px no-repeat;
}

.icon-members-blue_16_18,
.icon-members-lightblue_16_18:hover { background-position: -160px -480px; }
.icon-members-blue_16_18-before:before,
.icon-members-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -480px no-repeat;
}

.icon-members-lightblue_16_18 { background-position: -80px -480px; }
.icon-members-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -480px no-repeat;
}

.icon-members-white_16_18 { background-position: -240px -480px; }
.icon-members-white_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -480px no-repeat;
}

.icon-privacy-grey_16_18 { background-position: 0 -1520px; }
.icon-privacy-lightblue_16_18 { background-position: -80px -1520px; }
.icon-privacy-lightred_16_18 { background-position: -160px -1520px; }
.icon-privacy-orange_16_18 { background-position: -320px -1520px; }
.icon-privacy-red_16_18 { background-position: -240px -1520px; }

.icon-page-blue_16_18,
.icon-page-lightblue_16_18:hover { background-position: -160px -1120px; }
.icon-page-blue_16_18-before:before,
.icon-page-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -1120px no-repeat;
}

.icon-page-lightblue_16_18 { background-position: -80px -1120px; }
.icon-page-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -1120px no-repeat;
}
.icon-page-gray_32_34 { background-position: 0px  -3040px; }
.icon-page-gray_32_34-before:before {
  content: "";
  width: 32px;
  height: 34px;
  background: url("../images/new/icons-small.png") 0px -3040px no-repeat;
}

.icon-redu_admin-gray_16_18 { background-position: 0 -720px; }
.icon-redu_admin-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -720px no-repeat;
}

.icon-request-help-blue_32_34,
.icon-request-help-lightblue_32_34:hover,
.action-help:hover .icon-request-help-lightblue_32_34 { background-position: -560px -3040px; }
.icon-request-help-lightblue_32_34 { background-position: -480px -3040px; }

.icon-seminar-blue_16_18,
.icon-seminar-lightblue_16_18:hover { background-position: -480px -1200px; }
.icon-seminar-blue_16_18-before:before,
.icon-seminar-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -480px -1200px no-repeat;
}

.icon-seminar-lightblue_16_18 { background-position: -400px -1200px; }
.icon-seminar-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -400px -1200px no-repeat;
}

.icon-share-blue_32_34,
.sidebar .share_link:hover .icon-share-lightblue_32_34 { background-position: -480px -3280px; }
.icon-share-lightblue_32_34 { background-position: -400px -3280px; }

.icon-space-blue_16_18,
.icon-space-lightblue_16_18:hover { background-position: -160px -160px; }
.icon-space-blue_16_18-before:before,
.icon-space-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -160px no-repeat;
}

.icon-space-gray_16_18 { background-position: 0 -160px; }
.icon-space-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -160px no-repeat;
}

.icon-space-lightblue_16_18 { background-position: -80px -160px; }
.icon-space-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -160px no-repeat;
}

.icon-subject-blue_16_18,
.icon-subject-lightblue_16_18:hover { background-position: -160px -320px; }
.icon-subject-blue_16_18-before:before,
.icon-subject-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -320px no-repeat;
}

.icon-subject-blue_32_34,
.icon-subject-lightblue_32_34:hover { background-position: -480px -320px; }
.icon-subject-blue_32_34-before:before,
.icon-subject-lightblue_32_34-before:hover:before {
  content: "";
  width: 32px;
  height: 34px;
  background: url("../images/new/icons-small.png") -480px -320px no-repeat;
}

.icon-subject-gray_16_18 { background-position: 0 -320px; }
.icon-subject-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -320px no-repeat;
}

.icon-subject-lightblue_16_18 { background-position: -80px -320px; }
.icon-subject-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -320px no-repeat;
}

.icon-subject-lightblue_32_34 { background-position: -400px -320px; }
.icon-subject-lightblue_32_34-before:before {
  content: "";
  width: 32px;
  height: 34px;
  background: url("../images/new/icons-small.png") -400px -320px no-repeat;
}

.icon-subject-white_16_18 { background-position: -240px -320px; }
.icon-subject-white_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -320px no-repeat;
}

.icon-tag-gray_16_18 { background-position: -320px -1360px; }
.icon-tag-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -320px -1360px no-repeat;
}

.icon-teacher-blue_16_18,
.icon-teacher-lightblue_16_18:hover { background-position: -160px -880px }
.icon-teacher-blue_16_18-before:before,
.icon-teacher-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -880px no-repeat;
}

.icon-teacher-gray_16_18 { background-position: 0 -880px }
.icon-teacher-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -880px no-repeat;
}

.icon-teacher-lightblue_16_18 { background-position: -80px -880px }
.icon-teacher-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -880px no-repeat;
}

.icon-teacher-white_16_18 { background-position: -240px -880px }
.icon-teacher-white_16_18-before:before,
.ui-tabs-selected .icon-teacher-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -880px no-repeat;
}

.icon-tutor-blue_16_18,
.icon-tutor-lightblue_16_18:hover { background-position; -160px -960px; }
.icon-tutor-blue_16_18-before:before,
.icon-tutor-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -960px no-repeat;
}

.icon-tutor-gray_16_18 { background-position; 0 -960px; }
.icon-tutor-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -960px no-repeat;
}

.icon-tutor-lightblue_16_18 { background-position; -80px -960px; }
.icon-tutor-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -960px no-repeat;
}

.icon-tutor-white_16_18 { background-position; -240px -960px; }
.icon-tutor-white_16_18-before:before,
.ui-tabs-selected .icon-tutor-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -960px no-repeat;
}

.icon-visible-gray_16_18 { background-position: 0 -1840px; }
.icon-visible-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -1840px no-repeat;
}

.icon-wall-blue_16_18,
.icon-wall-lightblue_16_18:hover { background-position: -160px -560px; }
.icon-wall-blue_16_18-before:before,
.icon-wall-lightblue_16_18-before:hover:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -560px no-repeat;
}

.icon-wall-gray_16_18 { background-position: 0 -560px; }
.icon-wall-gray_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -560px no-repeat;
}

.icon-wall-lightblue_16_18 { background-position: -80px -560px; }
.icon-wall-lightblue_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -560px no-repeat;
}

.icon-wall-white_16_18 { background-position: -240px -560px; }
.icon-wall-white_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -560px no-repeat;
}

/* Social Networks */
.icon-facebook_16_18 { background-position: 0 -1920px }
.icon-facebook_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") 0 -1920px no-repeat;
}

.icon-googleplus_16_18 { background-position: -320px -1920px }
.icon-googleplus_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -320px -1920px no-repeat;
}

.icon-linkedin_16_18 { background-position: -240px -1920px }
.icon-linkedin_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -240px -1920px no-repeat;
}

.icon-orkut_16_18 { background-position: -400px -1920px }
.icon-orkut_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -400px -1920px no-repeat;
}

.icon-skype_16_18 { background-position: -160px -1920px }
.icon-skype_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -160px -1920px no-repeat;
}

.icon-twitter_16_18 { background-position:  -80px -1920px }
.icon-twitter_16_18-before:before {
  content: "";
  width: 16px;
  height: 18px;
  background: url("../images/new/icons-small.png") -80px -1920px no-repeat;
}
