#header {
  background: url("../images/new/barra-global.png") no-repeat;
  height: 70px;
  padding-left: 10px;
}

#header .nav {
  margin-top: 12px;
}

#do_lecture .link-loading {
  height: 20px;
  filter: white;
  border: none;
  font-size: 0;
  height: 15px;
}

.bt-loading,
.form-common .bt-loading,
.form-loader .bt-loading,
* .form-loader input.bt-loading, /* para sobrepor a precedência de input.important */
.form-loader input.bt-loading:hover,
.form-common .bt-loading:hover {
  color: white;
  text-indent: -9999px;
  overflow: hidden;
  filter: none;
}

.link-loading,
a.link-loading,  /* para sobrepor a precedência de input.important */
.new-subject .new-resource li a.link-loading, /* para sobrepor a precedência */
a.link-loading:hover,  /* para sobrepor a precedência de input.important */
.link-loading:hover {
  color: white;
  text-indent: -9999px;
  overflow: hidden;
  filter: none;
  height: 15px;
  display: table-cell;
  width: 50px;
  font-size: 0;
}
