/* line 1, scss/_landing-header.scss */
.landing-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 85px;
  padding-top: 16px;
}
/* line 6, scss/_landing-header.scss */
.boxshadow .landing-header {
  -webkit-box-shadow: 0 -1px 0 white inset, 0 1px 0 #b2b2b2;
  -moz-box-shadow: 0 -1px 0 white inset, 0 1px 0 #b2b2b2;
  box-shadow: 0 -1px 0 white inset, 0 1px 0 #b2b2b2;
}

/* line 13, scss/landing-new.scss */
* {
  margin: 0;
}

/* line 16, scss/landing-new.scss */
html,
body {
  height: 100%;
}

/* line 18, scss/landing-new.scss */
.landing-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -140px;
}

/* line 26, scss/landing-new.scss */
.landing-footer,
.landing-pusher {
  height: 140px;
}

/* line 31, scss/landing-new.scss */
body {
  background-image: url("../images/landing/background.png");
}

/* line 34, scss/landing-new.scss */
.landing-header,
.landing-footer {
  background-color: #e6e6e6;
}
