/* Landing page */
.overlay.landing {
  background-image: url("../images/new/circulos-bokeh.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#landing .presentation {
  float: left;
}

#landing .presentation .top {
  background: url("../images/new/redu-hi-horiz.png");
  width: 353px;
  height: 147px;
  margin-left: -27px;
}

#landing .presentation .top a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  margin-left: -27px;
  width: 353px;
  height: 147px;
}

#landing .presentation .learn-call {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  color: rgb(171,227,133);
  font-size: 39px;
  width: 650px;
}

#landing .presentation .teach-call {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  color: rgb(255,169,53);
  font-size: 39px;
  width: 650px;
}

#landing .presentation .learn-call,
#landing .presentation .teach-call {
  letter-spacing: -2px;
}

.textshadow #landing .presentation .learn-call,
.textshadow #landing .presentation .teach-call {
  text-shadow: 0 1px 0 rgb(109, 110, 111);
}

#landing .presentation .welcome {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  width: 650px;
  height: 66px;
  font-size: 17px;
  margin-top: 15px;
  line-height: 22px;
}

#landing .login-box {
  margin-top: 158px;
  float: right;
  padding: 20px;
  width: 248px;
  background: rgb(179,220,237); /* Old browsers */
}

.cssgradients #landing .login-box {
  background: -moz-linear-gradient(top, rgb(179,220,237) 0%, rgb(240,240,240) 0%, rgb(255,255,255) 50%, rgb(240,240,240) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(179,220,237)), color-stop(0%,rgb(240,240,240)), color-stop(50%,rgb(255,255,255)), color-stop(100%,rgb(240,240,240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(179,220,237) 0%,rgb(240,240,240) 0%,rgb(255,255,255) 50%,rgb(240,240,240) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(179,220,237) 0%,rgb(240,240,240) 0%,rgb(255,255,255) 50%,rgb(240,240,240) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(179,220,237) 0%,rgb(240,240,240) 0%,rgb(255,255,255) 50%,rgb(240,240,240) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(179,220,237) 0%,rgb(240,240,240) 0%,rgb(255,255,255) 50%,rgb(240,240,240) 100%); /* W3C */
}

.boxshadow #landing .login-box {
  -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.borderradius #landing .login-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#landing .login-box .new-version-call {
  font-size: 17px;
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
}

#landing .login-box .new-version-call:before {
  content: "";
  width: 32px;
  height: 33px;
  background: url("../images/new/icone-perfil-32.png") 0 0 no-repeat;
  display: block;
  float: left;
  margin-right: 10px;
}

.textshadow #landing .presentation .welcome,
.textshadow #landing .login-box .new-version-call {
  text-shadow: 0 1px 0 rgb(255, 255, 255);
}

#landing .login-box .new-version-call .beta-call {
  color: rgb(115,195,230);
  font-family: inherit;
}

#landing .login-box .concave-form .concave-fieldset {
  margin-top: 15px;
}

#landing .login-box .concave-form .concave-input {
  height: 14px;
  width: 226px;
  float: left;
  margin-top: 10px;
  font-size: 11px;
}

#landing .login-box .concave-form .ui-placeholder {
  top: 20px;
}

#landing .login-box .concave-form .errors_on_field {
  width: 200px;
  margin-left: 2px;
}

#landing .login-box .short-options {
  margin-top: 10px;
}

#landing .login-box .short-options .label-stay-connect {
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: normal;
  color: rgb(179,179,179);
}

#landing .login-box .short-options .check-stay-connect {
  margin-bottom: 0;
}

/* IE */
#landing .login-box .short-options .check-stay-connect {
  border: none;
  padding: 0;
  width: 14px;
}

/* IE */
#landing .login-box .short-options .check-stay-connect:focus {
  border: none;
}

#landing .login-box .short-options .recover-login {
  font-size: 11px;
  margin-left: 26px;
}

#landing .login-box .concave-form .concave-button {
  height: 28px;
  width: 68px;
  margin-right: 0;
  margin-top: 10px;
}

#landing .login-box .or-call {
  color: rgb(204,204,204);
  float: left;
  margin: 25px 0 30px 100px;
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  font-size: 17px;
}

#landing .login-box .concave-important {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;

  width: 208px;
  height: 51px;
  padding-top: 34px;
}

.borderradius #landing .login-box .concave-important {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#landing .login-box .concave-important:hover {
  background-color: rgb(97,192,128);
  border: 1px solid rgb(97,160,128);
  color: white;
}

.cssgradients #landing .login-box .concave-important:hover {
  background: -moz-linear-gradient(top, rgb(171,227,133) 0%, rgb(97,160,128) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(171,227,133)), color-stop(100%,rgb(97,160,128))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(171,227,133) 0%,rgb(97,160,128) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(171,227,133) 0%,rgb(97,160,128) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(171,227,133) 0%,rgb(97,160,128) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(171,227,133) 0%,rgb(97,160,128) 100%); /* W3C */

}

.facebook-like {
  float: left;
  margin-top: 145px;
  margin-left: 185px;
}

/* Página de convite */
#course-invitation .login-box {
  margin-top: 0;
}

#course-invitation .course .statistics li,
#course-invitation .course .audience li {
  margin-bottom: 3px;
}

#global-courses .courses .statistics em,
#global-courses .courses .audience em,
#course-invitation .course .statistics em,
#course-invitation .course .audience em {
  font-size: .9em;
  font-style: oblique;
  display: block;
  float: left;
  width: 70px;
  color: #B2B2B2;
}

#global-courses .courses .audience em,
#course-invitation .course .audience em {
  margin-bottom: 5px;
}

#global-courses .courses .statistics span,
#global-courses .courses .audience a,
#course-invitation .course .statistics span,
#course-invitation .course .audience a {
  font-size: .9em;
  font-weight: bold;
  color: #6C6D6E;
}

#course-invitation .logotipo {
  width: 174px;
  height: 237px;
  background: url("../images/new/logotipo-vertical.png") no-repeat;
}

#course-invitation {
  margin-top: 20px;
  padding-bottom: 200px;
}

#course-invitation .invite {
  float: left;
}

#course-invitation .salutation {
  display: block;
  margin: 35px 0 25px 0;
  font-size: 1.3em;
  color: black;
}

#course-invitation .course {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 320px;
  float: left;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#course-invitation .course .informations{
  float: left;
  width: 278px;
}

#course-invitation .course img {
  float: left;
  margin-right: 10px;
}

#course-invitation .course .header {
  background: url("../images/new/dots.png") repeat-x bottom;
  padding-bottom: 20px;
}

#course-invitation .course .environment {
  display: block;
  font-size: 0.9em;
}

#course-invitation .course .name {
  display: block;
  margin: 5px 0;
  font-size: 1.2em;
  color: black;
}

#course-invitation .course .description {
  display: block;
  background: url("../images/new/dots.png") repeat-x bottom;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #6D6E6F;
}

#course-invitation .course .statistics {
  float: left;
  width: 120px;
}

#course-invitation .tags li {
  display: inline;
  font-size: 10px;
  color: #B2B2B2;
}
