.landing-navigation-title {
  color: #e6e6e6;
  display: block;
  font: 500 60px/56px museo-sans-rounded, museo-sans, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -3px;
}
.landing-navigation-title:hover {
  text-decoration: none;
  color: #e6e6e6;
}
.textshadow .landing-navigation-title {
  text-shadow: 0 1px 0 #b2b2b2;
}

.landing-navigation-subtitle {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 500;
}

.modal-landing p + p {
  margin-top: 20px;
}
.modal-landing .modal-header .sprite-before:before {
  vertical-align: middle;
}
.modal-landing .modal-body {
  padding: 20px 40px 20px 60px;
}

.landing-plan-column {
  width: 76px;
}

.errors_on_field {
  color: #ff6d6d;
  font-size: 11px;
  list-style: none;
}

.reactivate-account .button-danger {
  margin-top: 10px;
}

body {
  background-image: url("../images/landing/background.png");
}

.sprite-landing, .sprite-advantage-developer, .sprite-advantage-manager, .sprite-advantage-student, .sprite-advantage-teacher, .sprite-background-chat, .sprite-background-management, .sprite-background-treemap, .sprite-background-wall, .sprite-icon-chat, .sprite-icon-close, .sprite-icon-correct, .sprite-icon-developer, .sprite-icon-exercise, .sprite-icon-management, .sprite-icon-plus, .sprite-icon-report, .sprite-keko-playing, .sprite-light-logo, .sprite-logo-oer, .sprite-medal-gold, .sprite-medal-gold-after:after, .sprite-medal-silver, .sprite-medal-silver-after:after, .sprite-multimedia-document, .sprite-multimedia-exercise, .sprite-multimedia-presentation, .sprite-multimedia-video, .sprite-partner-ade, .sprite-partner-etr, .sprite-partner-facig, .sprite-partner-fafire, .sprite-partner-ufpe, .sprite-partner-univasf, .sprite-plan-consultancy-hr, .sprite-plan-consultancy-hr-before:before, .sprite-plan-independent, .sprite-plan-independent-before:before, .sprite-plan-institution, .sprite-plan-institution-before:before, .sprite-segment-consultancy-hr, .sprite-segment-independent, .sprite-segment-institution {
  background: url('/images/landing/sprite-se7e88701e5.png') no-repeat;
}

.sprite-advantage-developer {
  background-position: -240px -2537px;
  height: 200px;
  width: 200px;
}

.sprite-advantage-manager {
  background-position: -217px -1444px;
  height: 200px;
  width: 200px;
}

.sprite-advantage-student {
  background-position: -265px -112px;
  height: 200px;
  width: 200px;
}

.sprite-advantage-teacher {
  background-position: -133px -1104px;
  height: 200px;
  width: 200px;
}

.sprite-background-chat {
  background-position: 0 -1444px;
  height: 118px;
  width: 217px;
}

.sprite-background-management {
  background-position: 0 -1884px;
  height: 210px;
  width: 395px;
}

.sprite-background-treemap {
  background-position: 0 -2094px;
  height: 213px;
  width: 470px;
}

.sprite-background-wall {
  background-position: 0 -2307px;
  height: 230px;
  width: 469px;
}

.sprite-icon-chat {
  background-position: 0 -705px;
  height: 130px;
  width: 128px;
}

.sprite-icon-close {
  background-position: 0 -112px;
  height: 18px;
  width: 16px;
}

.sprite-icon-correct {
  background-position: -48px -112px;
  height: 18px;
  width: 16px;
}

.sprite-icon-developer {
  background-position: 0 -442px;
  height: 130px;
  width: 128px;
}

.sprite-icon-exercise {
  background-position: 0 -572px;
  height: 130px;
  width: 128px;
}

.sprite-icon-management {
  background-position: -291px -312px;
  height: 130px;
  width: 129px;
}

.sprite-icon-plus {
  background-position: -64px -112px;
  height: 20px;
  width: 20px;
}

.sprite-icon-report {
  background-position: -128px -705px;
  height: 130px;
  width: 128px;
}

.sprite-keko-playing {
  background-position: 0 -2537px;
  height: 240px;
  width: 240px;
}
.sprite-keko-playing:hover, .sprite-keko-playing.keko-playing_hover, .landing-api:hover .landing-api-illustration, .sprite-keko-playing.keko-playing-hover {
  background-position: 0 -1644px;
}

.sprite-light-logo {
  background-position: -128px -442px;
  height: 70px;
  width: 300px;
}

.sprite-logo-oer {
  background-position: 0 -1304px;
  height: 140px;
  width: 279px;
}

.sprite-medal-gold, .sprite-medal-gold-after:after {
  background-position: -16px -112px;
  height: 18px;
  width: 16px;
}

.sprite-medal-silver, .sprite-medal-silver-after:after {
  background-position: -32px -112px;
  height: 18px;
  width: 16px;
}

.sprite-multimedia-document {
  background-position: 0 0;
  height: 65px;
  width: 65px;
}

.sprite-multimedia-exercise {
  background-position: -161px -312px;
  height: 65px;
  width: 65px;
}

.sprite-multimedia-presentation {
  background-position: -96px -312px;
  height: 65px;
  width: 65px;
}

.sprite-multimedia-video {
  background-position: -226px -312px;
  height: 65px;
  width: 65px;
}

.sprite-partner-ade {
  background-position: -133px -971px;
  height: 133px;
  width: 133px;
}
.sprite-partner-ade:hover, .sprite-partner-ade.partner-ade_hover, .sprite-partner-ade.partner-ade-hover {
  background-position: 0 -1104px;
}

.sprite-partner-etr {
  background-position: -133px -838px;
  height: 133px;
  width: 133px;
}
.sprite-partner-etr:hover, .sprite-partner-etr.partner-etr_hover, .sprite-partner-etr.partner-etr-hover {
  background-position: -266px -838px;
}

.sprite-partner-facig {
  background-position: -261px -572px;
  height: 133px;
  width: 133px;
}
.sprite-partner-facig:hover, .sprite-partner-facig.partner-facig_hover, .sprite-partner-facig.partner-facig-hover {
  background-position: -279px -1304px;
}

.sprite-partner-fafire {
  background-position: -132px -112px;
  height: 133px;
  width: 133px;
}
.sprite-partner-fafire:hover, .sprite-partner-fafire.partner-fafire_hover, .sprite-partner-fafire.partner-fafire-hover {
  background-position: 0 -838px;
}

.sprite-partner-ufpe {
  background-position: 0 -971px;
  height: 133px;
  width: 133px;
}
.sprite-partner-ufpe:hover, .sprite-partner-ufpe.partner-ufpe_hover, .sprite-partner-ufpe.partner-ufpe-hover {
  background-position: -128px -572px;
}

.sprite-partner-univasf {
  background-position: -256px -705px;
  height: 133px;
  width: 133px;
}
.sprite-partner-univasf:hover, .sprite-partner-univasf.partner-univasf_hover, .sprite-partner-univasf.partner-univasf-hover {
  background-position: -266px -971px;
}

.sprite-plan-consultancy-hr, .sprite-plan-consultancy-hr-before:before {
  background-position: -84px -112px;
  height: 50px;
  width: 48px;
}

.sprite-plan-independent, .sprite-plan-independent-before:before {
  background-position: -48px -312px;
  height: 50px;
  width: 48px;
}

.sprite-plan-institution, .sprite-plan-institution-before:before {
  background-position: 0 -312px;
  height: 50px;
  width: 48px;
}

.sprite-segment-consultancy-hr {
  background-position: -177px 0;
  height: 112px;
  width: 112px;
}

.sprite-segment-independent {
  background-position: -65px 0;
  height: 112px;
  width: 112px;
}

.sprite-segment-institution {
  background-position: -289px 0;
  height: 112px;
  width: 112px;
}

.sprite-landing, .sprite-advantage-developer, .sprite-advantage-manager, .sprite-advantage-student, .sprite-advantage-teacher, .sprite-background-chat, .sprite-background-management, .sprite-background-treemap, .sprite-background-wall, .sprite-icon-chat, .sprite-icon-close, .sprite-icon-correct, .sprite-icon-developer, .sprite-icon-exercise, .sprite-icon-management, .sprite-icon-plus, .sprite-icon-report, .sprite-keko-playing, .sprite-light-logo, .sprite-logo-oer, .sprite-medal-gold, .sprite-medal-gold-after:after, .sprite-medal-silver, .sprite-medal-silver-after:after, .sprite-multimedia-document, .sprite-multimedia-exercise, .sprite-multimedia-presentation, .sprite-multimedia-video, .sprite-partner-ade, .sprite-partner-etr, .sprite-partner-facig, .sprite-partner-fafire, .sprite-partner-ufpe, .sprite-partner-univasf, .sprite-plan-consultancy-hr, .sprite-plan-consultancy-hr-before:before, .sprite-plan-independent, .sprite-plan-independent-before:before, .sprite-plan-institution, .sprite-plan-institution-before:before, .sprite-segment-consultancy-hr, .sprite-segment-independent, .sprite-segment-institution {
  display: inline-block;
  vertical-align: middle;
}

.landing-welcome {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 470px;
  padding-top: 60px;
  background: transparent url("../images/landing/illustration.png") no-repeat center;
}

.landing-welcome-title {
  font: 500 60px/56px museo-sans-rounded, museo-sans, "Helvetica Neue", Arial, sans-serif;
  color: white;
  letter-spacing: -3px;
  margin-left: -3px;
}
.textshadow .landing-welcome-title {
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.landing-welcome-title +
.landing-welcome-message {
  margin-top: 20px;
}

.landing-welcome-message {
  font: 700 21px/28px museo-sans-rounded, museo-sans, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -1px;
  max-width: 280px;
  background-image: url("../images/landing/light-welcome.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.textshadow .landing-welcome-message {
  text-shadow: 1px 1px 0 white;
}

.landing-navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: -70px 0 40px;
  background-color: white;
  border: 1px solid #f7f7f7;
  list-style: none;
}
.borderradius .landing-navigation {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.boxshadow .landing-navigation {
  -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
}
.landing-navigation h4 {
  color: #6d6e6f;
}

.boxshadow .landing-navigation-item:first-child {
  -webkit-box-shadow: 0 -1px 0 white inset;
  -moz-box-shadow: 0 -1px 0 white inset;
  box-shadow: 0 -1px 0 white inset;
}
.landing-navigation-item + .landing-navigation-item {
  border-top: 1px solid #e6e6e6;
}
.boxshadow .landing-navigation-item + .landing-navigation-item {
  -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 white inset;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 white inset;
}
.boxshadow .landing-navigation-item:last-child {
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
}

.landing-filters {
  text-align: center;
  padding: 20px 0 10px;
}
.landing-filters .filters {
  display: inline-block;
}
.landing-filters .filter {
  font-size: 16px;
  font-weight: lighter;
  line-height: 28px;
}

.landing-filters-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 939px;
}
.cssgradients .landing-filters-fixed {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff 20%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff 20%);
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff 20%);
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 0), #ffffff 20%);
}
.no-cssgradients.gt-ie8 .landing-filters-fixed {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.landing-segment-outer-wrapper {
  padding: 20px 40px 20px 20px;
}
.landing-segment-outer-wrapper h4 {
  margin: 0 0 5px 20px;
}

.landing-segment-wrapper {
  position: relative;
  margin-left: 80px;
}
.landing-segment-wrapper + .landing-segment-wrapper {
  margin-top: 20px;
}

.landing-segment-button {
  position: absolute;
  left: -80px;
  top: -webkit-calc(50% - 56px);
  top: -moz-calc(50% - 56px);
  top: calc(50% - 56px);
}
.landing-segment-button .ie8 {
  top: 20%;
}

.landing-segments {
  margin: 0;
  list-style: none;
  border: 1px solid #73c3e6;
  background-color: #f0f0f0;
}
.borderradius .landing-segments {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.boxshadow .landing-segments {
  -webkit-box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  -moz-box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
}
.landing-segments > .landing-segment + .landing-segment {
  border-top: 1px solid #73c3e6;
}
.boxshadow .landing-segments > .landing-segment + .landing-segment {
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
}

.landing-segment {
  overflow: hidden;
}

.landing-segment-type,
.landing-segment-benefits {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}

.landing-segment-type {
  display: table;
  float: left;
  padding: 0 20px 0 30px;
  height: 112px;
}
.landing-segment-hr .landing-segment-type {
  height: 165px;
}
.borderradius .landing-segment:first-child .landing-segment-type {
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
.borderradius .landing-segment:last-child .landing-segment-type {
  -webkit-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
}
.borderradius .landing-segment:first-child:last-child .landing-segment-type {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}

.landing-segment-title {
  display: table-cell;
  vertical-align: middle;
  font: 300 36px/36px museo-sans, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -2px;
}

.landing-segment-benefits {
  overflow: hidden;
  background-color: #f7f7f7;
  padding: 20px;
  border-left: 1px solid white;
}
.borderradius .landing-segment:first-child .landing-segment-benefits {
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}
.borderradius .landing-segment:last-child .landing-segment-benefits {
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
}
.borderradius .landing-segment:first-child:last-child .landing-segment-benefits {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
.boxshadow .landing-segment-benefits {
  -webkit-box-shadow: 1px 0 0 #e6e6e6 inset;
  -moz-box-shadow: 1px 0 0 #e6e6e6 inset;
  box-shadow: 1px 0 0 #e6e6e6 inset;
}
.landing-segment-benefits > ul {
  list-style: disc inside none;
}

.landing-segment-sublist {
  list-style: none;
  margin: 0 0 5px 50px;
}
.landing-segment-sublist li {
  margin-top: 5px;
}

.landing-advantages {
  width: 100%;
  display: inline-block;
}
.landing-advantages .landing-navigation-title {
  margin: 20px;
}
.landing-advantages .type-user {
  display: block;
  float: left;
  max-width: 200px;
}
.landing-advantages .type-user .call + .call {
  margin: 20px 0;
}
.landing-advantages .type-user .call {
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  width: 200px;
  font-family: arial;
}
.landing-advantages .type-user.teacher {
  margin: 0 39px;
}
.landing-advantages .type-user.teacher .call {
  color: #ff7c35;
}
.landing-advantages .type-user.teacher .button-user h3 {
  margin-left: 65px;
}
.landing-advantages .type-user.teacher .button-user legend {
  margin-left: 79px;
}
.textshadow .landing-advantages .type-user.teacher .button-user legend {
  text-shadow: 0 -1px 0 #f24a00;
}
.landing-advantages .type-user.gestor {
  margin: 0 39px 0 0;
}
.landing-advantages .type-user.gestor .call {
  color: #158ac4;
}
.landing-advantages .type-user.gestor .button-user h3 {
  margin-left: 48px;
}
.landing-advantages .type-user.developer {
  margin-right: 10px;
}
.landing-advantages .type-user.developer .call {
  color: #ff6d6d;
}
.landing-advantages .type-user.developer .button-user h3 {
  margin-left: 70px;
}
.landing-advantages .type-user.developer .button-user legend {
  margin-left: 68px;
}
.textshadow .landing-advantages .type-user.developer .button-user legend {
  text-shadow: 0 -1px 0 #c0272d;
}
.landing-advantages .type-user.student {
  margin-left: 10px;
  float: left;
}
.landing-advantages .type-user.student .call {
  color: #61a080;
}
.landing-advantages .type-user .button-user h3 {
  color: white;
  position: absolute;
  margin-top: -85px;
  margin-left: 56px;
  font-size: 36px;
}
.textshadow .landing-advantages .type-user .button-user h3 {
  text-shadow: 0 1px 3px black;
}
.landing-advantages .type-user .button-user legend {
  font-size: 10px;
  font-family: arial, sans-serif;
  position: absolute;
  color: white;
  margin-top: -60px;
  letter-spacing: 0;
}

.landing-plans {
  margin: 0 0 0 8px;
  padding: 20px 0;
}
.landing-plans .landing-navigation-title {
  margin-bottom: 30px;
}
.landing-plans .type-plan {
  margin: 0 9px;
  width: 208px;
  display: inline-block;
  border: 1px solid #e6e6e6;
  background-color: #f7f7f7;
}
.borderradius .landing-plans .type-plan {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.landing-plans .type-plan .type-plan-icon {
  padding: 10px 10px 0 10px;
  height: 100px;
}
.landing-plans .type-plan .type-plan-icon h3 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -1px;
  text-align: center;
  color: black;
}
.landing-plans .type-plan .type-plan-icon img {
  display: block;
  margin: 0 auto;
}
.landing-plans .type-plan .free-plan {
  text-align: center;
  background-color: #e1f1e1;
}
.landing-plans .type-plan .free-plan h4 {
  font-size: 13px;
}
.landing-plans .type-plan .free-plan h4 {
  color: #5fc080;
}
.landing-plans .type-plan .free-plan .limit-users-free {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -2px;
  font-weight: 300;
}
.landing-plans .type-plan .learn-plan {
  display: block;
  padding: 0 10px 10px 10px;
  text-align: center;
}

.landing-plan-icon {
  display: block;
  margin: 0 auto;
}

.landing-plan-medal {
  vertical-align: top;
}

.line-gray3, .landing-functionalities hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e6e6e6;
  height: 3px;
  margin: 0;
  border-color: white;
  border-right-width: 0;
}

.landing-functionalities .landing-navigation-title {
  margin: 20px;
}
.landing-functionalities p {
  color: #b2b2b2;
}
.landing-functionalities h3 + h4,
.landing-functionalities h4 + p {
  margin-top: 20px;
}

.landing-functionality:hover p {
  color: #6d6e6f;
}

.landing-social-network-n-chat {
  margin-bottom: 20px;
}

.landing-social-network-wrapper,
.landing-chat-wrapper {
  position: relative;
}

.landing-social-network-sprite {
  position: absolute;
  left: -155px;
  top: 15px;
}

.landing-chat-sprite {
  position: absolute;
  left: 150px;
  top: -65px;
}

.landing-social-network-wrapper {
  text-align: right;
}

.landing-chat-wrapper {
  text-align: left;
}
.landing-chat-wrapper h4 {
  width: 280px;
}

.landing-discussion-wall {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  height: 230px;
  background-color: #f7f7f7;
  background: url("../images/landing/wall-background.png") no-repeat scroll right center #f7f7f7;
}
.multiplebgs .landing-discussion-wall {
  background: url("../images/landing/icon-wall-gray_128_130.png") no-repeat scroll center center, url("../images/landing/wall-background.png") no-repeat scroll right center #f7f7f7;
}

.landing-discussion-wall-content {
  width: 340px;
}

.landing-multimedia-type, .landing-multimedia-exercise {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 5px;
}
.landing-multimedia-type + .landing-multimedia-type, .landing-multimedia-exercise + .landing-multimedia-type, .landing-multimedia-type + .landing-multimedia-exercise, .landing-multimedia-exercise + .landing-multimedia-exercise {
  margin-top: 10px;
}

.landing-multimedia-outer-wrapper {
  padding: 20px;
}

.landing-multimedia-inner-wrapper {
  background: white url("../images/landing/icon-exercise-gray_128_130.png") no-repeat right center;
}

.landing-multimedia-description {
  width: 340px;
}

.landing-multimedia-description +
.landing-multimedia-types {
  margin-left: 35px;
}

.landing-multimedia-description,
.landing-multimedia-types,
.landing-multimedia-types-left,
.landing-multimedia-types-right {
  display: inline-block;
}

.landing-multimedia-types {
  width: 350px;
}

.landing-multimedia-exercise {
  position: absolute;
  top: -10px;
  left: -10px;
}

.landing-multimedia-type-circle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transition: border-width 0.15s linear;
  -moz-transition: border-width 0.15s linear;
  -ms-transition: border-width 0.15s linear;
  -o-transition: border-width 0.15s linear;
  transition: border-width 0.15s linear;
  display: none;
  border: 1px solid white;
}
.borderradius .landing-multimedia-type-circle {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.landing-multimedia-outer-wrapper:hover .landing-multimedia-type-circle {
  display: block;
}
.landing-multimedia-type-circle:hover {
  border-width: 5px;
}

.landing-multimedia-types-left +
.landing-multimedia-types-right {
  margin-left: 20px;
}

.landing-multimedia-types-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 265px;
  padding: 10px 0 10px 10px;
  vertical-align: top;
}

.landing-multimedia-exercise-box {
  padding: 10px;
  background-color: #e1f1e1;
  border: 1px solid #abe385;
  position: relative;
}
.borderradius .landing-multimedia-exercise-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.boxshadow .landing-multimedia-exercise-box {
  -webkit-box-shadow: 1px 1px 1px white inset;
  -moz-box-shadow: 1px 1px 1px white inset;
  box-shadow: 1px 1px 1px white inset;
}
.landing-multimedia-exercise-box h4 {
  margin-left: 55px;
  color: black;
}
.landing-multimedia-exercise-box p {
  color: #6d6e6f;
}
.landing-multimedia-exercise-box p + p {
  margin-top: 10px;
}
.landing-multimedia-exercise-box h4 + p {
  margin-top: 13px;
}

.landing-oer-outer-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 190px;
  padding: 20px 0;
  background-color: #1c75bb;
}
.cssgradients .landing-oer-outer-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(5%, #1c75bb), color-stop(95%, #1c75bb), color-stop(100%, rgba(0, 0, 0, 0.4)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), #1c75bb 5%, #1c75bb 95%, rgba(0, 0, 0, 0.4) 100%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), #1c75bb 5%, #1c75bb 95%, rgba(0, 0, 0, 0.4) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), #1c75bb 5%, #1c75bb 95%, rgba(0, 0, 0, 0.4) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), #1c75bb 5%, #1c75bb 95%, rgba(0, 0, 0, 0.4) 100%);
}
.no-cssgradients.gt-ie8 .landing-oer-outer-wrapper {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMWM3NWJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTUlIiBzdG9wLWNvbG9yPSIjMWM3NWJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}

.landing-oer-inner-wrapper {
  background: url("../images/landing/oer-logo.png") no-repeat right center;
}
.textshadow .landing-oer-inner-wrapper {
  text-shadow: 0 1px 0 black;
}

.landing-oer-title {
  position: relative;
}
.landing-oer-title .label-doubts {
  position: absolute;
}
.landing-oer-title h3 {
  text-align: right;
  color: white;
}

.landing-oer-description {
  padding-top: 10px;
}
.landing-oer-description h4 {
  color: #f0f0f0;
}
.landing-oer-description p {
  color: white;
}
.landing-functionality:hover .landing-oer-description p {
  color: white;
}

.landing-api {
  padding: 20px;
}

.landing-api-description {
  display: inline-block;
  width: 340px;
}

.landing-api-description +
.landing-api-link {
  margin-left: 60px;
}

.landing-api-link {
  width: 225px;
  height: 225px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border: 10px solid #dbeff7;
  background: transparent url("../images/landing/icon-api-gray_128_130.png") no-repeat 30px 20px;
  position: relative;
}
.landing-api-link:hover {
  border-color: #73c3e6;
}
.borderradius .landing-api-link {
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  border-radius: 130px;
}
.landing-api-link a {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 128px;
  text-align: center;
}

.landing-api-link +
.landing-api-illustration {
  float: right;
  margin-left: 30px;
}

.landing-others {
  padding: 50px 20px 20px;
  background: transparent url("../images/landing/plus.png") no-repeat center 10px;
  overflow: hidden;
}

.landing-other {
  width: 286px;
  float: left;
  position: relative;
}
.landing-other + .landing-other {
  margin-left: 20px;
}
.landing-other .label-doubts {
  position: absolute;
  top: 0;
  right: 0;
}
.landing-other [class*="icon-"][class*="-before"]:before {
  margin-right: 10px;
}

.landing-partners-wrapper {
  padding: 20px 20px 40px;
}
.landing-partners-wrapper h2 {
  color: #e6e6e6;
}
.textshadow .landing-partners-wrapper h2 {
  text-shadow: 0 1px 0 #b3b3b3;
}
.landing-partners-wrapper h2 + .landing-partners {
  margin-top: 20px;
}
.landing-partners-wrapper .partners-title {
  font-size: 18px !important;
  line-height: 21px;
  letter-spacing: -1px;
  font-weight: 500;
}

.landing-partners {
  overflow: hidden;
}

.landing-partner {
  float: left;
}
.landing-partner + .landing-partner {
  margin-left: 20px;
}

.landing-basic-reports {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  height: 213px;
  background-color: #f7f7f7;
  background: url("../images/landing/treemap.png") no-repeat scroll right center #f7f7f7;
}
.multiplebgs .landing-basic-reports {
  background: url("../images/landing/icon-128px-relatorios-basicos.png") no-repeat scroll center center, url("../images/landing/treemap.png") no-repeat scroll left center #f7f7f7;
}

.landing-basic-reports-content {
  float: right;
  width: 340px;
}

.landing-management-support {
  overflow: hidden;
  height: 210px;
  background-color: white;
}
.landing-management-support h3 {
  margin-top: 20px;
}

.icon-129px-configuracoes, .bkg-suporte {
  position: absolute;
  display: block;
}

.icon-129px-configuracoes {
  width: 128px;
  height: 130px;
  background-image: url("../images/landing/icon-129px-configuracoes.png");
  margin-left: -160px;
}

.landing-support-content {
  width: 395px;
  height: 120px;
  background: url("../images/landing/bkg-suporte.png");
  height: 210px;
  float: right;
}

.textshadow .olrk-noquirks {
  text-shadow: none;
}
