#resource .admin-actions,
#resource .context {
  float: right;
}

#resource .header {
  width: 240px;
}

#resource .resource-head {
  overflow: hidden;
}

#resource .context {
  width: 440px;
  margin-right: 20px;
}

#resource .context .context-nav {
  float: right;
  margin-right: 10px;
}

#resource .context .progress {
  border: 1px solid #cccbcb;
  background-color: #f1f0f0;
  width: 150px;
  height: 28px;
  float: right;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#resource .context .progress span {
  color: #b3b2b3;
  font-size: .9em;
}

#resource .context .progress-value {
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 5px;
}

#resource .context .progress-type {
  font-style: italic;
  margin: 0 0 2px 30px;
  display: block;
}

#resource .context .progress-completed {
  width: 105px;
  float: left;
  margin-top: 2px;
}

#resource .context .completed {
  background-color: #aed584;
  padding: 4px 0;
  font-size: .8em;
  color: #6d6e6f;
  font-weight: bold;
  text-align: right;
  overflow: hidden;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  background: #61be80; /* Old browsers */
  background: -moz-linear-gradient(top, #61be80 0%,
              #aed584 50%, #61be80 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
              color-stop(0%,#61be80), color-stop(50%,#aed584),
              color-stop(100%,#61be80)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #61be80 0%, #aed584 50%,
              #61be80 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #61be80 0%,
              #aed584 50%,#61be80 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #61be80 0%,
              #aed584 50%,#61be80 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391',
          endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #61be80 0%,
              #aed584 50%,#61be80 100%); /* W3C */
}

#resource .context .progress-value span{
  height: 28px;
}

#resource .context .done,
#resource .context .undone {
  width: 150px;
  float: right;
  font-size: .9em;
  color:  #b3b2b3;
  margin-right: 5px;
}

#resource .context .undone fieldset {
  border: 1px solid #cccbcb;
  height: 28px;

  background-color: #f1f0f0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#resource .done .icon-class-green_16_18-before:before,
#resource .undone .icon-class-gray_16_18-before:before {
  float: left;
  margin-right: 5px;
}

#resource .context .done fieldset {
  border: 1px solid rgb(179, 213, 132);
  height: 28px;
  color: rgb(97, 190, 128);

  background: rgb(225,241,225); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(225,241,225) 0%,
              rgb(247,247,247) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom,
              color-stop(0%,rgb(225,241,225)),
              color-stop(100%,rgb(247,247,247))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,
              rgb(225,241,225) 0%,rgb(247,247,247) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(225,241,225) 0%,
              rgb(247,247,247) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgb(225,241,225) 0%,
              rgb(247,247,247) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f1e1', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgb(225,241,225) 0%,rgb(247,247,247) 100%); /* W3C */

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#resource .context .done input,
#resource .context .done label,
#resource .context .undone input,
#resource .context .undone label {
  display: block;
  float: left;
  margin-top: 7px;
}

#resource .context .done label,
#resource .context .undone label {
  width: 120px;
  margin-left: 2px;
}

#resource .context .previous,
#resource .context .next {
  display: block;
}

#resource .context .previous {
  margin-top: 3px;
}

#resource .context .icon-expand-left-gray_8_10-before:before,
#resource .context .icon-expand-right-gray_8_10-before:before {
  float: left;
  display: block;
  margin: 3px 5px 0 0;
}

#resource .info {
  float: left;
  margin-left: 20px;
  width: 300px;
}

#resource .info .avatar {
  float: left;
  margin-right: 5px;
}

#resource .info .icon-teacher-gray_16_18-before:before {
  margin: 7px 5px 0 0;
  display: block;
  float: left;
}

#resource .info .label {
  font-size: .9em;
  font-style: italic;
  margin-bottom: 5px;
  color: #b3b2b3;
  text-transform: lowercase;
  display: block;
}

#resource .info a {
  font-weight: bold;
}

#resource .resource-content {
  margin: 20px 20px;
  padding: 20px;
  clear: both;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 10px;
}

.boxshadow #resource .resource-content {
  -webkit-box-shadow: 0px 0px 20px 0px #888888;
  -moz-box-shadow: 0px 0px 20px 0px #888888;
  box-shadow: 0px 0px 20px 0px #888888;
}

.boxshadow #resource .resource-content.boxshadow-lights {
  -webkit-box-shadow: 0px 0px 20px 0px #FFFFFF;
  -moz-box-shadow: 0px 0px 20px 0px #FFFFFF;
  box-shadow: 0px 0px 20px 0px #FFFFFF;
}

#resource .admin-actions {
  margin-top: 5px;
  font-size: 0.9em;
}

#resource .admin-actions .icon-delete-gray_8_10-before:before {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}

#resource .position {
  font-size: 2.2em;
  color: rgb(230, 230, 230);
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  float: left;
  margin-left: 4px;
}

.textshadow #resource .position {
  -moz-text-shadow: -1px -1px 0 rgb(179, 179, 179);
  -webkit-text-shadow: -1px -1px 0 rgb(179, 179, 179);
  text-shadow: -1px -1px 0 rgb(179, 179, 179);
}

#resource .details .rating {
  float: right;
  margin: 0 10px 0 10px;
}

#resource .details .resource-info {
  clear: both;
  float: left;
  margin-top: 20px;
}

#resource .details .name:before {
  float: left;
  margin-right: 12px;
  margin-left: -4px;
  margin-top: -5px;
}

#resource .details .name {
  font-size: 2.2em;
  color: black;
}

#resource .statistics {
  font-size: .85em;
  margin-left: 42px;
  clear: left;
}

#resource .statistics li {
  display: inline;
  color: rgb(179, 179, 179);
}

#resource .statistics li:first-child:before {
  content: " ";
}

#resource .statistics li:before {
  content: "|";
  color: rgb(230, 230, 230);
  margin-right: 5px;
}

#resource .stage {
  margin: 20px 0px;
  padding: 20px 40px;
  overflow: hidden;
}

#resource .iframe-canvas {
  padding: 20px 0;
  overflow: hidden;
}

#resource .statuses-counter {
  font-size: .9em;
  clear: both;
  padding: 20px 100px;
}

#resource .statuses-wrapper {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  clear: both;
  padding: 5px 50px;
  margin: 0 20px;
}

#lights_dimmed {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/new/overlay-85.png");
  width: 100%;
}

#resource .create-status {
  margin-top: 0;
}

.borderradius #resource .status-type  .type-item {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

#resource .status-type .type-item {
  float: left;
  width: 130px;
  padding: 9px 5px;
}

#resource .status-type a:hover {
  text-decoration: none;
}

#resource .status-type a:before {
  display: block;
  float: left;
  margin-top: -3px;
  margin-right: 8px;
}

#resource .status-type a {
  font-size: .9em;
  display: block;
}

#resource .status-type .selected {
  background-color: rgb(240,240,240);
}

#resource .status-type .selected a {
  color: rgb(179,179,179);
}

