body {
  background-image: url("/images/landing/background.png");
}

.mobile-content {
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #b3b3b3;
}
.mobile-content .content-section {
  padding: 20px;
}

.mobile-header-logo-link {
  padding: 24px;
  background-image: url("/images/mobile/background-light-2x.png");
  background-size: cover;
  text-align: center;
  display: block;
}

.mobile-header-logo {
  max-height: 200px;
}

.mobile-login-password-recovery {
  overflow: hidden;
  margin-top: 20px;
}

.mobile-login-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 50%;
}

.mobile-password-recovery-call {
  color: #b3b3b3;
}

.mobile-password-recovery-call +
.mobile-form-password-recovery,
.mobile-form-password-recovery-return,
.mobile-form-password-recovery-successfully-sent {
  margin-top: 20px;
}
