* {
  margin: 0;
}

html, body {
  height: 100%;
}

.body-login {
  width: 580px;
  float: right;
}

.logo-top a {
  background-image: url("../images/new/redu-hi-vert.png");
  display: block;
  width: 255px;
  height: 196px;
  overflow: hidden;
  background-repeat: no-repeat;
  float: left;
}

body {
  background-image: url("../images/new/circulos-bokeh-peq.png");
  background-repeat: no-repeat;
}

.overlay{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -97px;
}

.body .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  margin-left: 80px;
  padding-top: -8px;
}

.forgot-login, .forgot-password {
  padding-top: 50px;
  font-family: museo-sans,arial,sans-serif;
  font-weight: 100;
  font-size: 47px;
  color: rgb(115, 195, 230);
  display: block;
  letter-spacing: -2px;
}

.forgot-login, .forgot-password {
  text-shadow: 0px 1px 0px rgb(255, 255, 255); 
}

.forgot-login {
  margin-bottom: 35px;
}

.body-login .name-login,
.body-login .name-password {
  font-family: museo-slab,arial,sans-serif;
  font-weight: 900;
  font-size: 47px;
  color: rgb(115, 195, 230);
  letter-spacing: -4px;
}

.body .concave-form .body-login  .concave-button{ 
   cursor: pointer;
   float: right;
   font-family: arial,sans-serif;
   font-size: 12px;
   font-weight: bold;
   height: 30px;
   padding: 0;
   width: 70px;
   clear: both;
   margin: 10px 0 0 0;
}

.concave-form .input-email, 
.concave-form .input-password {
  color: rgb(179, 179, 179);
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.forgot-password {
  border-top: 1px dotted;	
  margin-top: 30px;
  border-color: rgb(214, 214, 214);
  /*margin-top: 190px;*/
}  

.body .concave-form  .body-login .concave-input {
  width: 389px;
  color: rgb(179, 179, 179);
  font-style: italic;
  font-size: 11px;
  float: right;
  font-family: arial, sans-serif;
  margin: 0px;
}

.body .concave-form {
  overflow: hidden;
  clear: none;
}

.push { 
  height: 97px;
}

.concave-form .concave-input.registered-email{
  font-size: 11px;
  font-family: arial, sans-serif;
  font-sty-webkit-box-shadow: -px 0px 0px rgba(255, 255, 255, 0);
  -moz-box-shadow: -px 0px 0px rgba(255, 255, 255, 0);
  box-shadow: -px 0px 0px rgba(255, 255, 255, 0);le: italic;
}

.textshadow .registered-email {
  text-shadow: 0px -1px 0px rgb(255, 255, 255);
}

.call {
  font-size: 11px;
  color: rgb(179, 179, 179);
  font-family: arial, sans-serif;
  margin-top: 4px;
  margin-bottom: 25px;
  font-weight: normal;
}

.textshadow .call {
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
}

.footer {
  background-color: gray;
  height: 97px;
  margin-top: 170px;
  border-top: 1px solid white;
  min-width: 1035px;
}

.footer .container_12 .container_16 {
  margin-left: auto;
  min-width: 5000px;
}

.footer-text {
  margin: 0 auto;
}

.logo-footer a {
  background-image: url("../images/new/redutech-low-horiz-b.png");
  display: block;
  width: 240px;
  height: 70px;
  overflow: hidden;
  background-repeat: no-repeat;
  float: left;
}

.menu-footer {
  padding-left: 500px;
  float: left;
  list-style: none;
  margin-top: -32px;
}

.menu-list {
  display: inline;
}

.boxshadow .menu-list a:hover {
  -webkit-box-shadow:  0px -1px 0px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
}

.textshadow .menu-list a:hover {
  text-shadow: 0px -1px 0px rgb(21, 138, 196);
}

.menu-list a:hover {
  background-color: rgb(21, 138, 196);
  color: rgb(255, 255, 255);
}

.borderradius .menu-list a:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.menu-list a {
  padding: 6px;
  float: left;
  margin-left: 10px;
  text-decoration: none;
  color: rgb(77, 173, 214);
  font-size: 12px;
}

.cnpj {
  clear:both;
  font-size: 10px;
  color: rgb(179, 179, 179);
  margin-left: 60px;
}

.cssgradients .footer {
  background: rgb(204, 204, 204); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(204, 204, 204) 0%, rgb(240, 240, 240) 100%); /* FF3.6+ */
  background: -webfookit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204, 204, 204)), color-stop(100%,rgb(240, 240, 240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* W3C */
}

.cnpj, .menu-footer {
  font-family: arial, sans-serif;
}

.textshadow .cnpj,
  .textshadow .menu-footer {
  text-shadow: 0px -1px 0px rgb(255, 255, 255);
}
 
.icon-interrog-blue_12_12-before:before  {
  content: "";
  width: 12px;
  float: left;
  height: 12px;
  background: url("../images/new/icones-p.png") -400px -2160px 	repeat;
  margin-left: 30px;
}

.appear-tiptip {
  float: left;
  cursor: pointer;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  overflow: visible; /* removes padding in IE */
}

button::-moz-focus-inner {
    /* removes padding in Firefox */
    border: none;
    padding: 0;
}
 
.login-box {
  float: right;
}

#tiptip_holder {  
  color: pink;
}
  

body #tiptip_content {
 color: white;
 font-size: 11px;
 font-family: arial, sans-serif;
}

.textshadow body #tiptip_content {
  text-shadow: 0px 0px 2px rgb(0, 0, 0):
}

.boxshadow body #tiptip_content {
  -webkit-box-shadow: 0px 3px px rgba(85 , 85, 85, 0.1);
  -moz-box-shadow: 0px 3px px rgba(85 , 85, 85, 0.1);
  box-shadow: 0px 3px px rgba(85 , 85, 85, 0.1); 
}

.alerta {
  background-image: url("../images/new/alerta.png");
  height: 142px;
  width: 165px;
  float: right;
}

.confirmation-msg {
  background-color: rgb(240, 240, 240);
  clear: both;
  float: right;  
}

.boxshadow .confirmation-msg {
  -webkit-box-shadow: inset 0px -1px 0px 0px rgb(255, 255, 255), inset 0px 1px 0px 0px rgb(230, 230, 230);
  -moz-box-shadow: inset 0px -1px 0px 0px rgb(255, 255, 255)), inset 0px 1px 0px 0px rgb(230, 230, 230);
  box-shadow: inset 0px -1px 0px 0px rgb(255 ,255 , 255), inset 0px 1px 0px 0px rgb(230, 230, 230);
}


.borderradius .confirmation-msg {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; 
}

.text-confirmation { 
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  padding: 20px 15px;
  font-family: arial, sans-serif;
  clear:both;
  float: left;			
}

.client-email {
  font-style: italic;
  color: rgb(179, 179, 179);
}

.textshadow .client-email,
.textshadow .text-confirmation {
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
}
 
.aba-top {
  background-image: url("../images/new/aba-cima-borda.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 10px;
  margin-top: -8px;
  margin-left: 40px;
}
 
.icon-interrog-blue_12_12-before {
  float: left;
}

.email-label {  
  float: left;
}

.text-body .concave-form .concave-label {   
  clear: none;
  font-size: 12px;
  width: 40px;
  margin-top: 0px;
  margin-left: 5px;
  height: 0px; 
}

.body .thank-you, 
.body span {
  padding: 0px;
}

.body .concave-form .errors_on_field {
  margin-left: 110px;
  display: block;
  clear: both;
}
