* {
margin: 0;
}

a {
  text-decoration: none;
}


html {
  clear: both;
}

body {
  font-family: arial, sans-serif;
  font-size: 12px;
}

html, body {
  height: 100%;
}

.overlay {
  background-image: url("../images/new/circulos-bokeh.png");
  background-repeat: no-repeat;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -210px;
}

.push { height: 210px }


.body {
  height: 673px;
}

.presentation {
  float: left;
}

.top {
  background: url("../images/new/redu-hi-horiz.png");
  width: 353px;
  height: 147px;
  margin-left: -27px;
}

.top a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  margin-left: -27px;
  width: 353px;
  height: 147px;
}

.footer {
  border-top: 1px solid white;
  height: 210px;
  background-color: rgb(77,173,214);
  min-width: 1035px;
}

.cssgradients .footer {
  background: rgb(115,195,230); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(115,195,230) 0%, rgb(23,137,195) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(115,195,230)), color-stop(100%,rgb(23,137,195))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(115,195,230) 0%,rgb(23,137,195) 100%);
}

.logo-bottom a {
  height: 212px;
  overflow: hidden;
  display: block;
}

.logo-bottom {
  width: 240px;
  height: 77px;
  background-image: url("../images/new/redutech-low-horiz-a.png");
  margin-left: -18px;
}

.footer .presentation-call {
  font-family: arial, sans-serif;
  height: 72px;
  width: 287px;
  font-size: 11px;
  float: left;
  color: white;
  line-height: 15px;
}

.our-address{
  margin-left: 60px;
  background-image: url("../images/new/icone-interrog-12.png");
  background-repeat: no-repeat;
  width: 133px;
  height: 72px;
  float: left;
  margin-top: 0;
  padding-top: 21px;
  font-family: arial, sans-serif;
  font-style: italic;
  font-size: 11px;
  color: white;
}

.textshadow .presentation-call,
.textshadow .our-address {
  text-shadow: 0 -1px 0 rgb(21, 138, 196);
}

.about-redu {
  margin-left: 200px;
  width: 130px;
  height: 62px;
  float: left;
  font-size: 13px;
}

.politics-terms {
  width: 150px;
  height: 62px;
  float: left;
  font-size: 13px;
}

.footer a {
  height: 62px;
  font-size: 12px;
  color: white;
  font-family: arial, sans-serif;
}

.textshadow .footer a {
  text-shadow: 0 1px 0 rgb(109, 110, 111);
}

.textshadow .footer a:hover {
  text-shadow: none;
}

.list-menu {
  padding: 5px;
}

.list-menu a {
  padding: 5px;
}

.borderradius .list-menu a:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.boxshadow .list-menu a:hover {
  -webkit-box-shadow: 0 1px 0 0 rgb(109, 110, 111);
  -moz-box-shadow: 0 1px 0 0 rgb(109, 110, 111);
  box-shadow: 0 1px 0 0 rgb(109, 110, 111);
}

.list-menu a:hover {
  background-color: white;
  color: rgb(21,138,196);
}

.div-login .concave-form .errors_on_field {
  width: 200px;
  margin-left: 2px;
}

.body-blog {  
  margin-top: 160px;
  height: 290px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.boxshadow .body-blog {  
  -webkit-box-shadow: 0px 2px 5px 0.4px #000000;
  -moz-box-shadow: 0px 2px 5px 0.4px #000000;
  box-shadow: 0px 2px 5px 0.4px #000000;  
}

.cssgradients .body-blog {
  background: #e6e6e6; /* Old browsers */
  background: -moz-linear-gradient(top, #e6e6e6 1%, #ffffff 50%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e6e6e6), color-stop(50%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e6e6e6 1%,#ffffff 50%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e6e6e6 1%,#ffffff 50%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e6e6e6 1%,#ffffff 50%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(top, #e6e6e6 1%,#ffffff 50%,#e6e6e6 100%); /* W3C */
}

.borderradius .body-blog {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.title-post { 
  float: right;
}

