/**
   Closed beta Redu stylesheet
   URL: http://redu.com.br
**/

/**
   Default color table:
    @border: #EFF0F0 cinza
    @link2: #0B85C1 azul
    @link1: #18C8EF azul claro
    @header: #F63B0B vermelho
    @background: #EBF7FD

**/

/** @typo **/
html, body {  height:100%; /* 100% height hack */ }

html {
    font-family: "Trebuchet MS", "Arial", sans-serif;
    font-size: .9em;
}

body {
  background: url("../images/beta_02.png") repeat-x;
}

#header {
  height: 83px;
  margin-bottom: 20px;
}

#header h1.logotipo {
  background: url("../images/logotipo-beta.png") no-repeat;
  height: 57px;
  margin-top: 15px;
  text-indent: 9999px;
  overflow: hidden;
}

#header h1.logotipo a {
  display: block;
  height: 57px;
}

#header .menu {
  margin: 20px 0;
}

#header .menu ul li {
  float: right;
  padding: 10px 20px;
}

#header .menu ul li a {
  font-style: oblique;
}


#content {
  margin-bottom: 30px;
}

#banner  ul {
  display: block;
  height: 20px;
}

#banner ul li a {
  display: block;
}

#banner  span.call {
  font-weight: bold;
  color: #039bcf;
  font-size: 1.8em;
  position: relative;
  display: block;
  font-family: Molengo, Arial, sans-serif;
}

#banner  em {
  color: #ffa000;  
  font-style: normal;
}

#banner .banner1,
#banner .banner2,
#banner .banner3 {
  position: absolute;
  width: 610px;
}

#banner .banner2 span.call {
  top: 30px;
  left: 30px;
  width: 400px;
}

#banner .banner3 span.call {
  top: 20px;
  width: 400px;
  margin: 25px 100px;
  text-align: center;
}
#banner .banner1 span.call {
  top: 320px;
  width: 450px;
  text-align: center;
  margin: 0 80px;
}

#banner ul li.redu,
#banner ul li.professores,
#banner ul li.alunos {
  text-indent: -9999px;
  overflow: hidden;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: #0686ac;
  float: left;
  margin-right: 15px;
}

#banner ul li.ui-tabs-selected {
  background-color: #FF8D00;
}

#banner div.banner1 {
  background: url("../images/banner1_06.png") no-repeat;
  height: 400px;
}

#banner div.banner2 {
  background: url("../images/banner2_06.jpg") no-repeat;
  height: 400px;
}

#banner div.banner3 {
  background: url("../images/banner3_06.gif") no-repeat;
  height: 400px;
}

#sidebar {
  padding-top: 20px;
}

#sidebar .call {
  margin-bottom: 10px;
}

#sidebar .call .name {
  font-style: oblique;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  color: #0686ac;
}

#sidebar .call .tip {
  font-style: oblique;
  font-size: .9em;
  color: gray;
  display: block;
}

#sidebar .login {
  border: 1px solid #23c4e4;
  background-color: #f3f9fa;
}

#sidebar .beta {
  border: 1px solid #ffcb97;
  background-color: #fff7ee;
}

#footer {
  background: url("../images/beta_05.png") repeat-x;
  height: 60px;
}

#footer span.copyright {
  color: white;
  padding: 20px 0;
  display: block;
  font-size: .9em;
}

.ui-tabs-hide { display: none; }

a {
   color: #18C8EF;
   text-decoration: none;
   font-style: none;
}

.box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  margin: 0 0 10px 0;
}

form.common input[type=text],
form.common input[type=password] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   border: 1px solid #cadfe3;
   padding: 7px;
   width: 215px;
}

form.common input.small {
  width: 160px;
}

form.common label {
  font-size: .8em;
  color: gray;
  font-style: oblique;
  padding: 10px 0 5px 0;
  display: block;
}

form.common label.inline {
  display: inline;
}

form.common button.common {
  display: block;
  float: right;
  background: url("../images/bt-medium.png") no-repeat;
  width: 92px;
  height: 32px;
  border: none;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 4px;
}

form.common button.small {
  background: url("../images/bt-small.png") no-repeat;
  width: 44px;
  height: 32px;
}

form.common fieldset.hide legend {
  display: none;
}

form.beta_key input {
  float: left;
}

form.beta_key button {
  float: right;
}
/** helpers **/
    /** replacement **/
    .replacement {
        text-indent: -9999px;
        overflow:hidden;
    }

    .clearfix:after {
        content:"\0020";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
        overflow:hidden;
    }

    .clearfix {
        display:block;
    }
    a.std, button{
        display:block;
        float:left;
        margin:0 7px 0 0;
        background-color:#f5f5f5;
        border:1px solid #dedede;
        border-top:1px solid #eee;
        border-left:1px solid #eee;

        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
        font-size:12px;
        line-height:130%;
        text-decoration:none;
        font-weight:bold;
        color:#565656;
        cursor:pointer;
        padding:5px 10px 6px 7px; /* Links */
    }

    button{
        width:auto;
        overflow:visible;
        padding:4px 10px 3px 7px; /* IE6 */
    }

    button[type]{
        padding:5px 10px 5px 7px; /* Firefox */
        line-height:17px; /* Safari */
    }

    *:first-child+html button[type]{
        padding:4px 10px 3px 7px; /* IE7 */
    }

    button img, a.std img{
        margin:0 3px -3px 0 !important;
        padding:0;
        border:none;
        width:16px;
        height:16px;
    }

    button.regular, .buttons a.regular{
        color:#336699;
    }

    a.regular:hover, button.regular:hover{
        background-color:#dff4ff;
        border:1px solid #c2e1ef;
        color:#336699;
    }

    a.regular:active{
        background-color:#6299c5;
        border:1px solid #6299c5;
        color:#fff;
    }
