/*

TableCloth
by Alen Grakalic, brought to you by cssglobe.com

*/

/* general styles */

table.common, table.common td {
    font-size: .9em;
}

table.common {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

table.common th, table.common td {
    text-align: left;
    padding: .5em;
    border: 1px solid #fff;
}

table.common th {
    background: #328aa4 url(../images/tr_back.gif) repeat-x;
    color: #fff;
}

table.common td {
    background: #e5f1f4;
}

/* tablecloth styles */

table.common tr.even td {
    background: #e5f1f4;
}

table.common tr.odd td {
    background: #f8fbfc;
}

table.common th.over, table.common tr.even th.over, table.common tr.odd th.over {
    background: #4a98af;
}

table.common th.down, table.common tr.even th.down, table.common tr.odd th.down {
    background: #bce774;
}

table.common th.selected, table.common tr.even th.selected, table.common tr.odd th.selected {
}

table.common td.over, table.common tr.even td.over, table.common tr.odd td.over {
    background: #ecfbd4;
}

table.common td.down, table.common tr.even td.down, table.common tr.odd td.down {
    background: #bce774;
    color: #fff;
}

table.common td.selected, table.common tr.even td.selected, table.common tr.odd td.selected {
    background: #bce774;
    color: #555;
}


/* use this if you want to apply different styleing to empty table cells*/
table.common td.empty, table.common tr.odd td.empty, table.common tr.even td.empty {
    background: #fff;
}
