#bg-content{
	background:url(../images/bg-content-teach-header.jpg) no-repeat;
	height:499px;
	height:auto !important;
	min-height:499px;
}

/* COLUNA ESQUERDA */
#bg-content .left-sidebar{
	float:left;
	margin-left:50px;
	margin-top:30px;
	width:460px;
}

#bg-content .left-sidebar .title{
	background:url(../images/tit-educacao-a-distancia.png);
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/tit-educacao-a-distancia.png", sizingMethod="scale");
	float:left;
	height:59px;
	margin-left:73px;
	text-indent: -3000px;
	width:313px;
	white-space: nowrap;
}

#bg-content .redu-screens{
	background:url(../images/telas-redu.png) no-repeat;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/telas-redu.png", sizingMethod="scale");
	float:left;
	height:408px;
	margin-top:30px;
	width:470px;
}

/* COLUNA DIREITA */
#bg-content .right-sidebar{
	float:right;
	margin-right:50px;
	margin-top:30px;
	width:320px;
}

#bg-content .right-sidebar .title{
	background:url(../images/tit-criar-ambiente.png);
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/tit-criar-ambiente.png", sizingMethod="scale");
	float:left;
	height:48px;
	text-indent: -3000px;
	width:310px;
	white-space: nowrap;
}

#bg-content .right-sidebar form{
	background:url(../images/bg-form-teach-header.png) no-repeat;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/bg-form-teach-header.png", sizingMethod="scale");
	float:left;
	margin-top:40px;
	width:314px;
}

#bg-content .right-sidebar form label{
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin-left:36px;
	margin-top:20px;
}

#bg-content .right-sidebar form input.text{
	background:url(../images/bg-input-teach-header.png) no-repeat;
	border:none;
	color:#555555;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-left:33px;
	margin-top:3px;
	padding:10px;
	width:238px;
	height:18px;
}

#bg-content .right-sidebar form input.link{
	background:url(../images/bg-input-teach-header.png) no-repeat;
        display: block;
	border:none;
	color:#555555;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:33px;
	margin-top: 3px;
	padding:10px;
	width:238px;
	height:18px;
}

#bg-content .right-sidebar form input.leitura{
	background:none;
        display: block;
	float:left;
	border:none;
	color:#ffffff;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:0;
	margin-bottom:5px;
	width:190px;
}

#bg-content .right-sidebar form .link{
	color:#FFFFFF;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	margin-top:1px;
	margin-left:35px;
}

#bg-content .right-sidebar form img{
	float:left;
	margin-left:37px;
	margin-right:5px;
	margin-top:3px;
}

#bg-content .right-sidebar form .color{
	float:left;
	font-size:12px;
	margin-top:3px;
	margin-left:10px;
	width:100px;
}

#bg-content .right-sidebar form input[type=submit]{
	background:url(../images/btn-registre-teach-header.png) no-repeat;
	border:none;
	float:left;
	font-size:0px;
	height:71px;
	margin-top:55px;
	width:259px;
}
