#curriculum .experiences > li,
#curriculum .educations li {
  display: block;
  background-color: #f1f0f0;
  color: #6d6e6f;
  margin: 10px 0;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#curriculum .experiences > li:hover,
#curriculum .educations > li:hover {
  background-color: #dbeff7;
}

#curriculum .experiences > li form,
#curriculum .educations > li form {
  padding-bottom: 15px;
  background-color: white;
}

#curriculum form .description {
  height: 82px;
}

#curriculum form .start-date {
  float: left;
}

#curriculum form .end-date {
  display: block;
  float: left;
  margin-left: 5px;
}

#curriculum form .current-experience {
  display: block;
  clear: both;
  margin-left: 160px;
  padding-top: 10px;
}

#curriculum .work-here {
  display: inline;
  font-weight: normal;
  float: none;
}

#curriculum .experiences .details,
#curriculum .educations .details {
  float: left;
  width: 450px;
  margin: 5px 0;
}

#curriculum .experiences .edit-experience,
#curriculum .educations .edit-education {
  display: block;
  margin: 10px 30px 10px 10px;
  float: left;
  padding-left: 13px;
  font-size: .87em;
}

#curriculum .experiences .remove-experience,
#curriculum .educations .remove-education {
  display: block;
  float: right;
  width: 16px;
  margin-top: 3px;
}

#curriculum .experiences .title,
#curriculum .educations .course-area,
#curriculum .educations .infos .course {
  font-weight: bold;
  color: black;
}

#curriculum .experiences .company,
#curriculum .educations .institution,
#curriculum .educations .type,
#curriculum .educations .name {
  color: black;
}

#curriculum .experiences .period,
#curriculum .education .period {
  display: block;
  font-size: .87em;
  color: #b3b2b3;
  font-style: italic;
  margin: 3px 0;
}

#curriculum .education form .workload {
  display: block;
  width: 40px;
}

#curriculum .education form .role {
  display: block;
}

#curriculum .new-experience-button,
#curriculum .new-education-button {
  float: right;
  margin-right: 0;
  margin-top: 10px;
  width: 128px;
}

#education_type.higher {
  float: left;
}

#curriculum .header {
  margin: 40px 0;
}

#curriculum .header > .title {
  font-size: 1.3em;
  float: left;
  font-family: Copse;
  color: #73C3E6;
}

#curriculum .separator {
  border: none;
  border-top: 1px dotted #B3B2B3;
  width: 448px;
  float: right;
  margin-top: 10px;
}

#biography .remove-network {
  width: 16px;
  margin-top: 30px;
  margin-right: 5px;
  display: block;
  float: right;
}

#biography .concave-form .concave-select {
  width: 90px;
}
