.statuses {
  font-size: .98em;
}

 .create-status + .statuses {
  background: url("../images/new/dots.png") repeat-x top;
}

.statuses > ol > li {
  background: url("../images/new/dots.png") repeat-x bottom;
  padding: 20px 0;
  overflow: hidden;
  list-style: none;
}

.statuses .status:after,
.statuses .status-context:after {
  position: absolute;
  top: 0;
  right: 0;
}

.statuses ol .responses,
.statuses ol .create-response,
.create-status, .status .status-contents {
  padding: 10px;
}

.borderradius .statuses ol .responses,
.borderradius .statuses ol .create-response {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.statuses .friend-avatar,
.statuses li .avatar {
  float: left;
  margin-right: 8px;
}

.statuses .username {
  font-weight: bold;
}

.statuses .friend-summary,
.statuses .date {
  display: block;
  font-size: .9em;
  color: #B2B2B2;
  overflow: hidden;
  margin-left: 21px;
}

.statuses .said {
  color: rgb(109, 109, 109);
}

.statuses .status-info {
  color: #6d6e6f;
}

.statuses .toggle-statuses {
  display: block;
  text-align: center;
  font-size: .9em;
}

#statuses .responses .actions,
#statuses .status .actions {
  font-size: .9em;
  margin-right: 20px;
  padding: 10px 0;
  float: none;
}

.statuses .actions a:before {
  float: left;
  margin: 1px 5px 0 0;
}

.statuses .actions li {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #C6C6C6;
}

.statuses .actions li {
  float: right;
  border:none;
}

.statuses .actions li:last-child {
  border: none;
}

.statuses li .message {
  padding-left: 37px;
  display: block;
  line-height: 130%;
}

.statuses .status-text {
  line-height: 130%;
  overflow: hidden;
}

.statuses .status-message {
  display: block;
  clear: both;
  line-height: 130%;
}

.textshadow .status-message { text-shadow: none; }

.statuses .re-status .status-message {
  margin-top: 0;
  margin-left: 40px;
}

.statuses .re-status .icons-small {
  width: 16px;
}

.status-info + a.icon-small, a + a.icon-small {
  float: right;
  width: 16px;
}

.statuses .status-message {
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statuses .status-message a {
  white-space: nowrap;
}

.statuses .status-content {
  overflow: hidden;
  line-height: 130%;
  margin: 10px 0 0 45px;
}

.statuses .status-subject {
  float: left;
  width: 35px;
  height: 34px;
  margin-right: 5px;
  display: block;
  overflow: hidden;
}

.status {
  position: relative;
  overflow: hidden;
}

.statuses .status-context {
  line-height: 130%;
  width: 510px;
  float: left;
}

.statuses .status-context .status-main {
  overflow: hidden;
  font-weight: bold;
  float: left;
  display: block;
}

.statuses .status-context .status-secondary {
  overflow: hidden;
  display: block;
  float: left;
}

.statuses .status-context .status-secondary:before {
  margin: 4px 10px 0 10px;
  float: left;
}

.statuses .status-log {
  clear: left;
  line-height: 130%;
  margin-left: 38px;
}

.statuses .status-log .status-help {
  color: #f37b38;
}

#statuses .status-log .actions {
  margin-left: 35px;
  margin-bottom: 0px;
}

#statuses .status-log .re-status .actions {
  margin-left: 27px;
}

#statuses .status-log .actions {
  line-height: 100%;
}

.statuses .status-icon {
  overflow: hidden;
}

.statuses .status-icon:before {
  content: "";
  float: left;
  margin-right: 5px;
}

/* inicio pré-visualização novo post */
.borderradius .create-status {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.textshadow .create-status .post-resource,
.textshadow #statuses .status .post-resource,
.textshadow #statuses .responses .re-status .status-message p {
  text-shadow: 0 1px 0 rgb(255, 255, 255);
}

.create-status .post-resource,
#statuses .status .post-resource {
  font-size: 13px;
  font-family: arial, sans-sefif;
  font-weight: normal;
  overflow: hidden;
  clear: both;
}

#statuses .status .create-response {
  background: rgb(240, 240, 240);
  margin-top: 2px;
  margin-bottom: 0;
}

.create-status .concave-form .concave-clean {
  padding: 6px 10px;
}

.boxshadow .create-status .concave-form .concave-clean  {
  -webkit-box-shadow: 0 1px 0 0 white inset;
  -moz-box-shadow: 0 1px 0 0 white inset;
  box-shadow: 0 1px 0 0 white inset;
}

.create-status .concave-form .concave-button {
  padding: 6px 10px;
  float: right;
}

.boxshadow .create-status .concave-form .concave-button  {
  -webkit-box-shadow: 0 1px 0 0 rgb(219, 239, 247) inset;
  -moz-box-shadow: 0 1px 0 0 rgb(219, 239, 247) inset;
  box-shadow: 0 1px 0 0 rgb(219, 239, 247) inset;
}

.create-status .post-resource .close,
.status .responses .re-status .close {
  display: block;
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
}

.create-status .post-resource .source-site,
#statuses .status .post-resource .source-site {
  color: rgb(204, 204, 204);
  font-weight: normal;
}

.create-status .post-resource .preview-link,
#statuses .status .post-resource .preview-link {
  float: left;
  width: 100%;
  min-height: 34px;
  max-width: 100px;
}

.create-status .post-resource .thumbnail,
#statuses .status .post-resource .thumbnail {
  margin-right: 10px;
  float: left;
  overflow: hidden;
}

.status .statuses .actions li {
  float: right;
  border: none;
}

.statuses .status .actions {
  margin-bottom: 0;
}

.create-status .post-resource .post-text,
#statuses .status .post-resource .post-text h3 {
  overflow: hidden;
  color: rgb( 109, 110, 111);
  padding-bottom: 0;
}

.create-status .post-resource .post-text,
#statuses .status .post-resource .post-text h3,
.create-status .post-resource .source-site,
#statuses .status .post-resource .source-site {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#statuses .status .post-resource .post-text h3 {
  font-weight: bold;
}

.status .post-resource .post-text .post-description {
  color: rgb(109, 110, 111);
}

.textshadow .statuses .status .date,
.textshadow .statuses .last-responses,
.textshadow .statuses .status-info {
  text-shadow: 0 1px 0 white;
}

.create-status .post-resource .thumbnail .buttons-thumbnail {
  clear: both;
  display: block
}

.create-status .post-resource .thumbnail .arrow {
  float: right;
  height: 10px;
  margin: 5px 10px;
  width: 8px;
}

.create-status .post-resource .thumbnail .last .arrow {
  background:  url("../images/new/icons-oembed-nav.png") 0 0 no-repeat;
}

.create-status .post-resource .thumbnail .last:hover .arrow {
  background:  url("../images/new/icons-oembed-nav.png") 0 -20px no-repeat;
}

.create-status .post-resource .thumbnail .next .arrow {
  background:  url("../images/new/icons-oembed-nav.png") -20px 0 no-repeat;
}

.create-status .post-resource .thumbnail .next:hover .arrow {
  background:  url("../images/new/icons-oembed-nav.png") -20px -20px no-repeat;
}

.create-status .post-resource .thumbnail .remove .arrow {
  background:  url("../images/new/icons-oembed-nav.png") -40px 0 no-repeat;
}

.create-status .post-resource .thumbnail .remove:hover .arrow {
  background:  url("../images/new/icons-oembed-nav.png") -40px -20px no-repeat;
}

.cssgradients .create-status .post-resource .thumbnail .control {
  background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 97%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(97%,rgb(240,240,240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(240,240,240) 97%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(240,240,240) 97%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(240,240,240) 97%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgb(255,255,255) 0%,rgb(240,240,240) 97%); /* W3C */
}

.cssgradients .create-status .post-resource .thumbnail .control:hover {
  background: -moz-linear-gradient(top,  rgb(247,247,247) 0%, rgb(219,239,247) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(247,247,247)), color-stop(100%,rgb(219,239,247))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(247,247,247) 0%,rgb(219,239,247) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(247,247,247) 0%,rgb(219,239,247) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(247,247,247) 0%,rgb(219,239,247) 100%); /* IE10+ */
  background: linear-gradient(top,  rgb(247,247,247) 0%,rgb(219,239,247) 100%); /* W3C */
}

.create-status .post-resource .thumbnail .control {
  float: left;
  border: 1px solid rgb(204, 204, 204);
  width: 28px;
  height: 22px;
  background: rgb(255, 255, 255); /* Old browsers */
  margin: 5px 5px 0 0;
  cursor: pointer;
}

.create-status .post-resource .thumbnail .control:hover {
  border: solid 1px rgb(115, 195, 230);
  color: rgb(21, 138, 196);
  background: rgb(219, 239, 247);
}

.create-status .post-resource .thumbnail .control.remove {
  margin-right: 0;
}

.create-status .post-resource .thumbnail .control.desactivated {
  background: rgb(247, 247, 247);
  cursor: default;
}

.create-status .post-resource .thumbnail .control.desactivated:hover {
  border: solid 1px rgb(204, 204, 204);
  background: rgb(247, 247, 247);
}

.create-status .post-resource .java-icon,
#statuses .post-resource .java-icon {
  background-image: url("../images/new/icon-applet.png");
  text-indent: -9999px;
  width: 32px;
  height: 34px;
  display: block;
  background-repeat: no-repeat;
  margin-top: -3px;
  padding: 0;
  clear: both;
  float: left;
  overflow: hidden;
}

.borderradius .create-status .post-resource .thumbnail .control {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.create-status .post-resource .thumbnail .desactivated.last .arrow {
  background: url("../images/new/icones-p.png") -480px -1919px no-repeat;
  content: '';
}

.create-status .post-resource .thumbnail .desactivated.next .arrow {
  background: url("../images/new/icones-p.png") -480px -1839px no-repeat;
  content: '';
}

.create-status .post-resource .thumbnail .desactivated.remove .arrow {
  background: url("../images/new/icones-p.png") -4px -2163px no-repeat;
  content: '';
}


#statuses .post-link {
  padding: 0;
}

.statuses .last-responses {
  color: rgb(179, 179, 179);
  display: block;
  font-size: 0.9em;
  text-align: center;
}

#statuses .status .create-response .ui-placeholder {
  top: 9px;
  font-style: normal;
}

#statuses .status .responses ol .re-status .post-title {
  margin: 0 0 5px 8px;
  display: block;
  color: rgb(109, 110, 111);
}

#statuses .status .post-resource .post-title {
  margin: 0 0 10px 0;
  display: block;
}

#statuses .status .responses {
  margin-top: 12px;
  padding-left: 0;
  padding-right: 0;
  background-color: rgb(240, 240, 240);
}

#statuses .status .responses li {
  list-style: none;
}

#statuses .status .responses .re-status {
  padding-left: 10px;
  padding-right: 10px;
}

#statuses .status .post-resource,
#statuses .status .re-status .post-resource {
  margin-top: 10px;
}

#statuses .status .re-status .post-resource {
  margin-left: 40px;
}

#statuses .status .create-status .post-title {
  margin-left: 0;
  margin-bottom: 3px;
}

.create-status .distance-top:before,
.status .create-response:before,
.status .status-contents .distance-top:before,
.responses .distance-top:after {
   border-color: rgb(240, 240, 240) white;
   border-width: 0 10px 10px;
   border-style: solid;
   margin-top: -20px;
   content: " ";
   display: block;
   width: 0;
}

.inform-my-status .distance-top:before,
.status .status-contents .distance-top:before {
   position: absolute;
   margin-left: 10px;
}

.responses .distance-top:after {
  margin-left: 20px;
  position: absolute;
}

#resource .inform-my-status .distance-top:before {
  display: none;
}

#resource .inform-my-status {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}

.status .create-response:before {
  margin-right: 30px;
  float: right;
}

/* início agrupar-mural */
.statuses .status .grouped-photos {
  overflow: hidden;
  margin-left: 40px;
  height:40px;
  float: left;
}

.statuses .status .grouped-photos .item {
  display: inline;
  float: left;
  clear: none;
  margin-bottom: 0;
}

.statuses .status .show-more {
  display: block;
  clear: both;
  margin-top: 10px;
  float: right;
  font-size: 11px;
  margin-right: 7px;
}

.statuses .status .status-context .post-grouped-discipline {
  float: none;
}

.statuses .status .status-log {
  padding-top: 10px;
}

.statuses .status .status-context .status-info {
  margin-left: 5px;
}

.statuses .status .grouped-photos .item .user-avatar {
  margin-top: 8px;
  margin-right: 8px;
  height: 34px;
}

.statuses .status .box {
  width: 480px;
}

.create-status,
.status .status-contents {
  background-color: rgb(240, 240, 240);
  margin-top: 20px;
  clear: both;
}

.borderradius .create-status,
.borderradius .status .status-contents {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.status .status-contents {
  margin-top: 10px;
}

.create-status {
  margin-bottom: 20px;
}

.status .status-contents,
.status .responses,
.status .create-response {
  margin-left: 37px;
}

.create-status .concave-form {
  margin: 0;
  padding: 0;
}

.create-status .concave-form .concave-fieldset {
  margin: 0;
  padding: 0;
}

.create-status .concave-form .concave-label {
  margin: 8px 5px 0 0;
  height: 17px;
  width: 18px;
  text-align: left;
}

.create-status .concave-form .status-icon {
  background: url("../images/new/icons-small.png") 0 -560px no-repeat;
}

.create-status .concave-form .status-icon.concave-label-focus {
  background: url("../images/new/icons-small.png") -160px -560px no-repeat;
}

.create-status .concave-form .status-icon-answer {
  background: url("../images/new/icons-small.png") -480px -640px no-repeat;
}

.create-status .concave-form .status-icon-answer.concave-label-focus {
  background: url("../images/new/icons-small.png") -560px -640px no-repeat;
}

.create-status .status-buttons {
  float: right;
  padding-top: 10px;
}

.create-status.create-response .concave-form .concave-input {
  margin: 0;
  height: 100%;
  padding: 6px 10px;
  width: 478px;
}

.status-log .create-response .concave-form .concave-input {
  width: 420px;
}

.status-medium .create-status .concave-form .concave-input {
  width: 583px;
}

.status-medium .create-response .concave-form .concave-input {
  width: 508px;
}

.status-large .create-status .concave-form .concave-input {
  width: 683px;
}

.status-large .create-response .concave-form .concave-input {
  width: 608px;
}

.create-status .concave-form .cancel,
.create-status .concave-form .concave-button {
  margin: 0 0 0 5px;
}

.create-status .concave-form .char-limit,
.create-status .concave-form .errorMessageField {
  width: 200px;
  margin-left: 28px;
  margin-top: 10px;
  clear: both;
  float: left;
  font-style: italic;
}

.char-limit {
  font-size: .8em;
  color: #B2B2B2;
  padding: 5px 3px;
}

.create-status form .errorMessageField {
  display: block;
  clear: both;
  margin: 5px 0 5px 0px;
  color: #B2B2B2;
  font-size: .8em;
}

.create-status .post-resource .border-post,
.responses .border-post {
  border-top: solid 1px rgb(204, 204, 204);
  border-bottom: solid 1px white;
  border-left: none;
  border-right: none;
  margin: 10px 0px 10px 0px;
}

/* Endless */
.statuses .endless {
  clear: both;
  text-align: center;
  padding: 26px 10px 6px 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: url("../images/new/dots.png") repeat-x top;
}

.statuses .endless a {
  background-color: white;
  border: 1px solid #CCCBCB;
  font-weight: bold;
  padding: 5px 10px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#E6E6E5'); /* IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#E6E6E5)); /* webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #E6E6E5); /* Firefox 3.6+ */
}

.home-container .statuses .endless a.spinner-circular-gray {
  background-repeat: no-repeat;
  background-position: 59px 7px;
}

.statuses .endless a:after {
  content: "▼";
  padding-left: 5px;
}

.statuses .endless a:hover {
  text-decoration: none;
}

/* Home de usuário */
.home-container .statuses > ol {
  margin: 0px;
}
/* Home de usuário */

/* Mensagens */
.create-status.message {
  margin: 0;
  margin-left: 37px;
  padding-bottom: 5px;
}

.create-status.message form {
  overflow: visible;
}
.create-status.message hr {
  border: transparent
}
.create-status.message .status-buttons {
  padding-top: 0;
}

.content-section .statuses > ol {
  background: none;
  margin-top: 0;
  margin-bottom: 10px;
}

.content-section .statuses > ol > li {
  background: none;
  padding: 10px 0;
}
/* Mensagens */

.create-status.inform-my-status .concave-form .char-limit,
.create-status.inform-my-status .concave-form .errorMessageField,
.create-status.create-response .concave-form .char-limit,
.create-status.create-response .concave-form .errorMessageField {
  margin-left: 24px;
}

.home-container .status .create-status textarea.concave-input,
.home-container .status .create-response textarea.concave-input {
  width: 458px;
  padding: 6px 10px;
}

.home-container .status-log .create-status textarea.concave-input,
.home-container .status-log .create-response textarea.concave-input {
  width: 420px;
}

.create-status  [class*="icon-"] {
  float: left;
  margin-top: 7px;
}

.status-buttons a { float: left; }

.statuses .button-default { padding: 6px 10px; }

.create-status textarea.concave-input {
  margin-top: 0;
  line-height: 16px;
}

.statuses > ol > li:last-child {
  background: none;
}

.statuses .button-primary {
  line-height: 16px;
}
