.status-list .status {
  overflow: hidden;
  margin: 20px;
}

.subject-info {
  margin-top: 10px;
  overflow: hidden;
}

.create-status {
  margin: 20px;
}
.create-status hr {
  border: transparent;
}

.status-tab {
  position: relative;
}
.status-tab:before {
  border-color: #f0f0f0 white;
  border-style: solid;
  border-width: 0 10px 10px;
  content: " ";
  position: absolute;
  top: -10px;
  width: 0;
}
.status-tab.tab-right:before {
  right: 39px;
}
.status-tab.tab-left:before {
  left: 20px;
}

.create-response,
.create-status {
  padding: 10px;
  background-color: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.create-response:before, .create-response:after,
.create-status:before,
.create-status:after {
  display: table;
  content: "";
}
.create-response:after,
.create-status:after {
  clear: both;
}
.create-response .status-buttons,
.create-status .status-buttons {
  float: right;
  margin: 5px 0 0;
}
.create-response .status-buttons li,
.create-status .status-buttons li {
  display: inline;
}

.subject,
.subject-content {
  margin-left: 42px;
}
.subject .see-all,
.subject-content .see-all {
  float: right;
}

.status.without-context .subject {
  margin-left: 0;
  overflow: hidden;
}
.status.without-context .subject-content {
  margin: 5px 0 0 42px;
}
.status.without-context .subject-info {
  margin-top: 0;
}
.status.without-context .status-content,
.status.without-context .responses,
.status.without-context .create-response {
  margin-left: 0;
}

.status-list li {
  list-style: none;
}
.status-list .author-thumbnail {
  width: 32px;
  height: 34px;
  float: left;
  margin-right: 10px;
}
.status-list .date {
  display: block;
}
.status-list .actions {
  overflow: hidden;
}
.status-list .actions li {
  margin-top: 10px;
  float: right;
  margin-right: 20px;
}
.status-list .actions li[class*="icon-"]:before {
  vertical-align: middle;
}
.status-list .icon-close {
  float: right;
  cursor: pointer;
}
.status-list .status-content,
.status-list .responses {
  margin-left: 42px;
  background-color: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.status-list .status-content .show-responses,
.status-list .responses .show-responses {
  display: none;
}
.status-list .status-content {
  margin-top: 10px;
  padding: 10px;
}
.textshadow .status-list .status-content p {
  text-shadow: none;
}
.status-list .action {
  color: #b3b3b3;
}
.status-list .help {
  color: #ffa935;
}
.status-list .responses {
  margin-top: 15px;
}
.status-list .responses .last-responses,
.status-list .responses .see-more {
  display: block;
  text-align: center;
  padding: 10px;
}
.status-list .responses .response {
  padding: 10px;
}
.status-list .responses .response .status-content {
  margin-left: 42px;
  padding: 0;
  margin-top: 0;
}
.status-list .subject-content .grouping-elements {
  margin-right: 20px;
  height: 40px;
}
.status-list .subject-content .grouping-elements li {
  display: inline;
}
.status-list .subject-content .grouping-elements li img {
  margin: 8px 3px 0 0;
}
.status-list .log .subject {
  margin-top: 5px;
}
.status-list .log .subject-info[class*="icon-"]:before {
  position: absolute;
  margin-left: -75px;
}
.status-list .log .subject-info .action[class*="icon-"]:before {
  position: absolute;
  margin-left: -35px;
}
.status-list .status .context {
  margin-bottom: 5px;
}
.status-list .status .context .context-icon {
  float: left;
  width: 32px;
  margin-right: 10px;
}
.status-list .status .context .context-icon[class*="icon-"]:before {
  float: left;
}
.status-list .status .context a {
  display: block;
  line-height: 11px;
}
.status-list .create-response {
  margin-top: 10px;
  margin-left: 42px;
}

.context-link-hover {
  color: #158ac4 !important;
  text-decoration: underline;
}

.text-replacement {
  border: 0;
  font: 0/0 a;
  color: transparent;
  background-color: transparent;
}
.textshadow .text-replacement {
  text-shadow: none;
}
