<% if @annotations.size > 0 %>
<ul class="clearfix">

	<% for annotation in @annotations%>
		<li>
			<%= link_to_or_name(annotation) %>
			<%= truncate_chars(annotation.content)%>
		</li>
	<%end%>
</ul>
<% else %>
<div class="box_notice">Você não possui nenhuma anotação de aula ainda.</div>
<% end %>
