<%#
  Renderiza o breadcrumb da página de Configurações.

  Variáveis:
    user: o usuário.
%>
<ul class="breadcrumb-mini">
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
    <%= link_to "Visão Geral", home_user_path(user),
      :class => "breadcrumb-mini-link icon-home-lightblue_16_18-before text-replacement",
      :title => "Visão Geral" %>
  </li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
    <%= link_to "Configurações", edit_user_path(user),
      :class => "breadcrumb-mini-link icon-manage-lightblue_16_18-before",
      :title => "Configurações" %>
  </li>
</ul>