<ol id="breadcrumbs" class="clearfix">
  <li>
    <%= link_to 'Home', home_user_path(current_user), :class => 'replacement home icon icon-home-lightblue_16_16' %>
  </li>
  <li>
    <%= link_to 'Configurações', edit_user_path(current_user), :class => 'icon icon-management-lightblue_16_16' %>
  </li>
</ol>
