<ol id="breadcrumbs" class="clearfix">
  <li>
    <%= link_to 'Home', home_user_path(current_user), :class => 'replacement home icon-small icon-home-lightblue_16_18' %>
  </li>
  <li>
    <%= link_to 'Configurações', edit_user_path(current_user), :class => 'icon-manage-lightblue_16_18' %>
  </li>
</ol>
