<%#
  Renderiza o breadcrumb da página de Visão Geral.

  Variáveis:
    user: o usuário.
%>
<ul class="breadcrumb-mini">
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">
    <%= link_to "Visão Geral", home_user_path(user),
       :class => "breadcrumb-mini-link icon-home-lightblue_16_18-before" %>
  </li>
</ul>