<div id="profile_user_info">
	
<h3>Quem você segue:</h3>
	<table class='posts wide' cellspacing='0' border='0' cellpadding='0' >
		<% @follows.each do |person| %>
		<tr class='post' >
			<td class='author vcard'  width="10%">
				<span class='fn'>
					<%= avatar_for person %>
				</span>
				<span class='fn'>
					<%= link_to truncate(h(person.display_name), :length => 20), user_path(person)%>
				</span>	
				<span class='posts'>
				</span>
			</td>
		</tr>
		<% end %>
	</table>
	<%= link_to 'Ver mais',  follows_user_path(@user) %> <br/>
	<%= link_to 'Ver seguidores',  followers_user_path(@user) %>
</div>				