<%#
  Saiba mais da Central de Ajuda.
%>
<div class="right-sidebar-area">
  <h6 class="right-sidebar-area-title">Saiba mais</h6>
  <div class="nav-local-separator"></div>
  <p class="legend">Na <%= link_to "Central de Ajuda", Redu::Application.config.redu_services[:help_center][:url], :class => "link-secondary", :title => "Central de Ajuda", :target => "_blank" %> você pode ler mais informações sobre o que é possível fazer com o <%= Redu::Application.config.name %> e ter suas dúvidas respondidas.</p>
</div>