<%# Sidebar da home do usuário. Locals: user %>
<div class="sidebar alpha grid_3">
  <div class="home-image-frame">
    <%= image_tag current_user.avatar.url(:thumb_120),
      :alt => 'profile', :width => 120, :height => 120 %>
  </div>
  <%= sidebar :users %>
  <ul class="connections user-contacts clearfix">
    <%= render :partial => 'users/item_short',
      :collection => current_user.recently_active_friends %>
  </ul><!-- end .connections -->
  <%= link_to 'Ver mais', user_friendships_path(current_user),
    :class => 'more' %>
</div>

