<%# Sidebar da home do usuário. Locals: user %>
<div class="sidebar alpha grid_3">
  <div class="home-image-frame">
    <%= image_tag current_user.avatar.url(:thumb_110),
      :alt => 'profile', :size => "110x110" %>
  </div>
  <%= local_nav :users %>
</div>

