<%#
  Exibe o mural com os status.

  Variáveis:
    user: o usuário.
    statuses: os status.
%>

<div class="home-status">
  <%= render "statuses/create_status", statusable: user %>

  <%# Mural com layout antigo %>
  <div id="statuses" class="statuses">
    <ol>
      <%= render partial: "statuses/item", collection: statuses %>
    </ol>

    <%= paginate statuses, theme: "endless" %>
  </div>
</div>
