<%# Usuário representado pelo avatar (thumb_24) e o link do nome  %>
<li class="connection">
  <%= link_to item_medium_24, :title => item_medium_24.display_name do %>
    <%= image_tag item_medium_24.avatar.url(:thumb_24), :class => 'avatar',
      :size => "24x24" %>
  <% end %>
  <%= link_to item_medium_24.display_name, user_path(item_medium_24),
    :class => 'name' %>
</li>
