<%#
  Diagrama com a explicação do que são Ambientes de Aprendizagem.
%>

<div class="learning-environments">
  <div class="learning-environments-what">
    <h3 class="learning-environments-title">O que são Ambientes de Aprendizagem?</h3>
    <p class="learning-environments-message">Os Ambientes de Aprendizagem são locais de criação, interação e discussão de conteúdos (textos, imagens, vídeos, apresentações, aplicativos, etc). Entenda sua hierarquia no gráfico abaixo:</p>
  </div>
  <div class="learning-environments-institution">
    <h4 class="learning-environments-title">Instituição / Produtor Independente</h4>
    <p class="learning-environments-message legend">Cada Ambiente de Aprendizagem começa pelo espaço da Instituição (ou Produtor), onde se tem acesso aos Cursos. <strong>Exemplo: Escola Pernambucana</strong></p>
  </div>
  <div class="learning-environments-course">
    <h4 class="learning-environments-title">Curso</h4>
    <p class="learning-environments-message legend">Neste espaço estão organizados os membros e opções de privacidade. Daqui pode-se requisitar matrícula, convidar e gerenciar. <strong>Exemplo: 3° Ano – Ensino Médio</strong></p>
  </div>
  <div class="learning-environments-space">
    <h4 class="learning-environments-title">Disciplina</h4>
    <p class="learning-environments-message legend">O conteúdo é dividido em Disciplinas, seja em ordem cronológica ou organizacional. Dentro destes espaços os membros interagem e se tem Relatórios sobre seu desempenho. <strong>Exemplo: Português</strong></p>
  </div>
  <div class="learning-environments-subject">
    <h4 class="learning-environments-title">Módulo e Aula</h4>
    <p class="learning-environments-message legend">Aqui é disponibilizado o conteúdo propriamente dito: as Aulas Multimídia. O Módulo serve para organizar as Aulas e permitir aos Membros o controle sobre seu aprendizado. <strong>Exemplo: Módulo I: Ortografia; Aula I: Regras Básicas de Acentuação Gráfica</strong></p>
  </div>
</div>