<div id="school_list" class="clearfix">
  <%= render :partial => "courses/course_list" %>
</div>
<%= will_paginate @courses, :renderer => EndlessRenderer,
  :class => "endless_course",
  :params => {:user_id => @user.id} %>
