<div class="home-left-sidebar">
  <%= render :partial => "users/profile_area" %>
  <%= new_local_nav(:new_users) %>
  <div class="nav-local-general-stats">
    <span class="icon-arrow-up-curly-gray show text-replacement">Chaves</span>
    <h6 class="nav-local-general-stats-title">Curso acessados recentemente</h6>
    <ol class="nav-local-general-courses">
      <li class="nav-local-general-course">
        <a href="#" class="icon-course-gray_16_18-before">Curso Lorem Ipsum</a>
        <span class="date">Em: 7 Fev, 2011, 16h25</span>
      </li>
      <li class="nav-local-general-course">
        <a href="#" class="icon-course-gray_16_18-before">Curso Lorem Ipsum</a>
        <span class="date">Em: 7 Fev, 2011, 16h25</span>
      </li>
      <li class="nav-local-general-course">
        <a href="#" class="icon-course-gray_16_18-before">Curso Lorem Ipsum</a>
        <span class="date">Em: 7 Fev, 2011, 16h25</span>
      </li>
    </ol>
  </div>
</div>
