<%#
  Modal "Entenda os Ambientes"
%>
<div class="modal hide" id="modal-learn-environments" style="width: auto;">
  <div class="modal-body">
    <%= render 'users/learn_environments' %>
  </div>
</div>
