<%#
  Modal "O que falta fazer?"
  Variáveis:
    user => usuário
%>
<div class="modal hide" id="modal-what-is-missing">
  <div class="modal-body">
    <%= render 'users/explore_redu', :user => user %>
  </div>
</div>
