<div id="profile_user_info">
	<h3>Minhas Redes:</h3>
	<% if @schools && @schools.length > 0 %>
 		<%= render :partial => 'schools/item', :collection => @schools, :as => :school %> 
 	<% else %>
		Não há redes cadastradas ainda. <%= link_to 'Crie uma agora!', :action => 'new' %>
	<% end %>
	<%= link_to "Ver todos", schools_path %>

</div>
