<ul class="sortable clearfix"> 

<li class="clearfix">
<span class="call"><span>Quem você segue</span></span>
<div class="followship box clearfix">
	
<% if @user.follows.size > 0 %>
<ul class="clearfix">

<% for user in @user.follows[0..9]%>
<li>
	<%= link_to image_tag(user.avatar.url(:thumb), :height => '24', :width => '24', :alt => "#{user.login}"), user_path(user), :rel => 'bookmark', :title => "#{user.display_name}" %>
</li>
<%end%>

</ul>
<% else %>
Você não está seguindo ninguém no momento.
<% end %>
</div>
</li>


<li class="clearfix">
<span class="call"><span>Minhas anotações</span></span>
<div class="followship box clearfix">
	
<% if @user.annotations.size > 0 %>
<ul class="clearfix">

<% for annotation in @user.annotations[0..9]%>
<li>
	<%= link_to image_tag(annotation.course.thumb_url, :height => '24', :width => '24'), annotation.course, :rel => 'bookmark', :title => annotation.course.name %>
  <%= truncate_chars(annotation.content)%>
</li>
<%end%>

</ul>
<% else %>
Você não possui nenhuma anotação de aula ainda.
<% end %>
<%= link_to "(ver todos)", annotations_user_path, :class => "info"%>
</div>
</li>

<!--
<li class="clearfix"> 
<span class="call"><span>Seu Progresso</span></span> 
<div class="followship box clearfix"> 
    Progresso
</div> 
</li>
-->
