<%#
  Barra lateral esquerda do perfil do usuário.

  Variáveis:
    user: o usuário.
%>

<div class="home-left-sidebar">
  <div class="home-profile-area">
    <%= image_tag user.avatar.url(:thumb_160),
      alt: user.display_name, title: user.display_name,
      size: "160x160",
      class: "home-profile-area-photo" %>
  </div>

  <%= new_local_nav :user_profile %>

  <%# Últimos contatos adicionados. %>
  <% contacts = last_contacts(user) %>
  <% unless contacts.empty? %>
    <ul class="connections">
      <%= render partial: 'users/item_medium_24_new',
        collection: contacts %>
    </ul>
    <%= paginate contacts, theme: 'new_sidebar_endless',
      params: { controller: 'users', action: 'contacts_endless', id: user.login },
      text: "Mostrando os <X> últimos contatos de #{user.first_name}",
      html_class: "connections-endless" %>
  <% end %>
</div>