<ul class="sortable clearfix"> 
  <li class="clearfix">
    <span class="call"><span>Amigos de <%= @user.first_name %></span></span>
    <div class="followship box clearfix">

      <% if @user.friends.size > 0 %>
        <ul class="clearfix">
          <% for user in @user.friends[0..9]%>
            <li>
              <%= link_to image_tag(user.avatar.url(:thumb), :height => '24', :width => '24', :alt => "#{user.login}"), user_path(user), :rel => 'bookmark', :title => "#{user.display_name}", :class => "tooltipable" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="box_notice">Ninguém é amigo de <%= @user.first_name %> no momento.</div>
      <% end %>
      <%= link_to "Ver todos", user_friendships_path(@user) %>
    </div>
</li>

