<div class="home-right-sidebar">
  <%= render :partial => "home/sidebar/profile_status",
             :locals => { :progress_percentage => "50%" } %>
  <div class="right-sidebar-area">
    <h6 class="right-sidebar-area-title">Explore o Redu</h6>
    <div class="nav-local-separator"></div>
    <ul class="actions-to-do">
      <li><a href="#" class="icon-ask-lightblue_16_18-before link-secondary">O que falta fazer?</a></li>
      <li><a href="#" class="icon-tour-lightblue_16_18-before link-secondary">Faça o Tour do Início</a></li>
      <li><a href="#" class="icon-environment-lightblue_16_18-before link-secondary">Entenda os Ambientes</a></li>
    </ul>
  </div>
  <%= render :partial => "home/sidebar/invite_friends" %>
  <%= render :partial => "home/sidebar/help_center" %>
  <%= render :partial => "home/sidebar/connect",
             :locals => { :members => @members_to_connect } %>
</div>
