<%# Lista o Environment e todos os seus Courses e Spaces  %>
<li>
  <div class="session">
    <%= link_to environment.name, environment_path(environment),
      :class =>"icon icon-environment-lightblue_16_16" %>
  </div>
</li>
