<%#
  Barra lateral direita da página de Configurações - Conta

  Variáveis:
    user: o usuário logado.
%>
<div class="home-right-sidebar">
  <%# Status do Perfil %>
  <%= render :partial => "users/profile_status",
    :locals => { :user => user } %>
  <%# Informações da conta %>
  <div class="right-sidebar-area">
    <h6 class="right-sidebar-area-title">Informações da conta</h6>
    <div class="nav-local-separator"></div>
    <p class="legend">As configurações da sua conta permitem que você altere
      o comportamento de rede em relação a você, seu nível de privacidade,
      notificações e opções de segurança.</p>
    <p class="legend">Para sua maior segurança, é essencial que tais
      informações sejam constantemente atualizadas.</p>
  </div>
</div>