<dl>
	<dt>
		<%= link_to image_tag(user.avatar.url(:thumb), :alt => "#{user.login}", :width => '50', :height => '50'), user_path(user) %>
	</dt>
	<dd>
		<%= link_to user.login, user_path(user), :class => 'url' %>
	</dd>
	<dd>
		<%- if user.description %>
			<p>
				<%= truncate_words( user.description, 10, '...') %>
			</p>
		<% end %>
	</dd>
</dl>
