<%#
  Barra lateral direita da página de Configurações - Perfil - Biografia

  Variáveis:
    user: o usuário logado.
%>

<div class="home-right-sidebar">

  <%# Status do Perfil %>
  <%= render :partial => "users/profile_status",
    :locals => { :user => user } %>

  <%# Informações do Perfil %>
  <div class="right-sidebar-area">
    <h6 class="right-sidebar-area-title">Informações do Perfil</h6>
    <div class="nav-local-separator"></div>
    <p class="legend">É importante completar todas as informações do seu perfil.</p>
    <p class="legend">Desta forma, você terá um currículo público e outros estudantes e professores poderão encontrar você na rede; além do mais, o Openredu poderá sugerir materiais de estudo de acordo com os seus interesses.</p>
    <p class="legend">Comece agora e mantenha seu perfil sempre atualizado.</p>
  </div>
</div>