<div class="profile-sidebar explanation-sidebar">
  <%= render :partial => 'users/completeness_bar' %>
  <div class="explanation">
    <span class="title">Currículo</span>
    <p>Nesta seção, você pode alocar informações a respeito de sua formação escolar e acadêmica, bem como sua experiência no mercado de trabalho.</p>
    <p>Em educação há quatro categorias: ensino médio, superior, complementar e eventos.</p>
    <p><span class="featured">Médio</span> corresponde à sua educação básica escolar; <span class="featured">superior</span> a academia e correlatos; <span class="featured">complementar</span> a cursos extras; <span class="featured">eventos</span> a seminários e palestras.</p>
    <p>Exponha seu currículo de forma simples e divulgue-o junto a sua rede de contatos.</p>
  </div>
</div>
