<%#
  Item com o link para a rede social do usuário.
%>

<li class="profile-social-network">
  <%= link_to social_network.url, generate_url(social_network.url),
    class: "icon-#{social_network.name.text.downcase}_16_18-before",
    target: "_blank",
    title: social_network.name.text %>
</li>