<li class="<%= social_network.name == 'google+' ? 'icon-googleplus_16_18-before' :  "icon-#{social_network.name}_16_18-before" %>">

  <span class="bio">
    <%= link_to social_network.url, social_network.url %>
  </span>
</li>
