<%if current_user == @user %>
<div>
	<%= link_to "Acessar espaço ensino", teach_index_path %>
	</div>
<% end %>

		<ul class="activities">
			
	 <%= render :partial => "statuses/status", :collection => @user.teaching, :as => :status, :locals => {:statusable => @user } %>
	 
	 </ul>