<%if current_user == @user %>
	
		<ul id="actions_user">
				   	 <li>
				   	 <%= link_to "Acessar espaço ensino", teach_index_path %>
					 </li>
		</ul>	
<% end %>

		<ul class="activities">
			
	 <%= render :partial => "statuses/status", :collection => @user.teaching, :as => :status, :locals => {:statusable => @user } %>
	 
	 </ul>