<%#
  Mensagem de boas-vindas ao Openredu.

  Variáveis:
    user: o usuário.
%>

<% unless user.settings.visited?(home_user_path(user)) %>
  <div class="content-section">
    <%= content_tag :h3, "#{user.display_name} , seja bem vindo(a) ao Openredu.",
      :class => "home-welcome-greeting-title" %>
    <p class="home-welcome-greeting-message">O Openredu é uma plataforma para ensino com tecnologia que permite criar, compartilhar e discutir conteúdos das mais diversas formas. Assim, estimulam-se a aprendizagem, colaboração e diversão. Preencha seu <em>Perfil</em>, crie (ou participe de) um <em>Ambiente de Aprendizagem</em>, se comunique e aprenda com amigos, alunos e professores.</p>
  </div>
  <hr class="list-separator">
<% end %>
