<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'users/breadcrumbs' %>
  <%= tabs :users do %>
      <%= render :partial => "users/form_account" %>
    <% end %>
</div>
