<%= content_for :wrapper_class do %>overlay<% end %>
  <div class="user-data-recovery container_16">
    <h1 class="logo-top grid_4"><%= link_to 'Openredu', home_path %></h1>
    <div class="grid_10 omega">
      <h2 class="forgot-title forgot-password">
        Esqueceu a <span class="forgotten-information">senha</span>?
      </h2>
      <h3 class="call">
        Ao confirmar a recuperação de senha, a sua antiga deixará de existir e uma nova será gerada.
      </h3>
      <%= render 'shared/confirmation_message', message: %(Um e-mail contendo uma nova senha foi enviado para a sua caixa de entrada (<span class='client-email'>#{@user.email}</span>)) %>
    </div>
</div>
