<div id="all_content3">
  <div id="col_content_user">
    <div id="profile_user_info">
      <h3>Quem você segue:</h3>
      <table class='posts wide' cellspacing='0' border='0' cellpadding='0' >
        <tbody>
          <% @follows.each do |person| %>
            <tr class='post' >
              <td class='author vcard'  width="10%">
                <span class='fn'>
                  <%= avatar_for person %>
                </span>
                <span class='fn'>
                  <%= link_to truncate(h(person.display_name), :length => 20), user_path(person)%>
                </span>	
                <span class='posts'>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Voltar',  @user %>
    </div>
  </div>
</div>
