<h1>Listing followers of <%= @user.login %></h1>


<% if @user.followers %> 
<table>
  <tr>
  </tr>
<% @user.followers.each do |person| %>
	
  <tr>
  	<td> <%= person.login %></td>
    <td><%= link_to 'Show', person %></td>
	<!-- nao é uma boa pratica, vai fazer consultas no bd pra cada escola listada TODO mudar -->
	
  </tr>
<% end %>
</table>
<br />
<% else %>
Não há seguidores ainda. Seja o primeiro! [link]

<% end %>

<%= link_to 'Back', @user %>
