<h3><%= t :forgot_your_password %></h3>

<% form_tag :action => :forgot_password do %>
	<%= label_tag :email, t(:enter_your_email_address) %>
	<%= text_field_tag :email, nil, :size => 35 %>
	<%= submit_tag t(:reset_my_password) %>
<% end %>
