<h3><%= :forgot_your_username.l %></h3>

<% form_tag :action => :forgot_username do %>
	<%= label_tag :email, :enter_your_email_address.l %>
	<%= text_field_tag :email, nil, :size => 35 %>
	<%= submit_tag :send_me_my_username.l %>
<% end %>
