<div id="all_content3">
  <div id="col_content_user">
    <div id="all_list">
      <% if current_user %>
        <% @logs = current_user.more_log_activity %>
        <%= render :partial => 'logs/more_log', :locals => {:logs => @logs} %>
      <% else %>
        <%= render :partial => 'logs/not_logged_in', :locals => {:logs => @logs} %>
      <% end %>
    </div>

  </div>
</div>
