<div class="content-section">
  <h3>Esqueceu sua senha?</h3>
  <p class="mobile-password-recovery-call">Ao requisitar a recuperação de senha, a sua antiga deixará de existir e uma nova será gerada.</p>
  <%= render "users/mobile/form_password_recovery",
    :recover_password => @recover_password %>
</div>