<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <a href="#" class="replacement home icon-small icon-home-lightblue_16_18">Home</a>
    </li>
  </ol>
  <%= render_wally("core:user_#{@user.id}", { :user => current_user, :target => @user },
                   { :width => '580px', :height => '1400px' }) %>
</div><!-- end .main -->
