<div class="overlay">
  <div class="body container_16 text-body">
    <h1 class="logo-top"><%= link_to '', home_path %></h1>
    
    <!-- Login Recover Form -->
    <%= render :partial => 'recover_username_form' %>
        
    <!-- Password Recover Form -->
    <%= render :partial => 'recover_password_form' %>
    
  </div>
  <div class="push"></div>
</div>
