<div class="overlay container_16">
  <div class="user-data-recovery">
    <h1 class="logo-top grid_4"><%= link_to 'Redu', home_path %></h1>
      <div class="grid_10 omega alfa">
      <%= render :partial => 'recover_username_form' %>
      <%= render :partial => 'recover_password_form' %>
  </div>
</div>
