var $form = $("#recover-password-form");

<%# Senha enviada com sucesso. %>
<% if @user %>
  var $newForm = $("<%= escape_javascript render 'shared/confirmation_message', :message => %(Um e-mail contendo instruções para recuperar a senha foi enviado para a sua caixa de entrada (<span class='client-email'>#{@user.email}</span>)) %>");

<%# Erro de validação. %>
<% else %>
  var $newForm = $("<%= escape_javascript render 'recover_password_form', :recover_password => @recover_password %>");
<% end %>

$form.replaceWith($newForm);
