<%# Tela mobile. %>
<% if @mobile %>
  var $form = $("#mobile-form-password-recovery");

  <%# Sucesso. %>
  <% if @user %>
    var $newForm = $("<%= escape_javascript render :partial => 'users/mobile/password_recovery_successfully_sent', :locals => { :user_email => @user.email } %>");

  <%# Erro. %>
  <% else %>
    var $newForm = $("<%= escape_javascript render :partial => 'users/mobile/form_password_recovery', :locals => { :recover_password => @recover_password } %>");
  <% end %>

<%# Tela normal. %>
<% else %>
  var $form = $("#recover-password-form");

  <%# Sucesso. %>
  <% if @user %>
    var $newForm = $("<%= escape_javascript render 'shared/confirmation_message', :message => %(Um e-mail contendo a nova senha foi enviado para a sua caixa de entrada (<span class='client-email'>#{@user.email}</span>)) %>");

  <%# Erro. %>
  <% else %>
    var $newForm = $("<%= escape_javascript render 'recover_password_form', :recover_password => @recover_password %>");
  <% end %>

<% end %>

$form.replaceWith($newForm);
