var $form = $("#recover-password-form");
<% if @user %>
  var $confirmation_box = $("<%= escape_javascript render 'shared/confirmation_message', :message => %(Um e-mail contendo a nova senha foi enviado para a sua caixa de entrada (<span class="client-email">#{@user.email}</span>)) %>");
  $form.replaceWith($confirmation_box);
<% else %>
  var $newForm = $("<%= escape_javascript render 'recover_password_form', :recover_password => @recover_password %>");
  $form.replaceWith($newForm);
<% end %>
