<!-- Carrega o Tiptip -->
<script type="text/javascript">
    $(document).ready(function(){

        $(".tiptip-lite").tipTip({
          defaultPosition : "left",
          edgeOffset : 5,
        });

    });
</script>

<div class="overlay">
  <div class="body container_16 text-body">
    <h1 class="logo-top grid_4"><%= link_to '', home_path %></h1>
    
      <div class="recover-body grid_10 omega alfa">
      
      <!-- Login Recover Form -->
      <%= render :partial => 'recover_username_form' %>
          
      <!-- Password Recover Form -->
      <%= render :partial => 'recover_password_form' %>
      
  </div>
</div>
