<div class="grid_16">
<%form_tag resend_activation_url do %>
<%field_set_tag t(:resend_your_activation_e_mail ) do %>
<label for = 'email'>
    <%= t :enter_your_email_address %>
</label>
<%= text_field_tag 'email', nil, :size => 35 %>
</br>
<%= submit_tag t( :resend_my_activation_e_mail ) %>
<% end %>
<% end %>
		 </div>


