<%= render :partial => 'users/profile_sidebar' %>

<div class="main grid_10 omega" style="width: 580px;">
  <% if (can? :manage, @user) or (can? :view_mural, @user) %>
    <%= render_wally("core:user_#{@user.id}", { :user => current_user, :target => @user }, { :width => '580px' }) %>
  <% end %>
</div>

<%= render 'users/secondary_sidebar',
  :subscribed_courses_count => @subscribed_courses_count %>
