<h1>Listing interactive classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lições</th>
  </tr>

<% @iclasses.each do |iclass| %>
  <tr>
    <td><%=h iclass.name %></td>
    <td><%=h iclass.lessons.size %></td>
    <td><%= link_to 'Show', iclass %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ability', new_ability_path %>