<h2 class="landing-navigation-title">Benefícios</h2>
<div class="landing-advantages">
  <span class="type-user student">
    <span class="button-user">
           <%= image_tag "landing/button-student.png",
              :alt => "Aluno",
              :title => "Aluno"
          %>
          <h3>Aluno</h3>
    </span>
    <p>Os alunos ficam mais motivados e têm um melhor desempenho, pois eles podem acessar a uma diversidade de conteúdos interativos e midiáticos que são típicos da geração mais jovem. Através do Visual Class, é possível desenvolver projetos interdisciplinares para contribuir com a aprendizagem dos alunos, como também para criar trabalhos escolares.</p>
  </span>
    <span class="type-user teacher">
      <span class="button-user">
           <%= image_tag "landing/button-teacher.png",
                :alt => "Professor",
                :title => "Professor"
            %>
             <h3>Prof.</h3>
             <legend>Professor</legend>
      </span>
      <p>É possível construir conteúdo interativo a partir de várias mídias, por exemplo, aulas de Português e Matemática. Dessa forma, é possível atrair a atenção dos alunos para aprender de uma forma mais didática e lúdica, inclusive, para que os mesmos estejam mais interessados nas aulas presenciais.</p>
      <p>As aulas criadas pelos professores são aplicadas para reforçar a aprendizagem do aluno e garantem um ensino mais completo e divertido. É uma ótima forma de alinhar tecnologia e educação.</p>
  </span>
</div>