<%= link_to "← voltar", home_path , :class => "back" %>
<div class="introduction">
  <h4>O Visual Class é um aplicativo que permite ao professor criar aulas interativas, e ao aluno desenvolver projetos interdisciplinares, com recursos multimídia como textos, imagens, sons, músicas, animações, vídeos e jogos educacionais.</h4>
  <h4>É fácil de utilizar, não exige conhecimento especializado em informática e é indicado para professores e alunos. Além disso, é o único software de autoria que é compatível com Windows, Linux e Android. </h4>
</div>