<div class="projects-table">
  <h2 class="landing-navigation-title">Conheça alguns projetos</h2>
  <h3>IX Concurso Nacional Visual Class 2012</h3>
  <table class="table-with-borderradius">
    <thead>
      <tr>
        <th>Projetos</th>
        <th>Autores</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="http://#">Projeto Dengue: Quem é o Verdadeiro Vilão?</a><span class="label-online">1º Lugar</span></td>
        <td>Conteúdo de uma célula.</td>
      </tr>
      <tr>
        <td><a href="http://#">Desvendando o Sangue Humano</a></td>
        <td>Conteúdo de uma célula.</td>
      </tr>
      <tr>
        <td><a href="http://#">Pequeno Cidadão, Grande Transformação</a></td>
        <td>Conteúdo de uma célula.</td>
      </tr>
    </tbody>
  </table>
  <h3>IX Concurso Nacional Visual Class 2012</h3>
  <table class="table-with-borderradius">
    <thead>
      <tr>
        <th>Projetos</th>
        <th>Autores</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="http://#">Projeto Dengue: Quem é o Verdadeiro Vilão?</a><span class="label-online">1º Lugar</span></td>
        <td>Conteúdo de uma célula.</td>
      </tr>
      <tr>
        <td><a href="http://#">Desvendando o Sangue Humano</a></td>
        <td>Conteúdo de uma célula.</td>
      </tr>
      <tr>
        <td><a href="http://#">Pequeno Cidadão, Grande Transformação</a></td>
        <td>Conteúdo de uma célula.</td>
      </tr>
    </tbody>
  </table>
<%= link_to "← voltar para o Redu", home_path, :class => "back" %>
</div>