<div class="content-section">
  <h3 class="header-breadcrumb-big icon-members-gray_32_34-before">Membros</h3>
</div>

<div class="content-section centralize">
  <%= new_subtabs :spaces_new %>
</div>

<%= render "shared/entity_members_list", role: @role, users: @users,
  entity: @space %>