<div id="box_move">
    <div id="box_top"> ADICIONAR AO REDU!  </div>
    <span class="new-alert">
    	Com o atalho abaixo ficou fácil compartilhar materiais no Redu. Arraste o botão abaixo para a barra de links do seu navegador.
        <%= link_to 'Adicionar ao Redu!', clippings_link %>
		</span>
	</div>
