<div id="comments">
	<div id="filter_bar_comments"><span class="title_filter">COMENTÁRIOS</span></div>

<div id="newest_comment">
<% if commentable.comments.length > 0 %>
<%= render :partial => "comments/comment" , :collection => commentable.comments %>
<% else %>
Nenhum comentário ainda.
<% end %>
</div>
<%= render :partial => 'comments/comment_form', :locals => {:commentable => commentable, :comments => commentable.comments } %>
