
	<div id="filter_bar_comments"><span class="title_filter">COMENTÁRIOS</span></div>

	<div id="newest_comment">
			<%= render :partial => "comments/comment" , :collection => commentable.comments %>
		</div>
	
	<%= render :partial => 'comments/comment_form', :locals => {:commentable => commentable } %>






