<%#
  Lista de membros de uma entidade.

  Variáveis:
    role: o papel ativo do filtro de membros.
    users: os membros.
    entity: a entidade.
%>

<% if users.empty? %>
  <%= render "shared/empty_message",
    icon_message: "Nenhum membro.",
    icon_class: "icon-#{ icon_role_to_name_class(role) }-empty_128_130",
    message: "Ainda não há #{ t "classy_enum.role.#{ role.singularize }.other" }." %>
<% else %>
  <div class="content-section">
    <ul class="entity-member-list list-3-columns clearfix">
      <%= render partial: 'bootstrap/member_list_item',
        collection: users, locals: { entity: entity } %>
    </ul>
  </div>
  <%= paginate users, theme: "new_endless" %>
<% end %>