




<div id="flow_box"  class="stripes"  style="display: block;">
<div>
							<div class="arrow"></div>
							<div class="header">
								<input type="hidden" value="1" id="flow_msg_type" name="type">
								<input type="hidden" id="flow_msg_id" name="message_id" value="">
								<input type="hidden" value="10485760" name="MAX_FILE_SIZE">
								
							</div>
							<div class="fields">
							<div class="type1" style="display: block;">
								<textarea cols="20" rows="3" name="text" id="flow_message" autocomplete="off" class="ac_input" style="height: 68px;"></textarea>
								<div class="q"></div>
							</div>
							<div class="type5" style="display: none;">
								<h1>To-do</h1>
								<div>
									<input type="text" value="Type a name for my todo list..." name="text" class="req default">
								</div>
								<div>
									<textarea rows="3" cols="10" class="req default" name="description">Type each task in a new line...</textarea>
								</div>
							</div>
							<div class="type7" style="display: none;">
								<h1>Idea</h1>
								<div>
									<input type="text" value="Title for this idea..." class="req default" name="title">
								</div>
								<div>
									<textarea rows="3" cols="10" class="req default" name="description">Describe your idea...</textarea>
								</div>
							</div>
							<div class="type4" style="display: none;">
								<h1>Question</h1>
								<div>
									<textarea rows="3" cols="10" class="req default" name="text">Type a question...</textarea>
								</div>
							</div>
							<div class="type3" style="display: none;">
								<h1>Event</h1>
								<div>
									<input type="text" value="What is the title for this event?" name="title" class="req default">
								</div>
								<div class="date">
									<div><input value="2010-05-24" id="date_start" name="date_start" class="date hasDatepicker"><select name="date_start_hour"><option value="0,0">12:00 am</option><option value="0,30">12:30 am</option><option value="1,0">1:00 am</option><option value="1,30">1:30 am</option><option value="2,0">2:00 am</option><option value="2,30">2:30 am</option><option value="3,0">3:00 am</option><option value="3,30">3:30 am</option><option value="4,0">4:00 am</option><option value="4,30">4:30 am</option><option selected="selected" value="5,0">5:00 am</option><option value="5,30">5:30 am</option><option value="6,0">6:00 am</option><option value="6,30">6:30 am</option><option value="7,0">7:00 am</option><option value="7,30">7:30 am</option><option value="8,0">8:00 am</option><option value="8,30">8:30 am</option><option value="9,0">9:00 am</option><option value="9,30">9:30 am</option><option value="10,0">10:00 am</option><option value="10,30">10:30 am</option><option value="11,0">11:00 am</option><option value="11,30">11:30 am</option><option value="12,0">12:00 pm</option><option value="12,30">12:30 pm</option><option value="13,0">1:00 pm</option><option value="13,30">1:30 pm</option><option value="14,0">2:00 pm</option><option value="14,30">2:30 pm</option><option value="15,0">3:00 pm</option><option value="15,30">3:30 pm</option><option value="16,0">4:00 pm</option><option value="16,30">4:30 pm</option><option value="17,0">5:00 pm</option><option value="17,30">5:30 pm</option><option value="18,0">6:00 pm</option><option value="18,30">6:30 pm</option><option value="19,0">7:00 pm</option><option value="19,30">7:30 pm</option><option value="20,0">8:00 pm</option><option value="20,30">8:30 pm</option><option value="21,0">9:00 pm</option><option value="21,30">9:30 pm</option><option value="22,0">10:00 pm</option><option value="22,30">10:30 pm</option><option value="23,0">11:00 pm</option><option value="23,30">11:30 pm</option></select><span>Till</span><input value="2010-05-24" id="date_end" name="date_end" class="date hasDatepicker"><select name="date_end_hour"><option value="0,0">12:00 am</option><option value="0,30">12:30 am</option><option value="1,0">1:00 am</option><option value="1,30">1:30 am</option><option value="2,0">2:00 am</option><option value="2,30">2:30 am</option><option value="3,0">3:00 am</option><option value="3,30">3:30 am</option><option value="4,0">4:00 am</option><option value="4,30">4:30 am</option><option value="5,0">5:00 am</option><option value="5,30">5:30 am</option><option selected="selected" value="6,0">6:00 am</option><option value="6,30">6:30 am</option><option value="7,0">7:00 am</option><option value="7,30">7:30 am</option><option value="8,0">8:00 am</option><option value="8,30">8:30 am</option><option value="9,0">9:00 am</option><option value="9,30">9:30 am</option><option value="10,0">10:00 am</option><option value="10,30">10:30 am</option><option value="11,0">11:00 am</option><option value="11,30">11:30 am</option><option value="12,0">12:00 pm</option><option value="12,30">12:30 pm</option><option value="13,0">1:00 pm</option><option value="13,30">1:30 pm</option><option value="14,0">2:00 pm</option><option value="14,30">2:30 pm</option><option value="15,0">3:00 pm</option><option value="15,30">3:30 pm</option><option value="16,0">4:00 pm</option><option value="16,30">4:30 pm</option><option value="17,0">5:00 pm</option><option value="17,30">5:30 pm</option><option value="18,0">6:00 pm</option><option value="18,30">6:30 pm</option><option value="19,0">7:00 pm</option><option value="19,30">7:30 pm</option><option value="20,0">8:00 pm</option><option value="20,30">8:30 pm</option><option value="21,0">9:00 pm</option><option value="21,30">9:30 pm</option><option value="22,0">10:00 pm</option><option value="22,30">10:30 pm</option><option value="23,0">11:00 pm</option><option value="23,30">11:30 pm</option></select></div>								</div>
								<div>
									<input type="text" value="Location" name="location" class="default">
								</div>
							</div>
							<div class="type10" style="display: none;">
								<h1>Page</h1>
								<div>
									<input type="text" value="Write a title for this page" name="title" class="req default">
								</div>
								<div>
									<textarea rows="6" cols="10" name="description" class="rte req"></textarea>
								</div>
								<div class="main checkbox">
									<div class="icon"></div>
									<strong>Who can edit:</strong>
									<span class="more"><span>just me</span> (<a href="#">Change</a>)</span>
									<div>
									<label><input type="radio" checked="checked" value="0" name="edit"><span>just me</span></label>
									<label style="display: none;"><input type="radio" value="1" name="edit"><span>this group</span></label>
									<label><input type="radio" value="1" name="edit"><span>everyone</span></label>
									</div>
								</div>
							</div>
							<div class="type9" style="display: none;">
								<h1>Poll</h1>
								<div>
									<input type="text" value="Type a question for your poll" name="title" class="req default">
								</div>
								<div>
									<input type="text" class="req default" value="poll option 1" name="poll_answer1">
									<input type="text" class="req default" value="poll option 2" name="poll_answer2">
									<input type="text" value="poll option 3" name="poll_answer3" class="default">
									<input type="text" value="poll option 4" name="poll_answer4" class="default">
									<input type="text" value="poll option 5" name="poll_answer5" class="default">
								</div>
								<div class="checkbox">
									<div><label><input type="checkbox" checked="checked" value="1" name="poll_rotate"><span>rotate the order of the answers</span></label></div>
									<div><label><input type="checkbox" value="1" name="poll_multiple_ok"><span>multiple answers</span></label>
									<select name="poll_multiple">
										<option value="2" selected="selected">2</option>
										<option value="3">3</option>
									</select></div>
									<div><label><input type="checkbox" value="1" name="poll_duration_ok"><span>poll duration</span></label>
									<select name="poll_duration">
									<option value="7" selected="selected">7 days</option><option value="14">14 days</option><option value="30">30 days</option>									</select>
									</div>
								</div>
							</div>
							<button class="submit" type="submit">Share</button>
							</div>
							<div class="attach">
								<span>Attach</span>
								<ol class="inline type" unselectable="on" style="-moz-user-select: none;">
									<li class="file">File</li>
									<li class="link" style="display: block;">Link</li>
									<li class="tags">Tags</li>
									
								</ol>
								<div class="fields file" style="display: none;">
									<div class="main">
										<div class="icon"></div>
										<div class="files"></div>
									</div>
								</div>
								<div class="fields link" style="display: none;">
									<div class="main expanded">
									<div class="icon"></div>
									<div>
										<input type="text" value="http://" name="url" class="input default">
									</div>
									<div class="data">
										<div class="loader"><img alt="" src="Company%20flow%20-%20Redu%20-%20Flowr_files/loading.gif"></div>
										<img alt="" src="Company%20flow%20-%20Redu%20-%20Flowr_files/s.gif" class="thumb border">
										<div class="title"><a rel="external" href="#" target="_blank"></a></div>
										<div class="url"></div>
										<div class="desc"></div>
									</div>
									<input type="hidden" name="data">
									</div>
								</div>
								<div class="fields tags" style="display: none;">
									<div class="main expanded">
									<div class="icon"></div>
									<input type="text" name="tags" class="input">
									<input type="submit" value="" class="submit">
									<ul class="inline"></ul>
									</div>
								</div>
							</div>
						</div>
						</div>
