<div id="footer" class="container_16 clearfix">
  <h1 id="logotipo-footer" class="replacement">
    <%= link_to 'Redu: potencializando o talento das pessoas.',
      :title => 'Página Inicial' %>
  </h1>
  <div class="copyright">Copyright 2010 - redu.com.br. Todos os direitos reservados.</div>

  <div id="nav-footer">
    <ul>
      <li>
        <a href="#">Sobre o Redu</a>
      </li>
      <li>
        <%= link_to "Privacidade", :controller => "base", :action => "privacy" %>
      </li>
      <li>
        <%= link_to "Termos de uso", :controller => "base", :action => "tos" %>
      </li>
      <li>
        <%= link_to "Contato", :controller => "base", :action => "contact" %>
      </li>
    </ul>
  </div><!-- end #nav-footer -->
</div><!-- end #footer -->
