<div id="header">
    <div id="header_content">
        <div id="logo">
            <a href="<%=application_url%>"><%= image_tag("logo_redu1.png", :alt => 'Início', :height => '65', :width => '150', :border => '0') %>
            </a>
        </div>
        <div id="menu_container">
            <ul id="secundary_menu">
                
				
            </ul>
        </div>
        <!-- MENU Principal ****************************************** -->
        <div id="info">
            <div id="menu">
                
            </div>
        </div>
        <!-- end of info -->
        <!-- MENU PRINCIPAL ****************************************** -->
    </div>
</div>
