<% ["info", "notice", "error"].each do |type| %>
  <% if flash[type.to_sym] %>
		<div id="flash" class="flash_message notice <%=type.to_s%>">
			<span style="float:left">
			 <%= h(flash[type.to_sym]) %>
			 </span>
      <span style="float:right">
      	 <a href="#" onclick="jQuery('#flash').hide();">Fechar</a>
      </span>
			</div>
<% end %>
<% end %>
      

