<div id="cadastro-sucesso" class="modal hide modal-sign-up modal-sign-up-success">
  <div class="modal-header">
    <h3 class="modal-sign-up-title">Sua conta foi criada. Seja bem vindo(a)!</h3>
  </div>
  <div class="modal-body">
    <p>Olá. Seu cadastro foi efetuado com sucesso. No entanto, é necessário que você o confirme. Enviamos um e-mail para sua caixa de entrada contendo um link – basta clicá-lo. Mas não se preocupe: você tem até 30 dias para realizar esta etapa.</p>
    <p>Até lá, experimente o Openredu e não hesite em entrar em contato conosco caso surjam dúvidas, reclamações ou sugestões.</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Experimentar o Openredu", home_user_path(@user, :exploring_tour => true), :class => "button-big button-primary" %>
  </div>
</div>
