<div id="modal-privacy-policy" class="modal hide modal-fill-height modal-grids-14 modal-landing">
  <div class="modal-header modal-header-gray">
    <h3 class="icon-privacy-policy-darkgray_32_34-before">Política de Privacidade</h3>
  </div>
  <div class="modal-body modal-scroll">
    <p>Essa política descreve as condutas e os procedimentos, adotados pelo Redu, acerca da coleta, do uso e da divulgação das informações relacionadas à utilização dos produtos e serviços da plataforma Redu.</p>

    <h5><strong>Da coleta e uso das informações</strong></h5>

    <p>As informações são coletadas com o intuído de aprimorar os serviços utilizados pelos nossos usuários. Essas são coletadas e utilizadas de diversas maneiras:</p>

    <p><strong>Informações solicitadas durante o registro:</strong> Ao criar ou reconfigurar uma conta no Redu, o usuário fornece algumas informações pessoais, como seu nome, nome de usuário, senha e endereço de e-mail. Algumas dessas informações, por exemplo, seu nome e nome de usuário, são listados publicamente, incluso na sua página de perfil e em resultados de pesquisa realizados no site.</p>

    <p><strong>Informações complementares:</strong> O usuário pode fornecer informações adicionais para tornar públicas, como uma breve biografia, sua localização, a instituição de ensino a que se vincula e/ou uma imagem.</p>

    <p><strong>Mensagens, vídeo-aulas, exames e outras informações públicas:</strong> Nossos serviços são principalmente concebidos para ajudá-lo a compartilhar as informações com outros usuários. Dessa forma, a maioria das informações postadas é pública, havendo a opção de torná-la privada. Incluindo-se nessa política não apenas as mensagens que o usuário postou, mas também os outros usuários que esse segue, a opção de marcar como favoritos e outras informações que vierem a ser disponibilizada pelo usuário.</p>

    <p><strong>Registro de dados:</strong> Nossos servidores automaticamente registram a informação criada pelo uso dos serviços. O registro de dados pode incluir informações como seu endereço IP, tipo de navegador, o domínio de referência, páginas visitadas, e os termos de busca. Outras ações, tais como a interação com os anúncios, também podem ser incluídas no registro de dados.</p>

    <p><strong>Cookies:</strong> Utilizamos cookies para recolher dados adicionais de uso do site e para melhorar nossos serviços. Um cookie é um pequeno arquivo de dados que são transferidos para o disco rígido do seu computador. O Redu pode utilizar cookies de sessão e cookies persistentes para entender melhor como o usuário interage com nossos serviços, para monitorar o uso agregado por nossos visitantes e tráfego web de roteamento em nossos serviços.</p>

    <p><strong>Serviços de terceiros:</strong> O Redu usa o Google Analytics para ajudar a entender o uso dos nossos serviços. Através do Google Analytics o Redu recolhe as informações enviadas pelo seu navegador, como parte de uma solicitação de página da web, incluindo cookies eo seu endereço IP. O Google também recebe informações e seu uso é regido por sua <a href="http://www.google.com/policies/privacy/" title="Política de Privacidade">Política de Privacidade da Google</a>.</p>

    <h5><strong>Do compartilhamento de divulgação de informações</strong></h5>

    <p>O Redu não compartilha, nem divulga suas informações privadas, exceto com o objetivo de fornecer aos usuários o produto e/ou serviços solicitados, tendo obtido para tanto a sua permissão, ou nas circunstâncias excepcionais descritas a seguir:</p>

    <p>Fornecemos as informações disponibilizadas, com os nossos parceiros. Essas empresas parceiras poderão usar os dados disponibilizados com o objetivo de auxiliar o Redu na prestação do serviço ao qual se destina. Contudo, tais empresas não possuem direito de compartilhar quaisquer informações com terceiros estranhos a essa relação.</p>

    <p>Podemos revelar suas informações, para atendermos a ordens judiciais nos termos da legislação em vigor, ou em processos judiciais para estabelecer ou exercer nossos direitos legais ou empreender defesa contra ações judiciais. Bem como, quando acreditarmos de boa-fé ser necessário compartilhar informações com o objetivo de investigar, impedir ou adotar medidas relativas a atividades ilegais, suspeitas de fraude, situações envolvendo possíveis ameaças à segurança física de qualquer pessoa, violações do Termo de uso do Redu ou com outros objetivos, com procedimentos especificados e autorizados pela&nbsp; lei.</p>

    <p>Caso o Redu esteja envolvido em uma falência, fusão, aquisição, reestruturação ou venda de ativos, suas informações podem ser vendidas ou transferidas como parte dessa transação. As promessas nesta política de privacidade serão aplicáveis às suas informações como transferidos para a nova entidade.</p>

    <p>Podemos compartilhar ou divulgar as suas informações que não são privadas, agregados ou informações pessoais, como seus comentários públicos ou o número de usuários que clicaram em um link específico.</p>

    <h5><strong>Da confidencialidade e segurança</strong></h5>

    <p>Limitamos o acesso às informações pessoais que temos sobre o usuário aos nossos empregados que, conforme acreditamos, possam ter necessidade delas para exercer suas funções que visam fornecer a você nossos produtos e serviços.</p>

    <h5><strong>Das mudanças nesta política</strong></h5>

    <p>O Redu pode atualizar essa política. Havendo alguma alteração em nossa Política de Privacidade, enviaremos uma notificação para o endereço de e-mail associado a conta do usuário. Ao continuar a utilizar os serviços após as alterações se tornarem eficaz, o usuário concorda em ficar vinculado a essa.</p>

    <p>Qualquer dúvida ou sugestão sobre nossa política de privacidade, por favor envie um e-mail para <a href="mailto:privacidade@redu.com.br" title="privacidade@redu.com.br">privacidade@redu.com.br</a></p>

    <p>Atualizado pela última vez em: <em>março de 2012</em></p>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="button-default">Voltar</button>
  </div>
</div>
