<div id="outdated-browser">
  <div class="container_16 clearfix">
    <div class="title">
      <span class="ops">Ops!</span>
      <span class="warning">Navegador desatualizado</span>
    </div>
    <p class="message">O <%= Redu::Application.config.name %> foi construído sobre tecnologias modernas e acessíveis. Para uma navegação eficiente e segura, é necessário que você atualize seu navegador para a versão mais recente.</p>
    <ul class="suggestions">
      <li>
        <%= link_to "Google Chrome", "http://www.google.com/chrome",
          :class => 'logo chrome replacement' %>
        <span class="name">Google Chrome</span>
      </li>
      <li>
        <%= link_to "Mozilla Firefox", "http://br.mozdev.org/",
          :class => 'logo firefox replacement' %>
        <span class="name">Mozilla Firefox</span>
      </li>
    </ul>
    <span class="close icon-small icon-delete-white-gray_16_18 replacement">Fechar</span>
  </div>
</div>
