<% ["info", "notice", "error"].each do |type| %>
  <% if flash[type.to_sym] %>
    <div class="reactivate-account system-message message-warning fade in">
      <a data-dismiss="alert" class="message-close">×</a>
      <p><strong>Opa!</strong> <%= h(flash[type.to_sym]) %></p>
    </div>
  <% end %>
<% end %>
