<%# Mensagem do sistema de erro
  Variáveis: message => mensagem a ser mostrada
             type => tipo (warning|success|info|busy)
             close => se deve exibir ou não o botão de fechar (default true) %>
<% close = true if close.nil? %>
<div class="reactivate-account system-message <%= (type ||= false) ? 'message-' + type : '' %> fade in">
  <% if close %>
    <a data-dismiss="alert" class="message-close">×</a>
  <% end %>
  <%= content_tag(:p, raw(message)) %>
</div>
