<%#
  Termos de Uso.
%>

<p>Este documento contém os Termos de Uso do ambiente Openredu, cuja aceitação plena e integral é requisito para todos os seus participantes. Ele inclui, além dos termos gerais, os termos de limitação de responsabilidade, a política de privacidade e confidencialidade, as licenças de livre uso do conteúdo, e as informações sobre como reportar violações.</p>

<p>O uso do Openredu implica o reconhecimento e a plena aceitação dos termos a seguir.</p>

<p>Todos os recursos do Openredu  que permitem a exibição de conteúdo de autoria de seus usuários são espaços reservados para que sejam trocadas informações educacionais. Todos os que publicam conteúdos são informados destes Termos de Uso no momento de publicação de conteúdos, e sua participação no Openredu é o reconhecimento da aceitação dos mesmos.</p>

<p>O usuário reconhece que todas as contribuições são bem-vindas, desde que respeitadas as condições descritas nestes Termos de Uso.</p>

<p>Ao visitar, ler, ou interagir com os recursos disponibilizados pelo Openredu, você está aceitando todas as condições mencionadas nestes Termos de Uso, com destaque para as seguintes condições gerais:</p>

<ol>
  <li>O reconhecimento de que não há presunção de anonimato, e de que o conteúdo postado é de sua inteira responsabilidade, não podendo os autores e mantenedores do site serem responsabilizados por quaisquer fatos decorrentes da postagem desse conteúdo.</li>
  <li>O reconhecimento de que as postagens devem obedecer ao escopo e ao objetivo do Openredu, mantendo-se dentro do assunto em que estão inseridas, acatando as definições adotadas pelo Openredu e sem induzir outros usuários a atitudes tecnicamente incorretas, e sem conter ofensas, vocabulário ofensivo ou desrespeitoso a terceiros, incluindo calúnias, injúrias e difamações.</li>
  <li>O reconhecimento de que a permanência de conteúdos no site deve ser encarada como um privilégio e que, em consequência disso, os operadores do site tomarão as providências necessárias para garantir as condições destes Termos de Uso, sempre que solicitado por alguma parte ofendida, ou que seja verificada a ocorrência de violação, a critério da administração do site.</li>
  <li>O reconhecimento de que a licença livre adotada em seu conteúdo será escolhida no momento da publicação e que ela será mencionada explicitamente na página de publicação do conteúdo</li>
  <li>O reconhecimento de que o conteúdo deve estar de acordo com a legislação em vigor, sem material que possa ser considerado ilegal ou que incite ou favoreça práticas em desacordo com a legislação. E que toda informação registrada usando os recursos do site é considerada como pública, sem nenhum tipo de confidencialidade.</li>
  <li>Para se identificar como autor, poderá o criador do conteúdo enviado ao Openredu usar seu nome civil, completo ou abreviado até por suas iniciais, pseudônimo ou qualquer outro sinal convencional (Lei 9.610/1998, Art. 12). Não são permitidos conteúdos de autor não identificado. Embora não seja possível tecnicamente garantir que os pseudônimos e endereços de e-mail fornecidos sejam sempre corretos e identificáveis, a administração do site solicita seu correto preenchimento em todas as ocasiões, e identifica o autor através do registro (e possível exibição) do endereço de origem e do horário de cada postagem.</li>
  <li>A remoção ou edição de conteúdos por iniciativa de seu próprio autor é facultada de acordo com as opções disponíveis na ferramenta de gestão de conteúdo, se houver. Outros casos de edição ou alteração podem ser solicitados pelo autor do conteúdo, de forma fundamentada, via formulário de contato. O atendimento, nestes casos, estará sujeito a análise sob aspectos técnicos e da manutenção da qualidade das discussões.</li>
  <li>Tentativas de abuso do sistema de moderação, ou de abuso sistemático e repetitivo destes Termos de Uso, incluindo a reinclusão de material que já tenha sido previamente moderado, serão prevenidas ou corrigidas por intermédio dos recursos técnicos que estiverem disponíveis, sempre que possível. O protesto contra a moderação pode ser encaminhado pelo formulário de contato, mas será considerado off-topic nas áreas de discussão.</li>
  <li>Logins e identificações de usuário considerados inadequados pela administração do Openredu (incluindo casos de mais de um login para o mesmo usuário, ofensas, identificações que possam levar os demais usuários a acreditar que você fala em nome de outra pessoa ou organização) podem ser desativados, removidos, ter seus privilégios de acesso reduzidos ou ter seu conteúdo tornado inacessível sem aviso. O login registrado no Openredu, ou a disponibilização de conteúdo no mesmo, não geram nenhum direito de suporte, não cabendo qualquer tipo de reparação, compensação ou outra obrigação do Openredu em caso de cancelamento, suspensão, perda, indisponibilidade ou outra situação adversa que afete o acesso, os dados ou o conteúdo do usuário.</li>
</ol>

<p>Também deverão ser seguidas as seguintes orientações:</p>

<ol style="list-style-type: lower-latin;">
  <li>Seja cortês e trate os demais usuários com respeito;</li>
  <li>Preencha corretamente seu endereço de e-mail;</li>
  <li>Se não tiver certeza de algo que vá afirmar, deixe isso bem claro. É plenamente aceitável dizer “Eu acho que…” ou “Sugiro que você tente…” – e agir de outra forma não seria ético;</li>
  <li>Sinta-se à vontade para sugerir links para outros sites, desde que tenham relacionamento direto com o assunto abordado.</li>
</ol>

<p>Em caso de dúvidas, use o formulário de contato para solicitar esclarecimento.</p>

<h5 class="section"><strong>Limitação de responsabilidade</strong></h5 class="section">

<p>Em nenhuma situação o Openredu, seus autores, editores ou mantenedores serão responsáveis por quaisquer danos, prejuízos ou outro efeito, direto ou indireto, relacionados ao uso, por parte de seus usuários, leitores ou de qualquer outra pessoa, deste website, de seu conteúdo ou de qualquer outro website aqui mencionado.</p>

<p>Em especial, o Openredu não classifica nem analisa o conteúdo que seus usuários e leitores acrescentam como comentários ou como participações nos fóruns e demais áreas do site, mediadas ou não. Todo autor de conteúdo exibido no Openredu retém os seus direitos e responsabilidades autorais, nos termos da Lei 9.610/1998, sem prejuízo dos termos de licenciamento de livre uso, conforme exposto nestes Termos de Uso, no item “Licença de uso do conteúdo”, abaixo.</p>

<h5 class="section"><strong>Política de privacidade e confidencialidade</strong></h5 class="section">

<p>O Openredu não deseja nem aceita receber ou intermediar material confidencial por nenhuma das ferramentas oferecidas ou mencionadas no site, nem pelos contatos de sua equipe. Toda informação enviada pelos recursos do site ou recebida por intermédio deles ou dos endereços de contato de sua equipe será tratada como não sendo confidencial, independente de qualquer declaração do autor da comunicação que não tenha sido previamente aceita por escrito pelos responsáveis pelo Openredu</p>

<p>O envio de material para o site implica em a parte que está enviando aceitar responsabilidade plena e não compartilhada com o Openredu quanto ao conteúdo enviado, e quanto às implicações legais e morais de sua eventual publicação.</p>

<h5 class="section"><strong>Licença de uso do conteúdo</strong></h5 class="section">

<p>Todo autor de conteúdo exibido no Openredu retém os seus direitos e responsabilidades autorais, nos termos da Lei 9.610/1998, sem prejuízo dos termos de licenciamento de livre uso, expostos a seguir.</p>

<p>Exceto quando mencionado explicitamente, ou quando se tratar de citação (adequadamente indicada no corpo do texto, por intermédio de tipo diferenciado, aspas e/ou margem esquerda adicional) de material alheio ou ilustração, nos limites estabelecidos pela Lei 9.610/98, todo o conteúdo textual original do Openredu está disponível livremente para leitura, uso, redistribuição ou modificação, entre outros direitos, conforme definido na licença.</p>

<h5 class="section"><strong>Como reportar violações</strong></h5 class="section">

<p>Se algum conteúdo do Openredu violar algum direito seu ou a legislação aplicável, entre em contato pelos endereços indicados abaixo, mencionando de forma específica e detalhada:</p>

<ul>
  <li>o título da página específica em que se encontra a violação;</li>
  <li>o endereço (URL) da página específica em que se encontra a violação;</li>
  <li>a natureza da violação;</li>
  <li>o trecho específico em que ocorre a violação;</li>
  <li>a providência desejada; e</li>
  <li>as suas informações de contato, incluindo e-mail</li>
</ul>

<p>De posse destas informações, o Openredu poderá analisar e resolver a questão tão breve quanto possível. Caso a informação esteja incompleta, ou com detalhamento insuficiente, o Openredu entrará em contato para solicitar a complementação, possivelmente atrasando a providência desejada.</p>

<p>São aceitas comunicações de violações e solicitações de providências pelos seguintes endereços:</p>

<p><%= mail_to "contato@openredu.com" %></p>

<p>Comunicações de violações e solicitações de providências enviadas por outros canais não serão recebidas. Comunicações de violações e solicitações de providências enviadas sem identificação completa do requerente e descrição detalhada e justificada da violação não serão atendidas. O Openredu responderá preferencialmente ao endereço de e-mail do requerente, indicado na sua mensagem enviada pelos canais acima.</p>

<h5 class="section"><strong>Inexistência de Vínculo</strong></h5 class="section">

<p>Estes Termos de Uso não importam na criação de qualquer vínculo trabalhista, societário, de parceria ou associativo entre o usuário-colaborador e o Openredu, sendo excluídas quaisquer presunções de solidariedade entre ambos no cumprimento de suas obrigações.</p>

<h5 class="section"><strong>Disposições Finais</strong></h5 class="section">

<p>Estas Condições Gerais serão regidas e interpretadas de acordo com a legislação brasileira. Fica eleito o Foro da Comarca de Recife, Estado de Pernambuco, para dirimir questões relativas a estas Condições Gerais, com renúncia expressa a qualquer outro.</p>

<p>Estes termos de uso podem ser modificados pelo Openredu, e as modificações terão efeito a partir da data de sua publicação no website, mediante a sua comunicação em local que seja de fácil identificação para o usuário.</p>

<h5 class="section"><strong>Referência</strong></h5 class="section">

<p>Estes Termos foram remixados dos sites BR-Linux, Flickr,  CulturaDigitalBr.</p>

<p class="legend">Atualizado pela última vez em: maio de 2013</p>