<div class="iframe-wally"></div>
<%= lazy_load(:wally, :jammit => true, :clear => false) do %>
  (function() {
    var wally = new Redu.Wally({
      remote: "<%= src.html_safe %>",
      width: "<%= width %>",
    })
  })();
<% end %>
