/**
   Main Redu stylesheet 
   URL: http://redu.com.br
**/

/**
   Default color table:
    @border: #EFF0F0 cinza
    @link2: #0B85C1 azul
    @link1: #18C8EF azul claro
    @header: #F63B0B vermelho
    @background: #EBF7FD
    
**/

/** @typo **/
html, body {  height:100%; /* 100% height hack */ }

html {
    font-family: 'Helvetica Neue', "Trebuchet MS", "Arial", sans-serif;
    font-size: .9em;
   
}

body {
    background-color: #EBECFD; /*#EBF7FD*/;
}

ul, ol, li {
    margin: 0; padding: 0;
}

ul, ol {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #0B85C1;
}

.pretty-text h1,
.pretty-text h2,
.pretty-text h3,
.pretty-text h4,
.pretty-text h5,
.pretty-text h6 {
    margin: 20px 0 5px 0;
}

.pretty-text h1 { font-size: 1.8em; font-weight: bold; }
.pretty-text h2 { font-size: 1.6em; font-weight: bold; }
.pretty-text h3 { font-size: 1.4em; font-weight: bold; }
.pretty-text h4 { font-size: 1.2em; font-weight: bold; }
.pretty-text h5 { font-size: 1em; font-weight: bold; }
.pretty-text h6 { font-size: 1em; font-weight: bold; font-style: oblique; }

.pretty-text p {
    margin: 5px 0 10px 0;
}

.pretty-text ul, 
.pretty-text ol {
    margin: 5px 0 5px 30px;
    list-style-position: inside;
}

.pretty-text ul {
    list-style-type: disc;
}

.pretty-text ol {
    list-style-type: decimal;
}


.pretty-text * {
    line-height: 170%;
}

/**
   @overall 
**/

.odd {
    background-color: #F9F9FA;
}

.box {
    border: 1px solid #EFF0F0 ;
    background: white;
}

.yellow {
    border: 1px solid #FEFAB7;
    background-color: #FFFFF3;
}

.quiet {
    color: gray;
}

ul.default {
	
}

ul.default li {
	display: block;
	padding: 5px;
	background-color: red;
}

ul.default li:odd {
	background-color: white;
}

ul.default li:even {
	background-color: #F4F4F4;
}

/** @forms **/
    input[type=text],
    input[type=password],
    textarea {
        border-color:#A1A1A1 #C1C1C1 #D1D1D1;
        border-style:solid;
        border-width:1px;
        font-weight:normal;
        padding: 4px;
        font-size: 1em;
        font-family: "Trebuchet Ms", sans-serif;
    }
    
    input.inner-label,
    textarea.inner-label{
        color: #A1A1A1;
        font-weight: bold;
        font-style: oblique;
    }

    a.button, button{
        display:block;
        margin:0 7px 0 0;
        background-color: #F5F5F5;
        border-top: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #DEDEDE;
        border-bottom: 1px solid #DEDEDE;

        font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
        font-size:100%;
        line-height:130%;
        text-decoration:none;
        font-weight:bold;
        color:#565656;
        cursor:pointer;
        padding:5px 10px 6px 7px; /* Links */
    }
    
    button {
        width:auto;
        overflow:visible;
        padding:4px 10px 3px 7px; /* IE6 */
    }
    
    button[type]{
        padding:5px 10px 5px 7px; /* Firefox */
        line-height:17px; /* Safari */
    }
    
    *:first-child+html button[type]{
        padding:4px 10px 3px 7px; /* IE7 */
    }
    
    button img, a.button img{
        margin:0 3px -3px 0 !important;
        padding:0;
        border:none;
        width:16px;
        height:16px;
    }
    
/** @icon **/
.icon {
    background-repeat:no-repeat;
    background-position:left center;
}

.ico-follow {
    background-image: url("../images/ui-elements_r24_c38.png");
}

.ico-recomend {
    background-image: url("../images/ui-elements_r22_c30.png");
}

.ico-contact {
    background-image: url("../images/ui-elements_r35_c35.png");
}

.ico-comment {
    background-image: url("../images/ui-elements_r15_c27.png");
}

.ico-bookmark {
    background-image: url("../images/ui-elements_r19_c28.png");
}

.ico-activity {
    background-image: url("../images/")
}

.ico-course {
    background-image: url("../images/ui-elements_r34_c19.png");
}

.ico-network {
    background-image: url("../images/ui-elements_r6_c50.png");
}

.ico-exam {
    background-image: url("../images/ui-elements_r36_c8.png");
}

/** @tags **/
ul.tags {
    font-size: .8em;
    
}

ul.tags li {
    float: left;
    background: #FEFBBE;
    border: 1px solid  #FEFAB7;
    margin-right: 5px;
}

ul.tags li:hover {
    background-color: #FEF888;
}

ul.tags li a {
    color: black;
    padding: 3px;
    display: block;
}

div.points-m,
div.recomendations-m {
    text-align: center;
}

div.points-m .number,
div.recomendations-m .number {
    font-size: 2em;
    font-weight: bold;
}

div.points-m .legend,
div.recomendations-m .legend {
    display:block;
    text-transform: uppercase;
    font-size: .65em;
    
}

div.points-m .legend,
div.points-m .number {
 color: #18C8EF;
}

div.recomendations-m .legend,
div.recomendations-m .number {
 color: #27A325;
}

/** @tabs **/
    .ui-tabs .ui-tabs-hide {
         display: none;
    }

    .tabs {
        border-left: 1px solid #EFF0F0;
        border-bottom: 1px solid #EFF0F0;
        border-right: 1px solid #EFF0F0;
    }

    .tabs ul.ui-tabs-nav {
        height: 60px;
        background: url("../images/ui-elements_r45_c2.png") repeat-x 0 5px;
    }

    .tabs ul.ui-tabs-nav li {
        float: left;
        
    }

    .tabs ul.ui-tabs-nav li a {
        display: block;
        font-weight: bold;
        color: #D23D24;
        padding: 21px;
    }

    .tabs ul.ui-tabs-nav li.ui-tabs-selected a,
    .tabs ul.ui-tabs-nav li.ui-state-hover a {
        background: url("../images/ui-elements_r47_c6.png") no-repeat;
        border-right: 1px solid #EFF0F0;
        padding-right: 20px;
        color: gray;
    }
    
    /** @post-activity **/
    .post-activity {
        margin: 10px;
    }
    
    .post-activity ul.ui-tabs-nav {
        background: none;
        height: auto;
        margin-top 10px;
    }
    
    .post-activity ul.ui-tabs-nav li {
        margin-right: 10px;
    }
    
    .post-activity ul.ui-tabs-nav li.ui-state-active {
        background: url("../images/stripes.jpg") repeat;
        padding: 5px;
    }
    
    .post-activity ul.ui-tabs-nav li a {
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        padding: 0;
        width: 24px;
        height: 24px;
    }
    
    .post-activity ul.ui-tabs-nav li a.status {
        background: url("../images/status.gif") no-repeat;
    }

    .post-activity ul.ui-tabs-nav li a.question {
        background: url("../images/question-mark-24-24.png") no-repeat;
    }
    
    .post-activity ul.ui-tabs-nav li a.poll {
        background: url("../images/poll.png") no-repeat;
    }
    
    .post-activity ul.ui-tabs-nav li.ui-tabs-selected a,
    .post-activity ul.ui-tabs-nav li.ui-state-hover a {
        border: none;
        padding: 0;
    }
    
    /** @status **/
    #actv-1,
    #actv-2,
    #actv-3 {
    }
    
    
    #actv-1,
    #actv-2,
    #actv-3 {
        position: relative;
        background: url("../images/stripes.jpg") repeat;
        padding: 10px;
    }
    
    #actv-1 form.post-status {
        
    }
    
    #actv-1 form.post-status textarea,
    #actv-2 form.post-question textarea {
        width: 450px;
        height: 80px;
        float: left;
        margin-right: 10px;
    }
    
    #actv-1 form.post-status button,
    #actv-2 form.post-question button,
    #actv-3 form.post-poll button {
        width: 100px;
        margin: 5px 0;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    
    #actv-3 form.post-poll label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    #actv-3 form.post-poll input {
        display: block;
        margin: 10px 0;
        width: 450px;
    }
    
    #actv-3 form.post-poll span.add { 
        font-size: .8em;
        color: #18C8EF;
        cursor: pointer;
    }
    
    
    
    
    .post-activity ul.ui-tabs-nav li a.status {
        
    }
    
    .tabs .content {
        font-size: .9em;
    }

    
    div.filter-box {
        border: 1px solid #EFF0F0 ;
        margin: 10px;
        
    }

    div.filter-box ul li {
        float: left;
    }

    div.filter-box ul li:hover,
    div.filter-box ul li.selected {
        background: url("../images/ui-elements_r9_c55.png") no-repeat center bottom;
    }

    div.filter-box ul li:hover a,
    div.filter-box ul li.selected a {
        background: #18C8EF;
        color: white;
    }

    div.filter-box ul li a {
        display:block;
        color: #18C8EF;
        text-transform: uppercase;
        font-size: .8em;
        padding: 10px;
    }

/** @header **/
#header {
    background-color: white;
    height: 50px;
    background: url("../images/ui-elements_r16_c2.png") no-repeat;
    position: relative;
}

    #logo {
        background: url("../images/logotipo.png") no-repeat;
        height: 29px;
        margin-top: 5px;
        display: block;
    }
    
    #logo a { display: block; }
    
    #global-nav {
        margin-top: 15px;
    }
    
    #global-nav ul li {
        float: left;
    }
    
    #global-nav ul li a {
        padding: 10px 15px;
        font-weight: bold;
    }
    
    
    #global-nav ul li a:hover,
    #global-nav ul li a.selected {
        background-color: #F8FAFC;
    }
    
    #global-search {
        margin-top: 8px;
    }
    
    #search .searchbox {
        background: url("../images/ui-elements_r1_c10.png") no-repeat;
        height: 32px;
    }
    
    #search .searchbox input[type=text] {
        background-color: transparent;
        border: none;
        font-size: .9em;
        color: #8F8F8F;
    }

    #search .searchbox input[type=submit] {
        border: none;
        background-color: transparent;
        height: 32px;
    }

    #header .user-actions > a.opened,
    #header .user-actions > a {
        font-weight: bold;
        font-size: .8em;
        margin-top: 10px;
        background: #EFEFEF;
        padding: 5px;
        display: block;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        text-align: center;
    } 

    #header .user-actions > a.closed {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    #header a.opened {

    }

    #header .user-actions div.option {
        z-index: 1000;
        position: absolute;
        background: white;
        border: 5px solid #EFEFEF;
        right: 10px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        font-size: .8em;

    }
    
    #header .user-actions #user-settings {
        width: 125px;
    }
    
    #header .user-actions #user-settings ul {
        background: white;
        margin: 5px;
    }
    
    #header .user-actions #user-settings ul li {
        margin-bottom: 5px;
    }
    
    #header .user-actions #user-login {
        padding: 10px;
    }

     
/**  main **/
div.content {
    min-height:100%;
    height: auto;
    padding-top: 10px;
    position: relative;
    background: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

div.content div.content {
    border: none;
    margin: 0;
    background: transparent;
    padding: 0;
}

* html .content {height:100%;} /* ie6 and under*/

/** @profile **/
#public-profile {
    
}
    /** width: 640px **/
    #public-profile div.overview {
        padding: 10px 0;
        margin-bottom: 20px;
        position: relative;
    }
    
    #public-profile .overview .photo {
        width: 80px;
        margin: 0 10px;
        float: left;
    }
    
    #public-profile .personal-overview,
    #public-profile .social-overview {
        width: 420px;
        float: left;
    }
    
    #public-profile .personal-overview {
     padding-bottom: 10px;
     border-bottom: 1px solid #FEFAB7;
    }
     
    #public-profile .personal-overview .name,
    #public-profile .personal-overview .location,
    #public-profile .social-overview .areas,
    #public-profile .social-overview .tags {
        width: 300px;
        float: left;
    }
     
    #public-profile div.overview .quiet {
        font-size: .7em;
    }
    
    #public-profile div.overview .name,
    #public-profile div.overview .location,
    #public-profile div.overview .status {
        display: block;
        margin-bottom: 5px;
    }
    
    #public-profile .points-m,
    #public-profile .recomendations-m {
        width: 80px;
        float: right;
    }
    
    /** Social overview **/
     #public-profile .social-overview {
         padding-top: 10px;
     }
    
    #public-profile .social-overview .areas {
        margin-bottom: 5px;
    }
    
    /** Personal overview **/
    #public-profile .overview .personal-overview .student {
        background: url("../images/ui-elements_r25_c43.png") no-repeat;
        height: 18px;
    }

    #public-profile .overview .personal-overview .name {
        font-size: 1.2em;
        font-weight: bold;
    }
    
    /** Actions **/
    #public-profile .overview .actions {
        float: right;
        width: 95px;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    #public-profile .overview .actions ul li {
        margin-bottom: 3px;
    }
    
    #public-profile .overview .actions a {
        color: #18C8EF;
        display: block;
        font-size: .8em;
        padding: 12px 0 12px 29px;
        background-position: 4px center;
    }
    
    #public-profile .overview .actions a:hover,
    #public-profile .overview .actions a.selected {
        background-color:  #FEFAB7;
    }
    
    #public-profile ul.activities  {
    }
    
    ul.activities li {
        padding: 10px 0;
        margin: 10px 0;
        display:block;
        background: url("../images/ui-elements_r43_c24.png") repeat-x center bottom;
    }
    
    ul.activities li div.photo {
        width: 48px;
        margin: 0 10px;
        float: left;
    }
    
    ul.activities li div.activity {
        position: relative;
        padding: 0 25px 0 70px;
    }
    
    ul.activities li div.activity .msg {
        line-height: 140%;
    }
    
    ul.activities li div.activity .msg a.author {
        font-weight: bold;
    }
    
    ul.activities li div.activity .quiet {
        font-size: .8em;
    }
    
    ul.activities li div.activity div.actions {
        position: absolute;
        right: 0;
        display: none;
    }
    
    ul.activities li div.activity:hover div.actions {
        display: block;
    }
    
    ul.activities li div.activity div.actions a {
        display: block;
        text-indent: -9000px;
        overflow: hidden;
        width: 16px;
        height: 16px;
        margin: 0 5px 10px 5px;
    }
    
    /** Activity @question **/
        ul.activities li .overlay {
            position: relative;
        }
        
        ul.activities li .overlay img.mark {
            position: absolute;
            z-index: 10;
            right: 2px;
            bottom: 2px;
        }
        
        ul.activities li div.question .question-action {
            display: block;
            font-size: .8em;
        }
        
        ul.activities li div.question .question-action a {
            color: #18C8EF;
        }
        
        ul.activities li div.question .question-action div.answer {
            background: url("../images/stripes.jpg") repeat;
            padding: 15px 10px;
            margin: 10px 0px;
        }
        
        ul.activities li div.question .question-action div.answer form {
            display: block;
        }
        
        ul.activities li div.question .question-action div.answer button {
            float: right;
        }
        
        ul.activities li div.question .question-action div.answer input.answer{
            width: 400px;
        }
    
    
    /** Activity @response **/
        ul.activities li div.activity ul.response li {
            background: #FFFFF3 url("../images/ui-elements_r41_c23.png") repeat-x center bottom;
        }
        
        ul.activities li div.activity ul.response li .photo {
            width: 16px;
            margin-top: 5px;
        }
        
        ul.activities li div.activity ul.response li div.activity {
            padding-left: 40px;
        }
    
    ul.groups {
    }
    
    ul.groups li {
        padding: 10px 0;
    }
    
    ul.groups li li {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    ul.groups li .photo a.more {
        display: block;
        text-align: center;
        margin-top: 5px;
    }
    
    ul.groups li .photo {
        float: left;
        margin: 0 10px;
        width: 48px;
    }
    
    ul.groups li .quiet,
    ul.groups li .more {
        font-size: .8em;
    }
    
    ul.groups li a.name {
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    ul.groups li .spotlight a.type {
        text-transform: uppercase;
        font-size: .8em;
    }
    
    ul.groups li .spotlight ul li {
        margin-bottom: 5px;
        font-size: .9em;
    }
    
    ul.groups li .spotlight {
        display: block;
        float: left;
    }
    
    div.curriculum {
        margin: 20px 10px;
    }
    
    div.curriculum h1,
    div.curriculum h2,
    div.curriculum h3,
    div.curriculum h4,
    div.curriculum h5,
    div.curriculum h6 {
        color: #348E94;
    }
    
/** @sidebar **/
    #public-profile .sidebar {
        padding-top: 120px;
    }
    
    .sidebar ul li {
    }
    
    .sidebar ul.sortable li {
        background-color: white;
    }
    
    .sidebar ul.sortable li.ui-state-highlight {
        border: 3px #EFF0F0 dashed;
        height: 5em;
    }
    
    .sidebar span.call {
        font-size: .9em;
        text-transform: uppercase;
        font-weight: bold;
        color: #F63B0B;
        margin: 20px 0 10px 0;
        padding-bottom: 5px;
        display:block;
        background: url("../images/ui-elements_r9_c55.png") no-repeat 15px bottom;
        color: white;
        margin-bottom: 5px;
    }
    
    .sidebar span.gray {
        color: gray;
    }
    
     .sidebar span.call span {
        padding: 5px;
        display: block;
        background: #18C8EF;
     }
    
    .sidebar span.call:hover {
        cursor: move;
    }
    
    .sidebar div.followship a.more {
        margin: 10px;
        display: block;
        font-size: .8em;
    }
    
    .sidebar div.followship ul {
        margin: 10px;
    }
    
    .sidebar div.followship ul li {
        float: left;
        margin-right: 6px;
        margin-top: 6px;
    }
    
    .sidebar div.report {
        background: url("../images/ui-elements_r5_c7.png") no-repeat;
        width: 255px;
        height: 104px;
        position: absolute;
        right: -9px;
        top: 10px;
    }
    
    .sidebar div.report .info {
        margin: 10px 20px 10px 10px;
        display:block;
    }
    
     .sidebar div.report .info .points-m {
         float: left;
         margin: 10px 0;
     }
     
     .sidebar div.report .info .points-m .number {
        font-size: 2.5em;
     }

/** @group **/
#group {
}

#group-header {
    height: 80px;
}

#group-header h2.name{
    font-size: 1.4em;
    font-weight: bold;
    display: inline;
}

#group-header a.config {
    font-size: .8em;
    margin-left: 10px;
    color: #18C8EF;
}

#group-header span.areas {
    display: block;
    font-size: .8em;
    margin-top:8px;
}

#group .sidebar ul.sub-groups {
    
}

#group .sidebar ul.sub-groups > li {
    border-bottom: 1px solid #E9E9E9;
    display: block;
}

#group .sidebar ul.sub-groups > li > a {
    padding: 8px 0;
    display: block;
    font-size: .9em;
    padding-left: 20px;
}

#group .sidebar ul.sub-groups > li > a.closed {
    background: url("../images/arrow-right.png") no-repeat 1px center;
}

#group .sidebar ul.sub-groups > li > a.opened {
    background: url("../images/arrow-down.png") no-repeat 1px center;
}

#group .sidebar ul.sub-groups > li > a.more {
    font-size: .8em;
    text-align: right;
}

#group .sidebar ul.sub-groups li ul {
    margin-left: 20px;
}

#group .sidebar ul.sub-groups li ul li {
    margin-bottom: 10px;
}

#group .sidebar ul.sub-groups span.bar-chart {
    display: block;
    padding: 2px;
    border: 1px solid #E9E9E9;
    height: 15px;
}

#group .sidebar ul.sub-groups span.bar-chart > span {
    background-color: #FFFA7F;
    display: block;
    height: 15px;
    position: relative;
}

#group .sidebar ul.sub-groups span.bar-chart span span {
    position: absolute;
    font-size: .8em;
    right: 5px;
    top: 2px;
    color: gray;
}

#group .sidebar ul.sub-groups a.course {
    color: #18C8EF;
    font-size: .9em;
    padding-bottom: 5px;
    display: block;
}


#group .sidebar ul.sub-groups li li { 
    border: none;
}
    
/** helpers **/
    /** replacement **/
    .replacement {
        text-indent: -9999px;
        overflow:hidden;
    }
    
    .clearfix:after {
        content:"\0020";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
        overflow:hidden;
    }
    
    .clearfix {
        display:block;
    }
    
    .hide { 
        display: none;
    }
    #header .user-actions #user-settings
