/**
   Closed beta Redu stylesheet 
   URL: http://redu.com.br
**/

/**
   Default color table:
    @border: #EFF0F0 cinza
    @link2: #0B85C1 azul
    @link1: #18C8EF azul claro
    @header: #F63B0B vermelho
    @background: #EBF7FD
    
**/

/** @typo **/
html, body {  height:100%; /* 100% height hack */ }

html {
    font-family: "Trebuchet MS", "Arial", sans-serif;
    font-size: .9em;
   
}

body {
    background: url("../images/tela-beta_r4_c2.png") repeat-x 0 100px;
    
}

a {
   color: #18C8EF;
   text-decoration: none;
   font-style: none;
}

/** header **/
#logo {
    background: url("../images/tela-beta_r2_c4.png") no-repeat;
    height: 47px;
    margin: 25px 0;
}

#logo a {
    display: block;
}

/** @tabs **/
.tabs {
    background: url("../images/abas-beta_r8_c2.png") no-repeat;
    height: 498px;
    width: 583px;
    margin-top: 10px;
    padding: 0 20px;
    float: left;
}

.tabs ul.ui-tabs-nav li{
    float: left;
    margin-right: 8px;
}

.tabs ul.ui-tabs-nav li a {
    font-weight: bold;
    font-size: 1.1em;
    padding: 15px 25px;
    display: block;
}


.tabs ul.ui-tabs-nav li.ui-tabs-selected a,
.tabs ul.ui-tabs-nav li.ui-state-hover a {
    background: white;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

.tabs .ui-tabs-panel {
    display: block;
    background: white;
    height: 445px;
    font-family: "Molengo", "Trebuchet Ms", sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}

.tabs #conheca {
    position: relative;
    background: url("../images/conheca.jpg") no-repeat;
}

.tabs #aprenda {
    position: relative;
    background: url("../images/aprenda.png") no-repeat;
}

.tabs #ensine {
    position: relative;
    background: url("../images/ensine.png") no-repeat;
}

.tabs span.call {
    line-height: 130%;
    display: block;
    position: absolute;
    color: #0B85C1;
}

.tabs #conheca span.call {
    top: 15px;
    left: 30px;
}

.tabs #aprenda span.call {
    text-align: right;
    top: 15px;
    right: 30px;
}

.tabs #ensine span.call {
    text-align: right;
    top: 15px;
    right: 30px;
}

.ui-tabs .ui-tabs-hide {
     display: none;
}

/** @register **/
div.register {
    float: left;
    width: 290px;
    padding: 60px 10px 0 10px;
}

div.register span.call {
    font-size: 1.4em;
}
div.register span.call,
div.register span.call2 {
    color: #F63B0B;
    font-weight: bold;
}

div.register form.common {
    margin-top: 20px;
}

div.register form.common button {
    float: right;
    background: url("../images/cadastrar.png") no-repeat;
    width: 119px;
    height: 32px;
    border: none;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
}

/** @footer **/
div.footer {
    margin-top: 15px;
}

div.footer div a {
    margin-left: 40px;  
    font-size: .9em;  
}

div.footer div {
    text-align: right;
}


form.common label {
    display: block;
    color: #0B85C1;
    font-size: .9em;
    font-weight: bold;
}

form.common fieldset.inline,
form.common input[type=text] {
    margin: 5px 0 15px 0;
}

form.common fieldset.inline {
    display: block;
    
}

form.common fieldset.inline label,
form.common fieldset.inline input[type=checkbox]{
    float: left;
    display: block;
}

form.common fieldset.inline label {
    margin: 3px 15px 0 0;
}

form.common input[type=text] {
    width: 290px;
}

form.common input[type=password],
form.common button,
form.common input[type=text] {
    display: block;
}

form.common input[type=text],
form.common input[type=password],
form.common textarea {
    border-color:#A1A1A1 #C1C1C1 #D1D1D1;
    border-style:solid;
    border-width:1px;
    font-weight:normal;
    padding: 4px;
    font-size: 1em;
    font-family: "Trebuchet Ms", sans-serif;
}

/** helpers **/
    /** replacement **/
    .replacement {
        text-indent: -9999px;
        overflow:hidden;
    }
    
    .clearfix:after {
        content:"\0020";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
        overflow:hidden;
    }
    
    .clearfix {
        display:block;
    }
