<ul class="nav-local">
  <li class="nav-local-item nav-local-item-active icon-home-white_blue_16_18-before icon-arrow-right-nav-local-lightblue_11_32-after link-container">
    <a class="nav-local-link link-target" href="#" title="Visão Geral">Visão Geral</a>
  </li>
  <li class="nav-local-item link-container icon-wall-lightblue_16_18-before">
    <a class="nav-local-link link-target" href="#" title="Meu Mural">Meu Mural</a>
  </li>
  <li class="nav-local-item link-container icon-message-lightblue_16_18-before">
    <a class="nav-local-link link-target" href="#" title="Mensagens">Mensagens</a>
  </li>
  <li class="nav-local-item link-container icon-environment-lightblue_16_18-before">
    <a class="nav-local-link link-target" href="#" title="Ambientes">Ambientes</a>
  </li>
  <li class="nav-local-item link-container icon-manage-lightblue_16_18-before">
    <a class="nav-local-link link-target" href="#" title="Configurações">Configurações</a>
  </li>
  <li class="nav-local-item link-container icon-contacts-lightblue_16_18-before">
    <a class="nav-local-link link-target" href="#" title="Minhas Conexões">Minhas Conexões</a>
  </li>
</ul>
