<span class="home-hello-user legend">Olá, Nome</span>

<div class="home-profile-area">
  <div class="home-profile-area-links">
    <a href="#" class="link-secondary" title="ver perfil">ver perfil</a>
    <a href="#" class="link-secondary" title="mudar foto">mudar foto</a>
  </div>
  <img class="home-profile-area-photo" src="/images/new/missing_users_thumb_90.png" alt="Nome" title="Nome">
</div>
