// ==========================================================================
// Layout.
// ==========================================================================


// Comum a todos os portais.

.portal-header/*.clearfix*/ {
  padding-top: 19px;
  position: relative;

  .breadcrumb-mini-wrapper {
    position: absolute;
    bottom: -5px;
    width: 100%;
  }

  & +
  .content-body { margin-top: 15px; }
}

.breadcrumb-mini-wrapper {
  height: 18px;
  text-align: center;

  .breadcrumb-mini { display: inline-block; }

  .content-body +
  & {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.portal-body {
  .tabs { padding-top: 14px; }

  .tabs +
  .portal-search-result-message,
  .tabs +
  .filters-wrapper { margin-top: 10px; }

  .portal-search-result-message +
  .filters-wrapper { margin-top: 15px; }
}

.filters-wrapper {
  text-align: center;
  height: 34px;

  .filters { display: inline-block; }
}

.portal-search-result-message { text-align: center; }

.portal-search-result-empty {
  padding-top: 80px;
  text-align: center;
}

.portal-search-result-empty-icon { display: inline-block; }

.portal-search-result-empty-icon +
.portal-search-result-empty-message { margin-top: 20px; }

.portal-search-result-empty-message {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

// Portal de busca.
.portal-header-message/*.legend*/ {
  margin-top: 4px;
  width: 240px;
  float: right;
  text-align: right;
  line-height: 14px;
}

.portal-search-category-title {
  font: 300 16px/18px $museo-sans;
  letter-spacing: -1px;
  color: rgb(178, 178, 178);
}

.portal-search-category { padding: 10px 20px 15px 20px; }

.portal-search-category-title +
.portal-search-category-link { margin-left: 20px; }

.portal-search-item {
  &:nth-child(odd) { padding-left: 20px; }
  &:nth-child(even) { padding-right: 20px; }
}

.portal-search {
  // Imagem de fundo do cabeçalho.
  background: url("/images/search/search-background_160.png") no-repeat 391px -49px;
}