// ==========================================================================
// Tema para o jQuery Tokeninput do formulário de busca.
// ==========================================================================


.token-input-list-redu {
  margin: 0;
  list-style-type: none;
}

.token-input-dropdown-redu {
  ul {
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
  }

  .control-autocomplete-suggestion-link {
    width: 100%;
    @include box-sizing;
  }

  .control-autocomplete-name { color: $black; }

  .control-autocomplete-added-info {
    $thumbnail-width: 32px;
    $thumbnail-spacing-info: 5px;
    @include calc("width", "100% - (#{$thumbnail-width} + #{$thumbnail-spacing-info})", 85%);
  }
}