<% unless @events.empty? %>
  <table id="event_list" class="common">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Remover</th>
      </tr>
    </thead>
    <%= render :partial => 'events/item_admin', :collection => @events %>
  </table>
  <%= will_paginate @events, :renderer => EndlessRenderer %>
  <%= link_to "Crie um agora!", new_polymorphic_path([@space || @environment, Event.new]),
    :class => 'button'%>
<% else %>
  <div class="box_notice">
    Não existe nenhum evento.
    <%= link_to "Crie um agora!", new_polymorphic_path([@space || @environment, Event.new]) %>
  </div>
<% end %>
