<% if @pending_events && @pending_events.size > 0 %>
  <% form_tag :action => :moderate_events do %>
    <table id="event_moderate_list" class="common">
      <tr>
        <th style="max-width:25px;">Aprovar</th>
        <th style="max-width:27px;">Rejeitar</th>
        <th>Evento</th>
        <th>Autor</th>
        <th>Data</th>
      </tr>
      <%= render :partial => 'events/moderate_item_admin', :collection => @pending_events %>
    </table>
    <%= will_paginate @pending_events, :renderer => EndlessRenderer,
      :param_name => :page_pending, :class => "endless_pending" %>
    <%= hidden_field_tag("id", @space.id) %>
    <%= submit_tag "Moderar" %>
  <% end %>
<% else %>
  <div class="box_notice">
    Não há eventos a serem moderados.
  </div>
<% end %>
