<div class="main grid_16">
  <% if @eventable.class.to_s.eql? "Space" %>
    <%= render :partial => "spaces/sidebar", :locals => {:space => @event.eventable} %>
  <% end %>

  <%= render :partial => 'events/form', :locals => {:event => @event, :title => "Editar"} %>
</div>
