<div class="main grid_16">
	<%= render :partial => "schools/school_info", :locals => {:school => @event.eventable, :show => false} %>
	<%= render :partial => "schools/sidebar", :locals => {:school => @event.eventable} %>

	<%= render :partial => 'events/form', :locals => {:event => @event, :title => "Editar"} %>
</div>