<div class="main grid_16">
	<%if @eventable.class.eql?("School")%>
	<%= render :partial => "schools/school_info", :locals => {:school => @school, :show => false} %>
	<%end%>
	<%# render :partial => "schools/sidebar", :locals => {:school => @school} %>
	<div class="sidebar grid_4">
	</div>

<% if @eventable.class.to_s.eql?("School")%>
	<% render :partial => "school_event_index" %>
	<%else%>
	<% render :partial => "subject_event_index" %>
<%end%>