<div class="main grid_16">
  <%if @eventable.class.to_s.eql?("Space")%>
    <%= render :partial => "space/sidebar", :locals => {:space => @space} %>
  <%end%>
  <div class="sidebar grid_4">
  </div>

  <% if @eventable.class.to_s.eql?("Space")%>
    <%= render :partial => "space_event_index" %>
  <%else%>
    <%= render :partial => "subject_event_index" %>
  <%end%>
</div>
