<div class="main grid_16">
  <% unless @space.nil?%>
    <%= render :partial => "spaces/sidebar", :locals => {:space => @space} %>
  <%end%>

  <%= render :partial => 'events/form', :locals => {:event => @event, :title => "Novo"} %>
</div>
