<div class="main grid_16">
	<%= render :partial => "spaces/sidebar", :locals => {:space => @space} %>
	
	<%= render :partial => 'events/form', :locals => {:event => @event, :title => "Novo"} %>
</div>
