<div class="main grid_16">
	<%= render :partial => "schools/school_info", :locals => {:school => @school, :show => false} %>
	
	<div class="title">NOVO EVENTO</div>
	<%= render :partial => 'events/form', :locals => {:event => @event} %>
</div>