<div class="main grid_16">
	<%= render :partial => "schools/school_info", :locals => {:school => @school, :show => false} %>
	<%= render :partial => "schools/sidebar", :locals => {:school => @school} %>
	
	<%= render :partial => 'events/form', :locals => {:event => @event, :title => "Novo"} %>
</div>