<div class="main grid_16">
	<%= render :partial => "schools/school_info", :locals => {:school => @event.school, :show => false} %>
	<%= render :partial => "schools/sidebar", :locals => {:school => @event.school} %>

	<%= render :partial=>'events/item', :locals => {:event => @event, :show_details_link => false} %>
	
	<a name="comments"></a>
	<%= render :partial => 'shared/comment', :locals => { :commentable => @event } %>
</div>