<%# Erro de validação. %>
<% if @user_session %>
  var $form = $("#mobile-form-sign-in");
  var $newForm = $("<%= escape_javascript render 'base/form_sign_in',
                   user_session: @user_session %>");
  $form.replaceWith($newForm);
<%# Login expirado. %>
<% else %>
  var $flashMessage = $(".mobile-flash-message");
  $flashMessage.html('<%= escape_javascript render "bootstrap/message_block", type: "warning", close: true, message: ("<p><strong>Aviso.</strong> O prazo máximo de 30 dias para ativar sua conta expirou. Portanto, <strong>você só poderá utilizar o Openredu após ativar sua conta</strong>. Reenvie o e-mail de ativação para: #{ @user_email }</p>"), button: link_to("Reenviar e-mail", resend_activation_url(email: @user_email), class: "button-danger", title: "Reenviar e-mail") %>');
<% end %>