<%#
  Renderiza um item da lista de ambiente da lista de
  ambientes-cursos-disciplinas.

  Variáveis:
    environment: o ambiente (nome, URL, thumbnail e cursos).
%>
<li>
  <hr class="list-separator">
  <div class="list-environment-course-space-item">
    <div class="list-environment-course-space-header">
      <%= link_to environment[:url],
                  :class => "list-environment-course-space-image-link" do %>
        <%= image_tag environment[:thumbnail], :size => "32x32",
                      :title => environment[:name], :alt => environment[:name] %>
      <% end %>
      <h4 class="list-environment-course-space-title">
        <%= link_to environment[:name], environment[:url],
                    :class => "list-environment-course-space-link",
                    :title =>  environment[:name] %>
      </h4>
    </div>
    <% unless environment[:courses].empty? %>
      <ul class="list-mix">
        <%= render :partial => "home/environments/list_course",
                   :collection => environment[:courses],
                   :as => :course %>
      </ul>
    <% end %>
  </div>
</li>
