<%= render :partial => 'users/new/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-redu_r8_c227_s1' %>
    </li>
    <li>
      <%= link_to 'Mensagens', user_messages_path(@user),
        :class => 'icon'%>
    </li>
  </ol>
  <div id="messages">
    <%
      fake_tabs ['Recebidas', user_messages_path(@user), {:class => 'icon'}],
        ['Enviadas', index_sent_user_messages_path(@user)],
        ['Nova', new_user_message_path(@user)] do
    %>
      <%= render :partial => 'messages/new/form',
        :locals => { :message => @message } %>
    <% end %>
  </div><!-- end .messages -->
</div><!-- end .main -->
