// ==========================================================================
// Configurações
// ==========================================================================


// Perfil - Biografia
// ==========================================================================

.form-config-profile {
  .list-separator +
  & { margin-top: 10px; }

  .control-group +
  .list-separator { margin-top: 20px; }
}

.form-config-avatar { margin-top: 20px; }

.form-config-social-networks {
  margin: 0;
  list-style: none;
}

.form-config-social-network {
  input[type="hidden"] +
  &,
  & +
  & { margin-top: 10px; }

  .message-close { margin-top: 7px; }
}

.form-config-social-network-select { margin-left: 0; }

.form-config-social-network-select +
.form-config-social-network-url { margin-left: 5px; }


// Perfil - Currículo
// ==========================================================================

.curriculum-container {
  margin: 10px 0;

  .experiences,
  .educations { margin: 0; }

  form {
    .end-date { margin-top: 10px; }
    .errors_on_field { text-align: left; }
  }

  .list-mix-item { padding: 0 20px; }
  #new_education .form-education { margin-top: 20px; }
  ul + .form-horizontal { padding-top: 20px; }
}

.config-title {
  font-weight: 300;
  color: $blue2;
  margin-bottom: 20px;
  padding: 0 20px;
}

.config-experience {
  list-style: none;

  .list-mix-inner { padding: 10px; }

  .time,
  .in-between { color: $gray5; }

  .title { display: block; }

  .description { color: $gray6; }

  .title,
  .description { padding-right: 40px; }

  .edit-experience,
  .edit-education {
    float: right;
    clear: right;
    padding-top: 5px;
  }

  & +
  & {
    margin-top: 10px;

    .form-horizontal { padding-top: 10px; }
  }
}

.config-new-item {
  margin-top: 20px;
  text-align: center;
}

.curriculum-title { color: $blue2; }

.curriculum-buttons {
  margin-top: 10px;
  .add-item { margin-right: 20px; }
  .cancel {
    margin-right: 5px;
    height: 35px;
  }
}


// Conta
// ==========================================================================

.form-config-account {
  fieldset {
    margin: 10px 0;

    legend {
      font-size: 18px;
      color: $blue2;
      font-weight: 300;
      font-family: $museo-sans;
      padding: 0 0 20px 20px;
    }
  }

  .button-danger { margin-right: 10px; }
}