.breadcrumb-mini + .content-body,
.content-body + .breadcrumb-mini { margin-top: 10px; }

.breadcrumb-mini {
  margin-top: 15px;
}

.home-container {
  padding: 10px 20px;

  h3 {
    line-height: 26px;
    padding-bottom: 5px;
  }

  p { line-height: 18px; }

  ul {
    overflow: hidden;
    list-style: none;

    a {
      float: left;
      margin-bottom: 5px;
      clear: both;

      &:hover {
        text-decoration: none;
        color: $blue4;
      }
    }
  }

  .message-block-actions { text-align: center; }
}

.learning-environments {
  color: $gray6;
  background-image: url('../images/home/graphic-environments-hierarchy.png');
  background-repeat: no-repeat;
  padding-bottom: 10px;
  overflow: hidden;

  .legend { line-height: 14px; }

  .big {
    width: 404px;
    padding-top: 1px;
    padding-left: 108px;
    padding-bottom: 61px;
  }

  .small {
    width: 284px;
    float: right;

    &.institution {
      padding-right: 146px;
      padding-bottom: 23px;
    }

    &.space {
      padding-top: 127px;
      padding-right: 168px;
    }

    &.right { text-align: right; }
  }

  h3, h4 {
    font-weight: lighter;
    padding-bottom: 5px;
  }
}
