// ==========================================================================
// Configurações
// ==========================================================================


.form-config {
  .list-separator +
  & { margin-top: 10px; }

  .control-group +
  .list-separator { margin-top: 20px; }

  fieldset {
  	legend {
  		font-size: 18px;
  		color: $blue2;
  		font-weight: 300;
  		font-family: $museo-sans;
  		margin-bottom: 20px;
    }
  }
  .button-danger { margin-right: 5px; }
}

.form-config-avatar { margin-top: 20px; }

.config-title {
  font-weight: 300;
  color: $blue2;
  margin-bottom: 20px;
}

.config-experience {
  list-style: none;

  &.list-mix-item:before {
    margin-right: 0;
  }

  .list-mix-inner { padding: 10px; }

  span {
    &.time { color: $gray5; }
    &.title {
      display: block;
      width: 478px;
    }
  }

  p {
    color: $gray6;
    &.description { width: 478px; }
  }

  i {
    color: $gray5;
    font-style: normal;
  }

  .message-close {
    float: right;
  }

  .legend {
    float: right;
    clear: right;
    color: $blue2;
    padding-top: 5px;

    &:hover {
      color: $blue3;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.config-experience + .config-experience { margin-top: 10px };

.config-new-item {
  margin-top: 20px;
  text-align: center;
}

.save-curriculum {
  margin: 10px 20px;
  overflow: hidden;

  a { float: right; }
}