.breadcrumb-mini + .content-body,
.content-body + .breadcrumb-mini { margin-top: 10px; }

.content-body + .breadcrumb-mini { margin-bottom: 20px; }

.breadcrumb-mini {
  margin-top: 15px;
}

.home-container {
  padding: 10px 20px;

  h3 {
    line-height: 26px;
    padding-bottom: 5px;
  }

  ul {
    overflow: hidden;
    list-style: none;

    a {
      float: left;
      margin-bottom: 5px;
      clear: both;

      &:hover {
        text-decoration: none;
        color: $blue4;
      }
    }
  }

  .message-block-actions { text-align: center; }
}

.learning-environments {
  color: $gray6;
  background-image: url('../images/home/graphic-environments-hierarchy.png');
  background-repeat: no-repeat;
  padding-bottom: 10px;
  overflow: hidden;

  .legend { line-height: 14px; }

  .big {
    width: 404px;
    padding-top: 1px;
    padding-left: 108px;
    padding-bottom: 61px;
  }

  .small {
    width: 284px;
    float: right;

    &.institution {
      padding-right: 146px;
      padding-bottom: 23px;
    }

    &.space {
      padding-top: 127px;
      padding-right: 168px;
    }

    &.right { text-align: right; }
  }

  h3, h4 {
    font-weight: lighter;
    padding-bottom: 5px;
  }
}

.tour {
  width: 338px;
  margin: 0 0 0 -169px;

  .modal-header {
    border-bottom: 1px $gray2 solid;
    padding: 10px;
  }

  .modal-body {
    padding: 10px;

    p {
      margin-top: 0px;
      margin-bottom: 10px;
    }

    p:last-child { margin-bottom: 0; }
  }

  .modal-footer {
    background-color: white;
    padding: 10px;

    p {
      float: left;
      padding-top: 10px;
    }
  }
}

.modal-backdrop {
  opacity: 0.4;
  background-color: black;
}

#habla_window_div.habla_window_div_base {
  z-index: 1000 !important;
}

.typekit-badge {
  z-index: auto !important;
}

.home-tour {
  #tour-3 {
    margin: 0;
    top: 47px;
    left: 212px;
  }

  #tour-4 {
    margin: 0;
    top: 47px;
    left: 272px;
  }

  #tour-5 {
    margin: 0;
    top: 47px;
    left: 341px;
  }

  #tour-6 {
    margin: 0;
    top: 47px;
    left: 430px;
  }

  #tour-7 {
    margin: 0;
    top: 47px;
    left: 770px;
  }

  #tour-8 {
    margin: 0;
    top: 85px;
    left: 335px;
  }

  #tour-9 {
    margin: 0;
    top: 216px;
    left: 358px;
  }

  #tour-10 {
    margin: 0;
    top: 117px;
    left: 365px;
  }

  #tour-11 {
    margin: 0;
    top: 270px;
    left: 599px;
  }

  #tour-12 {
    margin: 0;
    top: 440px;
    left: 920px;
  }

  #tour-13 {
    margin: 0;
    top: 440px;
    left: 171px;
  }
}