
.environment-title {
  padding: 10px 20px;
  overflow: hidden;
  width: 100%;

  .portal-title-link { width: auto; }
}

.list-environment-course-space { padding: 0; }

.list-environment-course-space-item { padding: 20px; }
