li { list-style: none; }

.environment-title {
  padding: 10px 20px;
  overflow: hidden;
  width: 100%;

  .portal-title-link { width: auto; }
}

.list-environment-course-space-item {
  margin: 20px;
}
