// ==========================================================================
// Meus Contatos
// ==========================================================================

.friendship-list {
  .legend {
    font-size: 12px;
    line-height: 18px;
  }

  .link-name { font-weight: bold; }
  .general-list-item-column .legend + .legend { margin-top: 0; }
}

.list-2-columns.list-columns-separator > li:first-child:after { background: none; }

.sent-invitations {
  color: $gray5;
  letter-spacing: 0;
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;
}

.empty-invite-list {
  span { margin: 20px auto; }

  p { color: rgb(179, 179, 179); }
}

.invite-description {
  color: $gray5;
  font-weight: 300;
  display: block;
  margin-bottom: 30px;
}

span.invitation-link-resend { color: $gray5; }

.invite-friend-form {
  label {
    display: block;
    margin-bottom: 5px;
  }

  .button-success { margin-top: 5px; }
}