// ==========================================================================
// Meus Contatos
// ==========================================================================

.friendship-list {
  .legend {
    font-size: 12px;
    line-height: 18px;
  }

  .link-name { font-weight: bold; }
  .general-list-item-column .legend + .legend { margin-top: 0; }
}

.list-2-columns.list-columns-separator > li:first-child:after { background: none; }

.empty-invite-list span { margin: 20px auto; }

.invite-description {
  color: $gray5;
  font-weight: 300;
  display: block;
  margin-bottom: 30px;
}

.invite-friend-form {
  label {
    display: block;
    margin-bottom: 5px;
  }

  .button-success { margin-top: 5px; }
}