ul.requisitions {

  margin: 0;
  overflow: visible;

  li {
    list-style: none;
    width: 100%;
    margin-bottom: 0;

    &:before {
      margin: 0;
    }
  }

  .list-mix-inner {
    padding: 10px;
    margin-right: 0;

    .details {
      margin-left: 10px;
      float: left;
      width: 476px;
    }

    .avatar { float: left; }

    span {
      color: $gray6;

      &.waiting {
        float: right;
        margin-left: 10px;
        margin-top: 7px;
      }
    }
  }

  .actions {
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
    float: right;

    form {
      overflow: hidden;
      float: left;
    }

    input:last-child { margin-left: 5px; }
  }
}