// ==========================================================================
// Barra lateral esquerda
// ==========================================================================


// Wrapper
.home-left-sidebar {
  padding-top: 17px;

  a {
    &:visited { color: $blue3; }
    &:hover { color: $blue4; }
  }
}

.lecture-left-sidebar {
  @extend .home-left-sidebar;
  padding-top: 43px;
  padding-bottom: 21px;
}

.home-hello-user +
.home-profile-area { margin-top: 10px; }

// Área do perfil
.home-profile-area { overflow: hidden; }

// Links do perfil
.home-profile-area-links {
  float: left;

  .link-secondary { display: block; }

  .link-secondary +
  .link-secondary { margin-top: 5px; }
}

// Foto do perfil
.home-profile-area-photo {
  .borderradius & { @include border-radius(3px); }
}

.home-profile-area +
.nav-local { margin-top: 20px; }

.nav-local-general-course {
  span { padding-left: 21px; }
}

.breadcrumb-icons {
  margin: 20px 0;
}
