// ==========================================================================
// Estilos para a página de Mensagens
// ==========================================================================


.messages-list {
  td { padding: 2px 10px; }
}

.message-list-thumbnail {
  float: left;
  margin-right: 10px;
}

.message-list-user-display-name { width: 115px; }

.message-list-subject { width: 310px; }

.button-new-message {
	float: right;
}