// ==========================================================================
// Estilos para a página de Aplicativos
// ==========================================================================

.my-apps-list .close {
  float: right;
  margin-top: 4px;
}

.my-app .my-app-name {
  margin-bottom: 20px;
}

.my-app .my-app-infos {
  list-style: none;
}

.new-app .new-app-actions,
.my-app .my-app-actions {
  float: right;
  margin-top: 20px;
}

.my-app .my-app-actions .button-primary {
  margin-left: 2px;
}

.new-app .new-app-form,
.my-app .my-app-edit-form {
  overflow: hidden;
}

.container-fluid {
  width: 90%;
  max-width: 360px;

  .authorize-app {
    .authorization-disclaimer { padding-top: 20px; }
    .authorization-question { padding: 10px 0; }
    .positive-authorization-form {
      float: left;
      margin-right: 10px;
    }

  }
}
