// ==========================================================================
// Estilos para a página de Aplicativos
// ==========================================================================

.my-apps-list {
  margin-top: 20px;
}

.my-apps-list .close {
  float: right;
  margin-top: 4px;
}
