.home-right-sidebar {
  padding-top: 40px;

  .nav-local-separator { margin: 0; }

  li,
  ul,
  ol { list-style: none; }

  [class*="-before"]::before { vertical-align: middle; }
}

.right-sidebar-area-title { color: $gray5; }

.right-sidebar-area {
  margin-bottom: 20px;

  .progress-bar-medium { margin: 10px 0; }

  .legend {
    display: block;
    line-height: 14px;
  }

  .actions-to-do { li { margin-top: 5px; } }

  .invite-friends { margin-top: 15px; }
}
