<%#
  Botão de aguardado aceitação de amizade usado no perfil.
%>

<li class="profile-action">
  <button class="button-default icon-invite-gray_16_18-before" disabled="disabled">
    Aguardando pedido
  </button>
</li>