<%#
  Nenhum convite enviado.
%>

<div class="empty-message">
  <span class="empty-message-icon icon-invite-empty_128_130 text-replacement" title="Nenhum convite enviado">Nenhum convite enviado</span>
</div>