<%#
  Botão de adicionar contato usado no perfil.

  Variáveis:
    user: o usuário.
%>

<li class="profile-action profile-action-new-friendship">
  <%= form_for [user, Friendship.new], remote: true, html: { method: :post } do %>
    <%= hidden_field_tag "friend_id", friend.id %>
    <%= hidden_field_tag "show_user", true %>
    <button type="submit" class="button-primary icon-invite-white_blue_16_18-before">Adicionar contato</button>
  <% end %>
</li>