<%= form_for [user, Friendship.new],
  :remote => true, :html => { :method => :post, :class => 'form-loader' } do %>
  <%= hidden_field_tag "friend_id", friend.id %>
  <%= hidden_field_tag "show_user", true %>
  <button class='add-as-friend concave-button' >
    <span class="add-contact icon-add-contact-white-blue_16_18-before">Adicionar contato</span>
  </button>
<% end %>
