<%#
  Seção com o formulário de enviar convites.

  Variáveis:
    user: o usuário da sessão.
%>

<div class="content-section">
  <p class="invite-description">Amplie sua rede de contatos convidando Amigos. Procure pelo nome ou endereço de e-mail; caso a pessoa não seja cadastrada no Openredu, enviaremos um convite.</p>
  <%= form_tag user_friendships_path(user), :class => "invite-friend-form clearfix" do %>
    <div class="control-group">
      <div class="control-label">
        <label for="token-input-user-invitation">Digite um nome e/ou endereço de e-mail para convidar</label>
      </div>
      <div class="controls">
        <input type="text" name="friend_id" id="user-invitation" class="user-invitation" placeholder="Convide Amigos pelo nome ou e-mail">
      </div>
    </div>
    <%= hidden_field_tag "emails", "" %>
    <%= hidden_field_tag "goto_invitations", "true" %>
    <%= submit_tag "Convidar", :class => "button-success pull-right",
      :disabled => true, :title => "Adicione pelo menos uma pessoa para ativá-lo" %>
  <% end %>
</div>
