<div class="grid_8">
  <span class="fn">
    <%= image_tag item_pending.avatar.url(:thumb) %>
  </span>
  <span class="fn">
    <%= link_to truncate(h(item_pending.display_name), :length => 20), user_path(item_pending) %>
    <%= link_to 'Aceitar', accept_user_friendship_path(current_user.id, item_pending.id),
      :method => :post %>
    <%= link_to 'Rejeitar', decline_user_friendship_path(current_user.id, item_pending.id),
      :method => :post %>
  </span>
</div>

