<div class="breadcrumbless-wrapper clearfix">
  <div class="span3">
    <%= render "users/profile_sidebar", user: @user %>
  </div>
  <div class="span10">
    <div class="content-area">
      <div class="content-body">
        <%= render "contact_list", friends: @friends %>
      </div>
    </div>
  </div>
</div>