<% if @profile %>
  <%= render :partial => 'users/new/profile_sidebar' %>
<% else %>
  <%= render :partial => 'users/new/home_sidebar' %>
<% end %>
<div class="main grid_10" style="width: 580px;">
  <ol id="breadcrumbs" class="clearfix">
    <li>
      <a href="" class="replacement home icon icon-redu_r8_c227_s1">Home</a>
    </li>
  </ol>

  <div id="contacts">
    <ul class="clearfix">
      <%= render :partial => "users/new/item_medium", :collection => @friends %>
    </ul>
    <%= will_paginate @friends, :renderer => EndlessRenderer %>
  </div>

</div><!-- end .main -->
