<% unless invitations.empty? and friendship_requests.empty? %>
  <div class="content-section clearfix">
    <h6 class="sent-invitations">Convites enviados: <%= (invitations.count + friendship_requests.count) %></h6>
    <%= form_tag destroy_invitations_invitations_path, :method => :post do %>
      <%= render :partial => 'invitations/invitation_item', :collection => invitations %>
      <%= render :partial => 'invitations/friendship_item', :collection => friendship_requests %>
    <% end %>
  </div>
<% else %>
  <div class="empty-invite-list">
    <span class="icon-invite-empty_128_130 show text-replacement">
  </div>
<% end %>
