<%#
  Gerenciamento de convites enviados.

  Variáveis:
    invitations: convites enviados.
    friendship_requests: convites de amizade enviados.
%>

<div class="sent-invitations-section">
  <% unless invitations.empty? and friendship_requests.empty? %>
    <div class="content-section">
      <h6 class="sent-invitations">Convites enviados: <span class="sent-invitations-counter"><%= (invitations.count + friendship_requests.count) %></span></h6>
      <ul class="sent-invitations-list">
        <%= render :partial => "invitations/invitation_item", :collection => invitations %>
        <%= render :partial => "invitations/friendship_item", :collection => friendship_requests %>
      </ul>
    </div>
  <% else %>
    <%= render "shared/empty_message", :icon_message => "Nenhum convite enviado",
      :icon_class => "icon-invite-empty_128_130" %>
  <% end %>
</div>
