<li id="experience-<%= item.id %>" class="list-mix-item config-experience clearfix">
  <div class="list-mix-inner">
    <div class="grid_5">
      <div class="grid_4">
        <%= link_to "×", user_experience_path(item.user, item),
          :remote => true, :method => :delete,
          :class => "message-close",
          :confirm => "Você tem certeza que deseja excluir esta experiência? Não será mais possível recuperá-la." %>
        <a href="#" class="legend">editar</a>
        <%= render :partial => "experiences/item_detail", :locals => { :item => item } %>
      </div>
    </div>
  </div>
</li>
