var $form = $("#new_experience");
<% if @experience.valid? %>
  $form.slideToggle().remove();
  var experience_item = "<%= escape_javascript render :partial => 'experiences/item',
  :locals => { :item => @experience } %>"
  $("#curriculum .experiences").append(experience_item);

  <%# Coloca novo form %>
  var experience_form = "<%= escape_javascript render :partial => 'experiences/form',
    :locals => { :user => @user, :experience => Experience.new } %>"
  $("#curriculum .experiences").after(experience_form);
  $("#curriculum .new-experience-button").show();
<% else %>
  var $errorsExplanation = $form.find('.errorExplanation');
  if ($errorsExplanation.length == 0) {
    var errorsExplanationTemplate = "<%= escape_javascript render 'shared/error_explanation'  %>";
    $form.prepend(errorsExplanationTemplate);
  }

  <%# mostra todos os erros %>
  var $errors = $('<ul \>');
  <% @experience.errors.full_messages.each do |error| %>
    $errors.append("<li><%= escape_javascript(error) %></li>");
  <% end %>

  $errorsExplanation = $form.find('.errorExplanation');
  $errorsExplanation.find('ul').replaceWith($errors);
  $errorsExplanation.show();
<% end %>

