<% unless @invitations.empty? %>
  <table class="common">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>Papel</th>
        <th>Estado</th>
        <th>Ação</th>
      </tr>
    </thead>
    <% @invitations.each do |item| %>
      <tr>
        <td><%= item.email %></td>
        <td><%= item.role.name %></td>
        <td><%= item.state %></td>
        <td>Enviar novamente</td>
      </tr>
    <% end %>
  <% else %>
    <div class="box_notice">
      Este ambiente de ensino não possui nenhum curso.
      <%= link_to "Crie um agora!", new_environment_course_path(@environment) %>
    </div>
  <% end %>
</table>
