<div class="container">
  <%= render :partial => "pages/basic/authoring/title" %>
  <div class="content-body authoring-content">
    <%= render :partial => "pages/basic/authoring/introduction" %>
    <hr class="list-separator"/>
    <%= render :partial => "pages/basic/authoring/benefits" %>
    <hr class="list-separator"/>
    <%= render :partial => "pages/basic/authoring/projects" %>
  </div>
</div>