		<div class="tags">
                  <span class="title">Palavras-chave</span>
                  <ul class="tags clearfix">
                    <%= render :partial => 'tags/item', :collection => tags %>
                  </ul>
                </div>
