<%= content_for :wrapper_class do %>overlay<% end %>
<div id="error" class="body error-500 container_16">
  <h1 id="logo" class="logo-top grid_5 omega"><%= link_to "", home_path %></h1>
  <div class="infos alert bad-server grid_10">
    <h2 class="warning"> <span class="ops-call">Ops!</span>Algo inesperado aconteceu.</h2>
    <h3 class="error-name"><span class="call">ERRO</span><span class="number">500</span></h3>
    <div class="description-error grid_7">
      <h4 class="title">Por quê?</h4>
      <p>O sistema não agiu conforme esperávamos, portanto ainda não sabemos o que exatamente causou essa ação inesperada</p>
      <h4 class="title">Sugerimos:</h4>
      <p>Pedimos desculpas pelo incoveniente. Recomendamos que você entre em contado conosco e explique-nos o que fazia no Openredu (e onde) antes do erro acontecer. Prometemos nos esforçar ao máximo para resolvê-lo o mais rápido possível. Você também pode <span class="back-call"><%= link_to 'voltar para a página anterior', :back %></span></p>
      <h4 class="title">Você pode nos ajudar:</h4>
    </div>
    <%= render 'base/contact_form', :remote => true, :css_class => 'concave-form grid_9', :id => "contact-form", :body_placeholder => 'Detalhe a situação que lhe levou a achar este erro, bem como o que fazia antes desta mensagem aparecer.' %>
  </div>
</div><!-- end-container -->
