<div id="error-header" class="grid_9 push_2 omega">
<h2 class="message">Ops! Erro 500</h2>
<span class="detail">Algo de errado aconteceu no Redu.</span>
</div>

<%= render :partial => 'errors/contact' %>
