<tr id="<%= item.id %>-lecture" class="asset-item clearfix">
  <td class="index">
    <%= item.position %>
  </td>
  <td class="name">
    <%= link_to item.name,
      space_subject_lecture_path(space, subject, item)  %>
  </td>
  <td>
    <%= link_to "Remover",
      space_subject_lecture_path(space, subject, item),
      :method => :delete,
      :class => "icon icon-x-gray_8_8 delete",
      :confirm => "Você tem certeza que deseja deletar esta aula deste módulo? Todas as informações serão perdidas."  %>
  </td>
</tr>
