<li class="clearfix">
  <span class="name">
    <%= link_to exam_item.name, space_subject_exam_path(@space, @subject, exam_item) %>
  </span>
  <span class="headlines">
    <span class="things">
      <%= truncate(exam_item.description, :length => 150) %>
    </span>
  </span>
</li>
