<% if lazy_item.existent? %>
  <%= render :partial => "#{lazy_item.assetable.class.to_s.tableize.singularize}_item", :object => lazy_item.assetable %>
<% else %>
  <li class="clearfix">
    <%= link_to lazy_item.name, new_subject_lecture_path(@subject, :name => "teste", :type => lazy_item.lazy_type, :lazy => lazy_item.id), :class => "name" %>
    <%= lazy_item.lazy_type %>
  </li>
<% end %>
