<% if can? :attend, subject %>
  <% profile = current_user.profile_for(subject) %>
  <% unless profile.nil? %>
    <strong>Seu progresso</strong>
    <div class="progress-bar">
      <span class="complete" style="width: <%= profile.grade %>%">
        <span>
          <%= sprintf('%.1f', profile.grade) %>%
        </span>
      </span>
    </div>
  <% end %>
<% end %>
