<div id="progress_bar" class="progress">
  <span class="progress-value"><%= student_grade %>%</span>
  <span class="progress-type">Módulo:</span>
  <div class="progress-completed">
    <div class="completed" style="width: <%= student_grade %>%;">
    </div>
  </div>
</div>
