<div class="sidebar alpha grid_3">
  <div class="image-frame subject-frame">
    <!-- <%# Nao setar width e height na imagem %> -->
    <%= link_to (@course.environment) do %>
      <%= image_tag @course.environment.avatar.url(:thumb_90),
        :alt => 'profile', :size => "90x90", :class => "environment"%>
    <% end %>
    <span class="subject icons-big icon-subject-white_64_66 replacement"><%=  @subject.title %></span>
  </div>

  <%= render :partial => "lectures/student_actions" %>
  <ul class="local-nav">
  </ul><!-- end .local-nav -->
</div>

