<%= image_tag 'loadingAnimation.gif', :id => 'loading_bar', :style => "display: none; margin-top: 40px"%>
<table id="user_list_table" class="common users" width="100%">
  <thead>
    <tr>
      <th width="50%">Usuário</th>
      <th width="15%">Papel</th>
      <th width="15%">Inscricão em:</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'subjects/user_item_admin', :collection => @memberships %>
  </tbody>
</table>
