<tr id="user-<%= user_item_admin.id %>">
  <td>
    <%= image_tag user_item_admin.avatar(:thumb_32),
          :class => "avatar" %>
    <%= link_to user_item_admin.display_name, user_item_admin,
      :rarget => "_blank", :class => "user" %>
  </td>
  <td>
    <% if user_item_admin.role == Role[:member] %>
      <span class="role icon icon-student-gray_16_16">Aluno</span>
    <% elsif user_item_admin.role == Role[:teacher] %>
      <span class="role icon icon-teacher-gray_16_16">Professor</span>
    <% elsif user_item_admin.role == Role[:tutor] %>
      <span class="role icon icon-tutor-gray_16_16">Tutor</span>
    <% elsif user_item_admin.role == Role[:environment_admin] %>
      <span class="role icon icon-administrator-gray_16_16">Administrador</span>
    <% end %>
  </td>
  <td>
    <span class="date"><%= time_ago_in_words(user_item_admin.created_at) %></span>
  </td>
</tr>
