<div id="breadcrumbs"><b><strong>Cursos</strong></b> >  </div>

<h2>Todos os seus cursos</h2><br /><br />

<ul>
  <% @subjects.each do |subject| %>
    
      
<li><%= link_to subject.title, admin_show_path(subject) %> | <%= link_to "Editar", edit_subject_path(subject)%> |                       <%=link_to'Excluir', subject, :confirm => 'Tem certeza?', :method => :delete %> |
<%= link_to "Adicionar Evento", new_subject_event_path(subject)%> </li>
      
      

   
  <%end%>
</ul>


