<div class="grid_16">
  <%= render :partial => "subjects/publish_unpublish" %>
  <% if @subject.published? %>
    <%= link_to "Matricule-se", enroll_space_subject_path(@space, @subject),
        :class => "button" %>
  <% end %>
  <% unless @subject.lazy_assets.empty? %>
    <div class="lazy_list grid_12 alpha">
      <ul class="default">
        <%= render :partial => "lazy_item", :collection => @subject.lazy_assets %>
      </ul>
    </div>
  <% else %>
    <div class="box_notice">Nenhum recurso com criação pendente</div>
  <% end %>
</div>
