<div class="grid_16" id="subject">
  <div class="fake-tabs grid_11 alpha omega">
    <%= render :partial => 'subjects/tabs_menu' %>
    <div class="panel">
      <% unless @subject.lazy_assets.empty? %>
        <div class="lazy_list">
          <% unless @subject.ready_to_be_published? %>
          <div class="pretty-text">
            <p>Antes de publicar este módulo você precisa concluir a criação dos ítens abaixo. Caso decida publicar agora, somente os recursos da aba <em>Recursos</em> estarão presentes no módulo.</p>
          </div>
        <% else %>
          <div class="box_notice">O módulo já está pronto para ser publicado. <%= link_to "clique aqui", publish_space_subject_path(@space, @subject) %> para publica-lo.</div>
        <% end %>
          <ul class="default lazy-assets">
            <%= render :partial => "lazy_item",
              :collection => @subject.lazy_assets %>
          </ul>
        </div>
      <% else %>
        <div class="box_notice">Nenhum recurso com criação pendente</div>
      <% end %>
    </div>
  </div>
  <%= render :partial => 'subjects/sidebar' %>
</div>
