<div class="grid_16">
  <%= render :partial => 'subjects/publish_unpublish' %>
  <div class="grid_11">
    <ul class="default">
      <li class="clearfix">
        <label class="name"><%= @subject.title %></label>

        <span class="call">Descrição:</span>
        <span class="things">
          <%= h @subject.description %>
        </span><br />

        <br /><b><%= link_to "Inscrever-se", enroll_space_subject_path(@space, @subject.id) %></b>

      </li>
    </ul>
  </div><!-- end grid_11 -->

</div>
