<%- @meta = { :description => "Curso \"#{@subject.title}\" no  #{AppConfig.community_name}.", :keywords => "#{@subject.title}, #{@subject.tags.join(", ") unless @subject.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>


<div class="grid_16" id="subject">
  <div class="publish">
    <% unless @subject.published? %>
      <div class="box_notice">Este módulo ainda não foi publicado pois sua criação precisa ser finalizada. <%= link_to "Clique aqui", lazy_space_subject_path(@space, @subject) %> para finaliza-la.</div>
    <% end %>
  </div>

  <div class="fake-tabs grid_11 alpha omega">
    <%= render :partial => 'subjects/tabs_menu' %>
    <div class="panel">
      <ul class="default">
        <%= render :partial => 'subjects/asset_item',
          :collection => @subject.assets, :as => :item %>
      </ul>
    </div>
  </div>

  <%= render :partial => 'subjects/sidebar' %>
</div><!-- end grid_16 -->
