<%- @meta = { :description => "Curso \"#{@subject.title}\" no  #{AppConfig.community_name}.", :keywords => "#{@subject.title}, #{@subject.tags.join(", ") unless @subject.tags.nil?}", :robots => AppConfig.robots_meta_show_content }%>


<div class="grid_16" id="subject">

  <div class="fake-tabs grid_11 alpha omega">
    <%= render :partial => 'subjects/tabs_menu' %>
    <div class="panel">
      <% unless @subject.assets.empty? %>
      <ul class="default subject-assets">
        <%= render :partial => 'subjects/asset_item',
          :collection => @subject.assets, :as => :item %>
      </ul>
    <% else %>
      <div class="box_notice">Você precisa finalizar a criação dos recursos. <%= link_to "Clique aqui", lazy_space_subject_path(@space, @subject) %></div>
    <% end %>
    </div>
  </div>

  <%= render :partial => 'subjects/sidebar' %>
</div><!-- end grid_16 -->
