.content-body {
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 20px;

  .back {
    float: right;
    margin-right: 40px;
  }

  .introduction {
    padding: 20px 40px 20px 40px;

    h4 {
      font-weight: 100;
      color: $gray6;
    }

    h4 + h4 { margin-top: 20px; }
  }
}