.title-authoring {
  padding-top: 60px;
  background-image: url("../images/light.png");
  background-repeat: no-repeat;
  background-position: 0;

  .title-call { font-weight: 500; }

  .subtitle-call {
    color: $gray6;
    margin-top: 20px;
    font-family: $museo-sans-rounded;
  }

}