.welcome-authoring {
  padding-top: 60px;
  background-image: url("../images/light.png");
  background-repeat: no-repeat;
  background-position: 0;

  .authoring-call {
    color: $gray6;
    padding-bottom: 20px;
    font-family: $museo-sans-rounded;
  }

}