// ==========================================================================
// Compartilhado.
// ==========================================================================


// Títulos da área de navegação.
.landing-navigation-title {
  $color: $gray3;
  color: $color;
  display: block;
  font: 500 60px/56px $museo-sans-rounded;
  letter-spacing: -3px;

  &:hover {
    text-decoration: none;
    color: $color;
  }

  .textshadow & { text-shadow: 0 1px 0 $gray-drop-shadow; }
}

.landing-navigation-subtitle {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 36px;
  font-weight: 500;
}

// Usado pelas modais de planos, termos de uso e política de privacidade.
.modal-landing {
  p + p { margin-top: 20px; }

  .modal-header .sprite-before:before { vertical-align: middle; }

  .modal-body { padding: 20px 40px 20px 60px; }

  th.plan-column, th.marker { width: 76px;}

}

// Erros dos formulários.
.errors_on_field {
  color: rgb(255, 109, 109);
  font-size: 11px ;
  list-style: none ;
}
