// ==========================================================================
// Segmentos.
// ==========================================================================

// Variáveis.
// ==========================================================================

// Raio da borda da lista.
$landing-segment-border-radius: 10px;
// Deslocamento do botão.
$landing-segment-button-offset: 80px;


// Placeholders.
// ==========================================================================

// Comum aos botões.
%landing-segment-button {
  $button-size: 112px;
  @include square($button-size);
  display: block;
  position: absolute;
  left: (- $landing-segment-button-offset);
  // 50% - ($button-size / 2) 
  top: -webkit-calc(50% - 56px);
  top:    -moz-calc(50% - 56px);
  top:         calc(50% - 56px);

  .ie8 { top: 20%; }
}


// Encapsulador externo.
.landing-segment-outer-wrapper { 
  padding: 20px 40px 20px 20px; 

  h4 { margin: 0 0 5px 20px; }
}

// Encapsulador de cada segmento.
.landing-segment-wrapper {
  position: relative;
  margin-left: $landing-segment-button-offset;

  & + & { margin-top: 20px; }
}

// Botões.

.landing-segment-button-school {
  @extend %landing-segment-button;
  background-image: url("../images/landing/button-school.png");
}

.landing-segment-button-independent {
  @extend %landing-segment-button;
  background-image: url("../images/landing/button-independent.png");
}

.landing-segment-button-hr {
  @extend %landing-segment-button;
  background-image: url("../images/landing/button-hr.png");
}

// List de segmentos.
.landing-segments {
  margin: 0;
  list-style: none;
  border: 1px solid $blue2;
  background-color: $gray2;

  .borderradius & { @include border-radius($landing-segment-border-radius); }

  .boxshadow & { 
    $box-shadow:
       1px  1px 0 $white inset
    , -1px -1px 0 $white inset;
    @include box-shadow($box-shadow); 
  }

  > .landing-segment + .landing-segment {
    border-top: 1px solid $blue2;

    .boxshadow & { @include box-shadow(0 1px 0 $white inset); }
  }
}

// Segmento.

.landing-segment { overflow: hidden; }

.landing-segment-type,
.landing-segment-benefits { 
  @include box-sizing(border-box);
  width: 50%; 
}

.landing-segment-type { 
  display: table;
  float: left;
  padding: 0 20px 0 30px;
  height: 112px;

  // Caso especial para o segmento de R.H.
  .landing-segment-hr & { height: 165px; }

  // Bordas arredondadas.

  .borderradius .landing-segment:first-child & { @include border-radius($landing-segment-border-radius 0 0 0); }

  .borderradius .landing-segment:last-child & { @include border-radius(0 0 0 $landing-segment-border-radius); }

  .borderradius .landing-segment:first-child:last-child & { @include border-radius($landing-segment-border-radius 0 0 $landing-segment-border-radius); }

}

.landing-segment-title {
  display: table-cell;
  vertical-align: middle;
  font: 300 36px/36px $museo-sans;
  letter-spacing: -2px;
}

.landing-segment-benefits {
  overflow: hidden;
  background-color: $gray1;
  padding: 20px;
  border-left: 1px solid $white;

  .landing-segment:first-child & {
    .borderradius & { @include border-radius(0 $landing-segment-border-radius 0 0); }
  }

  .landing-segment:last-child & {
    .borderradius & { @include border-radius(0 0 $landing-segment-border-radius 0); }
  }

  .landing-segment:first-child:last-child & {
    .borderradius & { @include border-radius(0 $landing-segment-border-radius $landing-segment-border-radius 0); }
  }

  .boxshadow & { @include box-shadow(1px 0 0 $gray3 inset); }

  > ul { list-style: disc inside none; }
}

.landing-segment-sublist {
  list-style: none;
  margin: 0 0 5px 50px;

  li { margin-top: 5px; }
}
