// ==========================================================================
// Sprites.
// ==========================================================================

@import "compass/utilities/sprites/base";

$sprite-layout: smart;
$sprite-sprite-dimensions: true;
$sprite-sprite-base-class: ".sprite-landing" !default;

@import "landing/sprite/*.png";
@include all-sprite-sprites;

.sprite-plan-institution-before {
  &:before { @extend .sprite-plan-institution; }
}

.sprite-plan-independent-before {
  &:before { @extend .sprite-plan-independent; }
}

.sprite-plan-consultancy-hr-before {
  &:before { @extend .sprite-plan-consultancy-hr; }
}

.sprite-medal-silver-after {
  &:after { @extend .sprite-medal-silver; }
}

.sprite-medal-gold-after {
  &:after { @extend .sprite-medal-gold; }
}

.sprite-sign-up-green_32_34-before {
  &:before { @extend .sprite-sign-up-green_32_34; }
}

.sprite-landing {
  display: inline-block;
  vertical-align: middle;
}
