// ==========================================================================
// Funcionalidades.
// ==========================================================================

.line-gray3 {
  @include box-sizing(border-box);
  background-color: $gray3;
  height: 3px;
  margin: 0;
  border-color: $white;
  border-right-width: 0;
}

.landing-functionalities {
  .landing-navigation-title { margin: 20px; }

  p { color: $gray-drop-shadow; }

  h2 + h4,
  h4 + p { margin-top: 20px; }

  hr { @extend .line-gray3; }
}

.landing-functionality:hover p { color: $gray6; }
