// ==========================================================================
// Cabeçalho.
// ==========================================================================

// Wrapper de tudo.
.landing-header {
  height: 85px;
  background-color: $gray3;

  .boxshadow & {
    $box-shadow:
      0 -1px 0 $white inset
    , 0  1px 0 $gray-drop-shadow;
    @include box-shadow($box-shadow);
  }

  .ie8 & { border-bottom: 1px solid $gray-drop-shadow; }

  .form-login {
    float: right;
    width: 240px;
    background-color: $white;
    overflow: hidden;
    display: block;

    hr { margin: 0;}

    .control-checkbox { font-size: 11px; }

    .user-dates {
      overflow: hidden;
      padding: 20px 10px 10px 10px;
    }

    .control-group + .control-group { margin-top: 0; }

    button {
      margin-top: 10px;
      float: right;
    }

    .fb-login {
      margin: 20px 0;
      text-align: center;
    }

    .recover-login {
      text-align: center;
      font-size: 11px;
      padding: 10px;
    }
  }
}

// Wrapper do logo.
.landing-logo-wrapper {
  @include size(300px, 70px);
  float: left;
  position: relative;
  margin-left: -112px;

  &:hover { @include sprite-sprite(light-logo); }
}

// Logo.
.landing-logo {
  position: absolute;
  right: -3px;
  bottom: 0;
}

// Wrapper dos botões.
.landing-header-buttons {
  float: right;
  margin-top: 20px;
}

.landing-button-sign-up +
.landing-button-sign-in { margin-left: 40px; }

.landing-button-sign-up,
.landing-button-sign-in {
  display: inline-block;
  overflow: hidden;

  [class*="icon-"] {
    margin: 5px 10px 0 0;
    float: left;
  }
}
