
.landing-navigation {
  @include box-sizing(border-box);
  margin: -70px 0 40px;
  background-color: $white;
  border: 1px solid $gray1;
  list-style: none;

  .borderradius & { @include border-radius(10px); }

  .boxshadow & { @include box-shadow(0 1px 10px 1px rgba(0, 0, 0, 0.5)); }
}

.landing-navigation-item {

  .boxshadow &:first-child { @include box-shadow(0 -1px 0 $white inset); }

  & + & {
    border-top: 1px solid $gray3;

    $box-shadow:
      0 1px 0 $white inset
    , 0 -1px 0 $white inset;
    .boxshadow & { @include box-shadow($box-shadow); }
  }

  .boxshadow &:last-child { @include box-shadow(0 1px 0 $white inset); }
  
}

.landing-navigation-title {
  font-family: museo-sans-rounded, museo-sans;
  font-size: 60px;
  font-weight: 500;
  color: $gray3;
  line-height: 56px;
  letter-spacing: -3px;

  .textshadow & { text-shadow: 0 1px 0 rgb(178, 178, 178); }
}

