// ==========================================================================
// Mensagem de bem vindo.
// ==========================================================================

// Wrapper de tudo.
.landing-welcome {
  @include box-sizing(border-box);
  height: 470px;
  padding-top: 60px;
  background: transparent url('../images/landing/illustration.png') no-repeat center;
}

// Título.
.landing-welcome-title {
  font: 500 60px/56px $museo-sans-rounded;
  color: $white;
  letter-spacing: -3px;
  margin-left: -3px;

  .textshadow & { text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); }
}

.landing-welcome-title +
.landing-welcome-message { margin-top: 20px; }

// Mensagem.
.landing-welcome-message {
  font: 700 21px/28px $museo-sans-rounded;
  letter-spacing: -1px;
  max-width: 280px;

  .textshadow & { text-shadow: 1px 1px 0 $white; }
}
