// ==========================================================================
// Parceiros.
// ==========================================================================

// Encapsulador.
.landing-partners-wrapper {
  padding: 20px 20px 40px;

  h4 {
    color: $gray3;

    .textshadow & { text-shadow: 0 1px 0 $gray5; }
  }

  h4 + .landing-partners { margin-top: 20px; }
}

.landing-partners { overflow: hidden; }

// Patrocinador.
.landing-partner {
  float: left;

  & + & { margin-left: 20px; }
}
