// ==========================================================================
// VANTAGENS
// ==========================================================================
.landing-advantages {
  width: 100%;
  display: inline-block;

  .landing-navigation-title { margin: 20px; }

  .type-user {
    display: block;
    float: left;
    max-width: 200px;

    .call + .call {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .call {
      text-align: center;
      font-size: 13px;
      line-height: 18px;
      width: 200px;
      font-family: arial;
    }

    &.teacher {
      margin: 0 39px;
      .call { color: rgb(255, 124, 53); }

      .button-user {
        h5 { margin-left: 65px; }

        h6 {
          margin-left: 79px;

          .textshadow & { text-shadow: 0 -1px 0 rgb(242, 74, 0); }
        }
      }
    }

    &.gestor {
      margin: 0 39px 0 0 ;

      .call { color: rgb(21, 138, 196); }

      .button-user h5 { margin-left: 48px; }
    }

     &.developer {
      margin-right: 10px;

      .call { color: rgb(255, 109, 109); }

      .button-user {
        h5 { margin-left: 70px; }

        h6 {
          margin-left: 68px;

          .textshadow & { text-shadow: 0 -1px 0 rgb(192, 39, 45); }
        }
      }
    }

    &.student {
      margin-left: 10px;
      float: left;

      .call { color: rgb(97, 160, 128); }
    }

    .button-user {
      h5 {
        color: white;
        position: absolute;
        margin-top: -85px;
        margin-left: 56px;
        font-size: 36px;

        .textshadow & { text-shadow: 0 1px 3px $black; }
      }

      h6 {
        font-size: 10px;
        font-family: arial, sans-serif;
        position: absolute;
        color: white;
        margin-top: -60px;
        letter-spacing: 0;
      }
    }
  }
}
