// ==========================================================================
// Área da navegação.
// ==========================================================================

.landing-navigation {
  @include box-sizing(border-box);
  margin: -70px 0 40px;
  background-color: $white;
  border: 1px solid $gray1;
  list-style: none;

  .borderradius & { @include border-radius(10px); }

  .boxshadow & { @include box-shadow(0 1px 10px 1px rgba(0, 0, 0, 0.5)); }

  h4 { color: $gray6; }
}

.landing-navigation-item {

  .boxshadow &:first-child { @include box-shadow(0 -1px 0 $white inset); }

  & + & {
    border-top: 1px solid $gray3;

    $box-shadow:
      0 1px 0 $white inset
    , 0 -1px 0 $white inset;
    .boxshadow & { @include box-shadow($box-shadow); }
  }

  .boxshadow &:last-child { @include box-shadow(0 1px 0 $white inset); }
  
}
