// ==========================================================================
// Compartilhado.
// ==========================================================================


// Títulos da área de navegação.
.landing-navigation-title {
  $color: $gray3;
  color: $color;
  display: block;
  font: 500 60px/56px $museo-sans-rounded;
  letter-spacing: -3px;

  &:hover {
    text-decoration: none;
    color: $color;
  }

  .textshadow & { text-shadow: 0 1px 0 $gray-drop-shadow; }
}

// Botão de entrar com o Facebook.
.landing-facebook-sign-in {
  text-align: center;

  // TODO: O estilo do botão não deveria ter nenhuma margem. Remover esta linha quando o estilo do botão for organizado.
  a { margin: 0; }
}

// Usado pelas modais de planos, termos de uso e política de privacidade.
.modal-landing {
  p + p { margin-top: 20px; }

  .modal-header .sprite-before:before { vertical-align: middle; }

  .modal-body { padding: 20px 40px 20px 60px; }

  th.plan-column { width: 60px;}

}
