// ==========================================================================
// Funcionalidades.
// ==========================================================================

.landing-functionalities {
  .landing-navigation-title { margin: 20px; }

  p { color: $gray-drop-shadow; }

  &:hover p { color: $gray6; }

  h2 + h4,
  h4 + p { margin-top: 20px; }
}
