// ==========================================================================
// PLANS
// ==========================================================================
.landing-plans {
  margin: 0 0 0 8px;

  .landing-navigation-title {
    margin-bottom: 30px;
  }

  .type-plan {
    margin: 0 9px;
    width: 208px;
    display: inline-block;
    border: 1px solid rgb(115, 195, 230);
    background-color: rgb(247, 247, 247);

    .borderradius & { @include border-radius(10px); }

    .type-plan-icon {
      padding: 10px 10px 0 10px;
      height: 100px;

      h3 {
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -1px;
        text-align: center;
        color: rgb(109, 110, 111);
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .free-plan {
      text-align: center;
      background-color: rgb(225, 241, 225);

      h4 {
        font-size: 13px;
      }

      h4 {
        color: rgb(95, 192, 128);
      }

      .limit-users-free {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: -2px;
        font-weight: 300;
      }
    }

    .learn-plan {
      display: block;
      padding: 0 10px 10px 10px;
      text-align: center;
    }
  }
}

.landing-plan-icon {
  display: block;
  margin: 0 auto;
}

.landing-plan-medal { vertical-align: top; }
