// ==========================================================================
// Área de rede social & chat.
// ==========================================================================

.landing-social-network-n-chat { margin-bottom: 20px; }

// Posicionamento das imagens de fundo.

.landing-social-network-wrapper,
.landing-chat-wrapper { position: relative; }

.landing-social-network-sprite {
  position: absolute;
  left: -155px;
  top: 15px;
}

.landing-chat-sprite {
  position: absolute;
  left: 150px;
  top: -65px;
}

// Rede social.
.landing-social-network-wrapper { text-align: right; }

// Chat.
.landing-chat-wrapper {
  text-align: left;

  h4 { width: 280px; }
}
