// ==========================================================================
// Área do mural de gerenciamento e suporte
// ==========================================================================

.landing-management-support {
  // @include box-sizing(border-box);
  overflow: hidden;
  height: 210px;
  background-color: $white;

  h3 {
    margin-top: 20px;
  }
}

.icon-129px-configuracoes, .bkg-suporte {
  position: absolute;
  display: block;
}

.icon-129px-configuracoes {
  @include size(128px, 130px);
  background-image: url("../images/landing/icon-129px-configuracoes.png");
  margin-left: -160px;
}

.landing-support-content {
  @include size(395px, 120px);
  background: url("../images/landing/bkg-suporte.png");
  height: 210px;
  float: right;
}

