// ==========================================================================
// Área dos filtros.
// ==========================================================================

.landingfilters {
  text-align: center;
  padding: 20px 0 19px;

  .filters { display: inline-block; }

  .filter {
    font-size: 16px;
    line-height: 28px;
  }
}

.logado {
  width: 100%;
  position: fixed;
  top:0;
  z-index: 999;
}

.page-nav-fixed.landingfilters {
  position: fixed;
  top:0; //se estiver logado, o top é de 42px;
  z-index: 999;
  text-align: center;
  padding: 20px 0 19px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.03) 99%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(99%,rgba(255,255,255,0.03)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.03) 99%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.03) 99%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.03) 99%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.03) 99%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
;
  width: 940px;

  .borderradius & { @include border-radius(10px 10px 0 0); }


  .filters { display: inline-block; }

  .filter {
    font-size: 16px;
    line-height: 28px;
    }
}
