// Mixins.scss
// Snippets de CSS reusável para desenvolver rápido e manter o código legível.
// -----------------------------------------------------------------


@mixin linkVisited($color) {
  color: $color;

  &:visited { color: $color; }
}

@mixin linkColor($color) {
  @include linkVisited($color);

  &:hover { color: $color; }
}

@mixin reduGradient($color1, $color2, $slider: 0.5) {
  @if ($slider < 0.5) {
    @include background-image(linear-gradient(bottom, $color1, $color2 ($slider * 2)));
  }
  @if ($slider == 0.5) {
    @include background-image(linear-gradient(bottom, $color1, $color2));
  }
  @if ($slider > 0.5) {
    @include background-image(linear-gradient(bottom, $color1 (($slider * 2) - 1), $color2));
  }
}

// MIXINS DE UTILIDADE.
// --------------------------------------------------

@mixin text-replacement() {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

@mixin horizontal-list() {
  list-style: none;
  margin: 0;
  overflow: hidden;

  li { float: left; }
}

@mixin pseudo-before($marginRight: 5px, $float: true) {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-right: $marginRight;

  @if ($float) {
    float: left;
  }
}

@mixin pseudo-after($marginLeft: 5px, $float: true) {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-left: $marginLeft;

  @if ($float) {
    float: right;
  }
}

// Clearfix.
// --------
// Para limpar floats like a boss h5bp.com/q.
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// Webkit-style focus.
// ------------------
@mixin tab-focus() {
  // Default.
  outline: thin dotted #333;
  // Webkit.
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Alinha centralmente um elemento block.
// ----------------------------------
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// IE7 inline-block.
// ----------------
@mixin ie7-inline-block() {
  *display: inline; /* IE7 inline-block hack. */
  *zoom: 1;
}

// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
@mixin ie7-restore-left-whitespace() {
  *margin-left: .3em;

  &:first-child {
    *margin-left: 0;
  }
}

@mixin ie7-restore-right-whitespace() {
  *margin-right: .3em;

  &:last-child {
    *margin-left: 0;
  }
}

// Atalhos de dimensionamento.
// -------------------------
@mixin size($width: 5px, $height: 5px) {
  width: $width;
  height: $height;
}
@mixin square($size: 5px) {
  @include size($size, $size);
}


// Fontes.
// ==========================================================================

@mixin font-family-sans-serif { font-family: $base-font-family; }

@mixin font-shorthand($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin font-sans-serif($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
  @include font-family-sans-serif;
  @include font-shorthand($size, $weight, $lineHeight);
  letter-spacing: normal;
}

@mixin font-family-monospace { font-family: $monospaceFontFamily; }


// PROPRIEDADES CSS3.
// --------------------------------------------------

// Border Radius.
@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
// Regra ao utilizar bordas em apenas alguns lados do elemento
@mixin border-radius-no-all($radius-side: 0px 0px 0px 0px) {
   -webkit-border-radius: $radius-side;
    border-radius: $radius-side;
}


// Drop shadows.
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}
@mixin box-shadow-2($shadow1, $shadow2) {
  -webkit-box-shadow: $shadow1, $shadow2;
     -moz-box-shadow: $shadow1, $shadow2;
          box-shadow: $shadow1, $shadow2;
}

// Transições.
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Background clipping.
// Heads up: FF 3.6 and under need "padding" instead of "padding-box".
@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
     -moz-background-clip: $clip;
          background-clip: $clip;
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

// Opacidade.
@mixin opacity($opacity: 100) {
  opacity: $opacity / 100;
   filter: alpha(opacity=$opacity);
}



// BACKGROUNDS.
// --------------------------------------------------

// Cria um gradiente vertical de duas cores.
@mixin filter-gradient-vertical($startColor, $endColor, $startColorPos: 0%, $endColorPos: 100%) {
  background: -moz-linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($startColorPos, $startColor), color-stop($endColorPos, $endColor));
  background: -webkit-linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
  background: -o-linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
  background: -ms-linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
  background: linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
}

@mixin filter-gradient-vertical-3($color1, $color2, $color3, $color1Pos: 0%, $color2Pos: 50%, $color3Pos: 100%) {
  background: -moz-linear-gradient(top, $color1 $color1Pos, $color2 $color2Pos, $color3 $color3Pos);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($color1Pos,$color1), color-stop($color2Pos,$color2), color-stop($color3Pos,$color3));
  background: -webkit-linear-gradient(top, $color1 $color1Pos,$color2 $color2Pos,$color3 $color3Pos);
  background: -o-linear-gradient(top, $color1 $color1Pos,$color2 $color2Pos,$color3 $color3Pos);
  background: -ms-linear-gradient(top, $color1 $color1Pos,$color2 $color2Pos,$color3 $color3Pos);
  background: linear-gradient(top, $color1 $color1Pos,$color2 $color2Pos,$color3 $color3Pos);
}

// Reseta o filtro para o IE.
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}



// MIXINS DOS COMPONENTES.
// --------------------------------------------------

// SETAS POPOVER.
// -------------------------
// Para tooltips e popovers.
@mixin popoverArrow-top($arrowWidth: 8px, $borderColor: $gray6) {
  bottom: 0;
  left: 50%;
  margin-left: -$arrowWidth;
  border-left: $arrowWidth solid transparent;
  border-right: $arrowWidth solid transparent;
  border-top: $arrowWidth solid $borderColor;
}
@mixin popoverArrow-left($arrowWidth: 8px, $borderColor: $gray6, $right: 0) {
  top: 50%;
  right: $right;
  margin-top: -$arrowWidth;
  border-top: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid transparent;
  border-left: $arrowWidth solid $borderColor;
}
@mixin popoverArrow-bottom($arrowWidth: 8px, $borderColor: $gray6, $top: 0) {
  top: $top;
  left: 50%;
  margin-left: -$arrowWidth;
  border-left: $arrowWidth solid transparent;
  border-right: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid $borderColor;
}
@mixin popoverArrow-right($arrowWidth: 8px, $borderColor: $gray6, $left: 0) {
  top: 50%;
  left: $left;
  margin-top: -$arrowWidth;
  border-top: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid transparent;
  border-right: $arrowWidth solid $borderColor;
}

// Sistema de grids.
@mixin container-fixed() {
  width: $gridRowWidth;
  margin-left: auto;
  margin-right: auto;
  @include clearfix();
}

@mixin gridSystem-columns ($gridGutterWidth, $gridColumnWidth, $gridRowWidth, $columns) {
  width: ($gridColumnWidth * $columns) + ($gridGutterWidth * ($columns - 1));
}

@mixin gridSystem-offset($gridColumnWidth, $gridGutterWidth, $columns) {
  margin-left: ($gridColumnWidth * $columns) + ($gridGutterWidth * ($columns - 1)) + ($gridGutterWidth * 2);
}

@mixin gridSystem-gridColumn($gridGutterWidth) {
  float: left;
  margin-left: $gridGutterWidth;
}

@mixin gridSystem-generate($gridColumns, $gridColumnWidth, $gridGutterWidth) {

  .row {
    margin-left: $gridGutterWidth * -1;
    @include clearfix();
  }

  [class*="span"] { @include gridSystem-gridColumn($gridGutterWidth); }

  // Colunas padrões.
  .span1     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 1); }
  .span2     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 2); }
  .span3     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 3); }
  .span4     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 4); }
  .span5     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 5); }
  .span6     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 6); }
  .span7     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 7); }
  .span8     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 8); }
  .span9     { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 9); }
  .span10    { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 10); }
  .span11    { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 11); }
  .span12    { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 12); }
  .span13    { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 13); }
  .span14    { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 14); }
  .span15    { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 15); }
  .span16,
  .container { @include gridSystem-columns($gridGutterWidth, $gridColumnWidth, $gridRowWidth, 16); }

  // Opções de colunas de deslocamento.
  .offset1   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 1); }
  .offset2   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 2); }
  .offset3   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 3); }
  .offset4   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 4); }
  .offset5   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 5); }
  .offset6   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 6); }
  .offset7   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 7); }
  .offset8   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 8); }
  .offset9   { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 9); }
  .offset10  { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 10); }
  .offset11  { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 11); }
  .offset12  { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 12); }
  .offset13  { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 13); }
  .offset14  { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 14); }
  .offset15  { @include gridSystem-offset($gridColumnWidth, $gridGutterWidth, 15); }
}

@mixin input-span($columns, $gridColumnWidth, $gridGutterWidth) {
  width: (($gridColumnWidth) * $columns) + ($gridGutterWidth * ($columns - 1)) - 10;
}

@mixin grid-input($gridColumnWidth, $gridGutterWidth) {
  textarea,
  input[type="text"],
  input[type="password"] {
    // Sobrescreve o margin-left do sistema de grid.
    margin-left: 0;
  }

  // Gera os .spanX.
  $i: $gridColumns;
  @while $i > 0 {
    input.span#{$i},
    textarea.span#{$i} { @include input-span($i, $gridColumnWidth, $gridGutterWidth); }

    $i: $i - 1;
  }
}
