// Janela Modal Login
.form-login {
  float: right;
  width: 240px;
  background-color: $white;
  overflow: hidden;
  display: block;

  hr { margin: 0;}

  .control-checkbox {
    label {
      margin-left: -5px;
    }
  }

  .user-dates {
    overflow: hidden;
    padding: 20px 10px 10px 10px;
  }

  .control-group + .control-group { margin-top: 0; }

  .button-primary {
    margin-top: 10px;
    float: right;
  }

  .fb-login {
    margin: 20px 0;
    text-align: center;
  }

  .recover-login {
    text-align: center;
    font-size: 11px;
    padding: 10px;
  }
}


//Janelas Modais Em geral
.modal-window {
  background: $gray1;
  overflow: hidden;
  display: block;
  margin: 20px auto;
  background: $gray1;
 .borderradius & { @include border-radius(7px); }

    .button-primary, button, .button-default, .button-success {
      float: right;
      margin: 20px;
    }

  hr {
    margin: 1px 0 0 0;
  }

  .modal-name {
    margin: 10px 20px;
    display: block;
    overflow: hidden;

    img {
      float: left;
    }

    h3 {
      margin: 0 10px;
      display: inline-block;
    }

    .call-cadaster{
      color: $green4;
      width: 230px;
      margin-top: 0;
    }

    .call-cadaster + .call-cadaster {
        display: block;
        margin-left: 57px;
      }
  }

  .plan-information, .modal-cadaster {
    padding: 20px;
    background: $white;
    overflow: hidden;
    display: block;
  }

  .modal-cadaster {
    p {
      color: $gray6;
      margin-bottom: 40px;
    }

    .legend {
      display: block;
      font-style: italic;
      text-align: center;
    }

    .form-right {
      float: right;
    }

    .form-left, .form-right {
      width: 400px;
    }

    .form-left {
      float: left;

      .legend {
        margin-bottom: 20px;
        width: 218px;
        text-align: left;
        margin-left: 100px;
        margin-top: 20px;
      }
    }

    .form-horizontal {
      overflow: hidden;
      p { margin-bottom: 20px; }

    }


    .control-group {
      overflow: hidden;

      input {
        margin-top: 4px;
        margin-right: 4px;
        margin-bottom: 4px;
      }

      label.control-checkbox {
        float: left;
      }

      .legend { width: 218px; }
    }

  }

    .submit-cadaster {
      padding: 20px;
      overflow: hidden;

      .button-big { margin: 0 10px 0 0; }

      .control-checkbox { float: left; }
    }

  .plan-information {
    .icon-medal {
      img {
        vertical-align: middle;
        margin: -2px 0 0 2px;
      }
    }

    table { .free { color: rgb(95, 192, 128); } }
  }

  .call {
    background: $white;
    padding: 20px;
  }

  .container {
    color: $black;
    width: auto;
    background: $white;
    padding: 20px 60px;

    .section {
      font-size: 16px;
      display: inline-block;
      font-weight: 700;
      font-family: $museo-sans;
      margin-top: 20px;
    }

    p {
      margin-top: 20px; }

      .standout { font-weight: bold; }
    }

  .cadaster-success {
    background: $white;
    border: 1px solid $gray6;
    .borderradius & { @include border-radius(7px); }

    .modal-name {
      .call-cadaster {
        width: 100%;
        margin-left: 0;
      }
    }

    .call { padding: 0 20px 20px 20px; }

    .modal-window {
      margin: 0;
      .borderradius & { @include border-radius(none); }
    }
  }
}

.modal-landing {
  p + p { margin-top: 20px; }

  .modal-header .sprite-before:before { vertical-align: middle; }

  .modal-body { padding: 20px 40px 20px 60px; }
}

