// ==========================================================================
// Estilos para a home
// ==========================================================================

// UI-components.
@import "ui-components/variables";
@import "ui-components/mixins";


// Variáveis
@import "home/variables";

// Layout
@import "home/layout";

// Barra lateral esquerda
@import "home/left-sidebar";

// Conteúdo central da home
@import "home/content";

// Conteúdo dos ambientes
@import "home/environment";

// Conteúdo da navagação local
@import "home/local-navigation";

// Barra lateral direita
@import "home/right-sidebar";
