<%# Cabeçalho do course (contém título e link para voltar )  %>

<div id="hierarchy-header" class="">
  <span class="parent">
      <%= link_to course.environment.name, environment_path(course.environment)%> /
  </span>
  <h3 class="call name"><%= link_to course.name, environment_course_path(course.environment, course) %></h3>
</div><!-- end #hierarchy-header -->
