<%#
  Cabeçalho.

  Variáveis:
    course: o curso.
%>

<div class="entity-header content-section">
  <%= content_tag :h2, course.name, class: "entity-header-title" %>
</div>

<hr class="list-separator">

<div class="entity-management-header">
  <%= link_to "Sair do Gerenciamento",
    environment_course_path(course.environment, course),
    class: "link-secondary pull-right" %>

  <h3 class="header-breadcrumb-big icon-course-gray_32_34-before">
    Gerenciamento do Curso
  </h3>
</div>

<%= new_tabs :courses_admin %>