<% unless @courses.empty? %>
  <table id="course_list" class="concave-admin-table">
    <thead style="display:none;">
      <tr>
        <th>Nome</th>
        <th>Editar</th>
        <th>Remover</th>
      </tr>
    </thead>
    <%= render :partial => 'courses/admin/item_admin', :collection => @courses %>
  <% else %>
    <div class="box_notice">
      Este ambiente de ensino não possui nenhum curso.
      <%= link_to "Crie um agora!", new_environment_course_path(@environment) %>
    </div>
  <% end %>
</table>
<%= paginate @courses, :theme => 'endless' %>
