<%#
  Item da coleção de disciplinas em formato de checkbox.

  Variáveis:
    space_item_admin: uma disciplina.
%>

<label class="control-checkbox">
  <%= check_box_tag "spaces[]", space_item_admin.id, true %>
  <%= space_item_admin.name %>
</label>