<div class="content-section clearfix">
  <h3 class="entity-management-count">
    Criação de um novo Curso
  </h3>

  <%= link_to "< voltar para a listagem de Cursos",
    admin_courses_environment_path(@environment),
    class: "pull-right link-secondary" %>
</div>

<%= form_for @course, url: environment_courses_path(@environment),
  html: { class: "form-horizontal" } do |f| %>
  <%= render "courses/admin/form", f: f, course: @course %>

  <hr class="list-separator">

  <%# Botões. %>
  <div class="content-section clearfix">
    <%= f.submit t(:save_changes),
      class: "form-course-submit button-primary pull-right" %>
  </div>
<% end %>