
 
  <div id="player">
Você precisa instalar o <%= link_to 'Flash Player', 'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash' %> para ver este vídeo.</div>
<script type="text/javascript">
 var so = new SWFObject('/flash/player.swf', 'mpl', '480', '360', '8');

  
  so.addParam('allowscriptaccess', 'always');
  so.addParam('allowfullscreen', 'true');
  so.addVariable('height', '360');
  so.addVariable('width', '480');
  so.addVariable('type', 'sound');
  so.addVariable('file', encodeURIComponent('<%= @resource.media.url %>'));
  so.write('player');
</script>



