Novo Exame >> Adicionar Material
<h1>Listando questões</h1>

<p>
		<div id="local_search_form">
		<%= render :partial => "resources/search" %>
		</div>
</p>

<%= render :partial => "resources/sort" %>
<hr>

<div id="local_search_results" style="min-height: 200px">

 <% if @resources && @resources.length > 0 %>
 <%= render :partial => 'resources/item', :collection => @resources, :as => :resource %> 
 <% else %>
 Não há materiais cadastrados ainda. 
 <% end %>

</div>

<%= link_to 'Voltar para o teste', :controller => :exams, :action => :new %>



