<% content_for(:container_class) { "container-fluid" } %>
<% content_for(:nav_global, "&nbsp;".html_safe) %>

<div class="content-area authorize-app">
  <%= render :partial => "oauth_clients/breadcrumb", :locals => { :user => @user } %>
  <div class="content-body">
    <div class="content-section">
      <%= render "bootstrap/header_breadcrumb", :header_breadcrumb_items => [
        { :name => "Aplicativos", :link => user_oauth_clients_path(@user), :classes => "icon-app-gray_32_34-before" },
        { :name => "Autorização", :link => "#" } ] %>
    </div>
    <div class="content-section">
      <h3>Você autorizou essa aplicação com sucesso.</h3>
      <p class="authorization-disclaimer">Insira este código de verificação (PIN) na sua aplicação: <code class="pin-code"><%= @token.verifier || @token.token %></code></p>
    </div>
  </div>
  <%= render :partial => "oauth_clients/breadcrumb", :locals => { :user => @user } %>
</div>
