<h1>Você autorizou essa aplicação com sucesso.</h1>
<br/><br/>
<h2>Insira o código de verificação (PIN) abaixo na sua aplicação:</h2>
<span style="font-size:48px"><%= @token.verifier || @token.token %></span>
