<%#
  Campo de rede social do usuário.

  Variáveis:
    f: o formulário.
    user: o usuário.
%>
<li id="social-network-<%= f.object.id %>" class="form-config-social-network clearfix">
  <%= f.select :name,
    options_for_select(
      SocialNetworkSite.all,
      :selected => f.object.name),
      { :include_blank => "Adicionar" },
      { :class => "select-network form-config-social-network-select span2" } %>

  <%= f.text_field :url,
    :class => "form-config-social-network-url span4" %>

  <% if !f.object.id.nil? %>
    <%= link_to "×", user_social_network_path(user.login, f.object.id),
      :remote => true, :method => :delete,
      :class => "message-close",
      :confirm => "Você tem certeza que deseja excluir esta rede social?" %>
  <% end %>
</li>
