<li id="social-network-<%= f.object.id %>">
  <%= f.select :name,
    options_for_select(
      SocialNetwork::Networks.to_select,
      :selected => f.object.name),
      { :include_blank => "adicionar" },
      { :class => "select-network" } %>

  <%= f.text_field :url,
    :class => "concave-small social-url" %>

  <% if !f.object.id.nil? %>
    <%= link_to (t :remove), user_social_network_path(user.login, f.object.id),
      :remote => true, :method => :delete,
      :class => "remove-network icon-delete-gray_8_10-before replacement",
      :confirm => "Você tem certeza que deseja excluir esta rede social?" %>
  <% end %>
</li>
