<% is_admin = membership.role.eql?(Role[:environment_admin]) %>
<div class="make-admin icon-environment_admin-<%= is_admin ? "lightblue" : "gray" %>_16_18-after">
  <% if is_admin %>
  <span class="current-role strong">Administrador</span>
    <%= link_to "Remover papel de administrador",
      user_update_roles_path(membership.user, @environment,
                             :type => 'environment', :roles => Role[:member]),
      :remote => true, :method => :post, :class => "option" %>
  <% else %>
  <span class="current-role">O membro não possui nível de administrador</span>
    <%= link_to "Tornar administrador",
      user_update_roles_path(membership.user, @environment,
                             :type => 'environment', :roles => Role[:environment_admin]),
      :remote => true, :method => :post, :class => "option" %>
  <% end %>
</div>
