<div class="content-section">
  <div class="clearfix">
    <%= content_tag(:h3,
      raw("Papéis e permissões de #{ link_to @user.display_name, @user, class: "link-name" }"),
      class: "entity-management-role-header entity-management-count") %>

    <%= render "roles/change_role", environment: @environment,
      membership: @environment_membership %>
  </div>

  <%= render "users/thumb_legend", user: @user,
    wrapper_class: "entity-management-role-member",
    legend: content_tag(:span,
                        "Inscreveu-se há #{ time_ago_in_words(@environment_membership.created_at) }",
                        class: "legend show") %>

  <div class="entity-management-role-table">
    <%= render partial: "roles/change_role_form", collection: @courses_memberships,
      locals: { environment: @environment, user: @user,
                is_admin: @environment_membership.role.environment_admin? } %>
  </div>
</div>