<% if @schools && @schools.length > 0 %>
	<ul class="badge">
		<%= render :partial => 'schools/item', :collection => @schools, :as => :school %> 
	</ul>
	<% else %>
		<div class="box_notice">Não há redes cadastradas ainda. <%= link_to 'Crie uma agora!', :action => 'new' %></div>
	<% end %>
	<%= will_paginate @schools %>