<% if @schools && @schools.length > 0 %>
  <ul class="badge">
    <%= render :partial => 'schools/item', :collection => @schools, :as => :school %> 
  </ul>
<% else %>

  <% if @searched_for_all %>
    <div class="box_notice">Não há redes cadastradas ainda. <%= link_to 'Crie uma agora!', :action => 'new' %></div>
  <% else %>
    <div class="box_notice">Não há redes cadastradas com estas especificações ainda. <%= link_to 'Crie uma agora!', :action => 'new' %></div>
  <% end %>

<% end %>
<%= will_paginate @schools %>
