<div class="vcard<%= ( association.role_id == 6) ? ' teacher' : ''%>">
    <div class="photo">
        <%= link_to image_tag( association.user.avatar.url(:thumb),
        {:width => "50", :height=>"50", :border => 0 }),  association.user %>
    </div>
    <div class="info">
        <%= link_to  association.user.display_name,  association.user, :class => "link_member" %>
				<span><%=  association.user.score%> pontos</span>
    </div>
</div>

