<div class="grid_5 calls" id="filter">
	<span class="call"><span>Opções de Filtragem</span></span>
</div>

<div class="grid_11">
	<h3 class="call">Redes</h3>
	<% if @schools && @schools.length > 0 %>
	<ul class="default">
		<%= render :partial => 'schools/item', :collection => @schools, :as => :school %> 
	</ul>
	<% else %>
		Não há redes cadastradas ainda. <%= link_to 'Crie uma agora!', :action => 'new' %>
	<% end %>
	<%= will_paginate @schools %>
</div><!-- end grid_11 -->

