<% content_for :page_id, 'group' %>
<div class="main grid_16">
<%= render :partial => "schools/school_info", :locals => {:school => @school,:show => false} %>
<div class="fake-tabs grid_16 alpha omega">
<%= render :partial => "schools/admin_taskbar" %>
</div><!-- end tabs -->
</div><!-- end main -->


