<div id="all_content3">
	<div id="breadcrumbs"><a href="<%=application_url%>">home</a> > <a href="#">aprender</a> > <a href="#">exames</a> </div>
   	<div id="title">NOVA REDE</div>

<% form_for(@school) do |f| %>

Nome
<%= f.text_field :name %> <BR>

<%= f.submit "Criar" %>

<% end %>

<%= link_to 'Voltar', :action => 'index' %>


</div>
</div>
