<% content_for :page_id, 'group' %>
<div class="main grid_16">
<%= render :partial => "schools/school_info", :locals => {:school => @school} %>
<div class="fake-tabs grid_16 alpha omega">
	<%= render :partial => "schools/admin_taskbar" %>
	<div class="panel">
	<h3>Membros Pendentes</h3>
	<%= 
		render :partial => 'schools/pending_members', 
		:locals => {:school => @school, :pending_members => @pending_members}
	%>
	</div>
</div><!-- end tabs -->
</div><!-- end main -->
