<div class="grid_16 tabs start-page">
  <%= render :partial => "environments/taskbar" %>
  <div class="panel clearfix">
    <%= link_to "Crie um novo curso", new_environment_course_path(@environmnet), :class => "button" %>
    <%= render :partial => 'courses/filtering' %>
    <div id="school_list">
      <%= render :partial => "course_list" %>
    </div>
  </div>
</div>
