<%# Cabeçalho do environment (contém título, descrição e tags)  %>

<div id="hierarchy-header" class="clearfix">
  <h3 class="call name"><%= h(environment.name) %></h3>
  <% if can?(:manage, environment) %>
    <%= link_to "Gerenciar ambiente", edit_environment_path(environment),
      :class => "manage icon-manage-gray_8_10-before" %>
  <% end %>
  <div class="details">
    <span class="description icon-bio-gray_16_18-before">
      <%= environment.description %>
    </span>
    <ul class="tags icon-tag-gray_16_18-before clearfix">
      <% environment.tags.each do |tag| %>
      <li>
        <%= link_to tag, environment_path(environment) %>
      </li>
      <% end %>
    </ul>
  </div>
</div><!-- end #hierarchy-header -->
