<% form_for @environment, :url => environments_path(:step => 2) do |f| %>
  <%= render :partial => 'environments/plan_form' %>
  <%= f.submit "Próximo" %>
  <%= link_to "Voltar", teach_index_path, :class => "button" %>

  <div style="display:none;">
    <%= render :partial => 'form', :locals => { :f => f } %>
  </div>
<% end %>
