<div class="clearfix plan" id="checkout">
  <%= render :partial => 'environments/wizard_breadcrumbs' %>

  <div class="step-info">
    <h3>1 <span>Planos</span></h3>
    <em class="description">Escolha o plano que melhor se adequa as suas necessidades.</em>
  </div>
  <div class="plan">
      <%= render :partial => 'environments/plan_form' %>
      <%= hidden_field_tag :basic_content, @has_basic_content %>
      <%= hidden_field_tag :base_course_id, @base_course_id %>
  </div>

</div>

