<span class="call"><span>Estatísticas</span></span>
<div class="box">
  <ul class="statistics">
    <li>
      <span class="title">Alunos</span>
    </li>
    <li>
      <span class="title">Professores</span>
    </li>
    <li>
      <span class="title">Disciplinas</span>
    </li>
    <li>
      <span class="title">Cursos</span>
    </li>
  </ul>
</div>
