<%= image_tag 'loadingAnimation.gif', :id => 'loading_bar', :style => "display: none; margin-top: 40px"%>
<% form_tag destroy_members_environment_path,
     :method => :post, :id => "remove" do %>
      <%= submit_tag "Remover selecionados" %>
<table id="user_list_table" class="common">
  <thead>
    <th>
    <input type="checkbox" id="select_all"  >
    </th>
    <th>Usuário</th>
    <th>Data de Inscricão</th>
    <th>Curso(s)</th>
    <th>Permissões</th>
    <th>Administrador?</th>
  </thead>
  <%= render :partial => 'user_item_admin', :collection => memberships %>
</table>
<% end %>
