<ol id="breadcrumbs-wizard" class="wizard clearfix">
  <li>
    <%= link_to "Home", home_path, :class => "replacement home icon-small icon-home-lightblue_16_18" %>
  </li>
  <li>
    <%= link_to "Ensine", teach_index_path, :class => (current_page? teach_index_path) ? "" : "disabled" %>
  </li>
  <li>
    <a href="#" class="<%= ( current_page? :step => 2 ) ? "" : "disabled" %>">Etapa 1: Informações</a>
  </li>
  <li>
    <a href="#" class="<%= ( current_page? :step => 3 ) ? "" : "disabled" %>">Etapa 2: Confirmar Dados</a>
  </li>
</ol>
