<div class="grid_16">
  <div class="fake-tabs grid_16 alpha omega clearfix">
    <%= render :partial => 'environments/admin_taskbar' %>
    <div class="panel">
      <h1>Notícias</h1>
      <%= render :partial => 'bulletins/index_admin' %>
    </div>
  </div>
</div>
