<div class="grid_16">
  <h1>Listing environments</h1>

  <%= render :partial => 'environment_simple_form' %>
  <ul>
    <%= render :partial => "environments/item", :collection => @environments %>
  </ul>

  <%= link_to 'New environment', new_environment_path %>
</div>
