<%  if logged_in? %>
<ul class="menu">
<li>
<%= 
link_to_unless_current 'Configurações', edit_environment_course_path do
  link_to 'Configurações', edit_environment_course_path, 
    :class => 'selected'
end
%>
</li>

<li>
<%= 
link_to_unless_current 'Disciplinas(' + @course.spaces.count.to_s + ')',admin_spaces_environment_course_path do
  link_to 'Disciplinas', admin_spaces_environment_course_path, 
    :class => 'selected'
end
%>
</li>
<li>
<%= 
link_to_unless_current 'Moderação', admin_members_requests_environment_course_path do
  link_to 'Moderação', admin_members_requests_environment_course_path, :class => 'selected'
end
%>
</li>
<li>
<%= 
link_to_unless_current 'Membros', admin_members_environment_course_path do
  link_to 'Membros', admin_members_environment_course_path, :class => 'selected'
end
%>
</li>
</ul>
<% end %>
