<fieldset>
	<legend>Anexos</legend>
	<% if  course.resources %>
		<% course.resources.each do |res| %>
		<% if res.attachment_file_name %>
		 <div> <%= res.attachment_file_name %>  <%= image_tag 'icons/delete.png'%>
		</div>
		<% end %>
		<% end %>
	<% end %>
	
	<% f.fields_for :resources do | build |%>
		<fieldset>
		<%= render :partial => 'resource_fields', :locals => {:f => build} %>
		</fieldset>
	<% end %>
	<%= link_to_add_fields "Adicionar anexo", f, :resources, 'anexo' %>
</fieldset>	