<%# Informações sobre o conteúdo básico %>
<span class="name"> Conteúdo Básico </span>
<span class="type"> Ensino Médio </span>

<ul class="features basic-content">
  <li>Crie a turma com o conteúdo básico e já tenha a estrutura das disciplinas pronta para você;</li>
  <li>Disciplinas que estarão disponíveis: Português, Literatura, Inglês, Espanhol, Geografia, História, Matemática, Física, Química, Biologia;</li>
  <li>Todo o conteúdo presente no curso, foi desenvolvido em parceria com professores de referência.</li>
</ul>
