<%# Informações sobre o conteúdo básico %>
<span class="name"> Conteúdo Básico </span>
<span class="type"> Ensino Médio </span>

<ul class="features basic-content">
  <li>
    Inclua em seu curso disciplinas para alunos do Ensino Médio. É gratuito!
  </li>
  <li>
    Disciplinas que estarão disponíveis: Português, Literatura, Inglês, Espanhol, 
    Geografia, História, Matemática, Física, Química e Biologia.
  </li>
  <li>
    Os materiais disponibilizados foram elaborados por professores de referência
    em educação para o ensino médio. Além disso, desfrutar dessa vantagem que o
    Redu oferece não acarreta custo adicional.
  </li>
</ul>
