<div id="breadcrumbs" class="clearfix">
  <ol class="course clearfix">
    <li>
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement home icon icon-home-lightblue_16_16' %>
    </li>
    <li>
      <%= link_to course.environment.name, environment_path(course.environment),
        :class => 'replacement icon icon-environment-lightblue_16_16' %>
    </li>
    <li>
      <%= link_to course.name,
        environment_course_path(course.environment, course),
        :class => 'icon icon-course-lightblue_16_16' %>
    </li>
  </ol>
  <%= render :partial => 'courses/moderatorship',
    :locals => { :course => course } %>
</div>
