<div id="concave-breadcrumbs" class="clearfix">
  <ol class="course clearfix">
    <li class="compact">
      <%= link_to 'Home', home_user_path(current_user),
        :class => 'replacement icon-small icon-home-lightblue_16_18' %>
    </li>
    <li class="icon-expand-gray_16_18-before">
      <%= link_to course.environment.name, environment_path(course.environment),
        :class => 'icon-environment-lightblue_16_18-before' %>
    </li>
    <li class="icon-expand-gray_16_18-before">
      <%= link_to course.name,
        environment_course_path(course.environment, course),
        :class => 'icon-course-lightblue_16_18-before' %>
    </li>
  </ol>
  <%= render :partial => 'courses/moderatorship',
    :locals => { :course => course } %>
</div>
