<!--
	<h3 class="call">Aulas</h3>
	-->
	<% if @courses && @courses.length > 0 %>
	<ul class="default">
		<%= render :partial => 'courses/item', :collection => @courses, :as => :course %> 
	</ul>
	<% else %>
		Não há aulas nessa categoria. 
	<% end %>
	
	<%# will_paginate @courses %>
	<%= will_paginate  @courses, :params => {:sort_by => @sort_by} %>