<ul id="actions_user">
				<%  if current_user.can_post? @school %>
				   	 <li>
				   	 	<%= link_to "Nova Aula", new_school_course_path(:school_id => @school.id) %>
					 </li>
					 			 
				<% end %>
</ul>
		
		<div id="course_list" >
	<%= render :partial => "course_list"%>
	</div>
	
	<span style="margin: 10px;">
	<%= link_to "Ver todas >", courses_path(:school_id => @school.id)%>
	</span>






