<% unless @courses.empty? %>
  <ul class="badge">
    <%= render :partial => 'courses/item_index', :collection => @courses, :as => :course %>
  </ul>
<% else %>
    <div class="box_notice">Não há cursos cadastrados ainda.</div>
<% end %>
