<%#
  Botão de "Matricular-se" no curso.

  Variáveis:
    course: o curso.
    extra_classes: classes extras para ser adicionada ao botão.
%>

<% if course.users.include?(current_user) %>
  <% if course.waiting_user_approval?(current_user) %>
    <%= link_to "Aceitar convite",
      join_environment_course_path(course.environment, course),
      :method => :post, :class => "button-success course-preview-button #{extra_classes}" %>
  <% end %>
<% else %>
  <% if current_user %>
    <% if can? :add_entry, course %>
      <%= link_to 'Matricular-se',
        join_environment_course_path(course.environment, course),
        :method => :post, :class => "button-success course-preview-button #{extra_classes}" %>
    <% else %>
      <button class="button-success button-disabled course-preview-button <%= "#{extra_classes}" %>" rel="popover" data-original-title="Limite de vagas atingido." data-content="O limite de vagas foi atingido, portanto, você não poderá se matricular agora. Fale com o administrador ou professor do curso para que ele libere mais vagas.">Matricular-se</button>
    <% end %>
  <% else %>
    <button class="button-success button-disabled course-preview-button <%= "#{extra_classes}" %>" rel="popover" data-original-title="Deseja participar deste curso?" data-content="Para se matricular neste curso, você precisa se cadastrar no Openredu. Caso já tenha cadastro, basta acessar sua conta e este botão ficará disponível para a solicitação da matrícula. </br> </br> Cadastre-se ou acesse a sua conta através do menu superior &#8593;.">Matricular-se</button>
  <% end %>
<% end %>