<%= form_tag destroy_invitations_environment_course_path(),
  :method => :post, :id => "remove" do %>
  <table id="user_list_table" class="concave-invitation-table">
    <thead>
      <tr style="display: none;">
        <th>
          <input type="checkbox" id="select_all">
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'courses/invite_email_item_admin',
        :collection => email_invitations %>
      <%= render :partial => 'courses/invite_user_item_admin',
        :collection => user_invitations %>
    </tbody>
  </table>
  <%= submit_tag "Remover selecionados", :class => "concave-remove" %>
<% end %>
