<li>
  <%= link_to item.name, environment_course_path(@environment, item) %>
  <% if can? :manage, item %>
    <%= link_to "Editar", edit_environment_course_path(@environment, item) %>
  <% end >%
</li>
