<li class="clearfix" >


	 <strong><%= course.name%></strong>

	<div class="thumb photo"><%= link_to image_tag (course.thumb_url, :width => "70px"), course_path(course,:to_count => true) %></div>
	<div class="headlines" style="width: 420px">

		<!--
		<span class="call">Descrição:</span>
		-->
		<span class="things">
		<%= truncate_words( course.description, 10, '...') %>


		</span>
	</div>

	<%= hidden_field_tag("aulas[]", course.id)%>

</li>




