<li class="clearfix">
         <%= check_box_tag "aulas[]", course.id, true %>
         
	 <%#= link_to course.name, course, :class => "name"  %>
	<div class="thumb photo"><%= link_to(image_tag course.thumb_url, :width => "70px") %></div>
	<div class="headlines" style="width: 490px">
		<!--
		<span class="call">Descrição:</span>
		-->
		<span class="things">
		<%= truncate_words( course.description, 10, '...') %>
	
		
		</span>
	</div>
	
	<%= hidden_field_tag("aulas[]", course.id)%>
	
</li> 




