<%  if logged_in? %>
  		<div id="task_bar_exames">
  		<%= link_to 'Nova Aula', :action => 'new' %> | 
  		<%= link_to 'Minhas Aulas', published_user_courses_path(current_user.id) %> |
		<%= link_to 'Aulas Favoritas', favorites_courses_path %> 
		<%  if current_user.admin? %>
			| <%= link_to 'Moderar Vídeos' , pending_courses_path, :class => "link_remove" %>
		<% end %>
		</div>
	<% end %>