<%= image_tag 'loadingAnimation.gif', :id => 'loading_bar', :style => "display: none; margin-top: 40px"%>

<table id="user_list_table" class="common">
  <thead>
    <th>
    <input type="checkbox" id="select_all"  >
    </th>
    <th>Usuário</th>
    <th>Data de Inscricão</th>
    <th>Disciplina(s)</th>
  </thead>
  <%= render :partial => 'user_item_admin', :collection => memberships %>
</table>
