<div class="grid_16">
  <div class="fake-tabs grid_16 alpha omega clearfix">
    <%= render :partial => "courses/admin_taskbar" %>
    <div class="panel">
      <h1>Moderação de Membros</h1>
      <%= render :partial => 'pending_member_list_admin' %>
    </div><!-- end panel -->
  </div><!-- end fake-tabs -->
</div><!-- end grid_16 -->
