<div class="main grid_16">
  <div class="fake-tabs grid_16 alpha omega">
    <%= render :partial => "courses/admin_taskbar" %>
    <div class="panel">
      <h1>Disciplinas</h1>
      <%= render :partial => 'spaces/index_admin' %>
    </div> <!-- end panel -->
  </div><!-- end tabs -->
</div><!-- end main -->





