<h1>Edititando Aula</h1>

<%= render :partial => "form", :locals => { :botao => "Atualizar" } %>



<%= link_to 'Adicionar Recurso', {:action => :list_resources, :id => @course} %> |
<%= link_to 'Visualizar', @course %> |
<%= link_to 'Voltar', courses_path %>