<% unless @environmnet.nil? %>
  <div class="container_16" id="common-header">
    <div class="session-title">
      Cursos
    </div> <!-- title -->
  </div>
<% end %>
<% if @environment.nil? %>
  <div class="grid_16">
    <%= render :partial => 'courses/filtering' %>
    <div id="school_list" class="grid_16 alpha omega">
      <%= render :partial => "course_list" %>
    </div>
  </div>
<% else %>
  <%= render :partial => 'environments/courses_index' %>
<% end %>





