<div class="grid_16">
  <% form_for @course,
    :url => environment_courses_path(@environment) do |f| %>
    <%= f.error_messages %>
    <%= render :partial => 'courses/form', :locals => { :f => f, :edit => false } %>
    <%= f.submit "Criar!" %>
  <% end %>
</div>
