<div id="public-profile" class="main grid_11">
<%= render :partial => "users/user_info", :locals => {:user => @user}%>

<h3> Aulas publicadas</h3>

	    
		<div id="course_list">
			<%= render :partial => "course_list"%>
		</div>
			</div>
		
	

<div class="sidebar grid_5 omega">

</div><!-- end sidebar -->