<center>
  <a href="http://www.redu.com.br/moocs/cursos/mooc-lp/preview" title="Clique para se cadastrar">
    <img src="http://d3p0smp3c8srdq.cloudfront.net/mail-mooc-lingua-portuguesa.png" alt="Curso on-line de Língua Portuguesa com o Prof. João Mattar" />
  </a>
</center>
