<%#
  Mensagem em bloco de nova senha requisitada com sucesso.

  Variáveis:
    user_email: o usuário.
%>

<div class="mobile-form-password-recovery-successfully-sent message-block message-info">
  <div class="message-block-content">
    <p><strong>Aviso.</strong> Um e-mail contendo a nova senha foi enviado para a sua caixa de entrada (<%= user_email %>}.</p>
  </div>
  <div class="message-block-actions">
    <%= link_to "Voltar", application_path, :class => "button-primary",
      :title => "Voltar" %>
  </div>
</div>