<% if @spaces && @spaces.size > 0 %>
  <div class="actions"><%= link_to 'Criar Disciplina', new_space_path(:course_id => @course.id), :class => 'button' %>
  </div>  <table id="spaces_list" class="common spaced" width="100%">
    <thead>
      <th>Nome</th><th>Gerenciar</th><th>Remover</th>
    </thead>
    <%= render :partial => 'spaces/new/item_admin', :collection => @spaces %>
  </table>
  <%= will_paginate @spaces, :renderer => EndlessRenderer %>
<% else %>
  <div class="box_notice">
    Não existe nenhuma disciplina.
    <%= link_to "Criar uma disciplina", new_space_path(:course_id => @course.id) %>
  </div>
<% end %>
