/*
*= require reset
*= require 960
*= require new-fonts
*= require token-input
*= require utils
*= require new-style
*= require tipTip
*= require ajaxful_rating
*= require fb_style
*= require form.redu
*= require table.redu
*= require icons.big.redu
*= require icons.redu
*= require users
*= require lectures
*= require exercises
*= require chart
*= require canvas
*= require bootstrap-redu-nav-global
*= require nav-global-icons
*= require search
*/

@import "course_responsibles";
