// ==========================================================================
// Estilos para a página de autoria
// ==========================================================================

// Estilo das variáveis.
@import "bootstrap/variables";
@import "authoring/variables";
// Estilo da partial de introdução.
@import "authoring/introduction";
// Estilo da partial de benefícios.
@import "authoring/benefits";
// Estilo da partial de projetos.
@import "authoring/projects";
// Estilo da partial do título.
@import "authoring/title";