#chat * {
  font-family: "Tahoma", "Arial", "Helvetica", sans-serif;
  line-height: 13px;
}

#chat {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 960px;
  margin-left: -480px;
  pointer-events:none;
}

#chat ul {
  list-style: none;
  margin: 0;
}

#chat,
#chat .chat-contacts-wrapper {
  height: 460px;
}

#chat .chat-contacts-wrapper {
  float: left;
  position: relative;
  left: 12px;
  pointer-events:none;
}

#chat-contacts {
  pointer-events:auto;
  width: 158px;
  height: 388px;
  background: white;
  border: 1px solid #61be80;

  position: absolute;
  left: 0;
  bottom: 70px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 0px 1px 6px #b1b1b1;
  -webkit-box-shadow: 0px 1px 6px #b1b1b1;
  box-shadow: 0px 1px 6px #b1b1b1;

}

#chat-contacts > ul {
  overflow: scroll;
  overflow-x: hidden;
  width: 140px;
  height: 295px;
  margin: 0 10px 5px 10px;
  font-size: .9em;
}

#chat-contacts .scroll .up,
#chat-contacts .scroll .down {
  background: image-url("icons-chat.png") no-repeat;
  width: 140px;
  height: 20px;
  margin: 5px 10px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}

#chat-contacts .scroll::selection,
#chat-contacts .scroll::-moz-selection,
#chat-contacts .scroll .up::selection,
#chat-contacts .scroll .up::-moz-selection,
#chat-contacts .scroll .down::selection,
#chat-contacts .scroll .down::-moz-selection {
  background: transparent;
}

#chat-contacts .scroll .up {
  background-position: -575px 0;
}

#chat-contacts .scroll .down {
  background-position: -575px -25px;
}

#chat-contacts li {
  cursor: pointer;
  display: block;
  clear: both;
  width: 140px;
  padding: 3px 0;
}

#chat-contacts li:hover {
  background-color: #EFF6E6;
}

#chat-contacts .minimize {
  cursor: pointer;
  text-indent: 9999px;
  overflow: hidden;
  width: 10px;
  height: 10px;
  background: image-url("icons-chat.png") -843px 0px;
  margin: 10px 0;
}

#chat-contacts .title {
  width: 120px;
  float: left;
  margin: 10px;
  color: #4cacd5;
  font-weight: bold;
  font-family: "Arial", "Helvetica", sans-serif;
}

#chat-contacts .avatar {
  float: left;
  margin-right: 7px;
}

#chat-contacts .name {
  float: left;
  width: 105px;
  white-space: nowrap;
  font-size: .95em;
  color: #4cacd5;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 11px;
}

#chat-contacts .role {
  display: block;
  float: left;
  color: #b3b2b3;
  font-size: .9em;
}

#chat-contacts .status {
  width: 8px;
  height: 8px;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  text-indent: -9999px;
  overflow: hidden;
  background: image-url("icons-chat.png") -775px 0;
}

#chat-contacts-bar {
  pointer-events:auto;
  cursor: pointer;
  width: 162px;
  height: 61px;
  position: absolute;
  left: 4px;
  bottom: 0;

  background: image-url("icons-chat.png") -72px 0px;
}

#chat-contacts-bar.closed {
  background-position: -72px -51px;
}

#chat-contacts-bar .count,
#chat-windows-list .chat-window-bar .name {
  cursor: pointer;
  display: block;
  text-align: center;
  color: white;

  text-shadow: -1px -1px 1px #99A499;
}

#chat-contacts-bar .count {
  font-weight: bold;
  font-family: "Arial", "Helvetica", sans-serif;
  width: 150px;
  padding: 0;
  padding-top: 23px;
}

#chat-contacts-bar .count:hover,
#chat-windows-list .chat-window-bar .name:hover {
  text-decoration: none;
}

#chat-windows-list .chat-window-bar .name {
  font-size: .85em;

  text-shadow: 0px -1px 1px #CF6730;

}

#chat-windows-list {
  position: absolute;
  bottom: 0;
  left: 178px;
  pointer-events:none;
  z-index: 1;
}

#chat-windows-list > li {
  pointer-events:none;
  float: left;
}

#chat-windows-list .chat-window-bar {
  pointer-events: auto;
  margin-top: 302px;
  width: 156px;
  height: 58px;

  background: image-url("icons-chat.png") -290px  0px;
}

#chat-windows-list .chat-window-bar .nodge,
#chat-windows-list .chat-window-bar .online,
#chat-windows-list .chat-window-bar .offline {
  float:left;
  width: 8px;
  height: 10px;
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 11px;
}

#chat-windows-list .chat-window-bar .online {
  background: image-url("icons-chat.png") 0 0;
}

#chat-windows-list .chat-window-bar .nodge {
  background: image-url("chat-conv-online-new.gif") 0 0;
  height: 8px;
}

#chat-windows-list .chat-window-bar .offline {
  background: image-url("icons-chat.png") -909px 0;
}

#chat-windows-list .chat-window-bar .name {
  cursor: pointer;
  display: block;
  float: left;
  width: 123px;
  padding-top: 22px;
}

#chat-windows-list .chat-window-bar .close {
  float:left;
  width: 6px;
  height: 40px;
  text-indent: -9999px;
  overflow: hidden;
  background: image-url("icons-chat.png") -509px  0px;
  margin-top: 20px;
  cursor: pointer;
}

#chat-windows-list .closed {
  background-position: -290px -55px;
}

#chat-windows-list .closed .name {
}

#chat-windows-list .chat-window {
  pointer-events: auto;
  position: absolute;
  z-index: 1;
  bottom: 70px;
  margin-left: 4px;
  width: 278px;
  height: 318px;
  background: white;
  border: 1px solid #f37b38;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 0px 1px 6px #b1b1b1;
  -webkit-box-shadow: 0px 1px 6px #b1b1b1;
  box-shadow: 0px 1px 6px #b1b1b1;

  overflow: hidden;
}

#chat-windows-list .chat-window .name {
  display: block;
  margin: 10px;
  color: #4cacd5;
  font-weight: bold;
  font-family: "Arial", "Helvetica", sans-serif;
}

#chat-windows-list .chat-window .conversation {
  height: 256px;
  overflow-y: auto;
}

#chat-windows-list .chat-window .conversation > li {
  margin: 10px;
  margin-top: 0;
  clear: both;
}

#chat-windows-list .chat-window .conversation li .time {
  display: block;
  text-align: right;
  margin-right: 5px;
  font-size: .7em;
  color: white;
}

#chat-windows-list .chat-window .conversation li:hover .time {
  color: #6d6e6f;
}

#chat-windows-list .chat-window .conversation li .avatar {
  margin: 5px;
  margin-top: 0;
  float: left;
}

#chat-windows-list .chat-window .conversation li .messages {
  margin-left: 40px;
}
#chat-windows-list .chat-window .conversation li .messages li {
  font-size: .87em;
  margin-bottom: 5px;
}

#chat-windows-list .chat-window .conversation  li.pending {
  color: #b3b2b3;
}

#chat-windows-list .chat-window .user-input {
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 4px;
  background: #f1f0f0;

  border-top: 1px solid #f37b38;

  -moz-border-radius:0px 0px 5px 5px;
  -webkit-border-radius:0px 0px 5px 5px;
  border-radius:0px 0px 5px 5px;

  width: 271px;
}

#chat-windows-list .chat-window .user-input input,
#chat-windows-list .chat-window .user-input input:focus {
  width: 260px;
  border: none;
  background: #f1f0f0 !important;

  padding: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
