/*
*= require reset
*= require 960
*= require new-fonts
*= require utils
*= require tipTip
*= require form.redu
*= require icons.big.redu
*= require icons.redu
*= require cold
*= require errors
*= require recover
*/



/* Rodapé */
html, body {
  height: 100%;
}

.overlay {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -97px;
}

.push {
  height: 97px;
}

.footer,
.push {
  clear: both;
}

.footer {
  background: rgb(204, 204, 204); /* Old browsers */
  height: 97px;
  border-top: 1px solid white;
}

.cssgradients .footer {
  background: -moz-linear-gradient(top, rgb(204, 204, 204) 0%, rgb(240, 240, 240) 100%); /* FF3.6+ */
  background: -webfookit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204, 204, 204)), color-stop(100%,rgb(240, 240, 240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(204, 204, 204) 0%,rgb(240, 240, 240) 100%); /* W3C */
}

.footer .logo-footer a {
  background-image: image-url("redutech-low-horiz-b.png");
  display: block;
  width: 240px;
  height: 70px;
  overflow: hidden;
  background-repeat: no-repeat;
  float: left;
  text-indent: -9999px;
}

.footer .cnpj {
  clear: both;
  display: block;
  float: left;
  font-size: 10px;
  margin-left: 75px;
  color: rgb(179, 179, 179);
}

.footer .menu {
  padding-left: 500px;
  float: left;
  list-style: none;
  margin-top: -32px;
}

.footer .menu li {
  display: inline;
}

.footer .menu a {
  padding: 6px;
  float: left;
  margin-left: 10px;
  text-decoration: none;
  color: rgb(77, 173, 214);
  font-size: 12px;
}

.footer .menu a:hover {
  background-color: rgb(21, 138, 196);
  color: rgb(255, 255, 255);
}

.boxshadow .footer .menu a:hover {
  -webkit-box-shadow:  0px -1px 0px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
}

.textshadow .footer .menu a:hover {
  text-shadow: 0px -1px 0px rgb(21, 138, 196);
}

.borderradius .footer .menu a:hover {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.textshadow .footer .cnpj,
.textshadow .footer .menu {
  text-shadow: 0px -1px 0px rgb(255, 255, 255);
}

/* Página de cadastro */
#clean {
  min-height: 600px;
  padding-top: 20px;
}

#clean .logotipo {
  background: image-url("logotipo-vertical.png") no-repeat;
}

#clean .logotipo a {
  display: block;
}

#clean .logotipo,
#clean .logotipo a {
  width: 174px;
  height: 237px;
}

#clean .call {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  font-size: 2.7em;
  font-weight: normal;
  margin: 40px 0 20px 0;
  color: #4CACD4;
}

#clean .concave-form .concave-fieldset-legend {
  color: #F27A38;
  display: block;
  padding: 20px 0 10px 0;
  font-size: 1.2em;
}

#clean .concave-form .register-button {
  padding: 10px 65px;
  clear: both;
  margin-top: 20px;
  margin-left: 150px;
}

#clean .concave-form .tos {
  width: 400px;
}

#clean .concave-form .tos legend {
  float: left;
  margin-right: 100px;
}

#clean .concave-form .tos .inline {
  clear: left;
  margin-left: 130px;
}

#clean .concave-form .tos .concave-multiple {
  float: left;
}

#clean .concave-form .tos .concave-label {
  width: auto;
  margin: 5px 0 0 10px;;
  font-weight: normal;
  clear: none;
  float: left;
}

#clean .concave-form .separator {
  padding-bottom: 20px;
  border-bottom: 1px dotted #B2B1B2;
  width: 555px;
}

#clean .instruction {
  background: image-url("gray-ballon.png") no-repeat;
  width: 210px;
  height: 32px;
  padding: 10px 10px 10px 20px;
  color: #6C6D6E;
  font-size: .9em;
}

#clean .success {
  width: 420px;
}

#clean .success p {
  margin-bottom: 10px;
}

#clean .call {
  color: #60BE7F;
  margin-top: 10px;
  margin-bottom: 60px;
}

#clean .go-to-home {
  text-align: center;
  width: 460px;
  margin-top: 150px;
  padding-top: 90px;
}

#clean .go-to-home .concave-button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 40px;
}

#clean .user-registration-form {
  margin-bottom: 20px;
}
