html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  font-family: arial, tahoma, sans-serif;
  font-size: 11px;
  color: rgb(179,178,179);
}

td { vertical-align: middle; }

a {
  color: rgb(76, 172, 213);
  font-weight: bold;
  text-decoration: none;
}

#email {
  width: 602px;
  -premailer-width: 602px;
  border: 1px solid #B2B1B2;
  display: block;
  background: white;
  overflow: hidden;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#email .header {
  height: 19px;
  -premailer-height: 10px;
}

#email .body {
  background-color: white;
}

#email .body-cell {
  padding: 15px 23px 25px 23px;
  height: 94px;
  -premailer-height: 94px;
  vertical-align: top;
}

#email .footer {
  height: 55px;
  background-color: #EFEFEF;
  -premailer-height: 55px;
}

#email .footer-info-wrapper {
  width: 425px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-radius: 0px 0px 0px 15px;
  border-radius: 0px 0px 0px 15px;
}

#email .footer-info {
  width: 310px;
  margin: 0 0 0 20px;
}

#email .logo {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 0px 0px 15px 0px;
  border-radius: 0px 0px 15px 0px;
}

#email .context,
#email .action {
  font-size: 12px;
}

#email .action {
  margin-left: 42px;
  margin-top: 20px;
}

#email .context-space {
  background: image-url("mail/icon-space-big.png") no-repeat 520px 15px;
}

#email .braces {
  margin-left: 42px;
  margin-top: 10px;
}

#email .meta {
  margin-left: 52px;
  margin-top: 10px;
  width: 485px;
  line-height: 115%;
}

#email .separator {
  margin-left: 26px;
}

#email .right-space {
  margin-right: 10px;
}

#email .call {
  color: #6C6D6E;
}

/* Friendship */
#email .request-common {
  width: 562px;
  margin: 15px 20px;
}

#email .request-common .avatar-cell {
  width: 120px;
}

#email .request-common .friendship-icon,
#email .request-common .course-icon {
  margin-right: 5px;
}

#email .request-common .contact-avatar {
  margin-right: 10px;
}

#email .request-common .connection-name-cell {
  width: 260px;
  vertical-align: top;
}

#email .request-common .contact-name {
  font-size: 25px;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}

#email .request-common .call {
  font-size: 12px;
}

#email .request-common .acceptance-cell {
  vertical-align: top;
  text-align: right;
}

#email .request-common .statistics-cell {
  padding-top: 25px;
}

#email .request-common .accept-contact {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: normal;
}

/* Ativação, recuperação de login e recuperação de senha */

#email .user-common {
  font-size: 12px;
  width: 562px;
  margin: 15px 20px 0 20px;
}

#email .user-common td {
  vertical-align: top;
}

#email .user-data a,
#email .user-common a {
  font-weight: normal;
}

#email .common-message-cell {
  width: 370px;
  color: #6C6D6E;
  line-height: 125%;
}

#email .common-action-cell {
  text-align: right;
}

#email .common-action {
  display: block;
  margin-top: 20px;
}

#email .user-data {
  font-size: 12px;
  width: 562px;
  margin: 0 20px 15px 20px;
}

#email .user-data .username-cell {
  padding-bottom: 15px;
}

#email .user-data .username {
  font-size: 25px;
}

#email .user-data .field-cell {
  width: 170px;
  text-align: right;
  color: #6C6D6E;
  padding: 5px 0;
}

#email .user-data .value-cell {
  padding: 5px 0  5px 20px;
}

#email .user-data .plain-text {
  color: #6C6D6E;
  font-weight: normal;
}

/* Course moderation */
#email .course-moderation {
  font-size: 12px;
  width: 562px;
  margin: 15px 20px;
}

#email .course-moderation .first-cell {
  width: 42px;
}

#email .course-moderation .lock {
  margin-right: 5px;
}

#email .course-moderation .user-name em {
  color: #B2B2B2;
  font-weight: normal;
}

#email .course-moderation .call {
  margin-top: 5px;
  display: block;
}

#email .course-moderation .user-cell {
  width: 370px;
}

#email .course-moderation .environment-name {
  display: block;
}

#email .course-moderation .accept ,
#email .course-moderation .config {
  font-weight: normal;
  display: block;
}

#email .course-moderation .config {
  font-size: 11px;
}

#email .course-moderation .acceptance-cell {
  text-align: right;
  vertical-align: top;
  padding-top: 15px;
}

#email .course-moderation .big-icon-cell {
  text-align: right;
  vertical-align: top;
}

/* Convite para curso */
#email .course-invitation {
  font-size: 12px;
  width: 562px;
  margin: 15px 20px;
}

#email .course-invitation .meta {
  margin: 10px 15px 0 15px;
}

#email .course-invitation .request-common {
  margin: 0;
  margin-bottom: 20px;
}
