/* Páginas de erro */
#error .logo-top a {
  background-image: url("../images/new/redu-hi-vert.png");
  display: block;
  width: 255px;
  height: 196px;
  margin-left: -20px;
  overflow: hidden;
  background-repeat: no-repeat;
  float: left;
  text-indent: -9999px;
}

#error .alert {
  margin-top: 70px;
}

#error .alert:after {
  content: "";
  background-image: url("../images/new/alerta.png");
  background-repeat: no-repeat;
  height: 142px;
  width: 165px;
  float: right;
  margin-left: 410px;
  margin-top: -164px;
  position: absolute;
  display: block;
}

.textshadow #error .infos {
  text-shadow: 0px 1px 0px white;
}

#error .infos .warning {
  font-weight: 100;
}

#error .infos .warning,
#error .infos .warning .ops-call {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: -4px;
  color: rgb(193, 39, 45);
}

#error .infos .warning .ops-call {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  display: block;
}

#error .infos .error-name {
  width: 110px;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}

#error .infos .error-name .call,
#error .infos .error-name .number {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
}

#error .infos .error-name .call {
  font-size: 17px;
  letter-spacing: 17px;
  color: rgb(193, 39, 45);
  float: left;
  margin-left: 10px;
}

#error .infos .error-name .number {
  font-size: 72px;
  color: rgb(109, 110, 111);
  letter-spacing: -6px;
}

#error .infos .description-error {
  margin-left: 20px;
  margin-top: 10px;
}

#error .infos .description-error .title {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}

#error .infos .description-error p {
  color: rgb(179, 179, 179);
}

#error .infos .description-error .back-call {
  color: rgb(77, 173, 214);
  text-decoration: none;
}

#error .infos .description-error .suggested-links {
  padding-top: 3px;
  list-style-type: disc;
  font-weight: normal;
  font-size: 12px;
  font-family: arial, sans-serif;
}

#error .infos .description-error .suggested-links li {
  padding: 2px;
}

#error .infos .description-error .suggested-links li a {
  text-decoration: none;
  color: rgb(77, 173, 214);
}

#error .infos .concave-form {
  margin-left: 30px;
}

#error .infos .concave-form .concave-label {
  width: 98px;
}

#error .infos .concave-form .concave-button {
  margin-bottom: 60px;
}

#error .infos .concave-form .errors_on_field {
  margin-left: 110px;
}

#error .infos .confirmation-msg {
  width: 400px;
  float: right;
}
