.concave-form .concave-input,
.concave-form .concave-label {
  padding: 0;
  margin: 0;
  float: none;
  background: none;
  border: none;
  color: black;
}

.concave-form .concave-label {
  padding-top: 7px;
}

.textshadow .concave-form .concave-label {
  text-shadow: 0px 1px 0px white;
}

.concave-form {
  clear: both;
  overflow: hidden;
}

/* labels inativos */
  .concave-form .concave-label {
    display: block;
    color: #b3b2b3;
    font-weight: bold;
    float: left;
    text-align: right;
    width: 150px;
    margin: 20px 10px 0 0;
    clear: left;
    height: 23px;
    font-size: 12px;
  }

  .concave-form .concave-label-high {
    height: 78px;
  }

  .concave-form  .field_with_errors .concave-label {
    color: #FF6D6D;
  }

/* labels ativos */
  .concave-form .concave-label-focus {
    color: #4CACD5;
  }

  .concave-form  .field_with_errors .concave-label-focus {
    color: #4CACD5;
  }



/* text input inativo */

  .concave-form .concave-file,
  .concave-form .concave-input {
    margin-top: 20px;
    font-size: 1em;
    width: 370px;
  }

  .concave-form .concave-input {
    border: 1px solid #cccbcb;
    padding: 7px 10px;
    color: #6c6d6e;
    background: white;
  }

  .concave-form .field_with_errors .concave-input {
    border-color: #FF6D6D;
  }


  .concave-form .concave-small {
    width: 274px;
  }

  .concave-form .concave-nano {
    width: 70px;
  }

  .concave-form .concave-select {
    margin-top: 23px;
    margin-bottom: 9px;
  }

  .concave-form .concave-file,
  .concave-form .concave-select {
  }

  .borderradius .concave-form .concave-input {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .cssgradients .concave-form .concave-input {
    background: -moz-linear-gradient(top, #f0f0f0 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f0f0 0%,#ffffff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f0f0f0 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #f0f0f0 0%,#ffffff 100%); /* W3C */
  }

  .boxshadow .concave-form .concave-input {
     -moz-box-shadow: inset 1px 1px 0 #fff;
     -webkit-box-shadow: inset 1px 1px 0 #fff;
     box-shadow: inset 1px 1px 0 #fff;
  }

  .boxshadow .concave-form .field_with_errors .concave-input {
    -moz-box-shadow: 0 0 2px #FF6D6D ;
    -webkit-box-shadow: 0 0 2px #FF6D6D ;
    box-shadow: 0 0 2px #FF6D6D;
  }


/* text input ativo */
  .concave-form .concave-input:focus {
    border: 1px solid #4CACD5;
    color: black;
    background: white;
  }

  .cssgradients .concave-form .concave-input:focus {
    background: white;
  }

  .boxshadow .concave-form .concave-input:focus {
    -moz-box-shadow: 0 0 2px #4CACD5 ;
    -webkit-box-shadow: 0 0 2px #4CACD5 ;
    box-shadow: 0 0 2px #4CACD5;
  }

/* radio, checkbox e selects (coisas inline) */
  .concave-form .concave-fieldset-group .concave-legend,
  .concave-form .concave-fieldset-inline .concave-legend,
  .concave-form fieldset.group legend,
  .concave-form fieldset.inline legend {
    display: block;
    color: #b3b2b3;
    font-weight: bold;
    float: left;
    text-align: right;
    width: 150px;
    margin-right: 10px;
    font-size: .9em;
    margin-top: 20px;
  }

  .concave-form .concave-fieldset-inline .concave-multiple {
    float: left;
    display: block;
    margin-right: 10px;
    margin-top: 20px;
  }

  .concave-form .concave-fieldset-inline .concave-indent {
    float: left;
    width: 420px;
  }

  .concave-form .concave-fieldset-inline .concave-label,
  .concave-form fieldset.inline label {
    width: auto;
    clear: none;
    color: #6C6D6E;
    font-weight: normal;
    padding-top: 0;
  }

  .concave-form .linebreak .concave-break {
    clear: left;
    margin-left: 160px;
  }

  .concave-form .concave-fieldset {
    display: block;
    margin-top: 20px;
  }

  .concave-form .concave-fieldset .concave-fieldset-legend,
  .concave-form .concave-fieldset legend {
    color: #73C3E6;
  }


/* botoes */
  .concave-remove,
  .concave-button,
  .concave-clean,
  .concave-important,
  .concave-important-font,
  .concave-cancel {
    padding: 5px 20px 6px 20px;
    color: white;
    display: inline-block;
    line-height: 18px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
  }

  .concave-remove:hover,
  .concave-button:hover,
  .concave-important:hover,
  .concave-important-font:hover,
  .concave-cancel:hover {
    color: white;
  }

  .concave-remove:visited,
  .concave-button:visited,
  .concave-important:visited,
  .concave-important-font:visited,
  .concave-cancel:visited {
    color: white;
  }

  .concave-important,
  .concave-important-font {
    border: 1px solid rgb(75,192,128);
    background-color: rgb(171, 227, 133);
  }

  .concave-important-font {
    font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  }

  .concave-clean {
    color: rgb(77, 173, 214);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255,255,255); /* Old browsers */
  }

  .concave-button,
  .concave-cancel {
    border: 1px solid #4CACD5;
    background-color: #73C3E6;
  }

  .concave-form .concave-button,
  .concave-form .concave-important,
  .concave-form .concave-important-font,
  .concave-form .concave-cancel {
    margin: 20px 20px 0 0;
  }

  .concave-remove {
    border: 1px solid rgb(232, 59, 59);
    color: white;
    background-color: rgb(255, 109, 109);
  }

  .concave-form .concave-remove {
    margin: 20px 0px 0px 20px;
  }

  .concave-form .concave-button,
  .concave-form .concave-important,
  .concave-form .concave-important-font,
  .concave-form .concave-cancel {
    float: right;
  }

  .concave-form .concave-remove {
    float: left;
  }

  .concave-cancel {
    border: 1px solid #E83B3B;
  }

  .concave-clean:hover,
  .concave-remove:hover,
  .concave-button:hover,
  .concave-important:hover,
  .concave-important-font:hover,
  .concave-cancel:hover {
    text-decoration: none;
  }

  .borderradius .concave-clean,
  .borderradius .concave-remove,
  .borderradius .concave-button,
  .borderradius .concave-important,
  .borderradius .concave-important-font,
  .borderradius .concave-cancel {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  .cssgradients .concave-important,
  .cssgradients .concave-important-font {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(171, 227, 133)), to(rgb(95, 192, 128)));
    background: -moz-linear-gradient(top, rgb(95, 192, 128), rgb(171, 227, 133));
  }

  .cssgradients .concave-button {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(115, 195, 230)), to(rgb(77, 173, 214))); /* webkit browsers */
    background: -moz-linear-gradient(top, rgb(115, 195, 230), rgb(77, 172, 214)); /* firefox 3.6+ */
  }

  .cssgradients .concave-cancel {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF6D6D), to(#E83B3B)); /* webkit browsers */
    background: -moz-linear-gradient(top,  #FF6D6D,  #E83B3B); /* firefox 3.6+ */
  }

  .cssgradients .concave-remove {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 109, 109)), to(rgb(232, 59, 59))); /* webkit browsers */
    background: -moz-linear-gradient(top, rgb(255, 109, 109), rgb(232, 59, 59)); /* Firefox 3.6+ */
  }

  .cssgradients .concave-clean {
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(97%,rgb(240,240,240))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(240,240,240) 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(240,240,240) 97%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(240,240,240) 97%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgb(255,255,255) 0%,rgb(240,240,240) 97%); /* W3C */
  }

  .textshadow .concave-important-font,
  .textshadow .concave-important {
     -moz-text-shadow: 0px -1px 0 rgb(97, 160, 128);
     -webkit-text-shadow: 0px -1px 0 rgb(97, 160, 128);
     text-shadow: 0px -1px 0 rgb(97, 160, 128);
  }

  .textshadow .concave-button {
     -moz-text-shadow: 0px -1px 0 rgb(21, 138, 196);
     -webkit-text-shadow: 0px -1px 0 rgb(21, 138, 196);
     text-shadow: 0px -1px 0 rgb(21, 138, 196);
  }

  .textshadow .concave-cancel {
     -moz-text-shadow: 0px -1px 0 #E83B3B;
     -webkit-text-shadow: 0px -1px 0 #E83B3B;
     text-shadow: 0px -1px 0 #E83B3B;
  }

  .textshadow .concave-remove {
    -moz-text-shadow: 0px -1px 0 rgb(193, 39, 45);
    -webkit-text-shadow: 0px -1px 0 rgb(193, 39, 45);
    text-shadow: 0px -1px 0px rgb(193, 39, 45);
  }

  .textshadow .concave-clean {
    text-shadow: 0px 1px 0px #ffffff;
  }

  .concave-important-font:hover,
  .concave-important:hover {
    border: 1px solid rgb(97,160,128);

  }

  .concave-button:hover {
    border: 1px solid #1789C3;
    background: #1789C3;
  }

  .concave-cancel:hover {
    border: 1px solid #C1272D;
    background: #FF6D6D;
  }

  .concave-remove:hover {
    background: rgb(255, 109, 109);
  }

  .concave-clean:hover {
    color: rgb(23, 137, 195);
    border: 1px solid rgb(76, 172, 213);

    background: rgb(255,255,255); /* Old browsers */
  }

  .cssgradients .concave-important-font:hover,
  .cssgradients .concave-important:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(171,227,133)), to(rgb(97,160,128)));
    background: -moz-linear-gradient(top,  rgb(171,227,133), rgb(97,160,128));
  }

  .cssgradients .concave-cancel:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF6D6D), to(#C1272D)); /* webkit browsers */
    background: -moz-linear-gradient(top,  #FF6D6D,  #C1272D); /* firefox 3.6+ */
  }

  .cssgradients .concave-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(115, 195, 230)), to(rgb(21, 138, 196))); /* webkit browsers */
    background: -moz-linear-gradient(top,  rgb(115, 195, 230), rgb(21, 138, 196)); /* firefox 3.6+ */
  }

  .cssgradients .concave-remove:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 109, 109)), to(rgb(193, 39, 45))); /* webkit browsers */
    background: -moz-linear-gradient(top, rgb(255, 109, 109), rgb(193, 39, 45)); /* Firefox 3.6+ */
  }

  .cssgradients .concave-clean:hover {
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(219,239,247) 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(97%,rgb(219,239,247))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(219,239,247) 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(219,239,247) 97%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(219,239,247) 97%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbeff7',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgb(255,255,255) 0%,rgb(219,239,247) 97%); /* W3C */
  }



.concave-form .concave-separator,
.concave-form hr {
  clear: both;
  border: none;
  border-top: 1px dotted #B3B2B3;
  margin-top: 20px;
}


/* dicas */
  .concave-form .tip,
  .concave-form .char-limit {
    display: block;
    margin: 5px 0 0 160px;
    font-size: .8em;
    color: #B2B2B2;
    padding: 0;
  }

  .concave-form .concave-label .snippet,
  .concave-form label .snippet {
    display: block;
    font-weight: normal;
    font-size: .9em;
    font-style: italic;
  }

/* Erros de validação */
  .concave-form .error_explanation {
    border: 1px solid #F9A737;
    background-color: #FFEED7;
    padding: 10px 10px 10px 160px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
  }


  .concave-form .error_explanation h2 {
    position: absolute;
    left: 85px;
    font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    font-size: 2.2em;
    color: #C0262C;
    text-align: right;
  }

  .concave-form .error_explanation p {
    color: #6C6D6E;
    margin-bottom: 3px;
  }

  .concave-form .error_explanation .invalid_fields {
    color: #C0262C;
    margin: 0;
  }

  .borderradius .concave-form .error_explanation {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .boxshadow .concave-form .error_explanation {
     -moz-box-shadow: inset 1px 1px 0 #fff;
     -webkit-box-shadow: inset 1px 1px 0 #fff;
     box-shadow: inset 1px 1px 0 #fff;
  }

  .concave-form .errors_on_field {
    font-size: .8em;
    color: #FF6D6D;
    overflow: hidden;
    margin-left: 160px;
  }

  .concave-form .errors_on_field li {
    margin-top: 5px;
  }

/* Indicador de estado de carregamento */
  .concave-loading,
  .cssgradients .concave-loading,
  .cssgradients .concave-loading:hover,
  .concave-loading:hover {
    background: #f1f0f0 image-url("spinner-new.gif") no-repeat center center;
    color: transparent;
  }

  .concave-loading *,
  .cssgradients .concave-loading *,
  .cssgradients .concave-loading:hover *,
  .concave-loading:hover * {
    display: none;
  }

  .textshadow .concave-loading {
     -moz-text-shadow: none;
     -webkit-text-shadow: none;
     text-shadow: none;
  }

/* For the jquery.placeholder. */

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 11px;
}

:-moz-placeholder {
  font-style: italic;
  font-size: 11px;
}

::-ms-input-placeholder {
  font-style: italic;
  font-size: 11px;
}

.concave-form .ui-placeholder {
  font-style: italic;
  font-size: 11px;
}

.concave-form .ui-placeholder-wrap {
  position: relative;
  display: inline-block;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.concave-form .ui-placeholder {
  position: absolute;
  top: 30px;
  left: 10px;
  display: inline-block;
  color: rgb(179, 179, 179);
}

.textshadow .concave-form .concave-input,
.textshadow .concave-form textarea {
  text-shadow: 0px 1px 0px white;
}

.concave-form .concave-input,
.concave-form textarea {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: rgb(109, 110, 111);
}
