// ==========================================================================
// Estilos para Ambientes.
// ==========================================================================


// Bootstrap.
@import "bootstrap/variables";
@import "bootstrap/mixins";


// Layout.
@import "hierarchy/layout";

// Sprites.
@import "hierarchy/sprites";

// Ambientes de Aprendizagem.
@import "hierarchy/environment";

// Cursos.
@import "hierarchy/course";

// Disciplinas.
@import "hierarchy/space";

// Gerenciamento.
@import "hierarchy/management";