.icons-big {
  background-image: image-url("icons-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icons-big-after:after,
.icons-big-before:before {
  background-image: image-url("icons-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-checkout-teacher-white_100_100,
.ui-tabs-selected .icon-checkout-teacher-lightblue_100_100,
.ui-tabs-selected .icon-checkout-teacher-lightblue_100_100:hover {
  background-position: -320px -240px;
}

.icon-checkout-teacher-lightblue_100_100 {
  background-position: 0 -240px;
}

.icon-checkout-teacher-lightblue_100_100:hover,
.icon-checkout-teacher-blue_100_100 {
  background-position: -160px -240px;
}

.icon-checkout-institution-lightblue_100_100 {
  background-position: 0 -400px;
}

.icon-checkout-institution-white_100_100,
.ui-tabs-selected .icon-checkout-institution-lightblue_100_100:hover,
.ui-tabs-selected .icon-checkout-institution-lightblue_100_100 {
  background-position: -320px -400px;
}

.icon-checkout-institution-lightblue_100_100:hover,
.icon-checkout-institution-blue_100_100 {
  background-position: -160px -400px;
}

.icon-checkout-company-lightblue_100_100 {
  background-position: 0 -560px;
}

.icon-checkout-company-white_100_100,
.ui-tabs-selected .icon-checkout-company-lightblue_100_100,
.ui-tabs-selected .icon-checkout-company-lightblue_100_100:hover {
  background-position: -320px -560px;
}

.icon-checkout-company-lightblue_100_100:hover,
.icon-checkout-company-blue_100_100 {
  background-position: -160px -560px;
}

.icon-contact-blue_100_66-before:before {
  content: "";
  width: 100px;
  height: 66px;

  background-position: 0px -160px;
}

.icon-environment-white_64_64 {
  background-position: 0 0;
}

.icon-space-white_64_64 {
  background-position: -80px 0;
}

.icon-subject-white_64_66 {
  background-position: -160px 0;
}

.icon-privacy-lightred_64_66-before:before {
  content: "";
  width: 64px;
  height: 66px;

  background-position:  -240px 0;
}

.icon-contact-lightblue_64_66-after:after {
  content: "";
  width: 64px;
  height: 66px;
  display: block;
  float: right;

  background-position: -480px -80px;
}

.icon-invite-friends-lightblue_64_66-before:before {
  content: "";
  width: 64px;
  height: 66px;
  display: block;
  float: left;
  margin-right: 10px;

  background-position: -400px -160px;
}

.icon-request-help-orange_64_66-after:after {
  content: "";
  width: 64px;
  height: 66px;
  display: block;
  float: right;

  background-position: -320px -80px;
}

.icon-document-lightblue_64_66-after:after {
  content: "";
  width: 64px;
  height: 66px;
  display: block;
  float: right;

  background-position: -80px -80px;
}

.icon-page-lightblue_64_66-after:after {
  content: "";
  width: 64px;
  height: 66px;
  display: block;
  float: right;

  background-position: -0px -80px;
}

.icon-exercise-lightblue_64_66-after:after {
  content: "";
  width: 64px;
  height: 66px;
  display: block;
  float: right;

  background-position: -160px -80px;
}

.icon-seminar-lightblue_64_66-after:after {
  content: "";
  width: 64px;
  height: 66px;
  display: block;
  float: right;

  background-position: -240px -80px;
}

.icon-grouping-lightblue_64_66-after:after {
  content: "";
  width: 64px;
  height: 66px;
  display: block;
  float: right;

  background-position: -400px -80px;
}
