/* Landing page */
.overlay.landing {
  background-image: image-url("circulos-bokeh.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

#landing .presentation {
  float: left;
}

#landing .presentation .top {
  background: image-url("redu-hi-horiz.png");
  width: 353px;
  height: 147px;
  margin-left: -27px;
}

#landing .presentation .top a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  margin-left: -27px;
  width: 353px;
  height: 147px;
}

#landing .presentation .learn-call {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  color: rgb(171,227,133);
  font-size: 39px;
  width: 650px;
}

#landing .presentation .teach-call {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  color: rgb(255,169,53);
  font-size: 39px;
  width: 650px;
}

#landing .presentation .learn-call,
#landing .presentation .teach-call {
  letter-spacing: -2px;
}

.textshadow #landing .presentation .learn-call,
.textshadow #landing .presentation .teach-call {
  text-shadow: 0 1px 0 rgb(109, 110, 111);
}

#landing .presentation .welcome {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  width: 650px;
  height: 66px;
  font-size: 17px;
  margin-top: 15px;
  line-height: 22px;
}

#invitation .login-box,
#landing .login-box {
  margin-top: 158px;
  float: right;
  padding: 20px;
  width: 248px;
  background: rgb(240, 240, 240); /* Old browsers */
}

.cssgradients #invitation .login-box,
.cssgradients #landing .login-box {
  background: -moz-linear-gradient(top, rgb(240,240,240) 0%, rgb(255,255,255) 50%, rgb(240,240,240) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,240,240)), color-stop(50%,rgb(255,255,255)), color-stop(100%,rgb(240,240,240))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(240,240,240) 0%,rgb(255,255,255) 50%,rgb(240,240,240) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(240,240,240) 0%,rgb(255,255,255) 50%,rgb(240,240,240) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(240,240,240) 0%,rgb(255,255,255) 50%,rgb(240,240,240) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(240,240,240) 0%,rgb(255,255,255) 50%,rgb(240,240,240) 100%); /* W3C */
}

.no-cssgradients #landing .login-box {
  background: rgb(240,240,240); /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
}

.boxshadow #invitation .login-box,
.boxshadow #landing .login-box {
  -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.borderradius #invitation .login-box,
.borderradius #landing .login-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#invitation .login-box .new-version-call,
#landing .login-box .new-version-call {
  font-size: 17px;
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
}

#invitation .login-box .new-version-call:before
#landing .login-box .new-version-call:before {
  content: "";
  width: 32px;
  height: 33px;
  background: image-url("icone-perfil-32.png") 0 0 no-repeat;
  display: block;
  float: left;
  margin-right: 10px;
}

.textshadow #landing .presentation .welcome,
.textshadow #invitation .login-box .new-version-call,
.textshadow #landing .login-box .new-version-call {
  text-shadow: 0 1px 0 rgb(255, 255, 255);
}

#invitation .login-box .new-version-call .beta-call,
#landing .login-box .new-version-call .beta-call {
  color: rgb(115,195,230);
  font-family: inherit;
}

#invitation .login-box .concave-form .concave-fieldset,
#landing .login-box .concave-form .concave-fieldset {
  margin-top: 15px;
}

#invitation .login-box .concave-form .concave-input,
#landing .login-box .concave-form .concave-input {
  height: 14px;
  width: 226px;
  float: left;
  margin-top: 10px;
  font-size: 11px;
}

#invitation .login-box .concave-form .ui-placeholder,
#landing .login-box .concave-form .ui-placeholder {
  top: 20px;
}

#invitation .login-box .concave-form .errors_on_field,
#landing .login-box .concave-form .errors_on_field {
  width: 200px;
  margin-left: 2px;
}

#invitation .login-box .short-options,
#landing .login-box .short-options {
  margin-top: 10px;
}

#invitation .login-box .short-options .label-stay-connect,
#landing .login-box .short-options .label-stay-connect {
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: normal;
  color: rgb(179,179,179);
}

#invitation .login-box .short-options .check-stay-connect,
#landing .login-box .short-options .check-stay-connect {
  margin-bottom: 0;
}

/* IE */
#invitation .login-box .short-options .check-stay-connect,
#landing .login-box .short-options .check-stay-connect {
  border: none;
  padding: 0;
  width: 14px;
}

/* IE */
#invitation .login-box .short-options .check-stay-connect:focus,
#landing .login-box .short-options .check-stay-connect:focus {
  border: none;
}

#invitation .login-box .short-options .recover-login,
#landing .login-box .short-options .recover-login {
  font-size: 11px;
  margin-left: 26px;
}

#invitation .login-box .concave-form .concave-button,
#landing .login-box .concave-form .concave-button {
  height: 28px;
  margin-right: 0;
  margin-top: 10px;
}

#invitation .login-box .or-call,
#landing .login-box .or-call {
  color: rgb(204,204,204);
  float: left;
  margin: 25px 0 30px 100px;
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  font-size: 17px;
}

#invitation .login-box .concave-important,
#landing .login-box .concave-important {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;

  width: 208px;
  height: 51px;
  padding-top: 34px;
}

.borderradius #invitation .login-box .concave-important,
.borderradius #landing .login-box .concave-important {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#invitation .login-box .concave-important:hover,
#landing .login-box .concave-important:hover {
  background-color: rgb(97,192,128);
  border: 1px solid rgb(97,160,128);
  color: white;
}

.cssgradients #invitation .login-box .concave-important:hover,
.cssgradients #landing .login-box .concave-important:hover {
  background: -moz-linear-gradient(top, rgb(171,227,133) 0%, rgb(97,160,128) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(171,227,133)), color-stop(100%,rgb(97,160,128))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(171,227,133) 0%,rgb(97,160,128) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(171,227,133) 0%,rgb(97,160,128) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(171,227,133) 0%,rgb(97,160,128) 100%); /* IE10+ */
  background: linear-gradient(top, rgb(171,227,133) 0%,rgb(97,160,128) 100%); /* W3C */

}

#landing .staging {
  margin-top: 145px;
}

#landing .facebook-like {
  float: right;
}

#landing .book-ad {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}

#landing .book-ad a,
#landing .book-ad {
  width: 340px;
  height: 70px;
}

#landing .book-ad a {
  display: block;
  background: image-url("educar-mini-banner.png") no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

/* Página de convite */
#invitation .login-box {
  margin-top: 0;
}

#invitation .course .statistics li,
#invitation .course .audience li {
  margin-bottom: 3px;
}

#global-courses .courses .statistics em,
#global-courses .courses .audience em,
#invitation .course .statistics em,
#invitation .course .audience em {
  font-size: .9em;
  font-style: oblique;
  display: block;
  float: left;
  width: 70px;
  color: #B2B2B2;
}

#global-courses .courses .audience em,
#invitation .course .audience em {
  margin-bottom: 5px;
}

#global-courses .courses .statistics span,
#global-courses .courses .audience a,
#invitation .course .statistics span,
#invitation .course .audience a {
  font-size: .9em;
  font-weight: bold;
  color: #6C6D6E;
}

#invitation .logotipo {
  width: 174px;
  height: 237px;
  background: image-url("logotipo-vertical.png") no-repeat;
}

#invitation {
  margin-top: 20px;
  padding-bottom: 200px;
}

#invitation .invite {
  float: left;
}

#invitation .salutation {
  display: block;
  margin: 35px 0 25px 0;
  font-size: 1.3em;
  color: black;
}

#invitation .course {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 320px;
  float: left;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#invitation .course .informations{
  float: left;
  width: 278px;
}

#invitation .course img {
  float: left;
  margin-right: 10px;
}

#invitation .course .header {
  background: image-url("dots.png") repeat-x bottom;
  padding-bottom: 20px;
}

#invitation .course .environment {
  display: block;
  font-size: 0.9em;
}

#invitation .course .name {
  display: block;
  margin: 5px 0;
  font-size: 1.2em;
  color: black;
}

#invitation .course .description {
  display: block;
  background: image-url("dots.png") repeat-x bottom;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #6D6E6F;
}

#invitation .course .statistics {
  float: left;
  width: 120px;
}

#invitation .tags li {
  display: inline;
  font-size: 10px;
  color: #B2B2B2;
}