// ==========================================================================
// Estilos para a landing.
// ==========================================================================

// Mixins de imagens do Compass.
@import "compass/css3/images";
// UI-components.
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Variáveis.
@import "landing/variables";
// Estilos compartilhados.
@import "landing/shared";
// Estilos do layout.
@import "landing/layout";
// Sprites.
@import "landing/sprites";
// Estilos da mensagem de bem vindo.
@import "landing/welcome";
// Estilos da área de navegação.
@import "landing/navigation";
// Estilos da área dos filtros.
@import "landing/filters";
// Estilos da área de segmentos.
@import "landing/segments";
// Estilos da área de vantagens.
@import "landing/advantages";
// Estilos da área de funcionalidades.
@import "landing/functionalities";
// Estilos da área de rede social & chat.
@import "landing/social-network-n-chat";
// Estilos da área de mural de discussão.
@import "landing/discussion-wall";
// Estilos da área de aulas multimídia.
@import "landing/multimedia-classes";
// Estilos da área de Relatórios Básicos.
@import "landing/basic-reports";
// Estilos da área de gerenciamento e suporte.
@import "landing/management-support";
// Estilos da área de Recursos Educacionais Abertos.
@import "landing/oer";
// Estilos da área de serviços e aplicações integradas.
@import "landing/api";
// Estilos da área de mensagens particulares, currículo e mobilidade.
@import "landing/others";
// Estilos da área de planos.
@import "landing/plans";
// Estilos da área de Visual Class.
@import "landing/visual-class";

// TODO: Remover depois de resolver a issue ui-compnents#15.
.textshadow .olrk-noquirks { text-shadow: none; }
