/*
 * Color schema
 * links: 158ac4
 * link:visited:
 * background box cinza: #f0f0f0
 * background box azul: #dbeff7
 * datas e detalhes (cinza): #b3b3b3
 */

* {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  font-size: .8em;
}

input[type=submit] {
  white-space: normal;
  -moz-box-sizing: content-box;
}

a {
  color: rgb(77, 173, 214);
  text-decoration: none;
}

a:hover {
  color: rgb(21, 138, 196);
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.pretty-text h1,
.pretty-text h2,
.pretty-text h3,
.pretty-text h4,
.pretty-text h5,
.pretty-text h6 {
  margin: 20px 0 5px 0;
}

.pretty-text h1 {
  font-size: 1.8em;
  font-weight: bold;
}
.pretty-text h2 {
  font-size: 1.6em;
  font-weight: bold;
}
.pretty-text h3 {
  font-size: 1.4em;
  font-weight: bold;
}
.pretty-text h4 {
  font-size: 1.2em;
  font-weight: bold;
}
.pretty-text h5 {
  font-size: 1em;
  font-weight: bold;
}
.pretty-text h6 {
  font-size: 1em;
  font-weight: bold;
  font-style: oblique;
}

.pretty-text p {
  padding-bottom: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pretty-text ul,
.pretty-text ol {
  margin: 5px 0 5px 30px;
  list-style-position: inside;
}

.pretty-text ul {
  list-style-type: disc;
}

.pretty-text ol {
  list-style-type: decimal;
}

.pretty-text * {
  line-height: 1.45em;
  letter-spacing: -0.02em;
}

blockquote {
  -webkit-box-shadow: 1px 0 white inset;
  -moz-box-shadow: 1px 0 white inset;
  box-shadow: 1px 0 white inset;
  border-left: 4px solid #cccccc;
  padding: 10px;
  margin: 0 0 18px;
}

.quote-source {
  color: #b3b3b3;
}
.quote-source:before {
  content: '\2014 \00A0';
}