// ==========================================================================
// Estilos do novo mural.
// ==========================================================================


// TODO: Remover quando a view onde mural for exibido estiver usando o bootstrap CSS.

@import "compass/css3/images";

// UI-components.
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Somente partes usadas pelo mural do bootstrap.
@import "new_wall/bootstrap_scaffolding";
@import "new_wall/bootstrap_icons";
@import "new_wall/bootstrap_typography";
@import "new_wall/bootstrap_utilities";
@import "new_wall/bootstrap_pagination";
@import "new_wall/bootstrap_lists";
@import "new_wall/bootstrap_buttons";
@import "new_wall/bootstrap_forms";
@import "new_wall/bootstrap_wall";


// Mural da disciplina.
#content .main {
  padding: 10px 0;

  &.space {
    padding: 0;

    .body {
      margin: 25px 0 60px;

      .header { margin-left: 20px; }
    }
  }
}


// Mural da aula.
#resource {
  .status .context {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .create-status { margin-top: 10px; }
}


.lecture-wall-actions {
  .button-big {
    line-height: 34px;
    padding-top: 3px;
    padding-bottom: 3px;

    &[class*="icon-"][class*="-before"]:before { margin-right: 10px; }
  }

  .create-response { margin-top: 13px; }

  .reply-buttons-list {
    text-align: center;
    margin: 0;

    li { display: inline; }
  }

  .tab-left:before { margin-left: 210px; }

  .tab-right:before { margin-right: 200px; }

  .create-status { display: none; }
}