// ==========================================================================
// Estilos do novo mural.
// ==========================================================================


// TODO: Remover quando a view onde mural for exibido estiver usando o bootstrap CSS.

@import "compass/css3/images";

// UI-components.
@import "bootstrap/variables";
@import "bootstrap/mixins";

#content .main {
  @include box-sizing;
  width: 620px;
  padding: 10px 0;

  &.space {
    padding: 0;

    .body {
      margin: 25px 0 60px;

      .header { margin-left: 20px; }
    }
  }
}

.content-section {
  padding: 10px 20px;
}

.status-content p {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgb(0, 0, 0);

  .textshadow & { text-shadow: 0 1px 0 rgb(255, 255, 255); }
}

.create-response { display: none; }

.status-list {
  // Legenda e link secundário
  .link-secondary {
    font-size: 11px;
    line-height: 11px;
  }

  // Link de nome
  .link-name { font-weight: bold; }

  // Links.
  .link-fake {
    display: inline-block;
    color: $link-color;
    text-decoration: none;

    &:visited { color: $link-color-visited; }

    &:hover {
      color: $link-color-hover;
      text-decoration: underline;
    }
  }

  .link-fake { cursor: pointer; }
}

@import "compass/utilities/sprites/base";

$icon-layout: smart;
$icon-sprite-dimensions: true;

@import "new-wall/icon/*.png";
@include all-icon-sprites;

.show {
  display: block;
}

// Responder.
.status-list .icon-reply-gray_8_10-before {
  &:before { @extend .icon-reply-gray_8_10;  }
  &:hover:before { @extend .icon-reply-blue_8_10; }
}

.icon-close-gray_16_18 {
  &:hover { @extend .icon-close-red_16_18; }
}

.icon-close-lightblue_8_10 {
  &:hover { @extend .icon-close-red_8_10; }
}

.icon-close-gray_8_10 {
  &:hover { @extend .icon-close-red_8_10; }
}

.status-list .icon-environment-gray_32_34-before {
  &:before { @extend .icon-environment-gray_32_34; }
  &:hover:before { @extend .icon-environment-blue_32_34; }
}

.status-list .icon-course-gray_32_34-before {
  &:before { @extend .icon-course-gray_32_34; }
  &:hover:before { @extend .icon-course-blue_32_34; }
}

.status-list .icon-space-gray_32_34-before {
  &:before { @extend .icon-space-gray_32_34; }
  &:hover:before { @extend .icon-space-blue_32_34; }
}

.status-list .icon-subject-gray_32_34-before {
  &:before { @extend .icon-subject-gray_32_34; }
  &:hover:before { @extend .icon-subject-blue_32_34; }
}

.status-list [class*="icon-"][class*="-before"]:before { @include pseudo-before(5px, false); }

// Alinha cada div de status separadamente
.status-list .status {
  overflow: hidden;
  margin: 20px;
}

.status-list .subject a .author-thumbnail { float: left; }

.subject-info {
  margin-top: 10px;
  overflow: hidden;
}

// Aba para área de status, criação de status e comentários.
.status-tab {
  position: relative;

  &:before {
    border-color: $gray2 $white;
    border-style: solid;
    border-width: 0 10px 10px;
    content: " ";
    position: absolute;
    top: -10px;
    width: 0;
  }
  // Aba à direita
  &.tab-right:before { right: 39px; }

  // Aba à esquerda
  &.tab-left:before { left: 20px; }
}

// Estilização dos formulários para criar respostas e status
.create-response,
.create-status {
  padding: 10px;
  background-color: $gray2;
  @include border-radius;
  @include clear-fix;

  .status-buttons {
    float: right;
    margin: 5px 0 0;

    li { display: inline; }
  }
}

// Alinhar status
.subject,
.subject-content {
  margin-left: 42px;

  .see-all { float: right; }
}

// Remove margens à esquerda quando status não tem contexto
.status.without-context { //Adição da classe without-context para remover margens à direita de elementos sem contexto, sem a necessidade do seletor '+'
  .subject {
    margin-left: 0;
    overflow: hidden;
  }

  .subject-content {
    margin: 5px 0 0 42px;
  }

  .subject-info { margin-top: 0; }

  .status-content,
  .responses,
  .create-response { margin-left: 0; }
}

// Aplica estilos gerais a todos status
.status-list {
  margin: 0;

  li { list-style: none; }

  .author-thumbnail {
    width: 32px;
    height: 34px;
    float: left;
    margin-right: 10px;

  }

  .grouping-elements .author-thumbnail {
    @include square(auto);
    float: none;
    margin-right: 0;
  }

  .date { display: block; }

  .actions {
    overflow: hidden;

    li {
      margin-top: 10px;
      float: right;
      margin-right: 20px;

      &[class*="icon-"]:before { vertical-align: middle; }
    }
  }

  .icon-close {
    float: right;
    cursor: pointer;
  }

  .status-content,
  .responses {
    margin-left: 42px;
    background-color: $gray2;
    @include border-radius;

    .show-responses { display: none; }
  }

  .status-content {
    margin-top: 10px;
    padding: 10px;

    p { @include text-shadow(none); }
  }

  .action { color: $gray6; }

  .help { color: $orange3; }

  .responses {
    margin-top: 15px;

    .last-responses,
    .see-more {
      display: block;
      text-align: center;
      padding: 10px;
    }

    .response {
      padding: 10px;

      .status-content {
        margin-left: 42px;
        padding: 0;
        margin-top: 0;
      }
    }
  }

  .subject-content {
    // Estilizar Agrupamento
    .grouping-elements {
      margin-right: 20px;
      height: 40px;

      li {
        display: inline;

        img { margin: 8px 3px 0 0; }
      }
    }

    // Posiciona ícone do status de agrupamento de membros
    .subject-info .action {
      &[class*="icon-"]:before {
        position: absolute;
        margin-left: -35px;
      }
    }
 }

  // Aplica estilos aos status com log
  .log {
    .subject { margin-top: 5px; }

    // Posiciona ícone do status de pedido de ajuda
    .subject-info[class*="icon-"]:before {
      position: absolute;
      margin-left: -75px;
    }
  }

  .status .context {
    margin-bottom: 5px;

    .context-icon {
      float: left;
      width: 32px;
      margin-right: 10px;

      &[class*="icon-"]:before { float: left; }
    }

    a {
      display: block;
      line-height: 11px;
    }
  }

  .create-response {
    margin-top: 10px;
    margin-left: 42px;
  }
}

.context-link-hover {
  color: rgb(21, 138, 196) !important;
  text-decoration: underline;
}

.thumbnail-separator { margin: 0; }

.post-resource { margin-top: 10px; }

.thumbnail {
  overflow: hidden;
  padding: 10px 0;

  .preview { float: left; }

  .buttons {
    margin-top: 10px;

    .button-default {
      padding: 0;

      & > [class*="icon-"] {
        margin: 6px 10px;
      }

      &.button-disabled {
        border-color: rgb(204, 204, 204);
      }
    }
  }

  img {
    max-width: 100px;
    width: 100%;
    min-height: 34px;
    margin-right: 10px;
  }

  .thumbnail-info {
    p { @include text-shadow(0 1px 0 $white); }

    .post-description { color: $gray6 }

    .source-site { color: $gray4; }
  }
}

.status-tab {
  .character-counter {
    position: static;
    margin-top: 5px;
    float: left;
  }

  .status-buttons { display: none; }
}

// Paginação.

.pagination {
  text-align: center;
}

// Separador de respostas.

.status hr {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  clear: both;
  margin: 0;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(255, 255, 255);
}

// Comum.
%button {
  @include border-radius(4px);
  display: inline-block;
  padding: 7px 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  line-height: 16px;
  font-weight: 300;

  &:hover { text-decoration: none; }

  .open > &,
  .open > &:hover,
  &:active {
    @include box-shadow(0 1px 4px 1px rgba(0, 0, 0, 0.5) inset);
    background-image: none;

    .cssgradients & { background-image: none; }
  }
}

// Botão padrão.
.button-default {
  @extend %button;

  .cssgradients & {
    @include redu-gradient($gray3, $gray1, 0.2);

    &:hover { @include redu-gradient($blue1, $gray1); }
  }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#f7f7f7+60,e6e6e6+100;Custom
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTZlNmU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);

    &:hover {
      // http://www.colorzilla.com/gradient-editor/#f7f7f7+0,dbeff7+100;Custom
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmVmZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    }
  }

  $color: $blue3;
  $border-color: $gray4;
  $box-shadow-color: $white;
  $background-color: $gray1;
  $hover-color: $blue4;
  $hover-border-color: $blue2;
  $hover-background-color: $blue1;
  $active-border-color: $blue3;
  $active-background-color: $blue1;
  $hover-active-color: $blue4;
  $hover-active-border-color: $blue4;
  $disabled-color: $gray5;
  $disabled-border-color: $gray3;
  $disabled-background-color: $gray2;
  @include redu-button($color, $border-color, $box-shadow-color, $background-color, $hover-color, $hover-border-color, $hover-background-color, $active-border-color, $active-background-color, $hover-active-color, $hover-active-border-color, $disabled-color, $disabled-border-color, $disabled-background-color);
}

// Botão primário.
.button-primary {
  @extend %button;
  @include text-shadow(0 -1px 0 $blue4);

  .cssgradients & {
    @include redu-gradient($blue4, $blue2, 0.3);

    &:hover { @include redu-gradient($blue4, $blue2); }
  }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#73c3e6+1,158ac4+41;Custom
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzczYzNlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzE1OGFjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

    &:hover {
      // http://www.colorzilla.com/gradient-editor/#73c3e6+0,158ac4+50,158ac4+50;Custom
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzczYzNlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE1OGFjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE1OGFjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    }
  }


  $color: $white;
  $border-color: $blue2;
  $box-shadow-color: $blue1;
  $background-color: $blue2;
  $hover-color: $white;
  $hover-border-color: $blue4;
  $hover-background-color: $blue4;
  $active-border-color: $blue4;
  $active-background-color: $blue4;
  $hover-active-color: $blue1;
  $hover-active-border-color: $blue4;
  $disabled-color: $gray3;
  $disabled-border-color: $blue2;
  $disabled-background-color: $blue2;
  @include redu-button($color, $border-color, $box-shadow-color, $background-color, $hover-color, $hover-border-color, $hover-background-color, $active-border-color, $active-background-color, $hover-active-color, $hover-active-border-color, $disabled-color, $disabled-border-color, $disabled-background-color);
}

// Text area.

// Fonte dos formulários.
textarea {
  @include font-shorthand;
  font-family: $base-font-family;
  font-weight: 300;
}

// Resets de tamanho e tipo compartilhados.
textarea {
  $formControlBorderRadius: 3px;
  $form-control-border-width: 1px;
  $formControlVerticalPadding: 6px;
  $formControlHorizontalPadding: 10px;
  @include box-sizing;
  @include box-shadow(inset 0 1px 0 $white);
  @include border-radius($formControlBorderRadius);
  display: inline-block;
  border: $form-control-border-width solid $gray4;
  padding: $formControlVerticalPadding $formControlHorizontalPadding;
  width: 100%;
  color: $gray6;
  font-size: $base-font-size;
  line-height: $base-line-height;
  height: ($formControlVerticalPadding * 2) + ($form-control-border-width * 2) + $base-line-height;

  .csstransitions & {
    $transition:
      border linear .2s,
      box-shadow linear .2s;
    @include transition($transition);
  }

  .cssgradients & { @include redu-gradient($white, $gray3, 0.8); }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#e6e6e6+0,ffffff+40;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  }

  .control-success & { border-color: $green2; }

  .control-error & { border-color: $red2; }

  &:hover {
    border-color: $blue2;

    .control-success & { border-color: $green3; }

    .control-error & { border-color: $red4; }
  }

  &:focus {
    color: $black;
    background-color: $white !important;
    background-image: none !important;
    border-color: $blue2;
    outline: 0;

    $boxShadowInsetNone: inset 0 0 0 rgba(0, 0, 0, 0);
    $boxShadow:
      $boxShadowInsetNone,
      0 0 6px 1px $blue2;
    @include box-shadow($boxShadow);

    .control-success & {
      $boxShadow:
        $boxShadowInsetNone,
        0 0 6px 1px $green2;
      @include box-shadow($boxShadow);
      border-color: $green2;
    }

    .control-error & {
      $boxShadow:
        $boxShadowInsetNone,
        0 0 6px 1px $red2;
      @include box-shadow($boxShadow);
      border-color: $red2;
    }
  }
}

// Reseta a altura já que as textareas tem linhas.
textarea {
  height: auto;
  resize: vertical;
}

textarea::-webkit-input-placeholder { color: $gray4; }

#resource .status .context {
  width: 100%;
  margin-right: 0;
  float: none;
}

.lecture-wall-actions {
  .button-big {
    line-height: 34px;
    padding-top: 3px;
    padding-bottom: 3px;

    &[class*="icon-"][class*="-before"]:before { margin-right: 10px; }
  }

  .create-response { margin-top: 13px; }

  .reply-buttons-list {
    text-align: center;
    margin: 0;

    li { display: inline; }
  }

  .tab-left:before { margin-left: 210px; }

  .tab-right:before { margin-right: 200px; }

  .create-status {
    display: none;
    margin-top: 10px;
  }
}