// ==========================================================================
// Estilos do novo mural.
// ==========================================================================


// TODO: Remover quando a view onde mural for exibido estiver usando o bootstrap CSS.

@import "compass/css3/images";

// UI-components.
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Somente partes usadas pelo mural do bootstrap.
@import "new_wall/bootstrap_scaffolding";
@import "new_wall/bootstrap_icons";
@import "new_wall/bootstrap_typography";
@import "new_wall/bootstrap_utilities";
@import "new_wall/bootstrap_pagination";
@import "new_wall/bootstrap_lists";
@import "new_wall/bootstrap_buttons";
@import "new_wall/bootstrap_forms";
@import "new_wall/bootstrap_wall";


// Mural da aula.
#resource {
  .status .context {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .create-status { margin-top: 10px; }
}

.lecture-wall-wrapper {
  .create-status {
    display: none;

    &.tab-left:before {
      left: 300px;
    }

    &.tab-right:before {
      right: 295px;
    }
  }
}

.lecture-wall-actions { margin: 0; }

.lecture-wall-action { float: left; }

.lecture-wall-button {
  margin: 0;

  .lecture-wall-action:first-child & {
    @include border-top-right-radius(0);
    @include border-bottom-right-radius(0);
  }

  .lecture-wall-action:last-child & {
    @include border-top-left-radius(0);
    @include border-bottom-left-radius(0);
  }
}

.centralize {
  text-align: center;

  > * { display: inline-block; }
}