#outdated-browser {
  margin-top: -14px;
  display: none;
}

#outdated-browser .container_16 {
  width: 940px;
}

#outdated-browser {
  height: 100px;
  background: image-url("error-top-bkg-line.png") repeat-x;
}

#outdated-browser .title {
  width: 140px;
  margin-top: 3px;
  text-align: right;
  float: left;
  margin-left: 30px;
}

#outdated-browser .ops {
  font-family: museo-slab, helvetica, arial, sans-serif;
  font-weight: 900;
  font-size: 3.9em;
  color: white;
}

.textshadow #outdated-browser .ops {
  text-shadow: 0px -1px 0px rgb(249, 167, 55);
}

#outdated-browser .warning {
  display: block;
  margin-top: 5px;
  font-family: museo-slab, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: rgb(193, 39, 45);
}

.textshadow #outdated-browser .warning {
  text-shadow: 0px 1px 0px rgb(255, 238, 215);
}

#outdated-browser .message {
  width: 340px;
  height: 60px;
  float: left;
  margin: 20px 140px 0 20px;
  color: white;
}

.textshadow #outdated-browser .message {
  text-shadow: 0px -1px 0px rgb(249, 167, 55);
}

#outdated-browser .close {
  display: block;
  width: 16px;
  height: 18px;
  float: right;
  margin-top: 40px;
  cursor: pointer;
}

#outdated-browser .suggestions {
  width: 240px;
  float: left;
  margin-top: 20px;
}

#outdated-browser .suggestions li {
  float:left;
  margin-right: 20px;
}

#outdated-browser .suggestions li:hover .name {
  color: white;
}

#outdated-browser .suggestions .logo {
  display: block;
  width: 100px;
  height: 62px;
}

#outdated-browser .suggestions .chrome {
  background: image-url("browsers-buttons.png") 0 0 no-repeat;
}

#outdated-browser .suggestions .chrome:hover {
  background: image-url("browsers-buttons.png") -160px 0 no-repeat;
}

#outdated-browser .suggestions .firefox {
  background: image-url("browsers-buttons.png") -320px 0 no-repeat;
}

#outdated-browser .suggestions .firefox:hover {
  background: image-url("browsers-buttons.png") -480px 0 no-repeat;
}

#outdated-browser .suggestions .name {
  font-size: .87em;
  font-style: italic;
  color: rgb(249, 167, 55);
  display: block;
  margin-top: 3px;
  width: 100px;
  text-align: center;
}