ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.container .concave-sidebar {
  width: 150px;
  padding-right: 10px;
  float: left;
  margin-top: 40px;
  margin-right: 0;
}

.container .concave-sidebar .connections,
.container .sidebar.space .connections {
  margin-left: 4px;
}

.container .concave-sidebar .connections {
  margin-top: 10px;
}

.container .concave-sidebar .connections:before,
.container .sidebar.space .big-separator:after {
  content: "";
  width: 150px;
  height: 17px;
  background: image-url("separators.png") -160px 0 no-repeat;
  float: left;
  margin-left: -3px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.container .sidebar .connections li,
.container .concave-sidebar .connections li {
  float: left;
  margin: 5px 5px 0 0;
}

.container .sidebar .connections .connection,
.container .concave-sidebar .connections .connection {
  width: 130px;
}

.container .sidebar.space .connections li {
  margin-left: 15px;
}

.container .concave-sidebar .connections li.last-column{
  margin-right: 0;
}

.container .concave-sidebar {
  margin-top: 35px;
}

.borderradius .container .concave-sidebar .environment-avatar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.container .concave-sidebar .total-count,
.container .concave-sidebar .roles {
  display: block;
  width: 140px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  font-size: .9em;
  color: rgb(179, 179, 179);
}

.container .management-sidebar .concave-sidebar .total-count,
.container .management-sidebar .concave-sidebar .roles {
  color: white;
}

.container .concave-sidebar .total-count .count {
  display: block;
  text-align: center;
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 2.1em;
}

.container .concave-sidebar .roles {
  margin-top: 20px;
}

.textshadow .container .concave-sidebar .total-count .members,
.textshadow .container .concave-sidebar .roles .role {
  text-shadow: 0px -1px 0px white;
}

.textshadow .container .management-sidebar .concave-sidebar .total-count .members,
.textshadow .container .management-sidebar .concave-sidebar .roles .role {
  text-shadow: 0px -1px 0px rgb(179, 179, 179);
}

.container .concave-sidebar .roles li {
  display: block;
  width: 140px;
  height: 18px;
  margin-top: 5px;
  text-align: left;
}

.container .concave-sidebar .roles li .role:before {
  margin-top: -2px;
}

.container .concave-sidebar .course-frame,
.container .sidebar .subject-frame,
.container .sidebar .space-frame {
  width: 150px;
  height: 150px;
  background-color: rgb(240, 240, 240);

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.boxshadow .container .concave-sidebar .course-frame,
.boxshadow .container .sidebar .subject-frame,
.boxshadow .container .sidebar .space-frame {
  -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px 0px #ffffff;
  box-shadow: 0px 1px 0px 0px #ffffff;
}

.container .concave-sidebar .course-frame .environment,
.container .sidebar .subject-frame .environment,
.container .sidebar .space-frame .environment {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}

.boxshadow .container .concave-sidebar .course-frame .environment,
.boxshadow .container .sidebar .subject-frame .environment,
.boxshadow .container .sidebar .space-frame .environment {
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
}

.borderradius .container .concave-sidebar .course-frame .environment,
.borderradius .container .sidebar .subject-frame .environment,
.borderradius .container .sidebar .space-frame .environment {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.container .concave-sidebar .course-frame .course,
.container .sidebar .subject-frame .subject,
.container .sidebar .space-frame .space {
  display: block;
  float: right;
  width: 64px;
  height: 65px;
  margin-top: 75px;
  margin-right: 10px;
  text-align: left;
}

.container .concave-sidebar .roles li .role:before {
  float: left;
  margin-right: 5px;
}

#concave-breadcrumbs {
  overflow: hidden;
  margin-top: 20px;
}

#concave-breadcrumbs .course {
  float: left;
}

#concave-breadcrumbs .moderatorship {
  float: right;
  margin: 0;
  padding: 0;
}

#concave-breadcrumbs .moderatorship a {
  background-color: rgb(225, 241, 225);
  font-size: .87em;
  color: rgb( 97, 160, 128);
  border: 1px solid rgb( 97, 160, 128);
  display: block;
  float: left;
  padding: 2px 4px;
  margin-right: 5px;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#concave-breadcrumbs .moderatorship a:hover {
  text-decoration: none;
}

#concave-breadcrumbs .moderatorship .moderated {
  display: block;
  float: left;
  width: 16px;
  height: 18px;
}

#concave-breadcrumbs {
  background: rgb(240, 240, 240);
  padding: 10px 20px;

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px 0px #ffffff;
  box-shadow: 0px 1px 0px 0px #ffffff;
}

#concave-breadcrumbs li {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}

#concave-breadcrumbs li:before {
  float: left;
  margin-right: 30px;
  margin-left: -25px;
}

#concave-breadcrumbs li.compact {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}

#concave-breadcrumbs li.compact:before {
  margin-right: 5px;
  margin-left: -5px;
}

#concave-breadcrumbs li a {
  float: left;
  display: block;
  margin-top: 2px;
}

#concave-breadcrumbs li a:hover {
  text-decoration: none;
}

#concave-breadcrumbs li a:before,
#breadcrumbs li a:before {
  /* float: left; */
  margin-left: -25px;
  margin-top: -6px;
}

#concave-breadcrumbs li.compact a {
  display: block;
  width: 16px;
  height: 18px;
  color: rgb(77, 173, 214);
  margin-top: 0;
}

#concave-breadcrumbs .moderatorship .privacy {
  width: 16px;
  height: 18px;
  float: left;
}

#hierarchy-header {
  margin: 20px;
}

#hierarchy-header .parent {
  display: block;
  float: left;
  margin-bottom: 3px;
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: rgb(230, 230, 230);
  font-size: 1.4em;
}

#hierarchy-header .parent a,
#hierarchy-header.management .parent a {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: rgb(179, 179, 179);
}

.textshadow #hierarchy-header .parent a {
  text-shadow: 0px -1px 0px white;
}

#hierarchy-header.management .parent a {
  color: rgb(230, 230, 230);
}

.textshadow #hierarchy-header.management .parent a {
  text-shadow: 0px -1px 0px rgb(179, 179, 179);
}

#hierarchy-header.space-header .parent a,
#hierarchy-header.subject-header .parent a {
  font-family: arial, sans-serif;
  color: rgb(179, 179, 179);
}

#hierarchy-header .parent a:hover,
#hierarchy-header.space-header .parent a:hover,
#hierarchy-header.subject-header .parent a:hover {
  text-decoration: none;
  color: rgb(21, 138, 196);
}

.textshadow #hierarchy-header.space-header .parent a,
.textshadow #hierarchy-header.subject-header .parent a {
  text-shadow: none;
}

#hierarchy-header.space-header .parent {
  font-size: 1em;
}

#hierarchy-header.subject-header .parent {
  font-size: .9em;
}

#hierarchy-header .call {
  margin-bottom: 15px;
  clear: left;
  float: left;
  font-size: 2.4em;
  letter-spacing: -1px;
  color: rgb(179, 179, 179);
  font-weight: normal;
}

#hierarchy-header.management .call {
  margin-bottom: 0;
}

.textshadow #hierarchy-header.management .call {
  text-shadow: 0px -1px 0px rgb(179, 179, 179);
}

#hierarchy-header.management .call a {
  color: rgb(255, 255, 255);
}

#hierarchy-header.subject-header .call a {
  color: rgb(179, 179, 179)
}

#hierarchy-header .name a,
#hierarchy-header .space-name {
  font-family: museo-slab, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: rgb(77, 173, 214);
  display: block;
  width: 625px;
}

#hierarchy-header .name a:hover,
#hierarchy-header .space-name:hover {
  color: rgb(21, 138, 196);
  text-decoration: none;
}

#space-manage #hierarchy-header .name a,
#space-manage #hierarchy-header .space-name {
  color: rgb(179, 179, 179);
}

#space-manage #hierarchy-header .parent a {
  color: rgb(179, 179, 179);
}

.textshadow #space-manage #hierarchy-header .parent a {
  text-shadow: none;
}

.textshadow #hierarchy-header .name,
.textshadow #hierarchy-header .space-name {
  text-shadow: 0px 1px 0px white;
}

#hierarchy-header.subject-header .name a {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  color: rgb(179, 178, 179);
}

#hierarchy-header.subject-header .subject-name {
  font-size: 1.4em;
  clear: both;
}

#hierarchy-header.subject-header .subject-name a,
#hierarchy-header.subject-header .lecture-name a {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

#hierarchy-header.subject-header .lecture-name a {
  color: rgb(76, 172, 213);
}

#hierarchy-header .space-name {
  margin: 10px 0;
}

#hierarchy-header .manage,
.body.management .manage {
  float: right;
  font-size: .9em;
  color: rgb(77, 173, 214);
}

#hierarchy-header .manage:hover,
.body.management .manage:hover {
  color: rgb(21, 138, 196);
}

#hierarchy-header.management .manage,
.body.management .manage {
  margin-right: 90px;
}

#hierarchy-header .manage:before,
#folder-index .manage:before,
.body.management .manage:before {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}

#admin-invitations,
#course-users.body,
#course-spaces.body,
#environment-users.body,
#environment-courses.body {
  background-color: rgb(247, 247, 247);
}

#hierarchy-header .details {
  border: 1px solid rgb(230, 230, 230);
  padding: 10px;
  clear: left;

  background: rgb(240,240,240); /* Old browsers */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cssgradients #hierarchy-header .details {
  background: -moz-linear-gradient(top, rgb(240,240,240) 0%, rgb(230,230,230) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,240,240)), color-stop(100%,rgb(230,230,230))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(240,240,240) 0%,rgb(230,230,230) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(240,240,240) 0%,rgb(230,230,230) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgb(240,240,240) 0%,rgb(230,230,230) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgb(240,240,240) 0%,rgb(230,230,230) 100%); /* W3C */
}

#hierarchy-header.subject-header .details,
#hierarchy-header.space-header .details {
  background: linear-gradient(top, rgb(230,230,229) 2%,rgb(247,247,247) 100%); /* W3C */
}

.cssgradients #hierarchy-header.subject-header .details,
.cssgradients #hierarchy-header.space-header .details {
  background: rgb(230,230,229); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(230,230,229) 2%, rgb(247,247,247) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgb(230,230,229)), color-stop(100%,rgb(247,247,247))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(230,230,229) 2%,rgb(247,247,247) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(230,230,229) 2%,rgb(247,247,247) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgb(230,230,229) 2%,rgb(247,247,247) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e5', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.textshadow #hierarchy-header .details {
  text-shadow: 0px 1px 0px #ffffff;
}

#hierarchy-header .separator {
  display: block;
  padding-top: 10px;
  border-top: dotted 1px rgb(179, 179, 179);
  margin-top: 10px;
}

#hierarchy-header .description:before,
#hierarchy-header .tags:before {
  float: left;
  margin-right: 10px;
}

#hierarchy-header .description,
#hierarchy-header .tags li a{
  font-size: .9em;
  color: rgb(109, 110, 111);
}

#hierarchy-header .statistics {
  font-size: .9em;
}

#hierarchy-header .statistics li {
  margin: 8px 0;
}

#hierarchy-header .statistics em {
  color: #B2B2B2;
  padding: 2px 0 2px 23px;
}

#hierarchy-header .statistics span {
  font-weight: bold;
}

#hierarchy-header .prefix {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

#hierarchy-header .course-name {
  margin-top: 5px;
  width: 570px;
  margin-right: 10px;
  float: left;
}

#hierarchy-header .start-subject {
  float: right;
  width: 150px;
}

#hierarchy-header .start-subject .start {
  display: block;
  background: image-url("start-subject.png") no-repeat;
  width: 146px;
  height: 25px;
}

#hierarchy-header .start-subject .start:hover {
  background-position: 0 -31px;
}

#hierarchy-header .start-subject .bt {
  border: 1px solid #cccbcb;
  margin-top: 5px;
  display: block;
  background-color: white;
  padding: 9px 10px;
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
  text-align: left;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f0f0)); /* webkit browsers */
  background-image: -moz-linear-gradient(top, #ffffff, #f1f0f0); /* Firefox 3.6+ */
}

#hierarchy-header .start-subject .bt:hover {
  border: 1px solid #4cacd5;
  text-decoration: none;

  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dbeff7)); /* webkit browsers */
  background: -moz-linear-gradient(top, #ffffff, #dbeff7); /* Firefox 3.6+ */
}

#hierarchy-header .start-subject .bt .icon {
  width: 32px;
  height: 32px;
  float: left;
  display: block;
  margin: 0 15px 0 10px;
}

.tags li {
  float: left;
}

.tags li:before {
  content: ",";
  margin: 0;
  padding: 0;
  color: #B2B2B2;
}

.tags li:first-child:before {
  content: " ";
}

.tags a {
  color: #B2B2B2;
  font-size: .9em;
}

#course-preview {
  width: 788px;
  float: left;
  margin-left: 10px;
}

.big-tabs {
  clear: both;
}

.big-tabs > ul {
  margin-bottom: -1px;
}

.big-tabs > ul li {
  float: left;
  border: 1px solid rgb(179, 179, 179);
  border-bottom: none;
}

.borderradius .big-tabs > ul li {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.big-tabs > ul li.ui-state-active {
  display: block;
  background-color: white;
  border-bottom: 1px solid white;
}

.big-tabs > ul li.ui-state-default {
  margin-left: -1px;
}

.big-tabs > ul li.ui-state-default:first-child {
  margin-left: 0px;
}

.big-tabs > ul li.ui-state-default {
  background-color: rgb(230, 230, 230);
}

.big-tabs > ul li a {
  font-family: museo-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 2.4em;
  font-weight: 100;
  color: rgb(76, 172, 213);
  height: 34px;
  display: block;
  padding: 10px 15px 8px 15px;
}

.borderradius .big-tabs > ul li a {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.big-tabs > ul li.ui-state-default a {
  width: 32px;
  text-indent: -999999px;
}

.big-tabs > ul li.ui-state-active a {
  line-height: 30px;
  padding: 13px 15px 5px 15px;
  background-color: white;
  text-indent: 0px;
  width: auto;
}

.big-tabs > ul li.ui-state-active a:hover {
  color: rgb(21, 138, 196);
  text-decoration: none;
}

.big-tabs .ui-state-default a:before {
  float: right;
  display: block;
}

.big-tabs .ui-state-active a:before {
  float: none;
  display: inline;
}

.big-tabs > .panel {
  border: 1px solid rgb(179, 179, 179);
  padding: 40px 60px;
  background-color: white;
  min-width: 85%;
}

.borderradius .big-tabs > .panel {
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  border-radius: 0px 10px 10px 10px;
}

.body.preview .notice {
  padding: 40px 50px;
}

.textshadow .body.preview .notice {
  text-shadow: 0px 1px 0px #ffffff;
}

.body.preview .notice .message,
.cell .participation{
  color: rgb(109, 110, 111);
}

.body.preview .notice .message:before {
  float: left;
  margin-top: -8px;
  margin-right: 45px;
}

.icons-big-before:before {
  background-image: image-url("icons-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-privacy-lightred_64_66-before:before {
  content: "";
  width: 64px;
  height: 66px;

  background-position:  -240px 0;
}

.icons-big {
  background-image: image-url("icons-big.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-environment-white_64_64 {
  background-position: 0 0;
}

#course-spaces .actions .waiting {
  border: 1px solid #61BE80;
  padding: 5px 10px;
  font-size: .9em;
  color: #61BE80;
  float: right;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Novo design do botão de matricular-se no curso. */

.icon-privacy-lightred_58_62 {
  background-image: image-url("icon-privacy-lightred_58_62.png");
  width: 58px;
  height: 62px;
  display: inline-block;
}

.course-preview-wrapper { text-align: center; }

.course-preview-message {
  width: 435px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(179, 179, 179);
}

.course-preview-icon +
.course-preview-message,
.course-preview-message +
.course-preview-button { margin-top: 10px; }

#concave-breadcrumbs +
.course-preview-button {
  margin: 20px 20px 0 0;
  float: right;
}

/* Ícone de membros usado na aba. */
.icon-members-gray_32_34-before:before {
  content: "";
  width: 32px!important;
  height: 34px!important;
  background: image-url("icons-small.png") -320px -480px no-repeat;
}

/* Separador ">" do breadcrumb. */
.icon-expand-gray_16_18-before:before {
  content: "";
  width: 16px!important;
  height: 18px!important;
  background: image-url("icons-small.png") -560px -800px no-repeat;
}