<p>
  <b>Name:</b>
  <%=h @competence.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @competence.value %>
</p>


<%= link_to 'Edit', edit_competence_path(@competence) %> |
<%= link_to 'Back', competences_path %>