<script> 
function showResponseBox(activityId){
	//alert('vai' + activityId);
	var box = document.getElementById("box_respond_to_"+activityId);
	Effect.SlideDown(box);
	var link = document.getElementById("link_respond_to_"+activityId);
	link.style.display = 'none';
}

function hideResponseBox(activityId){
	//alert('vai' + activityId);
	var box = document.getElementById("box_respond_to_"+activityId);
	//Effect.SlideDown(box);
	box.style.display = 'none';
	var link = document.getElementById("link_respond_to_"+activityId);
	link.style.display = 'block';
}

</script>

<div id="box_move">
    <div id="box_top">
        ATIVIDADES
    </div>
    <div id="box_list2">
       <%= render :partial => 'logs/item', :collection => @logs %>
	<div id="box_more" style="margin-top: 5px">
		<a href="#" class="link_01">Ver Mais &gt;</a>
	</div>
		
	</div>
	
	<%  if logged_in? %>
	
	<!--
	<div id="box_baseline">
        	<div id="box_baseline_base">O que você está fazendo agora?</div>
			<% text_area_tag 'body',nil, :size => "27x3" %>
        	<div id="box_baseline_base"><textarea name="body" id="box_baseline_base" cols="27" rows="3">
        	</textarea></div>
			<div id="bt_send_mv" align="center">
			<% submit_tag  %>	
			
			<a href="#" class="bt_send">Enviar</a></div>
    </div>
	
	-->
    
	<%  end %>
</div>