<div id="all_content3">
<div id="col_content_user">
	<div id="breadcrumbs"><a href="#">home</a> > <a href="#">movimentação</a></div>
    <!--<div id="title">AULAS</div>-->
<!-- LISTAGEM RECURSO ############################################################################################################################################## -->
	<div id="all_list">

	<% if current_user %>
		<% @logs = current_user.log_activity %>
		<%= render :partial => 'logs/log', :locals => {:logs => @logs} %>
	<% else %>
		<%= render :partial => 'logs/not_logged_in', :locals => {:logs => @logs} %>
	<% end %>

	</div>

</div>
</div>
