<span class="title"><%= item.educationable.name %>, <span class="in-between"><%= (t item.educationable.role).downcase %></span></span>
<span class="time"><%= l(item.educationable.year, :format => :year) %></span>