<span class="title"><b><%= t :high_school %></b> <span class="in-between">em</span> <%= item.educationable.institution %></span>
<span class="time"><%= l(item.educationable.end_year, :format => :year) %></span>
<p class="description"><%= item.educationable.description %></p>