<span class="title"><b><%= t :high_school %></b> <span class="in-between">em</span> <%= item.educationable.institution %></span>
<span class="time"><%= t item.educationable.end_year.strftime("%Y") %></span>
<p class="description"><%= item.educationable.description %></p>