<div class="list-mix-item infos">
  <div class="list-mix-inner">
    <%= link_to "×", user_education_path(item.user, item),
      :remote => true, :method => :delete,
      :class => "message-close",
      :confirm => "Você tem certeza que deseja excluir esta experiência? Não será mais possível recuperá-la." %>
    <span class="edit-education legend link-fake">editar</span>
    <%= render :partial => "educations/high_school_detail", :locals => { :item => item } %>
  </div>
</div>

<%= render :partial => 'educations/form_edit', :locals => { :education => item } %>