<span class="title"><b><%= t :high_school %></b> <i>em</i> <%= item.educationable.institution %></span>
<span class="time"><%= t item.educationable.end_year.strftime("%Y") %></span>
<p><%= item.educationable.description %></p>
