<div class="list-mix-inner">
  <div class="grid_5">
    <div class="grid_4">
      <%= link_to "×", user_education_path(item.user, item),
        :remote => true, :method => :delete,
        :class => "message-close",
        :confirm => "Você tem certeza que deseja excluir esta experiência? Não será mais possível recuperá-la." %>
      <a href="#" class="legend">editar</a>
      <%= render :partial => "educations/higher_education_detail", :locals => { :item => item } %>
    </div>
  </div>
</div>