<div class="details">
  <span class='type'><%= t :high_school %></span> em <span class="institution"><%= item.educationable.institution %></span>
  <span class="period">
    <%= t item.educationable.end_year.strftime("%Y") %>
  </span>

  <div class="description"><%= item.educationable.description %></div>
</div>
