<div class="fields">
  <%= f.radio_button :correct,
        f.object.correct ? 1 : 0,
        :class => "correct",
        :checked => f.object.correct %>
  <%= f.text_field :statement %>
  <%= f.hidden_field :_destroy %>
  <a href="#" class="remove">remover</a>
</div>
