<div id="alternative" class="fields">
	
<%#puts f.options[:child_index]%>
<%#puts f.object.id%>

<%= @oi.radio_button :answer_id,   (f.object.id) ? f.object.id : "new_alternatives"  ,  :checked => false  %>
	 
 <%= f.text_field :statement %>

  <%= f.hidden_field :_destroy %>
	
	<%= link_to_remove_fields "remover", f %>
</div>