<div id="author">
    	<div id="author_title">AUTOR</div>
        <div id="add_user_follow"><a href="#"><img src="img/add1.png" border="0"/></a></div>
        <div id="author_photo">
        	
			<%= link_to image_tag(author.avatar_photo_url(:thumb), :height => '40', :width => '40', :alt => "#{author.login}"), user_path(author), :rel => 'bookmark', :class => 'move_foto', :title => "#{author.login}'s profile" %>	
			
		</div>
    	<div id="author_name"><%= link_to author.login, user_path(author) %></div>
    	<div id="author_actions"><a href="#" class="follow">Seguindo(10)</a><br /><a href="#" class="follow">Seguidores(50)</a></div>
</div>