<div class="grid_9 push_3">
  <table class="booking_steps" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <span class="book_step current"><span><em>1</em>Informações Gerais</span></span>
        </td>
        <td class="spacer">
          &nbsp;
        </td>
        <td>
          <span class="book_step disabled"><span><em>2</em>Editor de Exame</span></span>
        </td>
        <td class="spacer">
          &nbsp;
        </td>
        <td>
          <span class="book_step disabled"><span><em>3</em>Publicação</span></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
