<div class="grid_16">
  <%= render :partial => 'exams/breadcrumbs' %>

  <div id="title_video">
    Novo Exame
  </div>
</div>

<div class="grid_16">
  <%= f.error_messages %>

  <% form_for @exam do |f|  %>
    <% f.fields_for :questions do |builder| %>
      <%= render "question_fields", :f => builder %>
    <% end %>
  <% end %>

  <%= hidden_field_tag("step", "editor")%>

</div>
