

		<div id="exam_list" >
			<%= render :partial => "exam_list"%>
		</div>
	
	<%# if @space.exams.size > 0 %>
	<span style="margin: 10px;">
	<%# link_to "Ver todos >", exams_path(:space_id => @space.id)%>
	</span>
	<%# end%>












