

		<div id="exam_list" >
			<%= render :partial => "exam_list"%>
		</div>
	
	<% if @school.exams.size > 0 %>
	<span style="margin: 10px;">
	<%= link_to "Ver todos >", exams_path(:school_id => @school.id)%>
	</span>
	<%end%>












