<%= hidden_field_tag("step", "publication")%>
<div class="grid_16">
  <div class="y_addinfo" style="margin: 10px 0">
    <div class="addinfocontent">
      <h1>
        Termos e Condições do Redu</h1>
      <p>
        Por favor não publique conteúdo que esteja protegido por direitos autoriais, conteúdo obceno ou que viole
        os <%= link_to "termos e condições", {:controller => "base", :action => "tos"}, :target => "_blank"%> do Redu.

        Ao clicar no botão abaixo você estará concordando com esses termos.</p>

    </div>
  </div>
</div>

