<% field_set_tag "Questão 1" do %>
  <%= f.text_area :statement %>
  <%= f.hidden_field :answer_id %>
  <% field_set_tag "Alternativas", :class => "alternatives" do  %>
    <% f.fields_for :alternatives do |builder| %>
      <div>
      <%= builder.check_box :correct, :style => "float: left; margin-right: 10px;" %>
      <%= builder.text_field :statement %>
      </div>
    <% end %>
  <% end %>
<% end %>
