
<div id="search_list" style="padding: 0 0 5px 0; text-align: right">
  <% form_remote_tag :url => { :controller => :exams, :action => :search },
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')" do -%>
    Buscar
    <%= text_field_tag :query %>
    <%= submit_tag 'OK' %>
    <%= image_tag("spinner.gif",
                  :align => "absmiddle",
                  :border => 0,
                  :id => "spinner",
                  :style =>"display: none;" ) %>
              <% end -%>
</div>
