


	<% form_for @exam, :html => {:id => "form_exam"} do |f|%>
	<%# hidden_field_tag("space_id", @space.id) if @space %>
	
	<%= render "#{@exam.current_step}_step", :f => f, :edit => false %>

<div class="grid_16">
	<%= f.submit "< Anterior", :name => "back_button" unless @exam.first_step? %>
		<%= f.submit "Próximo >" unless @exam.last_step? %> ou <%= link_to "Cancelar e voltar", cancel_exams_path%>
		</div>
	<% end %>

</div>
