<div id="content" class="container_16 clearfix">
  <div class="clearfix grid_10 payment-confirmation" id="checkout">
    <ol id="breadcrumbs" class="wizard wizard-3 clearfix">
      <li>
        <a href="#" class="replacement home icon-small icon-home-lightblue_16_18">Home</a>
      </li>
      <li>
        <a href="#" class="">Ensine</a>
      </li>
      <li>
        <a href="#" class="">Confirmação PagSeguro</a>
      </li>
    </ol>

    <div class="grid_10 alpha thanks">
      <h3>Obrigado!</h3>
      <p>
        O seu pagamento foi recebido e está em processo de aprovação. Em breve um e-mail será enviado
        com mais informações sobre o estado do mesmo. Você também pode conferir o status da fatura nas
        configurações de seus planos <span>(Home > Configurações > Planos)</span>
      </p>
    </div>
    <div class="grid_6 omega next-action">
      <%= link_to "Ir para a home", home_user_path(current_user),
        :class => "replacement home-icon" %>
      <%= link_to "Ir para a home", home_user_path(current_user),
        :class => "concave-button home-button" %>
    </div>
  </div>
</div><!-- end #content -->
