<div class="grid_16">
  <h3>Obrigado</h3>
  <p>O seu pagamento foi recebido e está em processo de aprovação. Em breve um e-mail será enviado com mais informações sobre o estado do mesmo.</p>
  <p>Você já pode utilizar o seu ambiente de ensino clicando <%= link_to "aqui", user_path(current_user) %>.</p>
</div>
