<div class="explanation-sidebar">
  <div class="explanation">
    <span class="sidebar-top title">Upgrade</span>
    <p>Caso seu curso esteja próximo de atingir seus limites, faça o upgrade para um plano que atenda às suas necessidades.</p>
    <p>Após a escolha do plano mais adequado, clique em<span class="featured"> Assinar</span>. A fatura entrará em vigor assim que a confirmação for feita .</p>
  </div>
  <div class="explanation">
    <span class="title">Como pagar?</span>

    <p>O pagamento das faturas é feito via PagSeguro, uma empresa da UOL.</p>
    <p>Ao clicar em Assinar, você será direcionado para a tela de pagamento. É necessário possuir uma conta no sitema PagSeguro para concluir a transição.</p>
    <h1 class="pag-seguro"><%= link_to "PagSeguro", "https://pagseguro.uol.com.br/para_voce/como_funciona.jhtml" %></h1>
  </div>
</div>
