<tr>
  <td>
    <% if item.billable %>
      <%=
        link_to item.billable.name, environment_course_path(item.billable.environment, item.billable),
          :class => "billable"
        %>
    <% else %>
      "(curso removido)"
    <% end %>
  </td>
  <td>
    <% if item.billable %>
      <%=
        link_to item.name, plan_invoices_path(item),
          :class => "name"
        %>
      <% if item.pending_payment? %>
        <span class="info">Pagamento pendente</span>
      <% else %>
        <span class="info">Sem pendências</span>
      <% end %>

    <% else %>
      <span class="name">Não possui</span>
    <% end %>
  </td>
  <td>
    <% if item.billable && item.pending_payment? %>
      <%= pagseguro_form item.create_order, :submit => "Pagar" %>
    <% elsif item.billable %>
      <%=
        link_to "Upgrade", upgrade_plan_path(item),
          :class => "important"
        %>
    <% else %>
      N/A
    <% end %>
  </td>
</tr>
