<h1>Confirmação do plano</h1>
<ul>
  <li><strong>Plano</strong> <%= @plan.name %></li>
  <% @plan.invoices.each do |invoice| %>
    <li>
      <ul>
        <li>Data de início: <%= invoice.period_start %></li>
        <li>Data de final: <%= invoice.period_end %></li>
      </ul>
    </li>
  <% end %>
  </ul>
<%= pagseguro_form @order, :submit => "Efetuar pagamento!" %>
