<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'users/breadcrumbs' %>
  <div id="plan-index" class="plan-panel">
    <%= tabs :users do %>
      <table class="concave-admin-table">
        <thead>
          <tr class="label-course">
            <th class="name-course">Curso:</th>
            <th class="category">Categoria/Plano:</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'plans/item', :collection => @plans %>
        </tbody>
      </table>
  <% end %>
</div>
</div>

