<%= render :partial => 'users/home_sidebar' %>
<div class="main grid_10" style="width: 580px;">
  <%= render :partial => 'users/breadcrumbs' %>
  <div id="plan-index">
    <%= tabs :users do %>
      <table class="common spaced">
        <thead>
          <tr>
            <th style="width: 45%">Curso:</th>
            <th>Plano/situação:</th>
            <th>Upgrade:</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'plans/item', :collection => @plans %>
        </tbody>
      </table>
  <% end %>
</div>
</div>

