<%= include_stylesheets :print, :media => 'print' %>
<div id="partner-invoice-index">
  <%= render 'invoices/report_header' %>

  <%= render 'invoices/client', :client => @partner, :period => @reference_period %>

  <%= render :partial => 'invoices/billable_details', :collection => @partner.environments, :as => :billable, :locals => { :invoices => @invoices } %>
</div>
