// ==========================================================================
// Cabeçalho
// ==========================================================================


.mobile-header-logo-link {
  padding: 24px;
  background-image: url("/images/mobile/background-light-2x.png");
  background-size: cover;
  text-align: center;
  display: block;
}

.mobile-header-logo { max-height: 200px; }