<div class="content-section">
  <ul class="header-breadcrumb">
    <li class="header-breadcrumb-item">
      <%= link_to "Aplicativos", user_oauth_clients_path(user),
        :class => "header-bradcrumb-link icon-app-gray_32_34-before", :title => "Aplicativos" %>
    </li>
    <li class="header-breadcrumb-item">
      <%= link_to "Novo Aplicativo", new_user_oauth_client_path(user), :class => "header-bradcrumb-link", :title => "Novo Aplicativo" %>
    </li>
  </ul>
</div>
