<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title><%= raw(page_title) %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "bootstrap-redu.min.css" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>