// ==========================================================================
// Estilos para Cursos.
// ==========================================================================


// Responsáveis.
.entity-header-title +
.course-owners { margin-top: 20px; }

.course-responsibles {
  display: inline-block;
  list-style: disc;
  margin: 0;
}

.course-responsible {
  float: left;

  & +
  & { margin-left: 25px; }

  &:first-child { list-style: none; }
}

.course-owners +
.entity-header-info { margin-top: 20px; }

// Prévia.
.course-preview-wrapper { text-align: center; }

.course-preview-message {
  width: 435px;
  margin-left: auto;
  margin-right: auto;
  color: $gray5;
}

.course-preview-icon { display: inline-block; }

.course-preview-icon +
.course-preview-message,
.course-preview-message +
.course-preview-button { margin-top: 10px; }

.course-waiting-approval-message { width: 310px; }