// ==========================================================================
// Estilos para Disciplinas.
// ==========================================================================


// Arquivos de Apoio.
// ==========================================================================

.folder_list { list-style-type: none; }

table.common {
  width: 100%;
  margin: 20px 0;
}

table.common thead td,
table.common thead th {
  color: #B2B2B2;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  margin: 1px 0;
}

table.common tbody tr {
  border: 1px solid #B3B2B3;
}


table.common tbody tr.odd {
  background-color: #F0F0F0;
}

table.common td {
  padding: 5px;
  vertical-align: middle;
}

table.common .ext_folder {
  background: image-url("ext/folder.png") no-repeat center center;
}

table.common .ext_blank {
  background: image-url("ext/_blank.png") no-repeat center center;
}

table.common .ext_gif {
  background: image-url("ext/gif.png") no-repeat center center;
}

table.common .ext_png {
  background: image-url("ext/png.png") no-repeat center center;
}

table.common .ext_jpeg,
table.common .ext_jpg {
  background: image-url("ext/jpg.png") no-repeat center center;
}

table.common .ext_txt {
  background: image-url("ext/txt.png") no-repeat center center;
}

table.common .ext_pdf {
  background: image-url("ext/pdf.png") no-repeat center center;
}

table.common .ext_doc {
  background: image-url("ext/doc.png") no-repeat center center;
}

table.common .ext_xlsx,
table.common .ext_xls {
  background: image-url("ext/xls.png") no-repeat center center;
}

table.common .ext_ppt,
table.common .ext_pptx {
  background: image-url("ext/ppt.png") no-repeat center center;
}

table.files thead th {
  padding: 0;
}

table.files td {
  padding-top: 6px;
  padding-bottom: 6px;
}

table.files tbody tr {
  border: none;
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
}

table.files tbody tr:hover {
  background-color: rgb(219, 239, 247);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

table.files td.file {
  width: 20px;
}

table.files td.name {
  width: 350px;
}

table.files td.size {
  width: 100px;
}

table.files td.date {
  width: 165px;
}

table.files td.delete {
  width: 20px;
}

table.files .size,
table.files .delete,
table.files .rename,
table.files .date,
table.files td.name {
  font-size: .9em;
}

.textshadow table.files td.size,
.textshadow table.files td.date {
  text-shadow: 0px 1px 0px #ffffff;
}

table.files a.delete {
  display: block;
  width: 16px;
  height: 18px;
}


table.files thead {
  height: 30px;
}

table.files thead th a {
  color: #6C6D6E;
}

#folder-index {
  clear: both;
}

#folder-index .context {
  font-size: .9em;
  color: rgb(179, 179, 179);
  margin: 10px;
  margin-bottom: 10px;
}

.textshadow #folder-index .context {
  text-shadow: 0px 1px 0px #ffffff;
}

#folder-index .context .current {
  color: rgb(77, 173, 214);
}

#folder-index .folder {
  padding: 10px 0;

  background: rgb(240,240,240); /* Old browsers */

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.cssgradients #folder-index .folder {
  background: -moz-linear-gradient(top, rgb(240,240,240) 0%, rgb(255,255,255) 97%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(240,240,240)), color-stop(97%,rgb(255,255,255))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(240,240,240) 0%,rgb(255,255,255) 97%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(240,240,240) 0%,rgb(255,255,255) 97%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgb(240,240,240) 0%,rgb(255,255,255) 97%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgb(240,240,240) 0%,rgb(255,255,255) 97%); /* W3C */
}

.boxshadow #folder-index .folder {
  -webkit-box-shadow: 0px -1px 0px 0px rgb(204, 203, 203);
  -moz-box-shadow: 0px -1px 0px 0px rgb(204, 203, 203);
  box-shadow: 0px -1px 0px 0px rgb(204, 203, 203);
}

#folder-index .folder .title,
#file_list .title {
  display: block;
  margin-left: 295px;
  color: rgb(109, 110, 111);
}

#folder-index .folder .title:before,
#file_list .title:before {
  content: "";
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}

#folder-index .folder .title:before {
  background: image-url("ext/folder.png") no-repeat center center;
}

#file_list .title:before {
  background: image-url("ext/_blank.png") no-repeat center center;
}

.textshadow #folder-index .folder .title,
.textshadow #file_list .title {
  text-shadow: 0px 1px 0px #ffffff;
}

#folder-index .child-folders li {
  padding: 3px 10px 2px 20px;
  clear: both;
}

#folder-index .child-folders li:hover {
  background-color: rgb(219, 239, 247);
}

#folder-index .child-folders li .folder-name:before {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

#folder-index .child-folders li .rename-folder {
  display: block;
  float: left;
}

#folder-index .child-folders li .delete,
#folder-index .child-folders li .manage {
  float: right;
  font-size: .87em;
}

#folder-index .child-folders li .manage {
  margin-right: 20px;
}

#folder-index .child-folders li .delete:before,
#folder-index .child-folders li .manage:before {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

#folder-index .child-folders .rename-folder input[type=text] {
  width: 90px;
  padding: 8px;
  border: 1px solid #B3B2B3;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


#folder-admin {
  float: right;
}

#folder-admin .new-folder {
  margin-right: 5px;
}

#folder-admin .new-folder,
#folder-admin .new-file {
  float: left;
}

#folder-admin .new-file .upload {
  padding: 8px 0;
  display: block;
  width: 148px;
}

#folder-admin .new-folder-inner,
#folder-admin .new-file-inner {
  position: absolute;
  z-index: 1;
  border: 1px solid
}

#folder-admin .new-folder-inner,
#folder-admin .new-file-inner {
  top: 30px;
  border: 1px solid #E6E6E5;
  padding: 5px;
  background-color: white;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#folder-admin .new-folder-inner {
  left: 0;
}

#folder-admin .new-file-inner {
  right: 0;
}

#folder-admin .new-folder input[type=text] {
  margin-top: 5px;
  border: 1px solid #B3B2B3;
  padding: 9px 5px;
  float: left;
  margin-right: 10px;
  width: 165px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#folder-admin .new-file .file-wrapper {
  position: relative;
  width: 206px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}

#folder-admin form .errorMessageField {
  display: block;
  clear: both;
  color: #F37B38;
  font-size: .9em;
  margin: 0;
  margin-bottom: 10px;
}

#folder-admin .new-file .file-wrapper .file-holder {
  font-size: .85em;
  color: #b3b2b3;
  margin: 5px 0 0 5px;
  display: block;
  float: left;
  width: 100px;
  height: 25px;
  overflow: hidden;
}

#folder-admin .new-file .browse {
  display: block;
  float: right;
}

#folder-admin .new-file .file-wrapper input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 30px;
  width: 190px;
  cursor: pointer;

  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}

#folder-admin .new-folder-inner .concave-button,
#folder-admin .new-file-inner .concave-button {
  float: right;
  clear: none;
}

#folder-admin .new-folder-inner .concave-button {
  margin: 5px 0 0 0;
}

#folder-admin .new-file-inner .concave-button {
  margin: 0 0 0 5px;
}

#file_list .title {
  margin-top: 20px;
}

#file_list .quota {
  display: block;
  text-align: center;
  clear: both;
  margin-top: 5px;
  color: rgb(179, 179, 179);
  font-size: .87em;
}